force-app/main/default/flows/AssignedResource_afterTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFI-2897</description>
        <name>Assign_WO_Status_from_CMDT</name>
        <label>Assign WO Status from CMDT</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>WOStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Custom_metadata_record_for_SF_And_SAP_Status_Mapping.FSM_SAPStatusCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkOrder_Platform_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-2897</description>
        <name>Assign_WO_Status_from_Work_Order</name>
        <label>Assign WO Status from Work Order</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>WOStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.FSSK__FSK_Work_Order__r.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkOrder_Platform_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>SFI-2897</description>
        <name>Is_Custom_Metadata_found</name>
        <label>Is Custom Metadata found</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_WO_Status_from_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_metadata_record_for_SF_And_SAP_Status_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Status_from_CMDT</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Add as part of SFI-1927
Updated As part of SFI-2961</description>
        <name>Location_Status_Changed</name>
        <label>Location Status Changed</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LocationStatusChanged</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LocationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EnRoute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LocationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LastMile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LocationStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LocationStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.FSM_SendETAURL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA</targetReference>
            </connector>
            <label>LocationStatusChanged</label>
        </rules>
    </decisions>
    <description>SFI-25 Master flow for all after instance on assigned service resource
Updated as a part of SFI-266 Interface toggle on/off
Updated as part of SFS-3833
Updated as part of SFI-1927
Updated as part of SFI-2345
Updated as part of SFI-2897
Updated as part of SFI-2961</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NewAssignedResource</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>AssignedResource - afterTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignedResource - afterTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>SFI-2897</description>
        <name>Get_Custom_metadata_record_for_SF_And_SAP_Status_Mapping</name>
        <label>Get Custom metadata record for SF And SAP Status Mapping</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Custom_Metadata_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_WOStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA.FSSK__FSK_Work_Order__r.Status</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFAndSAPStatusMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SA</name>
        <label>SA</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_metadata_record_for_SF_And_SAP_Status_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Location_Status_Changed</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Updated as part of SFI-2897 To Populate assigned res Ext id and WO Status</description>
        <name>WorkOrder_Platform_Record</name>
        <label>WorkOrder Platform Record</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <flowName>WorkOrder_Subflow_Create_Platform_Event_Record</flowName>
        <inputAssignments>
            <name>ApptAssistantInfoUrl</name>
            <value>
                <elementReference>$Record.ApptAssistantInfoUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_WorkOrderId</name>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LocationStatus</name>
            <value>
                <elementReference>$Record.LocationStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OperationNumber</name>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.FSM_OperationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RejectReason</name>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.FSM_RejectReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SAPExternalId</name>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.FSM_ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SAPUserID</name>
            <value>
                <elementReference>$User.FSM_ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScheduledEnd</name>
            <value>
                <elementReference>SA.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScheduledSatrt</name>
            <value>
                <elementReference>SA.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceExternalID</name>
            <value>
                <elementReference>$Record.ServiceResource.FSM_ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <elementReference>WOStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SuspendReason</name>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.FSM_SuspendReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.FSM_OrderNumber__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>SFI-2897</description>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
