force-app/main/default/flows/DCF_Non_infra_Raise_new_work_eForm_Desktop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>1403</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_DCF_record_Raise_follow_on_Work</name>
        <label>Copy 1 of DCF record Raise follow on Work</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_RequestType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raise Follow on work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_FLOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FLOC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_FlocDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FLOC_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShortTextPicklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortTextCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShortTextPicklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DCF_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_DCF_record_Raise_New_Work</name>
        <label>Copy 1 of DCF record Raise New Work</label>
        <locationX>1238</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_FLOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Floc1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_RequestType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raise New Work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShortTextPicklist1.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortTextCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShortTextPicklist1.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DCF_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_PreferredEng</name>
        <label>Copy 1 of PreferredEng</label>
        <locationX>1634</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_PreferredEngineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Preferred_Engineer1234</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Short_Text_Description1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_LongTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Long_Text_Description1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Office_attention_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_PreferredEng_Assignment</name>
        <label>Copy 1 of PreferredEng Assignment</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_PreferredEngineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_PE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Short_Text_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_LongTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Long_Text_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Office_attention_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_PreferredEng_Assignment</name>
        <label>Copy 2 of PreferredEng Assignment</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_PreferredEngineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Short_Text_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_LongTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Long_Text_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Office_attention_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_PreferredEng_Assignment</name>
        <label>Copy 3 of PreferredEng Assignment</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_PreferredEngineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Preferred_Engineer123</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Short_Text_Description1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_LongTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Long_Text_Description1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Office_attention_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DCF_Record_Assignment</name>
        <label>DCF Record Assignment</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFnonInfraRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DCF_record_Raise_follow_on_Work</name>
        <label>DCF record Raise follow on Work</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_RequestType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raise Follow on work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_FLOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FLOC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_FlocDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FLOC_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShortTextPicklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortTextCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShortTextPicklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_LongTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongTextDescAppendFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DCF_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DCF_record_Raise_New_Work</name>
        <label>DCF record Raise New Work</label>
        <locationX>974</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_FLOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Floc1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_RequestType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raise New Work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShortTextPicklist1.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortTextCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShortTextPicklist1.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_LongTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongTextDescAppendFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DCF_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OfficeAttentionNo</name>
        <label>OfficeAttentionNo</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_OfficeAttentionRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_DCF_record_Raise_follow_on_Work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OfficeAttentionReasonYes</name>
        <label>OfficeAttentionReasonYes</label>
        <locationX>974</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_OfficeAttentionRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_OfficeAttentionReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Office_Attention_Reason1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCF_record_Raise_New_Work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OfficeAttentionRequiredReasonNo</name>
        <label>OfficeAttentionRequiredReasonNo</label>
        <locationX>1238</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_OfficeAttentionRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_DCF_record_Raise_New_Work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OfficeAttentionYes</name>
        <label>OfficeAttentionYes</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_OfficeAttentionRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_OfficeAttentionReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Office_Attention_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCF_record_Raise_follow_on_Work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PreferredEng1</name>
        <label>PreferredEng</label>
        <locationX>1370</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_PreferredEngineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Engineer1234</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Short_Text_Description1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_LongTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Long_Text_Description1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Office_attention_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PreferredEng_Assignment</name>
        <label>PreferredEng Assignment</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_PreferredEngineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Engineer123</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_ShortTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Short_Text_Description1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFNonInfraRecord.FSM_LongTextDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Long_Text_Description1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Office_attention_required</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DcfNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>DcfYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>RaiseFollowOnWork</name>
        <choiceText>Raise Follow on Work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Raise Follow on Work</stringValue>
        </value>
    </choices>
    <choices>
        <name>RaiseNewWork</name>
        <choiceText>Raise New Work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Raise New Work</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>none</name>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_code_SELF</name>
        <label>Check for code SELF</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Screen_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShortTextPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SELF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Screen_2</targetReference>
            </connector>
            <label>Self</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_SELF_Code</name>
        <label>Check for SELF Code</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Screen_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SELF_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShortTextPicklist1.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SELF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Screen_2</targetReference>
            </connector>
            <label>SELF Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_STM_Records</name>
        <label>Check STM Records</label>
        <locationX>1403</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stmListrecordVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_DCFnonInfraRecord</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_SELF_Code</name>
        <label>Copy 1 of Check for SELF Code</label>
        <locationX>1502</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Screen_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_SELF_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShortTextPicklist1.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SELF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_22</targetReference>
            </connector>
            <label>Copy 1 of SELF Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Office_attention_required</name>
        <label>Office attention required</label>
        <locationX>1106</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>OfficeAttentionRequiredReasonNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Office_Attention_Required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_2_of_Office_Attention_Required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Copy_1_of_Office_Attention_Required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Office_Attention_Required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Screen_3</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check</name>
        <label>Empty Check</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_for_SELF_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FLOC_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Floc1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Site1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_SELF_Code</targetReference>
            </connector>
            <label>FLOC is null</label>
        </rules>
        <rules>
            <name>If_Site_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Floc1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Site1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>If Site or Floc is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Office_attention_required</name>
        <label>Office attention required</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>OfficeAttentionNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Office_attention_is_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Office_attention_is_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Request_Type</name>
        <label>Select Request Type</label>
        <locationX>644</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Screen_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Raise New Work</defaultConnectorLabel>
        <rules>
            <name>Raise_Follow_on_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RaiseFollowOnWork</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>Raise Follow on Work</label>
        </rules>
    </decisions>
    <description>Created as a part of SFS-4795
Updated as part of SFS-7488
Updated as part of SFS-7551
Updated as part of SFS-7916
updatged as a part of SFL-1122
Updated as a part of SFL-786</description>
    <dynamicChoiceSets>
        <name>blowOffToolchoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_BlowOffTool__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>hachMeterChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_HachMeterCalibrtion__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LoggerTestedPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_DSALoggerTested__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pollutionMitigationChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_PollutionMigration__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferredEng</name>
        <dataType>String</dataType>
        <displayField>ServiceResourceName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTerritoryID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <valueField>FSM_ServiceResourceSAPexternalID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pressureGaugeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_WorkingPressureGauge__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReceiveLoggerPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_DSAReceiveLogger__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>relevantDocumentsChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_RelevantDocsOnVan__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_RequestType__c</picklistField>
        <picklistObject>FSM_DataCaptureFormNonInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sampleappchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_DSASampleAppWorking__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sampleBottlechoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_StockOfSampleBottle__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sampleLabelAvailabilitychoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_DSASampleLabelAvailability__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ShortText</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ShortText__c</picklistField>
        <picklistObject>FSM_DataCaptureFormNonInfra__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ShortTextCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ShortTextCode__c</picklistField>
        <picklistObject>FSM_DataCaptureFormNonInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Smartvaluechoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_DSASmartValveAppWorking__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tommyBarChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_TrunkMainKeys__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>trackerDownloadedchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_IncidentTrackerDownloaded__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>turbidityMonitorChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_TurbidityMonitorFulCalibration__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate_Time</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Earlier_DateLogger</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-31</expression>
    </formulas>
    <formulas>
        <name>FSM_Valid_Date_Logger1</name>
        <dataType>Boolean</dataType>
        <expression>{!varDCFInfraRecord.FSM_DateLoggerTested__c}&gt;{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>LongTextDescAppendFormula</name>
        <dataType>String</dataType>
        <expression>  {!varDCFNonInfraRecord.FSM_LongTextDescription__c}  + &quot;  &quot; + IF({!Request_Type}==&quot;Raise Follow on work&quot;, {!Office_Attention_Reason}, {!Office_Attention_Reason1})</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!varDCFInfraRecord.FSM_Name__c}</expression>
    </formulas>
    <formulas>
        <name>Work_Centre</name>
        <dataType>String</dataType>
        <expression>{!varDCFInfraRecord.FSM_WorkCentre__c}</expression>
    </formulas>
    <interviewLabel>DCF Non-infra Raise new work eForm Desktop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DCF Non-infra Raise new work eForm Desktop</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_DCFnonInfraRecord</name>
        <label>CREATE DCFnonInfraRecord</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>DCFnonInfraRecordVar</assignRecordIdToReference>
        <connector>
            <targetReference>DCF_Record_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Non-infra Raise new or follow on work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>IN progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormNonInfra__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_STM</name>
        <label>Get STM</label>
        <locationX>1403</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_STM_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTerritoryID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputReference>stmListrecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceName__c</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <queriedFields>FSM_ServiceResourceSAPexternalID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkOrder</name>
        <label>GET WorkOrder</label>
        <locationX>1403</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_STM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>varContactName</assignToReference>
            <field>FSM_ContactName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFlocDescription</assignToReference>
            <field>FSM_FlocDescription__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFloc</assignToReference>
            <field>FSM_Floc__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceTerritoryID</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_DCF_Record</name>
        <label>Update DCF Record</label>
        <locationX>644</locationX>
        <locationY>2306</locationY>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputReference>varDCFNonInfraRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Copy_1_of_Screen_2</name>
        <label>Copy 1 of Copy 1 of Screen 2</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_PreferredEng_Assignment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Short_Text_Description1</name>
            <dataType>String</dataType>
            <fieldText>Short Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;Short Description should be within 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Copy_1_of_Copy_1_of_Short_Text_Description1})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Long_Text_Description1</name>
            <dataType>String</dataType>
            <fieldText>Long Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 34, 8);&quot;&gt;Long Text Description should be within 200 characters. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Copy_1_of_Copy_1_of_Long_Text_Description1})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Text4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please include: estimated time, number of people and skills required.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Preferred_Engineer123</name>
            <choiceReferences>PreferredEng</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Engineer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Office_Attention_Required1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Office Attention Required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Help_text4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;To be used when additional planning is required e.g, tankering, crane, parts, etc.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Screen_2</name>
        <label>Copy 1 of Screen 2</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PreferredEng_Assignment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Short_Text_Description1</name>
            <dataType>String</dataType>
            <fieldText>Short Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;Short Description should be within 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Copy_1_of_Short_Text_Description1})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_Long_Text_Description1</name>
            <dataType>String</dataType>
            <fieldText>Long Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 34, 8);&quot;&gt;Long Text Description should be within 200 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Copy_1_of_Long_Text_Description1})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Text3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please include: estimated time, number of people and skills required.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Preferred_Engineer123</name>
            <choiceReferences>PreferredEng</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Engineer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Office_Attention_Required1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Office Attention Required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Help_text3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;To be used when additional planning is required e.g, tankering, crane, parts, etc.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Screen_3</name>
        <label>Copy 1 of Screen 3</label>
        <locationX>974</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OfficeAttentionReasonYes</targetReference>
        </connector>
        <fields>
            <name>Office_Attention_Reason1</name>
            <dataType>String</dataType>
            <fieldText>Office Attention Reason</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Screen_2</name>
        <label>Copy 2 of Screen 2</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_PreferredEng_Assignment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Short_Text_description</name>
            <dataType>String</dataType>
            <fieldText>Short Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;Short Description should be within 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Copy_1_of_Short_Text_description}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_Long_Text_Description</name>
            <dataType>String</dataType>
            <fieldText>Long Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 34, 8);&quot;&gt;Long Text Description should be within 200 characters. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Copy_1_of_Long_Text_Description})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please include: estimated time, number of people and skills required.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_PE</name>
            <choiceReferences>PreferredEng</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Engineer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Office_attention_is_required</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Office attention is required.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Help_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;To be used when additional planning is required e.g, tankering, crane, parts, etc.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Screen_2</name>
        <label>Copy 3 of Screen 2</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_PreferredEng</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Short_Text_Description1</name>
            <dataType>String</dataType>
            <fieldText>Short Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;Short Description should be within 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Copy_2_of_Short_Text_Description1})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_2_of_Long_Text_Description1</name>
            <dataType>String</dataType>
            <fieldText>Long Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 34, 8);&quot;&gt;Long Text Description should be within 200 characters. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Copy_2_of_Long_Text_Description1})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Text6</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please include: estimated time, number of people and skills required.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Preferred_Engineer1234</name>
            <choiceReferences>PreferredEng</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Engineer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_Office_Attention_Required1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Office Attention Required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Help_text6</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;To be used when additional planning is required e.g, tankering, crane, parts, etc.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_11</targetReference>
        </connector>
        <fields>
            <name>Empty</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 9pt;&quot;&gt;One of these fields should be filled in - FLOC or Site&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>1898</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We have an Exception while trying to create DCF Infra record, please connect with Admin to resolve the issue: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_for_code_SELF</targetReference>
        </connector>
        <fields>
            <name>FLOC</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varFloc</elementReference>
            </defaultValue>
            <fieldText>FLOC</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FLOC_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varFlocDescription</elementReference>
            </defaultValue>
            <fieldText>FLOC Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Site</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContactName</elementReference>
            </defaultValue>
            <fieldText>Site</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ShortTextPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>FSM_DataCaptureFormNonInfra__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>FSM_ShortText__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>FSM_ShortTextCode__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Short Text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Short Text for Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>644</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Request_Type</targetReference>
        </connector>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>RequestType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_11</name>
        <label>Screen 1</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Empty_Check</targetReference>
        </connector>
        <fields>
            <name>Floc1</name>
            <dataType>String</dataType>
            <fieldText>FLOC</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Site1</name>
            <dataType>String</dataType>
            <fieldText>Site</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ShortTextPicklist1</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>FSM_DataCaptureFormNonInfra__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>FSM_ShortText__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>FSM_ShortTextCode__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Short Text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Short Text for Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_PreferredEng_Assignment</targetReference>
        </connector>
        <fields>
            <name>Short_Text_description</name>
            <dataType>String</dataType>
            <fieldText>Short Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;Short Description should be within 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Short_Text_description})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Long_Text_Description</name>
            <dataType>String</dataType>
            <fieldText>Long Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 34, 8);&quot;&gt;Long Text Description should be within 200 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Long_Text_Description})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Text2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please include: estimated time, number of people and skills required.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PE</name>
            <choiceReferences>PreferredEng</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Engineer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Office_attention_is_required</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Office attention is required.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Help_text2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;To be used when additional planning is required e.g, tankering, crane, parts, etc.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_22</name>
        <label>Screen 2</label>
        <locationX>1370</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PreferredEng1</targetReference>
        </connector>
        <fields>
            <name>Short_Text_Description1</name>
            <dataType>String</dataType>
            <fieldText>Short Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;Short Description should be within 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Short_Text_Description1})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Long_Text_Description1</name>
            <dataType>String</dataType>
            <fieldText>Long Text Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 34, 8);&quot;&gt;Long Text Description should be within 200 characters. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Long_Text_Description1})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Text5</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please include: estimated time, number of people and skills required.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Preferred_Engineer1234</name>
            <choiceReferences>PreferredEng</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Engineer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Office_Attention_Required1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Office Attention Required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Help_text5</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;To be used when additional planning is required e.g, tankering, crane, parts, etc.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OfficeAttentionYes</targetReference>
        </connector>
        <fields>
            <name>Office_Attention_Reason</name>
            <dataType>String</dataType>
            <fieldText>Office Attention Reason</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentIdVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFInfraRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFnonInfraRecordVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emptyvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>filesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FutureDateErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please do not select a future date.</stringValue>
        </value>
    </variables>
    <variables>
        <name>FutureDateTimeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please do not select future date time.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LongTextDescAppend</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>null</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>--Null--</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SASingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceTerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stmListrecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>STMrecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>STMRecordVar1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>UploadedFileNamesVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFInfraRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>varDCFNonInfraRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormNonInfra__c</objectType>
    </variables>
    <variables>
        <name>varFloc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFlocDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceTerritoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOSingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>Created as a part of SFS-3975</description>
        <name>WsIsComplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
