force-app/main/default/flows/DCF_Reinstatement_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_dcfli_to_temp_remove</name>
        <label>Add dcfli to temp remove</label>
        <locationX>2338</locationX>
        <locationY>6296</locationY>
        <assignmentItems>
            <assignToReference>tempsiteremove</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Remove_related_site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updated as part of  SFL-1016</description>
        <name>Add_DCFLIRecord2_to_DCFLICollection2</name>
        <label>Add DCFLIRecord2 to DCFLICollection2</label>
        <locationX>633</locationX>
        <locationY>4376</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLIRecord2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirected_to_Grid_ref</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_DCFLIRecord_to_DCFLICollection</name>
        <label>Add DCFLIRecord to DCFLICollection</label>
        <locationX>765</locationX>
        <locationY>4916</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLIRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RedirectedToGridRefScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_length_greater_than_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1271</description>
        <name>Add_LoopVar_To_Temporary_Collection</name>
        <label>Add LoopVar To Temporary Collection</label>
        <locationX>2426</locationX>
        <locationY>6080</locationY>
        <assignmentItems>
            <assignToReference>TemporaryDCFLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLILoopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1721</description>
        <name>Add_No_of_line_items_EForms_of_same_type_To_Loop_Variable</name>
        <label>Add No of line items EForms of same type To Loop Variable</label>
        <locationX>2426</locationX>
        <locationY>5972</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopVar.FSM_NoOfLineItemsEformsOfSameType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LoopVar_To_Temporary_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_record_to_Temporary_Collection2</name>
        <label>Add record to Temporary Collection2</label>
        <locationX>2602</locationX>
        <locationY>6404</locationY>
        <assignmentItems>
            <assignToReference>TemporaryDCFLICollection2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLILoopvar2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_DCFLICollection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Temp_Collection_to_DCFLI_Collection2</name>
        <label>Add Temp Collection to DCFLI Collection2</label>
        <locationX>1986</locationX>
        <locationY>7496</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemporaryDCFLICollection2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Site_Management</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Temporary_Collection_to_DCFLI_Collection</name>
        <label>Add Temporary Collection to DCFLI Collection</label>
        <locationX>50</locationX>
        <locationY>6356</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemporaryDCFLICollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_the_length_greater_than_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_record_to_Temporary_Collection</name>
        <label>Adding record to Temporary Collection</label>
        <locationX>402</locationX>
        <locationY>5972</locationY>
        <assignmentItems>
            <assignToReference>TemporaryDCFLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLILoopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_DCFLICollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_DCFRECORDFIELDS</name>
        <label>ASSIGN_DCFRECORDFIELDS</label>
        <locationX>633</locationX>
        <locationY>3644</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecordStaging.FSM_FormType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reinstatement Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecordStaging.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_DCFLI_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-158</description>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>2866</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Err_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_length_and_counter</name>
        <label>Assign length and counter</label>
        <locationX>1617</locationX>
        <locationY>2804</locationY>
        <assignmentItems>
            <assignToReference>Length</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Length_m</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLength</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Length_m</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Quotient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reinstatement_Location_Details</name>
        <label>Assign Reinstatement Location Details</label>
        <locationX>2602</locationX>
        <locationY>6296</locationY>
        <assignmentItems>
            <assignToReference>DCFLILoopvar2.FSM_Surface__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Surface</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopvar2.FSM_SiteLocationDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Site_Location_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopvar2.FSM_ReinstatementType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reinstatement_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopvar2.FSM_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Position</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopvar2.FSM_Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Length_m</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopvar2.FSM_Depth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Depth_m</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopvar2.FSM_Width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Width_m</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_Temporary_Collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>525</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_WorkStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDependentPicklist</name>
        <label>assignDependentPicklist</label>
        <locationX>2470</locationX>
        <locationY>5972</locationY>
        <assignmentItems>
            <assignToReference>assignPosition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFLILoopvar2.FSM_Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignSurface</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFLILoopvar2.FSM_Surface__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deletion_Reinstatement_Location_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_edited_values</name>
        <label>Assigning edited values</label>
        <locationX>270</locationX>
        <locationY>5756</locationY>
        <assignmentItems>
            <assignToReference>DCFLILoopVar.FSM_GridRefX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Grid_Reference_X</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopVar.FSM_GridRefY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Grid_Reference_Y</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Deleted_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_22</name>
        <label>Assignment 22</label>
        <locationX>2602</locationX>
        <locationY>6620</locationY>
        <assignmentItems>
            <assignToReference>tempsiteremove</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Coordinate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_related_site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Difference</name>
        <label>Calculate Difference</label>
        <locationX>1617</locationX>
        <locationY>3128</locationY>
        <assignmentItems>
            <assignToReference>Difference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalDifference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Final_Counter</name>
        <label>Calculate Final Counter</label>
        <locationX>1485</locationX>
        <locationY>3344</locationY>
        <assignmentItems>
            <assignToReference>FinalResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewQuotient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Reinstatement_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Product</name>
        <label>Calculate Product</label>
        <locationX>1617</locationX>
        <locationY>3020</locationY>
        <assignmentItems>
            <assignToReference>Product</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Difference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Quotient</name>
        <label>Calculate Quotient</label>
        <locationX>1617</locationX>
        <locationY>2912</locationY>
        <assignmentItems>
            <assignToReference>Quotient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuotientResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Original_Collection</name>
        <label>Clear Original Collection</label>
        <locationX>1986</locationX>
        <locationY>7388</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection2</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Temp_Collection_to_DCFLI_Collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Original_Site_Collection</name>
        <label>Clear Original Site Collection</label>
        <locationX>50</locationX>
        <locationY>6248</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Temporary_Collection_to_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_temp_Collection</name>
        <label>Clear Temp Collection</label>
        <locationX>182</locationX>
        <locationY>5324</locationY>
        <assignmentItems>
            <assignToReference>TemporaryDCFLICollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Decision_taken_for_XY_Coordinate_Management</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Temp_Collection2</name>
        <label>Clear Temp Collection2</label>
        <locationX>1590</locationX>
        <locationY>5648</locationY>
        <assignmentItems>
            <assignToReference>TemporaryDCFLICollection2</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>DECISION_AddAdditionalValve</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_DCFLIRecord2_to_DCFLICollection2</name>
        <label>Copy 1 of Add DCFLIRecord2 to DCFLICollection2</label>
        <locationX>957</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLIRecord3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Through_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_DCFLIRecord_to_DCFLICollection</name>
        <label>Copy 1 of Add DCFLIRecord to DCFLICollection</label>
        <locationX>1221</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLIRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Through_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1271</description>
        <name>Copy_1_of_Add_LoopVar_To_Temporary_Collection</name>
        <label>Copy 1 of Add LoopVar To Temporary Collection</label>
        <locationX>2426</locationX>
        <locationY>6488</locationY>
        <assignmentItems>
            <assignToReference>TemporaryDCFLICollection2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLILoopvar2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Through_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1721</description>
        <name>Copy_1_of_Add_No_of_line_items_EForms_of_same_type_To_Loop_Variable</name>
        <label>Copy 1 of Add No of line items EForms of same type To Loop Variable</label>
        <locationX>2426</locationX>
        <locationY>6380</locationY>
        <assignmentItems>
            <assignToReference>Count1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopvar2.FSM_SiteNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_LoopVar_To_Temporary_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Temporary_Collection_to_DCFLI_Collection</name>
        <label>Add Temporary Collection to DCFLI Collection</label>
        <locationX>2338</locationX>
        <locationY>7004</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempsiteremove</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_ASSIGN_DCFLIRecord</name>
        <label>Copy 1 of ASSIGN_DCFLIRecord</label>
        <locationX>633</locationX>
        <locationY>4700</locationY>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_GridRefX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grid_Reference_X</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_GridRefY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grid_Reference_Y</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_DataCaptureFormInfra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFInfraRecordVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_SectionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grid Ref for Excavation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_LineItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SiteLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_pressed_Back_Button</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Calculate_Final_Counter</name>
        <label>Copy 1 of Calculate Final Counter</label>
        <locationX>1749</locationX>
        <locationY>3344</locationY>
        <assignmentItems>
            <assignToReference>FinalResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quotient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Reinstatement_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Clear_Original_Site_Collection</name>
        <label>Clear Original Site Collection</label>
        <locationX>2338</locationX>
        <locationY>6896</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Temporary_Collection_to_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Clear_Temp_Collection</name>
        <label>Copy 1 of Clear Temp Collection</label>
        <locationX>1084</locationX>
        <locationY>5324</locationY>
        <assignmentItems>
            <assignToReference>TemporaryDCFLICollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Decision_taken_for_XY_Coordinate_Management</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1271</description>
        <name>Copy_1_of_Copy_1_of_Add_LoopVar_To_Temporary_Collection</name>
        <label>Copy 1 of Copy 1 of Add LoopVar To Temporary Collection</label>
        <locationX>2426</locationX>
        <locationY>6896</locationY>
        <assignmentItems>
            <assignToReference>TemporaryDCFLICollection3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLILoopvar3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Loop_Through_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1721</description>
        <name>Copy_1_of_Copy_1_of_Add_No_of_line_items_EForms_of_same_type_To_Loop_Variable</name>
        <label>Copy 1 of Copy 1 of Add No of line items EForms of same type To Loop Variable</label>
        <locationX>2426</locationX>
        <locationY>6788</locationY>
        <assignmentItems>
            <assignToReference>DCFLILoopvar3.FSM_SiteNumberOne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Add_LoopVar_To_Temporary_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Length</name>
        <label>Copy 1 of Update Length</label>
        <locationX>138</locationX>
        <locationY>5972</locationY>
        <assignmentItems>
            <assignToReference>Length</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_DCFLICollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_DCFLIRecord_to_DCFLICollection</name>
        <label>Copy 2 of Add DCFLIRecord to DCFLICollection</label>
        <locationX>501</locationX>
        <locationY>4916</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <elementReference>GridRefCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RedirectedToGridRefScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLIRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_length_greater_than_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFL-1016</description>
        <name>Redirected_to_Grid_ref</name>
        <label>Redirected to Grid ref</label>
        <locationX>633</locationX>
        <locationY>4484</locationY>
        <assignmentItems>
            <assignToReference>RedirectedToGridRefScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GridRefCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Grid_References_for_Excavations_Greater_Than_5_Metres</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFL-1016</description>
        <name>Remove_First_record_so_can_be_readded</name>
        <label>Remove First record so can be readded</label>
        <locationX>501</locationX>
        <locationY>3968</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection2</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <elementReference>ReinstatementCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_last_Site_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>singleDCFLI</name>
        <label>singleDCFLI</label>
        <locationX>1221</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_DataCaptureFormInfra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFInfraRecordVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_ReinstatementType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reinstatement_Type_DCFLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_SectionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reinstatement Site</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_DCFLIRecord_to_DCFLICollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFL-1016</description>
        <name>To_make_Sure_its_redirected_correctly</name>
        <label>To make Sure its redirected correctly</label>
        <locationX>1617</locationX>
        <locationY>2588</locationY>
        <assignmentItems>
            <assignToReference>ReinstatementCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeUnique</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Reinstatement_Location_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Length</name>
        <label>Update Length</label>
        <locationX>314</locationX>
        <locationY>5540</locationY>
        <assignmentItems>
            <assignToReference>Length</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Redirected_to_Grid_ref</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Workstep_Variable_Assignment</name>
        <label>Workstep Variable Assignment</label>
        <locationX>525</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>WsIsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkStep.FSM_IsCompleted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkStep.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Instance_Check</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Row</name>
        <choiceText>Add Coordinates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Row</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Site</name>
        <choiceText>Add Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Row</name>
        <choiceText>Edit/Delete Coordinates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Row</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edit_Delete_Site</name>
        <choiceText>Edit/Delete Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit/Delete Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>chechk_related_line_item</name>
        <label>check related line item</label>
        <locationX>2514</locationX>
        <locationY>6512</locationY>
        <defaultConnector>
            <targetReference>Assignment_22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Coordinate.FSM_LineItem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DCFLILoopvar2.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_related_site</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Confirmation_Message_to_Complete_Form_Again</name>
        <label>Check Confirmation Message to Complete Form Again</label>
        <locationX>1441</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_DCFRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Reinstatement_Type</name>
        <label>Check for Reinstatement Type</label>
        <locationX>1617</locationX>
        <locationY>3536</locationY>
        <defaultConnector>
            <targetReference>Errorsc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>reins_type_DCFLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reinstatement_Type_DCFLI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_DCFRECORDFIELDS</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-158</description>
        <name>Check_if_Initiated_from_mobile_or_desktop</name>
        <label>Check if Initiated from mobile or desktop</label>
        <locationX>1695</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Id</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WorkStep_Status</name>
        <label>Check WorkStep Status</label>
        <locationX>1617</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>CREATE_DCFRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WsIsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkStep_Complete_Confirmation</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_DECISION_ReinstatementType</name>
        <label>Copy 1 of DECISION_ReinstatementType</label>
        <locationX>633</locationX>
        <locationY>3860</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_DCFLI_site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Pressed_back_button_than_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SiteLocationId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SiteLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_First_record_so_can_be_readded</targetReference>
            </connector>
            <label>if Pressed back button than Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Decision_taken_for_XY_Coordinate_Management</name>
        <label>Copy 1 of Decision taken for XY Coordinate Management</label>
        <locationX>1084</locationX>
        <locationY>5432</locationY>
        <defaultConnector>
            <targetReference>Site_Management</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clicked on &apos;Next&apos; only</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Selected_Edit_Delete_Coordinates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Edit_Delete_Coordinates1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Loop_Through_DCFLICollection</targetReference>
            </connector>
            <label>Copy 1 of Selected &apos;Edit/Delete Coordinates&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCFLI_check</name>
        <label>DCFLI check</label>
        <locationX>1221</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Create_DCFLI_site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCFLIRecord2check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DCFLIRecord2.FSM_WorkOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_DCFLI</targetReference>
            </connector>
            <label>DCFLIRecord2check</label>
        </rules>
        <rules>
            <name>DCFLIRecordcheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DCFLIRecord.FSM_WorkOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>singleDCFLI</targetReference>
            </connector>
            <label>DCFLIRecordcheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_AddAdditionalValve</name>
        <label>DECISION_AddAdditionalValve</label>
        <locationX>1590</locationX>
        <locationY>5756</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_DCFLI_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected only &apos;Next&apos;</defaultConnectorLabel>
        <rules>
            <name>Add_Additional_Valve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_add_another_site_or_edit_delete_a_previous_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Site</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SCREEN_Reinstatement_Type</targetReference>
            </connector>
            <label>Add Additional Valve</label>
        </rules>
        <rules>
            <name>Delete_Valve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_add_another_site_or_edit_delete_a_previous_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Edit_Delete_Site</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_DCFLICollection2</targetReference>
            </connector>
            <label>Delete Valve</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Deleted_record</name>
        <label>Decision Deleted record</label>
        <locationX>270</locationX>
        <locationY>5864</locationY>
        <defaultConnector>
            <targetReference>Adding_record_to_Temporary_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deleted_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Grid_Ref_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Length</targetReference>
            </connector>
            <label>Deleted records</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_DELETEDCFLI</name>
        <label>DECISION_DELETEDCFLI</label>
        <locationX>2470</locationX>
        <locationY>6188</locationY>
        <defaultConnector>
            <targetReference>Assign_Reinstatement_Location_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_DCFLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Reinstatement_Location_Details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_dcfli_to_temp_remove</targetReference>
            </connector>
            <label>Delete DCFLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_ReinstatementType</name>
        <label>DECISION_ReinstatementType</label>
        <locationX>1617</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>To_make_Sure_its_redirected_correctly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Rein_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reinstatement_Type_DCFLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCFLI_check</targetReference>
            </connector>
            <label>No Rein Required</label>
        </rules>
        <rules>
            <name>ICM_required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reinstatement_Type_DCFLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reinstatement_Type_DCFLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Interim_Construction_Method</targetReference>
            </connector>
            <label>ICM required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_taken_for_XY_Coordinate_Management</name>
        <label>Decision taken for XY Coordinate Management</label>
        <locationX>182</locationX>
        <locationY>5432</locationY>
        <defaultConnector>
            <targetReference>Update_Length</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clicked on &apos;Next&apos; only</defaultConnectorLabel>
        <rules>
            <name>Selected_Edit_Delete_Coordinates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Edit_Delete_Coordinates</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_DCFLICollection</targetReference>
            </connector>
            <label>Selected &apos;Edit/Delete Coordinates&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Counter</name>
        <label>Final Counter</label>
        <locationX>1617</locationX>
        <locationY>3236</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Calculate_Final_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_one_to_Quotient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Difference</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Difference</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Final_Counter</targetReference>
            </connector>
            <label>Add one to Quotient</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFL-1016</description>
        <name>Is_pressed_Back_Button</name>
        <label>Is pressed Back Button</label>
        <locationX>633</locationX>
        <locationY>4808</locationY>
        <defaultConnector>
            <targetReference>Add_DCFLIRecord_to_DCFLICollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_back_button_pressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RedirectedToGridRefScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Add_DCFLIRecord_to_DCFLICollection</targetReference>
            </connector>
            <label>Yes back button pressed</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-7915</description>
        <name>Is_the_length_greater_than_5</name>
        <label>Is the length greater than 5</label>
        <locationX>633</locationX>
        <locationY>5108</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_XY_Coordinate_Management</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than equal 5</defaultConnectorLabel>
        <rules>
            <name>Greater_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Length</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XY_Coordinate_Management</targetReference>
            </connector>
            <label>Greater than 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Instance_Reached</name>
        <label>Max Instance Reached?</label>
        <locationX>525</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>GET_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MaxInstanceReached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>maxInstanceReached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated as a part of SFS-3033, removed record type reference from the flow
v30 - as fix of SFS-3597 - removed record type reference, form type name
v31 - update as part of SFS-3975
updated as a part of SFI-1721
Updated as a part of SFS-5320
Updated as a part of SFS-6477
Updated as a part of SFS-6563
Updated as part of SFS-6573(MAx instance logic)
Updated as part of SFS-7915
Updated as a part of SFS-7916
Updated as part of SFS-7969
Updated as part of SFS-8133
Updated as part of SFS-8069
Updated as part of SFI-3013
Updated as part of SFL-680
Updated As part of SFL-1016</description>
    <dynamicChoiceSets>
        <description>Created as a part of SFS-6563</description>
        <name>ChoiceICM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_InterimConstructionMethod__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_Depth</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_Depth__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>SFS-6563</description>
        <name>DCFLIReinstatementTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ReinstatementType__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Depth_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_Depth__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Position_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_Position__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Surface_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_Surface__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>FinalDifference</name>
        <dataType>Number</dataType>
        <expression>{!NewLength}-{!Product}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewQuotient</name>
        <dataType>Number</dataType>
        <expression>{!Quotient}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ProductResult</name>
        <dataType>Number</dataType>
        <expression>FLOOR({!Quotient})*5</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QuotientResult</name>
        <dataType>Number</dataType>
        <expression>{!NewLength}/5</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UserId2</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>DCF Reinstatement Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DCF Reinstatement Form</label>
    <loops>
        <description>SFI-1721</description>
        <name>Copy_1_of_Loop_Through_DCFLI_Collection</name>
        <label>Copy 1 of Loop Through DCFLI Collection</label>
        <locationX>2338</locationX>
        <locationY>6272</locationY>
        <assignNextValueToReference>DCFLILoopvar2</assignNextValueToReference>
        <collectionReference>DCFLICollection2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Add_No_of_line_items_EForms_of_same_type_To_Loop_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Copy_1_of_Loop_Through_DCFLI_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>SFI-1721</description>
        <name>Copy_2_of_Copy_1_of_Loop_Through_DCFLI_Collection</name>
        <label>Copy 2 of Copy 1 of Loop Through DCFLI Collection</label>
        <locationX>2338</locationX>
        <locationY>6680</locationY>
        <assignNextValueToReference>DCFLILoopvar3</assignNextValueToReference>
        <collectionReference>TemporaryDCFLICollection2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Copy_1_of_Add_No_of_line_items_EForms_of_same_type_To_Loop_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_DCFLI2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>SFI-1721</description>
        <name>Loop_Through_DCFLI_Collection</name>
        <label>Loop Through DCFLI Collection</label>
        <locationX>2338</locationX>
        <locationY>5864</locationY>
        <assignNextValueToReference>DCFLILoopVar</assignNextValueToReference>
        <collectionReference>DCFLICollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_No_of_line_items_EForms_of_same_type_To_Loop_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Loop_Through_DCFLI_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_DCFLICollection</name>
        <label>Loop Through DCFLICollection</label>
        <locationX>50</locationX>
        <locationY>5540</locationY>
        <assignNextValueToReference>DCFLILoopVar</assignNextValueToReference>
        <collectionReference>DCFLICollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SCREEN_REVIEW_Grid_References_for_Excavations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clear_Original_Site_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_DCFLICollection2</name>
        <label>Loop Through DCFLICollection2</label>
        <locationX>1986</locationX>
        <locationY>5864</locationY>
        <assignNextValueToReference>DCFLILoopvar2</assignNextValueToReference>
        <collectionReference>DCFLICollection2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignDependentPicklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clear_Original_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Remove_related_site</name>
        <label>Remove related site</label>
        <locationX>2338</locationX>
        <locationY>6404</locationY>
        <assignNextValueToReference>Coordinate</assignNextValueToReference>
        <collectionReference>DCFLICollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>chechk_related_line_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Clear_Original_Site_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Copy_1_of_Create_DCFLI_site</name>
        <label>Copy 1 of Create DCFLI site</label>
        <locationX>765</locationX>
        <locationY>3968</locationY>
        <assignRecordIdToReference>SiteLocationId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_DCFLI_record</targetReference>
        </connector>
        <inputAssignments>
            <field>FSM_DataCaptureFormInfra__c</field>
            <value>
                <elementReference>DCFInfraRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Depth__c</field>
            <value>
                <elementReference>Depth_m</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Length__c</field>
            <value>
                <elementReference>Length_m</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Position__c</field>
            <value>
                <elementReference>Position</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ReinstatementType__c</field>
            <value>
                <elementReference>Reinstatement_Type_DCFLI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SectionType__c</field>
            <value>
                <stringValue>Reinstatement Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SiteLocationDescription__c</field>
            <value>
                <elementReference>Site_Location_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Surface__c</field>
            <value>
                <elementReference>Surface</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_UniqueID__c</field>
            <value>
                <elementReference>DateTimeUnique</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Width__c</field>
            <value>
                <elementReference>Width_m</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DCFLineItemInfra__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_DCFLI_site</name>
        <label>Create DCFLI site</label>
        <locationX>1485</locationX>
        <locationY>2030</locationY>
        <assignRecordIdToReference>SiteLocationId</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UPDATE_DCF</targetReference>
        </connector>
        <inputAssignments>
            <field>FSM_DataCaptureFormInfra__c</field>
            <value>
                <elementReference>DCFInfraRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ReinstatementType__c</field>
            <value>
                <elementReference>Reinstatement_Type_DCFLI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SectionType__c</field>
            <value>
                <stringValue>Reinstatement Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SiteNumberOne__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SiteNumber__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DCFLineItemInfra__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_DCFLI</name>
        <label>Create DCFLI site</label>
        <locationX>957</locationX>
        <locationY>2030</locationY>
        <assignRecordIdToReference>SiteLocationId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Get_DCFLI_record</targetReference>
        </connector>
        <inputAssignments>
            <field>FSM_DataCaptureFormInfra__c</field>
            <value>
                <elementReference>DCFInfraRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ReinstatementType__c</field>
            <value>
                <elementReference>Reinstatement_Type_DCFLI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SectionType__c</field>
            <value>
                <stringValue>Reinstatement Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DCFLineItemInfra__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_DCFLI_Records</name>
        <label>Create DCFLI Records</label>
        <locationX>2338</locationX>
        <locationY>7196</locationY>
        <connector>
            <targetReference>UPDATE_DCF</targetReference>
        </connector>
        <inputReference>TemporaryDCFLICollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_DCFRecord</name>
        <label>CREATE_DCFRecord</label>
        <locationX>1617</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>DCFInfraRecordVar</assignRecordIdToReference>
        <connector>
            <targetReference>SCREEN_Reinstatement_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Reinstatement Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkStep__c</field>
            <value>
                <elementReference>varWorkStep.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Records_1</name>
        <label>Delete Records 1</label>
        <locationX>2338</locationX>
        <locationY>7112</locationY>
        <connector>
            <targetReference>Loop_Through_DCFLICollection2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DCFLILoopvar2.Id</elementReference>
            </value>
        </filters>
        <object>FSM_DCFLineItemInfra__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_DCFLI_record</name>
        <label>Copy 1 of Get DCFLI record</label>
        <locationX>957</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Add_DCFLIRecord2_to_DCFLICollection2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SiteLocationId</elementReference>
            </value>
        </filters>
        <object>FSM_DCFLineItemInfra__c</object>
        <outputReference>DCFLIRecord3</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_Position__c</queriedFields>
        <queriedFields>FSM_Depth__c</queriedFields>
        <queriedFields>FSM_Length__c</queriedFields>
        <queriedFields>FSM_SectionType__c</queriedFields>
        <queriedFields>FSM_SiteLocationDescription__c</queriedFields>
        <queriedFields>FSM_Width__c</queriedFields>
        <queriedFields>FSM_WorkOrder__c</queriedFields>
        <queriedFields>FSM_Surface__c</queriedFields>
        <queriedFields>FSM_DataCaptureFormInfra__c</queriedFields>
        <queriedFields>FSM_ReinstatementType__c</queriedFields>
        <queriedFields>FSM_InterimConstructionMethod__c</queriedFields>
        <queriedFields>FSM_SiteNumber__c</queriedFields>
        <queriedFields>FSM_SiteNumberOne__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_DCFLI_record</name>
        <label>Get DCFLI record</label>
        <locationX>633</locationX>
        <locationY>4268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_DCFLIRecord2_to_DCFLICollection2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SiteLocationId</elementReference>
            </value>
        </filters>
        <object>FSM_DCFLineItemInfra__c</object>
        <outputReference>DCFLIRecord2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_Position__c</queriedFields>
        <queriedFields>FSM_Depth__c</queriedFields>
        <queriedFields>FSM_Length__c</queriedFields>
        <queriedFields>FSM_SectionType__c</queriedFields>
        <queriedFields>FSM_SiteLocationDescription__c</queriedFields>
        <queriedFields>FSM_Width__c</queriedFields>
        <queriedFields>FSM_WorkOrder__c</queriedFields>
        <queriedFields>FSM_Surface__c</queriedFields>
        <queriedFields>FSM_DataCaptureFormInfra__c</queriedFields>
        <queriedFields>FSM_ReinstatementType__c</queriedFields>
        <queriedFields>FSM_InterimConstructionMethod__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>SFL-1016</description>
        <name>Get_DCFLI_Site</name>
        <label>Get DCFLI Site</label>
        <locationX>633</locationX>
        <locationY>3752</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_DECISION_ReinstatementType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_UniqueID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateTimeUnique</elementReference>
            </value>
        </filters>
        <object>FSM_DCFLineItemInfra__c</object>
        <outputAssignments>
            <assignToReference>SiteLocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_ServiceResource</name>
        <label>GET_ServiceResource</label>
        <locationX>1617</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WorkStep_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserIdFinal</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkOrder</name>
        <label>GET_WorkOrder</label>
        <locationX>1617</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ServiceResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>NotificationNumber</assignToReference>
            <field>FSM_NotificationNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OperationNumber</assignToReference>
            <field>FSM_OperationNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderNumber</assignToReference>
            <field>FSM_OrderNumber__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkStep</name>
        <label>GET_WorkStep</label>
        <locationX>525</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Workstep_Variable_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>varWorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_IsCompleted__c</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>FSM_MaxInstance__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_DCF</name>
        <label>UPDATE_DCF</label>
        <locationX>2338</locationX>
        <locationY>7304</locationY>
        <connector>
            <targetReference>WorkStep_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DCFInfraRecordVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DCFLI2</name>
        <label>Update DCFLI2</label>
        <locationX>2338</locationX>
        <locationY>7088</locationY>
        <connector>
            <targetReference>Create_DCFLI_Records</targetReference>
        </connector>
        <inputReference>TemporaryDCFLICollection3</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>SFL-1016</description>
        <name>Update_last_Site_record</name>
        <label>Update last Site record</label>
        <locationX>501</locationX>
        <locationY>4076</locationY>
        <connector>
            <targetReference>Get_DCFLI_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SiteLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_Depth__c</field>
            <value>
                <elementReference>Depth_m</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_InterimConstructionMethod__c</field>
            <value>
                <elementReference>Interim_Construction_Method_DCFLI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Length__c</field>
            <value>
                <elementReference>Length_m</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Position__c</field>
            <value>
                <elementReference>Position</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ReinstatementType__c</field>
            <value>
                <elementReference>Reinstatement_Type_DCFLI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SectionType__c</field>
            <value>
                <stringValue>Reinstatement Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SiteLocationDescription__c</field>
            <value>
                <elementReference>Site_Location_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Surface__c</field>
            <value>
                <elementReference>Surface</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Width__c</field>
            <value>
                <elementReference>Width_m</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DCFLineItemInfra__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>WorkStep_Update</name>
        <label>WorkStep Update</label>
        <locationX>2338</locationX>
        <locationY>7412</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_IsCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_XY_Coordinate_Management</name>
        <label>XY Coordinate Management</label>
        <locationX>1084</locationX>
        <locationY>5216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Clear_Temp_Collection</targetReference>
        </connector>
        <fields>
            <name>Edit_Delete_Coordinates1</name>
            <dataType>Boolean</dataType>
            <fieldText>Edit / Delete Coordinates</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>HelpText1</name>
            <fieldText>&lt;p&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Checking this will allow you to navigate through completed co-ordinates and select one to edit/delete&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Prompttocontinue</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Counter} of {!FinalResult}, XY supplied. Please click &apos;Next&apos; to continue.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deletion_Reinstatement_Location_Details</name>
        <label>Reinstatement Location Details</label>
        <locationX>2470</locationX>
        <locationY>6080</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DECISION_DELETEDCFLI</targetReference>
        </connector>
        <fields>
            <name>Delete_Reinstatement_Location_Details</name>
            <dataType>Boolean</dataType>
            <fieldText>Delete Reinstatement Location Details</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reinstatement_Type</name>
            <choiceReferences>DCFLIReinstatementTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Reinstatement_Type_DCFLI</elementReference>
            </defaultValue>
            <fieldText>Reinstatement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Position</name>
            <choiceReferences>Position_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>assignPosition</elementReference>
            </defaultValue>
            <fieldText>Position</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Select One&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Surface</name>
            <choiceReferences>Surface_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>assignSurface</elementReference>
            </defaultValue>
            <fieldText>Surface</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select One&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Site_Location_Description</name>
            <defaultValue>
                <stringValue>{!DCFLILoopvar2.FSM_SiteLocationDescription__c}</stringValue>
            </defaultValue>
            <fieldText>Site Location Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Length_m</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DCFLILoopvar2.FSM_Length__c</elementReference>
            </defaultValue>
            <fieldText>Length (m)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Width_m</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DCFLILoopvar2.FSM_Width__c</elementReference>
            </defaultValue>
            <fieldText>Width (m)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Depth_m</name>
            <choiceReferences>Depth_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLILoopvar2.FSM_Depth__c</elementReference>
            </defaultValue>
            <fieldText>Depth (m)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-6563</description>
        <name>Err_Screen</name>
        <label>Err Screen</label>
        <locationX>2866</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreentodisplayeMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;To complete the Reinstatement form, please click on &apos;Reinstatement Form&apos; action.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errorsc</name>
        <label>Errorsc</label>
        <locationX>2602</locationX>
        <locationY>3644</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>To_make_Sure_its_redirected_correctly</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please select same Reinstatement Type as chosen in Screen 1.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Grid_References_for_Excavations_Greater_Than_5_Metres</name>
        <label>Grid References for Excavations</label>
        <locationX>633</locationX>
        <locationY>4592</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_ASSIGN_DCFLIRecord</targetReference>
        </connector>
        <fields>
            <name>Grid_Reference_X</name>
            <dataType>Number</dataType>
            <fieldText>Grid Reference X</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Grid Ref X needs to be between 200000 and 550000&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Grid_Reference_X} &gt;= 200000 &amp;&amp;{!Grid_Reference_X} &lt;=550000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Grid_Reference_Y</name>
            <dataType>Number</dataType>
            <fieldText>Grid Reference Y</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Grid Ref Y needs to be between 175000 and 450000&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Grid_Reference_Y} &gt;= 175000 &amp;&amp;{!Grid_Reference_Y} &lt;= 450000</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Interim_Construction_Method</name>
        <label>Interim Construction Method</label>
        <locationX>1749</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>To_make_Sure_its_redirected_correctly</targetReference>
        </connector>
        <fields>
            <name>Interim_Construction_Method_DCFLI</name>
            <choiceReferences>ChoiceICM</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interim Construction Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Reinstatement_Location_Details</name>
        <label>Reinstatement Location Details</label>
        <locationX>1617</locationX>
        <locationY>2696</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_length_and_counter</targetReference>
        </connector>
        <fields>
            <name>reins_type_DCFLI</name>
            <choiceReferences>DCFLIReinstatementTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Reinstatement_Type_DCFLI</elementReference>
            </defaultValue>
            <fieldText>Reinstatement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Position</name>
            <choiceReferences>Position_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Position</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Select One&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Surface</name>
            <choiceReferences>Surface_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Surface</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select One&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Site_Location_Description</name>
            <fieldText>Site Location Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 13, 13);&quot;&gt;Site Location Description should be within 500 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Site_Location_Description}) &lt;=500</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Length_m</name>
            <dataType>Number</dataType>
            <fieldText>Length (m)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 13, 13);&quot;&gt;Length should be within 5 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Length_m} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Width_m</name>
            <dataType>Number</dataType>
            <fieldText>Width (m)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 8, 8);&quot;&gt;Width should be within 3 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Width_m} &lt;= 999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Depth_m</name>
            <choiceReferences>Depth_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Depth (m)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Reinstatement_Type</name>
        <label>Reinstatement Type</label>
        <locationX>1617</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DECISION_ReinstatementType</targetReference>
        </connector>
        <fields>
            <name>Reinstatement_Type_DCFLI</name>
            <choiceReferences>DCFLIReinstatementTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reinstatement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_REVIEW_Grid_References_for_Excavations</name>
        <label>Grid References for Excavations</label>
        <locationX>270</locationX>
        <locationY>5648</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assigning_edited_values</targetReference>
        </connector>
        <fields>
            <name>Delete_Grid_Ref_Record</name>
            <dataType>Boolean</dataType>
            <fieldText>Delete Grid Ref Record</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_Grid_Reference_X</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DCFLILoopVar.FSM_GridRefX__c</elementReference>
            </defaultValue>
            <fieldText>Grid Reference X</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_Grid_Reference_Y</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DCFLILoopVar.FSM_GridRefY__c</elementReference>
            </defaultValue>
            <fieldText>Grid Reference Y</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Management</name>
        <label>Site Management</label>
        <locationX>1590</locationX>
        <locationY>5540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_Temp_Collection2</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_add_another_site_or_edit_delete_a_previous_value</name>
            <choiceReferences>Add_Site</choiceReferences>
            <choiceReferences>Edit_Delete_Site</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to add another site or edit/delete a previous value?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Dtext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If you do not need to make any amendments, please select &quot;Next&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkStep_Complete_Confirmation</name>
        <label>WorkStep Complete Confirmation</label>
        <locationX>1441</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Confirmation_Message_to_Complete_Form_Again</targetReference>
        </connector>
        <fields>
            <name>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WorkStep is already Completed . Do you still want to fill the form again ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>XY_Coordinate_Management</name>
        <label>XY Coordinate Management</label>
        <locationX>182</locationX>
        <locationY>5216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_temp_Collection</targetReference>
        </connector>
        <fields>
            <name>Edit_Delete_Coordinates</name>
            <dataType>Boolean</dataType>
            <fieldText>Edit / Delete Coordinates</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>helptext</name>
            <fieldText>&lt;p&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Checking this will allow you to navigate through completed co-ordinates and select one to edit/delete&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Prompttocontinue</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Counter} of {!FinalResult}, XY supplied. Please click &apos;Next&apos; to add the next coordinate.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1569</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Initiated_from_mobile_or_desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Max_Instance_Check</name>
        <label>Max Instance Check</label>
        <locationX>525</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Max_Instance_Reached</targetReference>
        </connector>
        <flowName>FSM_MaxInstanceCheck</flowName>
        <inputAssignments>
            <name>varWorkStep</name>
            <value>
                <elementReference>varWorkStep</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>maxInstanceReached</assignToReference>
            <name>maxInstanceReached</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ASRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>assignPosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignSurface</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Coordinate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <description>SFI-1721</description>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFL-1016</description>
        <name>DateTimeUnique</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFInfraRecordVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFLICollection2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFLILoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFLILoopvar2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFLILoopvar3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFLIRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFLIRecord3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Difference</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FinalResult</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>SFL-1016</description>
        <name>GridRefCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>SFS-158</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Length</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LoopVarCollection2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <description>Maximum instance of this form is reached</description>
        <name>maxInstanceReached</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NotificationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Quotient</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>SFS-158</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFL-1016</description>
        <name>RedirectedToGridRefScreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>SFL-1016</description>
        <name>ReinstatementCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SiteLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SIteRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SitesRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>TemporaryDCFLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>TemporaryDCFLICollection2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>TemporaryDCFLICollection3</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>tempsiteremove</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChildDCFLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>varDCFLIRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFRecordStaging</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>varWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WsIsComplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
