force-app/main/default/flows/FSM_WorkOrderAfterTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFI-2897</description>
        <name>All_Populated</name>
        <label>All Populated</label>
        <locationX>644</locationX>
        <locationY>6323</locationY>
        <assignmentItems>
            <assignToReference>AllDetailsPopulatedFromSA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Metadata_record_for_interface_toggle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Status_Closed</name>
        <label>Assign Case Status - Closed</label>
        <locationX>578</locationX>
        <locationY>3923</locationY>
        <assignmentItems>
            <assignToReference>vCaseStatusFuture</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Status_In_Progress</name>
        <label>Assign Case Status - In Progress</label>
        <locationX>50</locationX>
        <locationY>3923</locationY>
        <assignmentItems>
            <assignToReference>vCaseStatusFuture</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Status_InProgress</name>
        <label>Assign Case Status - In Progress</label>
        <locationX>314</locationX>
        <locationY>3923</locationY>
        <assignmentItems>
            <assignToReference>vCaseStatusFuture</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1791</description>
        <name>Assign_WO_Status_from_Metadata</name>
        <label>Assign WO Status from Metadata</label>
        <locationX>446</locationX>
        <locationY>7247</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Custom_metadata_record_for_SF_And_SAP_Status_Mapping.FSM_SAPStatusCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkOrder_Platform_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1791</description>
        <name>Assign_WO_Status_from_WO</name>
        <label>Assign WO Status from WO</label>
        <locationX>710</locationX>
        <locationY>7247</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkOrder_Platform_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minimum_Crew_Size_Assignment</name>
        <label>Minimum Crew Size Assignment</label>
        <locationX>325</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>MinCrewSize</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Bundle_members.MinimumCrewSize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentWOUpdateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Through_Bundle_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Minimum_Crew_Size</name>
        <label>Store Minimum Crew Size</label>
        <locationX>237</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>MinCrewSize</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MinimumCrewSize</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Through_Bundle_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-2897</description>
        <name>Update_Bundle_membres</name>
        <label>Update Bundle membres</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Bundle_members.FSM_AssignedResExtID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSM_AssignedResExtID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectAllBundleWO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Bundle_members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Bundle_members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>SFI-266
Updated As part of SFI-694 to add Status checks
Updated as part of SFI-2897
Updated as part of SFI-2961</description>
        <name>check_if_any_interface_toggle_is_On</name>
        <label>check if any interface toggle  is On ?</label>
        <locationX>776</locationX>
        <locationY>6923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interface_toggle_is_On</name>
            <conditionLogic>1 AND 2 AND 14 AND 20 AND ((15 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR (17 AND (18 OR 19)))) OR 16)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Metadata_record_for_interface_toggle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_Bundle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call Back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_ExternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllDetailsPopulatedFromSA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En-Route</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_SendAppointmentURL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_SendAppointmentURL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckIntegrationUserPermissions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_metadata_record_for_SF_And_SAP_Status_Mapping</targetReference>
            </connector>
            <label>Interface toggle is On</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-107</description>
        <name>Check_if_New_or_updated_record</name>
        <label>Check if New or updated record</label>
        <locationX>776</locationX>
        <locationY>2615</locationY>
        <defaultConnector>
            <targetReference>If_Status_Completed_or_Cannot_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>updated record</defaultConnectorLabel>
        <rules>
            <name>New_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewWorkOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tread2_Case_status_Update</targetReference>
            </connector>
            <label>New record</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-8500</description>
        <name>check_if_sitename_update</name>
        <label>check if sitename update</label>
        <locationX>776</locationX>
        <locationY>4715</locationY>
        <defaultConnector>
            <targetReference>Is_It_a_New_Work_Order_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>site_name_changed</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>NewWorkOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_SiteName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bio Resource</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water Non Infra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waste Non Infra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_SA</targetReference>
            </connector>
            <label>site name changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ParentWOUpdateFlag</name>
        <label>Check ParentWOUpdateFlag</label>
        <locationX>237</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Check_if_New_or_updated_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentWOUpdateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Minimum_Crew_Size_on_parent_WO</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_of_Work</name>
        <label>Check Type of Work</label>
        <locationX>776</locationX>
        <locationY>4307</locationY>
        <defaultConnector>
            <targetReference>check_if_sitename_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_TypeofWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewWorkOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_TypeofWork__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Minimum_Crew_Size</name>
        <label>Compare Minimum Crew Size</label>
        <locationX>457</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Loop_Through_Bundle_members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_current_loop_member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MinCrewSize</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Copy_1_of_Loop_Through_Bundle_members.MinimumCrewSize</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minimum_Crew_Size_Assignment</targetReference>
            </connector>
            <label>Less than current loop member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Compare_Minimum_Crew_Size</name>
        <label>Compare Minimum Crew Size</label>
        <locationX>853</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Check_if_New_or_updated_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_parent_bundle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MinimumCrewSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Parent_WO.MinimumCrewSize</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Min_Crew_Size_of_Parent_WO</targetReference>
            </connector>
            <label>Greater than parent bundle</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-1138</description>
        <name>Copy_1_of_Has_BU_changed</name>
        <label>Copy 1 of Has BU changed?</label>
        <locationX>1359</locationX>
        <locationY>5639</locationY>
        <defaultConnector>
            <targetReference>Is_SA_information_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BU not changed</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_BU_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_BusinessUnit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Service_Apointment_Record_Type_Update</targetReference>
            </connector>
            <label>Copy 1 of BU changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-7117</description>
        <name>Copy_1_of_Has_Visiting_Hours_Changed</name>
        <label>Has Visiting Hours Changed?</label>
        <locationX>1161</locationX>
        <locationY>5231</locationY>
        <defaultConnector>
            <targetReference>FSM_IfWorkStepConfigurationDetailsAreUpdated1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Visiting_Hours_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSL__VisitingHours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FSL__VisitingHours__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FSL__VisitingHours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSL__VisitingHours__r.FSM_TMAOperatingHours__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSL__VisitingHours__r.FSM_OperatingHoursNameChange__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Operating_Hours_Name_Change</targetReference>
            </connector>
            <label>Visiting Hours Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_IS_Bundle_members_present</name>
        <label>IS Bundle members present</label>
        <locationX>391</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Check_if_New_or_updated_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_All_bundle_members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Minimum_Crew_Size</targetReference>
            </connector>
            <label>Yes present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as a part of SFS-1293</description>
        <name>FSM_IfWorkStepConfigurationDetailsAreUpdated</name>
        <label>If WorkStep Configuration Details are Updated</label>
        <locationX>391</locationX>
        <locationY>5831</locationY>
        <defaultConnector>
            <targetReference>Is_SA_information_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FSM_IfConfigurationsAreUpdated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MinimumCrewSize</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceTerritoryId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_Suitability__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_StandardTextKey__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_WorkPlanAndWorkStepUpdation</targetReference>
            </connector>
            <label>If Configurations are Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as a part of SFS-1293</description>
        <name>FSM_IfWorkStepConfigurationDetailsAreUpdated1</name>
        <label>If WorkStep Configuration Details are Updated</label>
        <locationX>1161</locationX>
        <locationY>5531</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Has_BU_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FSM_IfConfigurationsAreUpdated1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MinimumCrewSize</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceTerritoryId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_Suitability__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_StandardTextKey__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_WorkPlanAndWorkStepUpdation1</targetReference>
            </connector>
            <label>If Configurations are Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-1138</description>
        <name>Has_BU_changed</name>
        <label>Has BU changed?</label>
        <locationX>391</locationX>
        <locationY>5531</locationY>
        <defaultConnector>
            <targetReference>FSM_IfWorkStepConfigurationDetailsAreUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BU not changed</defaultConnectorLabel>
        <rules>
            <name>BU_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_BusinessUnit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Apointment_Record_Type_Update</targetReference>
            </connector>
            <label>BU changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-7117</description>
        <name>Has_Visiting_Hours_Changed</name>
        <label>Has Visiting Hours Changed?</label>
        <locationX>391</locationX>
        <locationY>5231</locationY>
        <defaultConnector>
            <targetReference>Has_BU_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visiting_Hours_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSL__VisitingHours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FSL__VisitingHours__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FSL__VisitingHours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSL__VisitingHours__r.FSM_TMAOperatingHours__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSL__VisitingHours__r.FSM_OperatingHoursNameChange__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operating_Hours_Name_Change</targetReference>
            </connector>
            <label>Visiting Hours Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-1499</description>
        <name>If_Status_Completed_or_Cannot_Complete</name>
        <label>If Status Completed or Cannot Complete</label>
        <locationX>930</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>IS_WOLI_rollup_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cannot_Complete_Completed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_consumed_WoId</targetReference>
            </connector>
            <label>Cannot Complete/Completed</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-2897</description>
        <name>IS_Bundle_members_present</name>
        <label>IS Bundle members present</label>
        <locationX>622</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Minimum_Crew_Size</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_bundle_members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Bundle_members</targetReference>
            </connector>
            <label>Yes present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-1791</description>
        <name>Is_Custom_Metadata_found</name>
        <label>Is Custom Metadata found</label>
        <locationX>578</locationX>
        <locationY>7139</locationY>
        <defaultConnector>
            <targetReference>Assign_WO_Status_from_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_metadata_record_for_SF_And_SAP_Status_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Status_from_Metadata</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_It_a_New_Work_Order_or_Not</name>
        <label>Is It a New Work Order or Not?</label>
        <locationX>776</locationX>
        <locationY>5015</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Operating_Hours_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_A_New_WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewWorkOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_ExternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Operating_Hours_Record</targetReference>
            </connector>
            <label>Not A New WorkOrder</label>
        </rules>
        <rules>
            <name>New_WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewWorkOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Plan_and_Work_Step_Creation</targetReference>
            </connector>
            <label>New WorkOrder</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-2897</description>
        <name>Is_SA_information_populated</name>
        <label>Is SA information populated</label>
        <locationX>776</locationX>
        <locationY>6215</locationY>
        <defaultConnector>
            <targetReference>Get_Custom_Metadata_record_for_interface_toggle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Yes_SA_Details_populated</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_ScheduledStart__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_ScheduledEnd__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_AssignedResExtID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_ScheduledStart__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_ScheduledEnd__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_AssignedResExtID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Populated</targetReference>
            </connector>
            <label>Yes SA Details populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-107</description>
        <name>IS_WOLI_rollup_updated</name>
        <label>IS WOLI rollup updated</label>
        <locationX>930</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>WO_Bundle_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No rollup updated</defaultConnectorLabel>
        <rules>
            <name>WOLI_rollup_updated_and_match_to_retrigger_SA</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_CountMandatoryNotCompletedWOLIsSche__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_CountMandatoryNotCompletedWOLIsSche__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_CountMandatoryNotCompletedWOLIsSche__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.FSM_CountMandatoryNotCompletedWOLIsSche__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_UpdateSA</targetReference>
            </connector>
            <label>WOLI rollup updated and match to retrigger SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Change_Logic</name>
        <label>Status Change Logic</label>
        <locationX>446</locationX>
        <locationY>3815</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_It_a_New_Work_Order_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Status_In_Progress</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En-Route</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Status_InProgress</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unattended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Status_Closed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-8285</description>
        <name>TMA_Changed_Decision</name>
        <label>TMA Changed?</label>
        <locationX>776</locationX>
        <locationY>6623</locationY>
        <defaultConnector>
            <targetReference>check_if_any_interface_toggle_is_On</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change in TMA</defaultConnectorLabel>
        <rules>
            <name>Yes_TMA_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_TMAPermit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_TMAPermit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TMA_Update_Gantt_Icon</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>As part of user story #SFS-810</description>
        <name>Tread2_Case_status_Update</name>
        <label>Tread2: Case status Update</label>
        <locationX>776</locationX>
        <locationY>3707</locationY>
        <defaultConnector>
            <targetReference>Check_Type_of_Work</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed_OR_New</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewWorkOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Change_Logic</targetReference>
            </connector>
            <label>Changed_OR_New</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-2897</description>
        <name>Update_Child_Bundle_Members</name>
        <label>Update Child Bundle Members</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Minimum_Crew_Size</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Bundle_Status_changed_to_scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_Bundle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_AssignedResExtID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.FSM_AssignedResExtID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_bundle_members</targetReference>
            </connector>
            <label>Parent Bundle Status changed to scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-8511</description>
        <name>Update_Minimum_Crew_Size</name>
        <label>Update Minimum Crew Size</label>
        <locationX>776</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Check_if_New_or_updated_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Bundle_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_Bundle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_All_bundle_members</targetReference>
            </connector>
            <label>New Bundle Record</label>
        </rules>
        <rules>
            <name>Minimum_Crew_Size_updated_for_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_Bundle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MinimumCrewSize</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MinimumCrewSize</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_WO</targetReference>
            </connector>
            <label>Minimum Crew Size updated for Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Bundle_Status</name>
        <label>WO Bundle Status</label>
        <locationX>930</locationX>
        <locationY>3323</locationY>
        <defaultConnector>
            <targetReference>Tread2_Case_status_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Bundle_Status_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrder.FSM_Bundle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bundle_WO</targetReference>
            </connector>
            <label>WO Bundle Status Update</label>
        </rules>
    </decisions>
    <description>Created As part of SFS-33
Updated As part of SFS-107/SFS 110
Updated as part of SFS-810
updated as a part of SFI-266 (Interface toggle on/off)
Updated as a part of SFS-1298(Configuration Changes of WorkSteps)
Updated as a part of SFI-36
Updated as a part of SFS-2233
Updated as a part of SFS-1138
Updated As part of SFI-694
Updated As part of SFI-730
Updated As part of SFI-1499
Updated As part of SFI-1718
Updated As part of SFI-1927
Updated As part of SFI-1791
Updated As part of SFI-2290
Updated As part of sfi-2235
Updated As part of SFI-2583
Updated as part of SFS-7117
Updated as part of SFS-2742
Updated as part of SFI-2779
Updated as part of SFI-2897
Updated as part of SFS-7206
Updated as part of SFI-2961
Updated as part of SFS-8285
updated as part of SFS-8498
Updated as part of SFS-8500
Updated as part of SFS-8511
Updated as part of SFS-8752 to add entry condition for the flow</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckIntegrationUserPermissions</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Permission.FSM_Integration},true,false)</expression>
    </formulas>
    <formulas>
        <name>NewWorkOrder</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>WorkOrder - afterTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Work Order AfterTrigger</label>
    <loops>
        <name>Copy_1_of_Loop_Through_Bundle_members</name>
        <label>Loop Through Bundle members</label>
        <locationX>237</locationX>
        <locationY>1655</locationY>
        <collectionReference>Copy_1_of_Get_All_bundle_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_Minimum_Crew_Size</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_ParentWOUpdateFlag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>SFI-2897</description>
        <name>Loop_Through_Bundle_members</name>
        <label>Loop Through Bundle members</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_All_bundle_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Bundle_membres</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Bundle_members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_All_bundle_members</name>
        <label>Get All bundle members</label>
        <locationX>391</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_IS_Bundle_members_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentWorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-7117</description>
        <name>Copy_1_of_Get_Operating_Hours_Record</name>
        <label>Get Operating Hours Record</label>
        <locationX>1161</locationX>
        <locationY>5123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Has_Visiting_Hours_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSL__VisitingHours__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OperatingHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFI-2897</description>
        <name>Get_All_bundle_members</name>
        <label>Get All bundle members</label>
        <locationX>622</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_Bundle_members_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentWorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>metadata record fetch for interface toggle on/off SFI-266</description>
        <name>Get_Custom_Metadata_record_for_interface_toggle</name>
        <label>Get Custom Metadata record for interface toggle</label>
        <locationX>776</locationX>
        <locationY>6515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TMA_Changed_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_InterfaceAPIName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_SendWorkOrderUpdates__e</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_InterfaceToggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFI-1791</description>
        <name>Get_Custom_metadata_record_for_SF_And_SAP_Status_Mapping</name>
        <label>Get Custom metadata record for SF And SAP Status Mapping</label>
        <locationX>578</locationX>
        <locationY>7031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Custom_Metadata_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_WOStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFAndSAPStatusMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-7117</description>
        <name>Get_Operating_Hours_Record</name>
        <label>Get Operating Hours Record</label>
        <locationX>391</locationX>
        <locationY>5123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Visiting_Hours_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSL__VisitingHours__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OperatingHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_WO</name>
        <label>Get Parent WO</label>
        <locationX>853</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Compare_Minimum_Crew_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentWorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>644</locationX>
        <locationY>4415</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Site_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>FSM_ContactName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>SFI-2897</description>
        <name>Update_Bundle_members</name>
        <label>Update Bundle members</label>
        <locationX>490</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Minimum_Crew_Size</targetReference>
        </connector>
        <inputReference>CollectAllBundleWO</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Min_Crew_Size_of_Parent_WO</name>
        <label>Update Min Crew Size of Parent WO</label>
        <locationX>721</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Check_if_New_or_updated_record</targetReference>
        </connector>
        <inputAssignments>
            <field>MinimumCrewSize</field>
            <value>
                <elementReference>$Record.MinimumCrewSize</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ParentWorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Minimum_Crew_Size_on_parent_WO</name>
        <label>Update Minimum Crew Size on parent WO</label>
        <locationX>105</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Check_if_New_or_updated_record</targetReference>
        </connector>
        <inputAssignments>
            <field>MinimumCrewSize</field>
            <value>
                <elementReference>MinCrewSize</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>SFS-8500</description>
        <name>Update_related_SA</name>
        <label>Update related  SA</label>
        <locationX>644</locationX>
        <locationY>4823</locationY>
        <connector>
            <targetReference>Is_It_a_New_Work_Order_or_Not</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__GanttLabel__c</field>
            <value>
                <elementReference>$Record.FSM_SiteName__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ServiceAppointments</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Site_Name</name>
        <label>Update Site Name</label>
        <locationX>644</locationX>
        <locationY>4523</locationY>
        <connector>
            <targetReference>check_if_sitename_update</targetReference>
        </connector>
        <inputAssignments>
            <field>FSM_SiteName__c</field>
            <value>
                <elementReference>ContactName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Child_Bundle_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_IsTemporaryRecord__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>SFS-7117</description>
        <name>Copy_1_of_Operating_Hours_Name_Change</name>
        <label>Operating Hours Name Change</label>
        <locationX>1029</locationX>
        <locationY>5339</locationY>
        <connector>
            <targetReference>FSM_IfWorkStepConfigurationDetailsAreUpdated1</targetReference>
        </connector>
        <flowName>FSM_OperatingHourNameChange</flowName>
        <inputAssignments>
            <name>OperatingHourId</name>
            <value>
                <elementReference>$Record.FSL__VisitingHours__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WOId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Created as part of SFS-1138</description>
        <name>Copy_1_of_Service_Apointment_Record_Type_Update</name>
        <label>Copy 1 of Service Apointment Record Type Update</label>
        <locationX>1227</locationX>
        <locationY>5747</locationY>
        <connector>
            <targetReference>Is_SA_information_populated</targetReference>
        </connector>
        <flowName>FSM_ServiceAppointment_Update_after_Work_Order_BU_change</flowName>
        <inputAssignments>
            <name>WorkOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Created as a part of SFS-2233</description>
        <name>FSM_UpdateSA</name>
        <label>Update SA</label>
        <locationX>798</locationX>
        <locationY>3131</locationY>
        <connector>
            <targetReference>WO_Bundle_Status</targetReference>
        </connector>
        <flowName>FSM_ServiceAppointmentSubFlowUpdateSAonWOLIUpdate</flowName>
        <inputAssignments>
            <name>WorkOrderID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-33</description>
        <name>FSM_WorkPlanAndWorkStepUpdation</name>
        <label>Work Plan and Work Step Updation</label>
        <locationX>259</locationX>
        <locationY>5939</locationY>
        <connector>
            <targetReference>Is_SA_information_populated</targetReference>
        </connector>
        <flowName>FSM_WorkPlanAssignment</flowName>
        <inputAssignments>
            <name>IsNewWorkOrder</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderRecordType</name>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-33</description>
        <name>FSM_WorkPlanAndWorkStepUpdation1</name>
        <label>Work Plan and Work Step Updation</label>
        <locationX>963</locationX>
        <locationY>5639</locationY>
        <connector>
            <targetReference>Is_SA_information_populated</targetReference>
        </connector>
        <flowName>FSM_WorkPlanAssignment</flowName>
        <inputAssignments>
            <name>IsNewWorkOrder</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderRecordType</name>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-7117</description>
        <name>Operating_Hours_Name_Change</name>
        <label>Operating Hours Name Change</label>
        <locationX>259</locationX>
        <locationY>5339</locationY>
        <connector>
            <targetReference>Has_BU_changed</targetReference>
        </connector>
        <flowName>FSM_OperatingHourNameChange</flowName>
        <inputAssignments>
            <name>OperatingHourId</name>
            <value>
                <elementReference>$Record.FSL__VisitingHours__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WOId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFI-1499</description>
        <name>Product_consumed_WoId</name>
        <label>Product consumed WoId</label>
        <locationX>798</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>IS_WOLI_rollup_updated</targetReference>
        </connector>
        <flowName>FSM_ProductConsumedPlatformEvents</flowName>
        <inputAssignments>
            <name>WORecordInput</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Created as part of SFS-1138</description>
        <name>Service_Apointment_Record_Type_Update</name>
        <label>Service Apointment Record Type Update</label>
        <locationX>259</locationX>
        <locationY>5639</locationY>
        <connector>
            <targetReference>FSM_IfWorkStepConfigurationDetailsAreUpdated</targetReference>
        </connector>
        <flowName>FSM_ServiceAppointment_Update_after_Work_Order_BU_change</flowName>
        <inputAssignments>
            <name>WorkOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Called to set/reset the Gantt Label and Icon when TMA is updated</description>
        <name>TMA_Update_Gantt_Icon</name>
        <label>Update Gantt Icon</label>
        <locationX>644</locationX>
        <locationY>6731</locationY>
        <connector>
            <targetReference>check_if_any_interface_toggle_is_On</targetReference>
        </connector>
        <flowName>FSM_ServiceAppointmentTMASubFlowUpdateGant_Icon</flowName>
        <inputAssignments>
            <name>TMAPermitID</name>
            <value>
                <elementReference>$Record.FSM_TMAPermit__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Bundle_WO</name>
        <label>Update Bundle WO</label>
        <locationX>798</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>Tread2_Case_status_Update</targetReference>
        </connector>
        <flowName>FSM_Work_Order_SubFlow_Update_Bundle_WO_Status</flowName>
        <inputAssignments>
            <name>BundleWorkOrderId</name>
            <value>
                <elementReference>$Record.ParentWorkOrderId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>As part of user story #SFS-810</description>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>446</locationX>
        <locationY>4115</locationY>
        <connector>
            <targetReference>Check_Type_of_Work</targetReference>
        </connector>
        <flowName>FSM_WorkOrderSubflowUpdateCaseStatus</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentCaseStatus</name>
            <value>
                <elementReference>$Record.Case.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCaseStatusFuture</name>
            <value>
                <elementReference>vCaseStatusFuture</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-33</description>
        <name>Work_Plan_and_Work_Step_Creation</name>
        <label>Work Plan and Work Step Creation</label>
        <locationX>699</locationX>
        <locationY>5123</locationY>
        <connector>
            <targetReference>Is_SA_information_populated</targetReference>
        </connector>
        <flowName>FSM_WorkPlanAssignment</flowName>
        <inputAssignments>
            <name>IsNewWorkOrder</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderRecordType</name>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Updated as part of SFI-36
Updated as part of SFI-2961</description>
        <name>WorkOrder_Platform_Record</name>
        <label>WorkOrder Platform Record</label>
        <locationX>578</locationX>
        <locationY>7439</locationY>
        <flowName>WorkOrder_Subflow_Create_Platform_Event_Record</flowName>
        <inputAssignments>
            <name>FSM_WorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OperationNumber</name>
            <value>
                <elementReference>$Record.FSM_OperationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RejectReason</name>
            <value>
                <elementReference>$Record.FSM_RejectReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SAPExternalId</name>
            <value>
                <elementReference>$Record.FSM_ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SAPUserID</name>
            <value>
                <elementReference>$User.FSM_ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScheduledEnd</name>
            <value>
                <elementReference>$Record.FSM_ScheduledEnd__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScheduledSatrt</name>
            <value>
                <elementReference>$Record.FSM_ScheduledStart__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceExternalID</name>
            <value>
                <elementReference>$Record.FSM_AssignedResExtID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <elementReference>WorkOrderStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SuspendReason</name>
            <value>
                <elementReference>$Record.FSM_SuspendReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderNumber</name>
            <value>
                <elementReference>$Record.FSM_OrderNumber__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>SFI-2897</description>
        <name>AllDetailsPopulatedFromSA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>SFI-2897</description>
        <name>CollectAllBundleWO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MinCrewSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ParentWOUpdateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-33</description>
        <name>RecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SFS-107</description>
        <name>ServiceAppCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCaseStatusFuture</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SFI-1791</description>
        <name>WorkOrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
