force-app/main/default/flows/FSM_Meter_FWR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Id</name>
        <label>Assign Id</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Desktop_Metering_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Serial_Number</name>
        <label>Assign Meter Serial Number</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_Meter_Form_Screen_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Serial_Number1</name>
        <label>Assign Meter Serial Number</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Number1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_Meter_Form_Screen_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_fields_of_DCF_Infra</name>
        <label>Assign values to fields of DCF Infra</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_FormType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Metering Follow on Work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ThisProperty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>This_Property</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_EngineersRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Engineers_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MTRFWRTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Work_type_Code_group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MTRFWRJobType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Type_Work_type_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ToBeAssingedToUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_to_be_assigned_to_myself</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Detailed_Job_Instructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_OwnersName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Property_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Number_Sort_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_PostCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_DCF_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error occured while creating dcf infra record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Occurred</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Property</name>
        <label>Check for Property</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Address_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>This_Property</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_initiated_from_Mobile_or_Desktop</name>
        <label>Check if initiated from Mobile or Desktop</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Id</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <description>Mobile flow for FSM Meter FWR. Created as part of SFS-3084
Updated as a part of SFS-7916</description>
    <dynamicChoiceSets>
        <name>JobType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MTRFWRJobType__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Task</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MTRFWRTask__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ThisProperty</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ThisProperty__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>FlocDescriptionCondition</name>
        <dataType>String</dataType>
        <expression>if({!This_Property}=&apos;Yes&apos; , &apos;FLOC : &apos; + {!flocdescription}, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>FSM Meter FWR {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FSM Meter FWR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_DCF_record</name>
        <label>Create DCF record</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>varDCFRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FSM_Meter_For_Screen_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserIdFinal</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_Floc__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Address_Screen</name>
        <label>Address Screen</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Meter_Serial_Number1</targetReference>
        </connector>
        <fields>
            <name>Owner_Name</name>
            <dataType>String</dataType>
            <fieldText>Owner Name​</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 12, 12);&quot;&gt;Owner Name should be within 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Owner_Name}) &lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Property_Number_Sort_Field</name>
            <dataType>Number</dataType>
            <fieldText>Property Number​ / Sort Field​</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 8, 8);&quot;&gt;Property Number/ Sort Field should be within 18 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Property_Number_Sort_Field} &lt;= 18</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Address</name>
            <dataType>String</dataType>
            <fieldText>Address​</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(241, 9, 9);&quot;&gt;Address should be within 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Address}) &lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City​</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(237, 9, 9);&quot;&gt;City should be within 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!City}) &lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Post_Code</name>
            <dataType>String</dataType>
            <fieldText>Post Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 10, 10);&quot;&gt;Post Code should be within 9 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Post_Code}) &lt;= 9</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Meter_Number1</name>
            <dataType>String</dataType>
            <fieldText>Meter Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 10, 10);&quot;&gt;Meter Number should be within 12 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Meter_Number1}) &lt;=12</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Desktop_Metering_Message</name>
        <label>Display Desktop Message</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;To complete the Metering Follow on Work, please click on &apos;Metering Follow on Work&apos; action.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Occurred</name>
        <label>Error Occurred</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;An error occurred while creating DCF Infra record, please contact system admin&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Error message&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Metering Create Job / Further Work Request​</description>
        <name>FSM_Meter_For_Screen_2</name>
        <label>FSM Meter For Screen 2</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_for_Property</targetReference>
        </connector>
        <fields>
            <name>Task_Work_type_Code_group</name>
            <choiceReferences>Task</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Task (Work type Code group)​</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayTaskHelpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;ℹ️&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-family: sans-serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: black; font-family: sans-serif; font-size: 8pt;&quot;&gt;​&lt;/span&gt;&lt;span style=&quot;color: black; font-family: sans-serif; font-size: 12px;&quot;&gt;Select the overall type of work you want to raise. The choice you make here will determine what job you can pick.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Job_Type_Work_type_code</name>
            <choiceReferences>JobType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Job Type (Work type code)​</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayJobTypeHelpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;ℹ️&lt;/span&gt;&lt;span style=&quot;color: black; font-size: 12px; font-family: sans-serif;&quot;&gt;​Please select the type of you need to be carried out.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>This_Property</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>This Property?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Request_to_be_assigned_to_myself</name>
            <dataType>Boolean</dataType>
            <fieldText>Request to be assigned to myself​</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FSM_Meter_Form_Screen_3</name>
        <label>FSM Meter Form Screen 3</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_fields_of_DCF_Infra</targetReference>
        </connector>
        <fields>
            <name>Engineers_Required</name>
            <dataType>Number</dataType>
            <fieldText>Engineers Required</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 6, 6);&quot;&gt;Engineers Required should be within 18 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Engineers_Required} &lt;= 999999999999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Summary</name>
            <dataType>String</dataType>
            <fieldText>Summary</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 11pt;&quot;&gt;One liner to summarise what needs doing e.g. Supply Check&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 12, 12);&quot;&gt;Summary should be within 250 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Summary}) &lt;=250</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Detailed_Job_Instructions</name>
            <fieldText>Detailed Job Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 11pt;&quot;&gt;​Details including reason for the job, what needs to be done, any other information that may be relevant such as customer contact details.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(241, 6, 6);&quot;&gt;Detailed Job Instructions should be within 500 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Detailed_Job_Instructions}) &lt;= 500</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Meter_Serial_Number</targetReference>
        </connector>
        <fields>
            <name>FLOC</name>
            <fieldText>&lt;p&gt;{!WorkOrder.FSM_Floc__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Number</name>
            <dataType>String</dataType>
            <fieldText>Meter Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 8, 8);&quot;&gt;Meter Number should be within 12 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Meter_Number})&lt;=12</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_initiated_from_Mobile_or_Desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flocdescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
