force-app/main/default/flows/FSM_DataCaptureFormNonInfraAfterTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>SFI-35</description>
        <name>DCFJsonGenerator</name>
        <label>DCFJsonGenerator</label>
        <locationX>182</locationX>
        <locationY>2579</locationY>
        <actionName>FSM_DCFJsonGenerator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dcfNonInfraRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>FSM_DataCaptureFormNonInfra__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sapUserID</name>
            <value>
                <elementReference>Get_sap_user_id.FSM_ExternalId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResourceID</name>
            <value>
                <elementReference>$Record.FSM_ServiceResource__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResourceRecord</name>
            <value>
                <elementReference>Get_Service_resource_record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceTerritoryID</name>
            <value>
                <elementReference>$Record.FSM_ServiceTerritory__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceTerritoryRecord</name>
            <value>
                <elementReference>Get_Service_Territory_record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderId</name>
            <value>
                <elementReference>$Record.FSM_WorkOrder__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderRecord</name>
            <value>
                <elementReference>Get_Workorder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSM_DCFJsonGenerator</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>SFI-35</description>
        <name>Check_for_record_share_based_on_territory</name>
        <label>Check for record share based on territory</label>
        <locationX>545</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Toggle_logic_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Can&apos;t or won&apos;t share</defaultConnectorLabel>
        <rules>
            <name>Yes_Share</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_ServiceTerritory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Relevant_Public_Group_based_on_ST</targetReference>
            </connector>
            <label>Yes Share</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-35</description>
        <name>Do_need_to_call_Platform_Event</name>
        <label>Do need to call Platform Event?</label>
        <locationX>545</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>No need to Call</defaultConnectorLabel>
        <rules>
            <name>Yes_call_PE</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.FSM_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Toggle_logic_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_metadata_record</targetReference>
            </connector>
            <label>Yes call PE</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-35</description>
        <name>Is_Public_group_available</name>
        <label>Is Public group available</label>
        <locationX>391</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Get_Toggle_logic_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Public Group</defaultConnectorLabel>
        <rules>
            <name>Yes_PG_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Relevant_Public_Group_based_on_ST</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record_Sharing</targetReference>
            </connector>
            <label>Yes PG present</label>
        </rules>
    </decisions>
    <decisions>
        <description>sfi-35</description>
        <name>Record_are_found</name>
        <label>Record are found ?</label>
        <locationX>336</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>No records</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_metadata_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkOrder_is_there</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>sfi-35</description>
        <name>Service_resource_is_there</name>
        <label>Service resource is there ?</label>
        <locationX>182</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Service_territory_is_there</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SR missing</defaultConnectorLabel>
        <rules>
            <name>Is_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_ServiceResource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_resource_record</targetReference>
            </connector>
            <label>Is there</label>
        </rules>
    </decisions>
    <decisions>
        <description>sfi-35</description>
        <name>Service_territory_is_there</name>
        <label>Service territory is there ?</label>
        <locationX>182</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Get_sap_user_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ST missing</defaultConnectorLabel>
        <rules>
            <name>territory_Is_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_ServiceTerritory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Territory_record</targetReference>
            </connector>
            <label>territory Is there</label>
        </rules>
    </decisions>
    <decisions>
        <name>WorkOrder_is_there</name>
        <label>WorkOrder is there ?</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Service_resource_is_there</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WO missing</defaultConnectorLabel>
        <rules>
            <name>Workorder_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_WorkOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Workorder</targetReference>
            </connector>
            <label>Workorder exists</label>
        </rules>
    </decisions>
    <description>Created As part of SFI-35
Updated as fix of SFS-2811 and SFS-2819
updated for sfi-1724
Updated As part of SFI-2041</description>
    <environments>Default</environments>
    <formulas>
        <description>SFI-35</description>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>SFI-35</description>
        <name>ServiceTerritoryPublicGroupNameFormat</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.FSM_ServiceTerritory__r.Name}, 40)</expression>
    </formulas>
    <interviewLabel>DataCaptureFormNonInfra-AfterTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DataCaptureFormNonInfra-AfterTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>SFI-35</description>
        <name>Create_Record_Sharing</name>
        <label>Create Record Sharing</label>
        <locationX>259</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Toggle_logic_check</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_Relevant_Public_Group_based_on_ST.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormNonInfra__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>sfi-35
Updated SFI-2041</description>
        <name>Get_Custom_metadata_record</name>
        <label>Get Custom metadata record</label>
        <locationX>336</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_are_found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_ObjectAPIName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_DataCaptureFormNonInfra__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_ObjectAPIName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_DataCaptureFormLineItemNonInfras__r</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_FormName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_DCFFormFieldMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFI-35</description>
        <name>Get_Relevant_Public_Group_based_on_ST</name>
        <label>Get Relevant Public Group based on ST</label>
        <locationX>391</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Public_group_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTerritoryPublicGroupNameFormat</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>sfi-1724</description>
        <name>Get_sap_user_id</name>
        <label>Get sap user id</label>
        <locationX>182</locationX>
        <locationY>2471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DCFJsonGenerator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_ExternalId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_resource_record</name>
        <label>Get Service resource record</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_territory_is_there</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSM_ServiceResource__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_record</name>
        <label>Get Service Territory record</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_sap_user_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSM_ServiceTerritory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Toggle_logic_check</name>
        <label>Get Toggle logic check</label>
        <locationX>545</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_need_to_call_Platform_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_InterfaceAPIName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_SendDCFUpdates__e</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_InterfaceToggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Workorder</name>
        <label>Get Workorder</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_resource_is_there</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSM_WorkOrder__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>As a fix of SFS-2811 and SFS-2819</description>
        <name>Service_Report_Layout</name>
        <label>Service Report Layout</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Service_Report_On_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSM_FormType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceReportLayout</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>As a fix of SFS-2811 and SFS-2819</description>
        <name>Update_Service_Report_On_WO</name>
        <label>Update Service Report On WO</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_for_record_share_based_on_territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSM_WorkOrder__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <elementReference>Service_Report_Layout.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Report_Layout</targetReference>
        </connector>
        <object>FSM_DataCaptureFormNonInfra__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
