force-app/main/default/flows/FSM_DataCaptureFormJobCompletionWaterNetworks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_Log_call</name>
        <label>Error Log call</label>
        <locationX>3062</locationX>
        <locationY>7820</locationY>
        <actionName>ErrorLog_Subflow_Create_Record</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FSM_ExternalId</name>
            <value>
                <elementReference>myWorkOrder.FSM_ExternalId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>Data Capture Form: Job Completion - (Water Networks)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLog_Subflow_Create_Record</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign2ndOperative</name>
        <label>Assign2ndOperative</label>
        <locationX>1282</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>secondOperativeNameVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSCMrecord.FSM_ServiceCrewName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondOperativeNameVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> , </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Second_Operative_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-5317</description>
        <name>Assign_condition_of_Post_work</name>
        <label>Assign condition of Post work</label>
        <locationX>2666</locationX>
        <locationY>4418</locationY>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_ReinstatementNRTMAOffhired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_reinstatement_is_not_required_does_TMA_need_to_be_off_hired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_JCConsequentialDamage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consequential_damage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consequential_Damage_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-3434</description>
        <name>Assign_ContentDocumentId_Var</name>
        <label>Assign ContentDocumentId Var</label>
        <locationX>2512</locationX>
        <locationY>6830</locationY>
        <assignmentItems>
            <assignToReference>BBfilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedBBFileNamesVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedMainPhotoFileNamesVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrenchFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedTrenchPhotosVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OdourFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedOdourPhotoFileNamesVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChlorineFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedChlorinePhotoFileNamesVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PressureLoggerFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedPressureLoggerPhotoFileNamesVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowReadingFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedFlowReadingPhotoFileNamesVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_File_Uploaded_Or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5314</description>
        <name>Assign_Post_Work_2</name>
        <label>Assign Photo of damage</label>
        <locationX>2490</locationX>
        <locationY>4742</locationY>
        <assignmentItems>
            <assignToReference>numberOfFilesOfPhotoDamage</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedPhotosOfDamageVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>photo_of_damage_uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-5317</description>
        <name>Assign_Post_Work_Var</name>
        <label>Assign Post Work Var</label>
        <locationX>2391</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>RepairRenewInstallFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedRepairRenewInstallPhotosVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReinLevelFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedReinLevelPhotosVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLFFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedSLFPhotosVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExcavationFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedExcavationPhotosVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_work_check_If_File_Uploaded_Or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-3434</description>
        <name>Assign_Pre_Site_Var</name>
        <label>Assign Pre Site Var</label>
        <locationX>1855</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>PreSiteFilesUploaded</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedPreSiteSetUpPhotosVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Pre_site_File_Uploaded_Or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-3434</description>
        <name>Assign_Site_Setup_Var</name>
        <label>Assign Site Setup Var</label>
        <locationX>2122</locationX>
        <locationY>3770</locationY>
        <assignmentItems>
            <assignToReference>SLGFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedSLGPhotosVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpstreamFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedUpstreamPhotosVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DownstreamFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedDownstreamPhotosVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingAssetFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedExistingAssetPhotos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitBoardFilesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedPermitBoardPhotosVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Site_set_up_and_Cleanliness_check_If_File_Uploaded_Or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5317</description>
        <name>Assignment_Jet_wash_and_Road_Sweep</name>
        <label>Assignment Jet wash and Road Sweep</label>
        <locationX>2666</locationX>
        <locationY>5408</locationY>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_JCJetWWashRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_a_jet_wash_required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_JCRoadsweepRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_a_road_sweep_required</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jet_wash_or_Road_sweep_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5317</description>
        <name>Assignment_of_developer_services</name>
        <label>Assignment of  developer services</label>
        <locationX>2666</locationX>
        <locationY>6398</locationY>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_JCDeveloperServices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Developer_services1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Developer_services_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5314</description>
        <name>Assignment_Of_Developer_Services_Screen</name>
        <label>Assignment Of Developer Services Screen</label>
        <locationX>2512</locationX>
        <locationY>6722</locationY>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_JCOdour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Odour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_JCPressureReading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pressure_reading_mhd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_JCFlowReading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_reading_lpm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_JCChlorineReading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chlorine_reading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ContentDocumentId_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>created as part of SFS-5317</description>
        <name>Assignment_of_photo_of_mess</name>
        <label>Assignment of photo of mess</label>
        <locationX>2490</locationX>
        <locationY>5732</locationY>
        <assignmentItems>
            <assignToReference>numberOfFilesMess</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedMessFileVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>mess_photo_uploaded_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dcf_Assignment</name>
        <label>Dcf Assignment</label>
        <locationX>2666</locationX>
        <locationY>7388</locationY>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_JCFormFinished__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myWorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_PostCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myWorkOrder.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myWorkOrder.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myWorkOrder.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_JCFormStarted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_NameCompletedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myUser.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_PostCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myWorkOrder.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_LeadUserName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSCMLeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFRecordVar.FSM_2ndOperative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondOperativeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkStep_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Desktop_assignment</name>
        <label>Desktop assignment</label>
        <locationX>765</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_User_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mobile_values_assignment</name>
        <label>Mobile values  assignment</label>
        <locationX>501</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_User_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as part of SFS-6540</description>
        <name>Second_Operative_Assign</name>
        <label>Second Operative Assign</label>
        <locationX>1194</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>secondOperativeNameVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondOperativeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_St</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>JCNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>JCYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>wsNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>wsYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Confirmation_Message_to_Complete_Form_Again</name>
        <label>Check Confirmation Message to Complete Form Again</label>
        <locationX>1679</locationX>
        <locationY>2438</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>wsYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Job_Completion_Form</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-5314</description>
        <name>Check_if_any_Form_is_already_exist</name>
        <label>Check if any Form is already exist?</label>
        <locationX>1855</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>DCF_record_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingDCFRecordVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_site_set_Up</targetReference>
            </connector>
            <label>Yes Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-3434</description>
        <name>Check_If_File_Uploaded_Or_Not</name>
        <label>Check If File Uploaded Or Not</label>
        <locationX>2512</locationX>
        <locationY>6938</locationY>
        <defaultConnector>
            <targetReference>Dcf_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Uploaded</defaultConnectorLabel>
        <rules>
            <name>File_Not_Uploaded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BBfilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MainFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrenchFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OdourFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChlorineFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PressureLoggerFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowReadingFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_File_Not_Uploaded_Message_Screen</targetReference>
            </connector>
            <label>File Not Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-3434</description>
        <name>Check_If_Pre_site_File_Uploaded_Or_Not</name>
        <label>Check If Pre site File Uploaded Or Not</label>
        <locationX>1855</locationX>
        <locationY>3554</locationY>
        <defaultConnector>
            <targetReference>Site_set_up_Cleanliness</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Uploaded</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_File_Not_Uploaded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PreSiteFilesUploaded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Display_File_Not_Uploaded_Message_Screen</targetReference>
            </connector>
            <label>Pre site File Not Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-6540</description>
        <name>Check_Service_Appointment_Status</name>
        <label>Check Service Appointment Status</label>
        <locationX>1216</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Crew_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Completed_Cannot_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SAstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Completed / Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WorkStep_Status</name>
        <label>Check WorkStep Status</label>
        <locationX>1855</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Job_Completion_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWorkStep.FSM_IsCompleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkStep_Complete_Confirmation</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consequential_Damage_Check</name>
        <label>Consequential Damage Check</label>
        <locationX>2666</locationX>
        <locationY>4526</locationY>
        <defaultConnector>
            <targetReference>Jet_wash_or_Road_Sweep_is_required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consequential_damage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JCYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Photo_of_damage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Add_photo_of_site_set_up_downstream</name>
        <label>Check Add photo of permit board</label>
        <locationX>2666</locationX>
        <locationY>11312</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Add_photo_of_permit_board</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_If_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedPermitBoardPhotosVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_File_Rename</targetReference>
            </connector>
            <label>If present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Check_Add_photo_of_permit_board</name>
        <label>Check Photo of existing asset on exposure</label>
        <locationX>2666</locationX>
        <locationY>11612</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Photo_of_existing_asset_on_exposure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_If_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedExistingAssetPhotos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_File_Rename</targetReference>
            </connector>
            <label>If present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Check_Add_photo_of_site_set_up_SLG</name>
        <label>Check Add photo of site set up – upstream</label>
        <locationX>2666</locationX>
        <locationY>10712</locationY>
        <defaultConnector>
            <targetReference>Decision_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedUpstreamPhotosVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_File_Rename</targetReference>
            </connector>
            <label>If Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Check_Photo_of_any_mess_left</name>
        <label>Check Photo of point of connection (BB)</label>
        <locationX>2666</locationX>
        <locationY>9512</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Photo_of_damage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_9_of_if_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedBBFileNamesVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_File_Rename</targetReference>
            </connector>
            <label>if present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Check_Photo_of_damage</name>
        <label>Check Photo of any mess left</label>
        <locationX>2666</locationX>
        <locationY>9812</locationY>
        <defaultConnector>
            <targetReference>Decision_18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_f_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedMessFileVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_File_Rename</targetReference>
            </connector>
            <label>if present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Check_Photo_of_excavation_with_measuring_sticks</name>
        <label>Check Photo of damage</label>
        <locationX>2666</locationX>
        <locationY>13112</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_8_of_If_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedExcavationPhotosVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_File_Rename</targetReference>
            </connector>
            <label>f present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Check_Photo_of_existing_asset_on_exposure</name>
        <label>Check Photo of repair / renew / install</label>
        <locationX>2666</locationX>
        <locationY>11912</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Photo_of_repair_renew_install</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_If_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedRepairRenewInstallPhotosVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_File_Rename</targetReference>
            </connector>
            <label>If present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Check_Photo_of_repair_renew_install</name>
        <label>Check Photo to show rein is level &amp; asset is below level of footpath</label>
        <locationX>2666</locationX>
        <locationY>12212</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Photo_to_show_rein_is_level_asset_is_below_level_of_footpath</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_If_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedReinLevelPhotosVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_File_Rename</targetReference>
            </connector>
            <label>If present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Check_Photo_to_confirm_SLF_set_up_on_completion_of_work</name>
        <label>Check Photo of excavation with measuring sticks</label>
        <locationX>2666</locationX>
        <locationY>12812</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Photo_of_excavation_with_measuring_sticks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_If_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedExcavationPhotosVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_File_Rename</targetReference>
            </connector>
            <label>If present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Check_Photo_to_show_rein_is_level_asset_is_below_level_of_footpath</name>
        <label>Check Photo to confirm SLF set up on completion of work</label>
        <locationX>2666</locationX>
        <locationY>12512</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Photo_to_confirm_SLF_set_up_on_completion_of_work</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_If_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedSLFPhotosVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_File_Rename</targetReference>
            </connector>
            <label>If present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</name>
        <label>Check Photo of point of connection (Main)</label>
        <locationX>2666</locationX>
        <locationY>9212</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_9_of_if_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedMainPhotoFileNamesVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_11_of_File_Rename</targetReference>
            </connector>
            <label>if present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</name>
        <label>Check Photo of rein connection (trench)</label>
        <locationX>2666</locationX>
        <locationY>8912</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Copy_9_of_if_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedTrenchPhotosVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_11_of_File_Rename</targetReference>
            </connector>
            <label>if present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</name>
        <label>Check Odour sample bottle</label>
        <locationX>2666</locationX>
        <locationY>8612</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_1_of_Copy_9_of_if_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedOdourPhotoFileNamesVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_11_of_File_Rename</targetReference>
            </connector>
            <label>if present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_3_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</name>
        <label>Check Photo of chlorine reading</label>
        <locationX>2666</locationX>
        <locationY>7712</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Copy_1_of_Copy_9_of_if_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedChlorinePhotoFileNamesVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Copy_11_of_File_Rename</targetReference>
            </connector>
            <label>if present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_4_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</name>
        <label>Check Photo of pressure logger &amp; reading</label>
        <locationX>2666</locationX>
        <locationY>8012</locationY>
        <defaultConnector>
            <targetReference>Copy_5_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Copy_1_of_Copy_9_of_if_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedPressureLoggerPhotoFileNamesVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_1_of_Copy_11_of_File_Rename</targetReference>
            </connector>
            <label>if present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Copy_5_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</name>
        <label>Check Photo evidence of flow reading</label>
        <locationX>2666</locationX>
        <locationY>8312</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Copy_1_of_Copy_9_of_if_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedFlowReadingPhotoFileNamesVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Copy_1_of_Copy_11_of_File_Rename</targetReference>
            </connector>
            <label>if present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crew_Check</name>
        <label>Crew Check</label>
        <locationX>1590</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Get_St</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crew_is_there</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myServiceResource.ServiceCrewId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Crew_Leader</targetReference>
            </connector>
            <label>Crew is there</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Decision_18</name>
        <label>Check Add photo of site set up – existing damage on customers property / boundary / highway</label>
        <locationX>2666</locationX>
        <locationY>10112</locationY>
        <defaultConnector>
            <targetReference>Decision_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedPreSiteSetUpPhotosVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_FileNameAutoRename_Mobile</targetReference>
            </connector>
            <label>If present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Decision_19</name>
        <label>Check Add photo of site set up – SLG</label>
        <locationX>2666</locationX>
        <locationY>10412</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Add_photo_of_site_set_up_SLG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedSLGPhotosVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Rename</targetReference>
            </connector>
            <label>If Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6639</description>
        <name>Decision_21</name>
        <label>Add photo of site set up – downstream</label>
        <locationX>2666</locationX>
        <locationY>11012</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Add_photo_of_site_set_up_downstream</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedDownstreamPhotosVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_File_Rename</targetReference>
            </connector>
            <label>If present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desktop_Mobile_Check</name>
        <label>Mobile Or Desktop?</label>
        <locationX>633</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Desktop_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_values_assignment</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Developer_services_check</name>
        <label>Developer services check</label>
        <locationX>2666</locationX>
        <locationY>6506</locationY>
        <defaultConnector>
            <targetReference>Dcf_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Developer_Services_is_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Developer_services1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JCYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Developer_Services_is_set_to_Yes</targetReference>
            </connector>
            <label>Developer Services is there</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Check</name>
        <label>Error Check</label>
        <locationX>633</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Check_Service_Appointment_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Workorder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWorkOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Display</targetReference>
            </connector>
            <label>No Workorder</label>
        </rules>
        <rules>
            <name>No_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_Display</targetReference>
            </connector>
            <label>No SA</label>
        </rules>
        <rules>
            <name>No_SR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myServiceResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Error_Display</targetReference>
            </connector>
            <label>No SR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_screen_2_Check</name>
        <label>Error screen 2 Check</label>
        <locationX>1590</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Check_WorkStep_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_ST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myServiceTerritory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Error_Display</targetReference>
            </connector>
            <label>No ST</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-5317</description>
        <name>Jet_wash_or_Road_sweep_required</name>
        <label>Jet wash or Road sweep required</label>
        <locationX>2666</locationX>
        <locationY>5516</locationY>
        <defaultConnector>
            <targetReference>Developer_services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Is_a_jet_wash_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JCYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_a_road_sweep_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JCYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Photo_of_any_mess_left</targetReference>
            </connector>
            <label>if required</label>
        </rules>
    </decisions>
    <decisions>
        <description>Part of SFS-5317</description>
        <name>mess_photo_uploaded_check</name>
        <label>mess photo uploaded check</label>
        <locationX>2490</locationX>
        <locationY>5840</locationY>
        <defaultConnector>
            <targetReference>Mess_not_uploaded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mess_photo_file_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfFilesMess</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Developer_services</targetReference>
            </connector>
            <label>Mess photo file exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>photo_of_damage_uploaded</name>
        <label>photo of damage uploaded</label>
        <locationX>2490</locationX>
        <locationY>4850</locationY>
        <defaultConnector>
            <targetReference>Photo_not_uploaded_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Photo_damage_file_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfFilesOfPhotoDamage</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jet_wash_or_Road_Sweep_is_required</targetReference>
            </connector>
            <label>Photo damage file exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-3434</description>
        <name>Post_work_check_If_File_Uploaded_Or_Not</name>
        <label>Post work check If File Uploaded Or Not</label>
        <locationX>2391</locationX>
        <locationY>4202</locationY>
        <defaultConnector>
            <targetReference>Condition_of_Post_work</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Uploaded</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_File_Not_Uploaded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SLFFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReinLevelFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RepairRenewInstallFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExcavationFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Display_File_Not_Uploaded_Message_Screen</targetReference>
            </connector>
            <label>Post work File Not Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-3434</description>
        <name>Site_set_up_and_Cleanliness_check_If_File_Uploaded_Or_Not</name>
        <label>Site set up and Cleanliness check If File Uploaded Or Not</label>
        <locationX>2122</locationX>
        <locationY>3878</locationY>
        <defaultConnector>
            <targetReference>Post_work</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Uploaded</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_File_Not_Uploaded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SLGFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpstreamFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DownstreamFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PermitBoardFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExistingAssetFilesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Display_File_Not_Uploaded_Message_Screen</targetReference>
            </connector>
            <label>Site set up and Cleanliness File Not Uploaded</label>
        </rules>
    </decisions>
    <description>SFS-1315
Updated as a part of SFS-3033, removed record type reference from the flow
v6- Updated as a fix of SFS-3603
V7 - Updated as a fix of SFS-3434
V10 - Updated as a fix of SFS-3975
v38 - Updated as a part of SFS-5314
v39 - Updated as a part of SFS-5314
Updated as a part of SFS-5318(v-42)
Updated as a part of SFS-5317 and SFS-6213
Updated as part of SFS-6540
Updated as part of SFS-6639
Updated as part of SFS-6196
updated as part of SFS-8585</description>
    <dynamicChoiceSets>
        <name>ChoiceSet1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_JCNotProvideReason__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>currentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>secondOperativeFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!secondOperativeNameVar}, LEN({!secondOperativeNameVar}) - 1)</expression>
    </formulas>
    <interviewLabel>Data Capture Form: Job Completion - (Water Networks) {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Data Capture Form: Job Completion - (Water Networks)</label>
    <loops>
        <description>created as part of SFS-6540</description>
        <name>Loop_Second_Operative_Member</name>
        <label>Loop Second Operative Member</label>
        <locationX>1194</locationX>
        <locationY>1514</locationY>
        <assignNextValueToReference>varSCMrecord</assignNextValueToReference>
        <collectionReference>serviceCrewMemberRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign2ndOperative</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Second_Operative_Assign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>DCF_record_Creation</name>
        <label>DCF record Creation</label>
        <locationX>1943</locationX>
        <locationY>3038</locationY>
        <assignRecordIdToReference>DCFInfraId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Job_Completion_Form</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Job Completion - (Water Networks)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_JCFormStarted__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>myWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordCreates>
    <recordLookups>
        <description>Created as part SFS-6540</description>
        <name>GET_Crew_Leader</name>
        <label>GET Crew Leader</label>
        <locationX>1194</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Second_Operative_Members</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myServiceResource.ServiceCrewId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLeader</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceCrewMember</object>
        <outputAssignments>
            <assignToReference>varSCMLeader</assignToReference>
            <field>FSM_ServiceCrewName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User_Info</name>
        <label>Get Current User Info</label>
        <locationX>633</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkStep</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserIdFinal</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>myUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>SFS-5314</description>
        <name>Get_Existing_Job_Completion_Form</name>
        <label>Get Existing Job Completion Form</label>
        <locationX>1855</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_any_Form_is_already_exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_FormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Job Completion - (Water Networks)</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>FSM_DataCaptureFormInfra__c</object>
        <outputReference>ExistingDCFRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_ReinstatementNRTMAOffhired__c</queriedFields>
        <queriedFields>FSM_JCConsequentialDamage__c</queriedFields>
        <queriedFields>FSM_JCNotProvideReason__c</queriedFields>
        <queriedFields>FSM_JCMeterInstalled__c</queriedFields>
        <queriedFields>FSM_JCJetWWashRequired__c</queriedFields>
        <queriedFields>FSM_JCRoadsweepRequired__c</queriedFields>
        <queriedFields>FSM_JCDeveloperServices__c</queriedFields>
        <queriedFields>FSM_JCOdour__c</queriedFields>
        <queriedFields>FSM_JCPressureReading__c</queriedFields>
        <queriedFields>FSM_JCFlowReading__c</queriedFields>
        <queriedFields>FSM_JCChlorineReading__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>SFS-5314</description>
        <name>Get_Job_Completion_Form</name>
        <label>Get Job Completion Form</label>
        <locationX>1943</locationX>
        <locationY>3146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pre_site_set_Up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DCFInfraId</elementReference>
            </value>
        </filters>
        <object>FSM_DataCaptureFormInfra__c</object>
        <outputReference>ExistingDCFRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_ReinstatementNRTMAOffhired__c</queriedFields>
        <queriedFields>FSM_JCConsequentialDamage__c</queriedFields>
        <queriedFields>FSM_JCNotProvideReason__c</queriedFields>
        <queriedFields>FSM_JCMeterInstalled__c</queriedFields>
        <queriedFields>FSM_JCJetWWashRequired__c</queriedFields>
        <queriedFields>FSM_JCRoadsweepRequired__c</queriedFields>
        <queriedFields>FSM_JCDeveloperServices__c</queriedFields>
        <queriedFields>FSM_JCOdour__c</queriedFields>
        <queriedFields>FSM_JCPressureReading__c</queriedFields>
        <queriedFields>FSM_JCFlowReading__c</queriedFields>
        <queriedFields>FSM_JCChlorineReading__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>633</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SR</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>AssgnResourceOnSA</assignToReference>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>myWorkOrder.Id</assignToReference>
            <field>FSSK__FSK_Work_Order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SAstatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Second_Operative_Members</name>
        <label>Get Second Operative Members</label>
        <locationX>1194</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Second_Operative_Member</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myServiceResource.ServiceCrewId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLeader</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceCrewMember</object>
        <outputReference>serviceCrewMemberRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_ServiceCrewName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SR</name>
        <label>Get SR</label>
        <locationX>633</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Error_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssgnResourceOnSA</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>myServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ResourceType</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>ServiceCrewId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_St</name>
        <label>Get St</label>
        <locationX>1590</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Error_screen_2_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>myServiceTerritory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>633</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkStep.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>myWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>FSM_ExternalId__c</queriedFields>
        <queriedFields>Address</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Country</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkStep</name>
        <label>Get WorkStep</label>
        <locationX>633</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>myWorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>FSM_IsCompleted__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkPlanId</queriedFields>
        <queriedFields>WorkPlanExecutionOrder</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>DCF_Update</name>
        <label>DCF Update</label>
        <locationX>2666</locationX>
        <locationY>7604</locationY>
        <connector>
            <targetReference>Copy_3_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <inputReference>ExistingDCFRecordVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>WorkStep_Update</name>
        <label>WorkStep Update</label>
        <locationX>2666</locationX>
        <locationY>7496</locationY>
        <connector>
            <targetReference>DCF_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkStep.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_IsCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Condition_of_Post_work</name>
        <label>Condition of Post work</label>
        <locationX>2666</locationX>
        <locationY>4310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_condition_of_Post_work</targetReference>
        </connector>
        <fields>
            <name>If_reinstatement_is_not_required_does_TMA_need_to_be_off_hired</name>
            <choiceReferences>JCYes</choiceReferences>
            <choiceReferences>JCNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>JCNo</defaultSelectedChoiceReference>
            <fieldText>If reinstatement is not required, does TMA need to be off hired?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Consequential_damage</name>
            <choiceReferences>JCYes</choiceReferences>
            <choiceReferences>JCNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFRecordVar.FSM_JCConsequentialDamage__c</elementReference>
            </defaultValue>
            <fieldText>Consequential damage</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Created as a part of SFS-3434</description>
        <name>Copy_1_of_Display_File_Not_Uploaded_Message_Screen</name>
        <label>Pre site display File Not Uploaded Message Screen</label>
        <locationX>1588</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Pre_site_set_Up</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_UploadAtLeastOneFileScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;One or more mandatory files are missing. Please check and add them all before continuing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Display</name>
        <label>Copy 1 of Error Display</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_GeterrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Error! Service Appointment Not found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Created as a part of SFS-3434</description>
        <name>Copy_2_of_Display_File_Not_Uploaded_Message_Screen</name>
        <label>Site set up and Cleanliness display File Not Uploaded Message Screen</label>
        <locationX>1852</locationX>
        <locationY>3986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Site_set_up_Cleanliness</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_UploadAtLeastOneFileScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;One or more mandatory files are missing. Please check and add them all before continuing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Created as a part of SFS-3434</description>
        <name>Copy_3_of_Display_File_Not_Uploaded_Message_Screen</name>
        <label>Post work File Not Uploaded Message Screen</label>
        <locationX>2116</locationX>
        <locationY>4310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_work</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_UploadAtLeastOneFileScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;One or more mandatory files are missing. Please check and add them all before continuing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Error_Display</name>
        <label>Copy 3 of Error Display</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_3_of_GeterrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Error! Service Resource Not found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Error_Display</name>
        <label>Copy 4 of Error Display</label>
        <locationX>1324</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_4_of_GeterrorScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Error! Service &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Territory&lt;/b&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; Not found&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Developer_services</name>
        <label>Developer services</label>
        <locationX>2666</locationX>
        <locationY>6290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_developer_services</targetReference>
        </connector>
        <fields>
            <name>Developer_services1</name>
            <choiceReferences>JCYes</choiceReferences>
            <choiceReferences>JCNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>JCNo</defaultSelectedChoiceReference>
            <fieldText>Developer services</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinalScreenDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Selecting &apos;No&apos; and clicking on &apos;Next&apos; will exit the form&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Developer_Services_is_set_to_Yes</name>
        <label>Developer Services is set to Yes</label>
        <locationX>2512</locationX>
        <locationY>6614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Of_Developer_Services_Screen</targetReference>
        </connector>
        <fields>
            <name>photOfBB</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of point of connection (BB)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedBBFileNamesVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhotoOfPocMain</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of point of connection (Main)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedMainPhotoFileNamesVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhotoOfReinTrench</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of rein connection (trench)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedTrenchPhotosVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Odour</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFRecordVar.FSM_JCOdour__c</elementReference>
            </defaultValue>
            <fieldText>Odour</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OdourSample</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Odour sample bottle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedOdourPhotoFileNamesVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Chlorine_reading</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ExistingDCFRecordVar.FSM_JCChlorineReading__c</elementReference>
            </defaultValue>
            <fieldText>Chlorine reading</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Chlorine reading should be not more than 2 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Chlorine_reading} &lt; 99</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PhotoOfChlorineReading</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of chlorine reading</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedChlorinePhotoFileNamesVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Pressure_reading_mhd</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ExistingDCFRecordVar.FSM_JCPressureReading__c</elementReference>
            </defaultValue>
            <fieldText>Pressure reading(mhd)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Pressure reading should not be more than 3 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Pressure_reading_mhd} &lt; 999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PhotoOfPressureLoggerReading</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of pressure logger &amp; reading</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedPressureLoggerPhotoFileNamesVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Flow_reading_lpm</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ExistingDCFRecordVar.FSM_JCFlowReading__c</elementReference>
            </defaultValue>
            <fieldText>Flow reading (lp/m)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Flow reading should not be more than 5 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Flow_reading_lpm} &lt; 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PhotoEvidenceOfFlowReading</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo evidence of flow reading</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedFlowReadingPhotoFileNamesVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinalScreenDisplayText1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This is the final screen, clicking &apos;Next&apos; will exit the form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Created as a part of SFS-3434</description>
        <name>Display_File_Not_Uploaded_Message_Screen</name>
        <label>Display File Not Uploaded Message Screen</label>
        <locationX>2380</locationX>
        <locationY>7046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Developer_Services_is_set_to_Yes</targetReference>
        </connector>
        <fields>
            <name>UploadAtLeastOneFileScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;One or more mandatory files are missing. Please check and add them all before continuing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 27, 27);&quot;&gt;This service appointment has already been &lt;/span&gt;&lt;strong style=&quot;color: rgb(237, 27, 27);&quot;&gt;{!SAstatus}&lt;/strong&gt;&lt;span style=&quot;color: rgb(237, 27, 27);&quot;&gt;. Further action is not possible.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Display</name>
        <label>Error Display</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GeterrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Error! Work Order Not found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>fault_Display</name>
        <label>fault Display</label>
        <locationX>3062</locationX>
        <locationY>7712</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_Log_call</targetReference>
        </connector>
        <fields>
            <name>FaultScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We have an Exception, please connect with Admin to resolve the issue: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Jet_wash_or_Road_Sweep_is_required</name>
        <label>Jet wash or Road Sweep is required ?</label>
        <locationX>2666</locationX>
        <locationY>5300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Jet_wash_and_Road_Sweep</targetReference>
        </connector>
        <fields>
            <name>Is_a_jet_wash_required</name>
            <choiceReferences>JCYes</choiceReferences>
            <choiceReferences>JCNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFRecordVar.FSM_JCJetWWashRequired__c</elementReference>
            </defaultValue>
            <fieldText>Is a jet wash required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_a_road_sweep_required</name>
            <choiceReferences>JCYes</choiceReferences>
            <choiceReferences>JCNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFRecordVar.FSM_JCRoadsweepRequired__c</elementReference>
            </defaultValue>
            <fieldText>Is a road sweep required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mess_not_uploaded</name>
        <label>Error screen</label>
        <locationX>2578</locationX>
        <locationY>5948</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Photo_of_any_mess_left</targetReference>
        </connector>
        <fields>
            <name>Mess_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 5, 5);&quot;&gt;ERROR:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 5, 5);&quot;&gt;Photo of mess is not uploaded, please go back to the previous screen and re upload&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Photo_not_uploaded_error</name>
        <label>Error screen</label>
        <locationX>2578</locationX>
        <locationY>4958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Photo_of_damage</targetReference>
        </connector>
        <fields>
            <name>Photo_damage_erroer_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 5, 5);&quot;&gt;ERROR:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 5, 5);&quot;&gt;Photo of damage is not uploaded, please go back to the previous screen and reupload&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Photo_of_any_mess_left</name>
        <label>Photo of any mess left</label>
        <locationX>2490</locationX>
        <locationY>5624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_photo_of_mess</targetReference>
        </connector>
        <fields>
            <name>photoOfAnyMess</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of any mess left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>photoOfMessContentID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedMessFileVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Photo_of_damage</name>
        <label>Photo of damage</label>
        <locationX>2490</locationX>
        <locationY>4634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Post_Work_2</targetReference>
        </connector>
        <fields>
            <name>PhotOfDamage</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of damage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>photoOfDamageContentID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedPhotosOfDamageVariable</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Post_work</name>
        <label>Post work</label>
        <locationX>2391</locationX>
        <locationY>3986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Post_Work_Var</targetReference>
        </connector>
        <fields>
            <name>PhotoRepairInstall</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of repair / renew / install</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedRepairRenewInstallPhotosVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>photoToShowReinLevel</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo to show rein is level &amp; asset is below level of footpath</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedReinLevelPhotosVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>photoToConfirmSLFSetUp</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo to confirm SLG set up on completion of work</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedSLFPhotosVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhotoOfExcavationMeasures</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of excavation with measuring sticks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedExcavationPhotosVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pre_site_set_Up</name>
        <label>Pre-site set up</label>
        <locationX>1855</locationX>
        <locationY>3338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Pre_Site_Var</targetReference>
        </connector>
        <fields>
            <name>siteSetUpFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add photo of site set up – existing damage on customers property / boundary / highway</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedPreSiteSetUpPhotosVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_set_up_Cleanliness</name>
        <label>Site set up &amp; Cleanliness</label>
        <locationX>2122</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Next</backButtonLabel>
        <connector>
            <targetReference>Assign_Site_Setup_Var</targetReference>
        </connector>
        <fields>
            <name>SLGUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add photo of site set up – SLG</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedSLGPhotosVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>siteSetUpUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add photo of site set up – upstream</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedUpstreamPhotosVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>siteSetUpDownstream</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add photo of site set up – downstream</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedDownstreamPhotosVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>permitUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add photo of permit board</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedPermitBoardPhotosVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingAssestOnExposure</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of existing asset on exposure</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFRecordVar.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedExistingAssetPhotos</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkStep_Complete_Confirmation</name>
        <label>WorkStep Complete Confirmation</label>
        <locationX>1679</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Confirmation_Message_to_Complete_Form_Again</targetReference>
        </connector>
        <fields>
            <name>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</name>
            <choiceReferences>wsYes</choiceReferences>
            <choiceReferences>wsNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WorkStep is already Completed . Do you still want to fill the form again ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>507</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Desktop_Mobile_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_10_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>13220</locationY>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of damage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedPhotosOfDamageVariable</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_11_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>9620</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Photo_of_damage</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of point of connection (BB)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedBBFileNamesVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_1_of_Copy_11_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>9320</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of point of connection (Main)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedMainPhotoFileNamesVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_1_of_Copy_1_of_Copy_11_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>9020</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of rein connection (trench)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedTrenchPhotosVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_1_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>10820</locationY>
        <connector>
            <targetReference>Decision_21</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Add photo of site set up – upstream</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedUpstreamPhotosVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_2_of_Copy_1_of_Copy_11_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>8720</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Odour sample bottle</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedOdourPhotoFileNamesVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_2_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>11420</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Add_photo_of_permit_board</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Add photo of permit board</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedPermitBoardPhotosVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_3_of_Copy_1_of_Copy_11_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>7820</locationY>
        <connector>
            <targetReference>Copy_4_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of chlorine reading</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedChlorinePhotoFileNamesVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_3_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>11120</locationY>
        <connector>
            <targetReference>Copy_1_of_Add_photo_of_site_set_up_downstream</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Add photo of site set up – downstream</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedDownstreamPhotosVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_4_of_Copy_1_of_Copy_11_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>8120</locationY>
        <connector>
            <targetReference>Copy_5_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of pressure logger &amp; reading</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedPressureLoggerPhotoFileNamesVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_4_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>11720</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Photo_of_existing_asset_on_exposure</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of existing asset on exposure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedExistingAssetPhotos</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_5_of_Copy_1_of_Copy_11_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>8420</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Check_Photo_of_any_mess_left</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo evidence of flow reading</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedFlowReadingPhotoFileNamesVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_5_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>12320</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Photo_to_show_rein_is_level_asset_is_below_level_of_footpath</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo to show rein is level &amp; asset is below level of footpath</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedReinLevelPhotosVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_6_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>12020</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Photo_of_repair_renew_install</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of repair / renew / install</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedRepairRenewInstallPhotosVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_7_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>12620</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Photo_to_confirm_SLF_set_up_on_completion_of_work</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo to confirm SLG set up on completion of work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedSLFPhotosVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_8_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>12920</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Photo_of_excavation_with_measuring_sticks</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of excavation with measuring sticks</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedExcavationPhotosVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_9_of_File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>9920</locationY>
        <connector>
            <targetReference>Decision_18</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of any mess left</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedMessFileVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>File_Rename</name>
        <label>File Rename</label>
        <locationX>2534</locationX>
        <locationY>10520</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Add_photo_of_site_set_up_SLG</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Add photo of site set up – SLG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedSLGPhotosVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>FSM_FileNameAutoRename_Mobile</name>
        <label>FSM FileNameAutoRename-Mobile</label>
        <locationX>2534</locationX>
        <locationY>10220</locationY>
        <connector>
            <targetReference>Decision_19</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Add photo of site set up – existing damage on customers property / boundary / highway</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedPreSiteSetUpPhotosVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AssgnResourceOnSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of bug SFS-3434</description>
        <name>BBfilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>ChlorineFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFInfraId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>DownstreamFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>ExcavationFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>ExistingAssetFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>SFS-5314</description>
        <name>ExistingDCFRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>FlowReadingFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeaderCrewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeaderSRName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MainFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>myJcDcfForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>myServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>myServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>myServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>myUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>myWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>myWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>numberOfFilesMess</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberOfFilesMeter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberOfFilesOfPhotoDamage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>OdourFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>PermitBoardFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>photoOfDamageContentID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>photoOfMessContentID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>photoOfMeterContentID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>PreSiteFilesUploaded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>PressureLoggerFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>ReinLevelFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>RepairRenewInstallFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAstatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondCrewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondOperative</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>created as part of SFS-6540</description>
        <name>secondOperativeNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondSRName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceCrewMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceCrewMember</objectType>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>SLFFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>SLGFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Space</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>;</stringValue>
        </value>
    </variables>
    <variables>
        <name>storeNamesSecond</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>storeNamesSecondVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>TrenchFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedBBFileNamesVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedChlorinePhotoFileNamesVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedDownstreamPhotosVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedExcavationPhotosVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedExistingAssetPhotos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedFlowReadingPhotoFileNamesVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedMainPhotoFileNamesVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedMessFileVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedMeterFileVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedOdourPhotoFileNamesVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedPermitBoardPhotosVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedPhotodamageFileVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedphotosOfDamage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedPhotosOfDamageVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedPhotosOfDamageVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedPreSiteSetUpPhotosVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedPressureLoggerPhotoFileNamesVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedReinLevelPhotosVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedRepairRenewInstallPhotosVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedSLFPhotosVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedSLGPhotosVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedTrenchPhotosVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UploadedUpstreamPhotosVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3434</description>
        <name>UpstreamFilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserNameToDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>myUser.Name</elementReference>
        </value>
    </variables>
    <variables>
        <description>created as part of SFS-6540</description>
        <name>varSCMLeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSCMrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceCrewMember</objectType>
    </variables>
</Flow>
