force-app/main/default/flows/FSM_Mobile_Subflow_Leaflet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>created as part of SFS-5345</description>
        <name>Assign_Confirmation</name>
        <label>Assign Confirmation</label>
        <locationX>1221</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_OperativeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operative_Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>created as part of SFS-5345 leaflet story</description>
        <name>Assign_Contact_Details</name>
        <label>Assign Contact Details</label>
        <locationX>1221</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustomerName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustomerEmail1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Additional_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustomerEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Additional_Email2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustomerEmail3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Additional_Email3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustomerEmail4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Additional_Email4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustomerEmail5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Additional_Email5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustomerEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerEmailTo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BU_Water</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flow_Pressure</name>
        <label>Assign Flow Pressure</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_lps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_Pressure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pressure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Manhole</name>
        <label>Assign Manhole</label>
        <locationX>1898</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_InspectedManholeCovers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varManholeInspectionArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_IdentifiedManholeCovers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varManholeResponsibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ManholeResponsibleCompanyOther__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_selected_by_another_utility_company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ManholeDuringVisitWeDid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varManholeVisitActions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ActionPerformedOther__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_Other_is_selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ManholeWhatHappensNext__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varManholeNextActions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ManholeAdditionalInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Addiitonal_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Not_Tech</name>
        <label>Assign Not Tech</label>
        <locationX>3218</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_NetTechDuringVisitWeFound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWasteVisitOutcomes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_NetTechNoLocationAccessReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>couldnt_get_access_to_the_property</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_NetTechDuringVisitWeDid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWasteVisitActions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_NetTechWhatHappensNext__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWasteNextActions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_NeighborLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_we_need_to_get_in_touch_with_the_occupier_at_the_neighbouring_property_for_ac</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role</name>
        <label>Assign Role</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_FWRole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role_HD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RM_Reinstatement_Inspector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_Water</name>
        <label>Assign Role</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_FWRole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role_Water</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RM_Inspector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task</name>
        <label>Assign Task</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template_HD_Inspector</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>created as part of SFS-5348</description>
        <name>Assign_Task_Dev</name>
        <label>Assign Task</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Insp</name>
        <label>Assign Task</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template_water_insp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Template_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_RM</name>
        <label>Assign Task</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template_HD_RM_Reinst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>created as part of SFS-5348</description>
        <name>Assign_Task_waste</name>
        <label>Assign Task</label>
        <locationX>2294</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template_Waste</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Water_RM</name>
        <label>Assign Task</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template_water_RM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Template_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>created as part of SFS-5348</description>
        <name>Assign_Template_DevServ</name>
        <label>Assign Template DevServ</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ListOfTemplates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_JobSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Summary_DevServ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Language_Devserv</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_FieldworkerVynUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VYN_DevServ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_Dev</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>created as part of SFS-5351</description>
        <name>Assign_Template_Inspector</name>
        <label>Assign Template Inspector</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ListOfTemplates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template_HD_Inspector</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_SuppInfoURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supporting_Information_HD_Inspector</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_JobSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Summary_water_HD_Inspector</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustCoordinatorNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Coordinator_Contact_Number_HD_Inspector</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Language_HD_Inspector</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_FieldworkerVynUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VYN_HD_Inspector</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_OperativeContactNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operative_Contact_Number_HD_Inspector</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>created as part of SFS-5351</description>
        <name>Assign_Template_RMReinstatement</name>
        <label>Assign Template Inspector</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ListOfTemplates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template_HD_RM_Reinst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_SuppInfoURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supporting_Information_HD_RM_Reinst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_JobSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Summary_HD_RM_Reinst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustCoordinatorNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Coordinator_Contact_Number_HD_RM_Reinst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Language_HD_RM_Reinst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_FieldworkerVynUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VYN_HD_RM_Reinst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_OperativeContactNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operative_Contact_Number_HD_RM_Reinst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_RM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>created as part of SFS-5351</description>
        <name>Assign_Template_Waste</name>
        <label>Assign Template Waste</label>
        <locationX>2294</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ListOfTemplates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template_Waste</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_SuppInfoURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supporting_Information_Waste</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_JobSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Summary_Waste</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Language_Waste</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_FieldworkerVynUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VYN_Waste</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_waste</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>created as part of SFS-5351</description>
        <name>Assign_Template_water_Inspector</name>
        <label>Assign Template Inspector</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ListOfTemplates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template_water_insp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_SuppInfoURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supporting_Information_water_insp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_JobSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Summary_water_insp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustCoordinatorNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Coordinator_Contact_Number_water_insp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Language_water_insp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_FieldworkerVynUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VYN_water_insp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_OperativeContactNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operative_Contact_Number_water_inpsector</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_Insp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>created as part of SFS-5351</description>
        <name>Assign_Template_Water_RM</name>
        <label>Assign Template Water</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ListOfTemplates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template_water_RM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_SuppInfoURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supporting_Information_water_RM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_JobSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Summary_water_RM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustCoordinatorNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Coordinator_Contact_No_water_RM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Language_water_RM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_FieldworkerVynUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VYN_water_RM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_OperativeContactNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operative_Contact_Number_water_RM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_Water_RM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Waste_Details</name>
        <label>Assign Waste Details</label>
        <locationX>2426</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_WasteWeVisitedAfterReportOf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varVisitedAfterRecvReport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_WasteDuringVisitWeFound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>During_visit_we_found</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_NoLocationAccessReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_We_couldn_t_get_access_to_the_property_land_located_at_is_selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_WasteDuringVisitWeDid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>During_visit_we</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_WasteAdditionalInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1821</description>
        <name>Assigning_BU_for_mailjet_DevService</name>
        <label>Assigning BU for mailjet DevService</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_BusinessAreaMailjet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DevService</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Template_Selection_DevServ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1821</description>
        <name>Assigning_BU_for_mailjet_HD</name>
        <label>Assigning BU for mailjet HD</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_BusinessAreaMailjet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Role_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1821</description>
        <name>Assigning_BU_for_mailjet_Waste</name>
        <label>Assigning BU for mailjet Waste</label>
        <locationX>2294</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_BusinessAreaMailjet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waste</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Template_Selection_Waste</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1821</description>
        <name>Assigning_BU_for_mailjet_water</name>
        <label>Assigning BU for mailjet water</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_BusinessAreaMailjet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Water</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Role_Selection_water</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Calling_Cards_Leaflet</name>
        <choiceText>Calling Cards/Leaflet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calling Cards/Leaflet</stringValue>
        </value>
    </choices>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>English_Welsh</name>
        <choiceText>English &amp; Welsh</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English &amp; Welsh</stringValue>
        </value>
    </choices>
    <choices>
        <name>HD</name>
        <choiceText>HD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proforma</name>
        <choiceText>Proforma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proforma</stringValue>
        </value>
    </choices>
    <choices>
        <name>STW</name>
        <choiceText>STW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>STW</stringValue>
        </value>
    </choices>
    <choices>
        <name>varWasteNextActions4</name>
        <choiceText>We need to get in touch with the occupier at the neighbouring property for access to</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>We need to get in touch with the occupier at the neighbouring property for access to</stringValue>
        </value>
    </choices>
    <choices>
        <description>created as part of SFS-5347</description>
        <name>varWasteVisitOutcomes1</name>
        <choiceText>No problems - the drains are flowing as they should</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No problems - the drains are flowing as they should</stringValue>
        </value>
    </choices>
    <choices>
        <description>created as part of SFS-5347</description>
        <name>varWasteVisitOutcomes2</name>
        <choiceText>We couldn’t get access to the property/land located at:</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>We couldn’t get access to the property/land located at:</stringValue>
        </value>
    </choices>
    <choices>
        <name>Water</name>
        <choiceText>Water</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Water</stringValue>
        </value>
    </choices>
    <decisions>
        <name>BU_Waste</name>
        <label>BU : Waste ?</label>
        <locationX>2888</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Waste</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SABusinessUnit</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Waste Infra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SABusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waste Non Infra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_BU_for_mailjet_Waste</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BU_Water</name>
        <label>BU : Water?</label>
        <locationX>1221</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Dev_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Water</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SABusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water Infra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SABusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water Non Infra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_vs_HD</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Fields</name>
        <label>Check Required Fields</label>
        <locationX>2954</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Assign_Not_Tech</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_During_Our_Visit</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varWasteVisitOutcomes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>We couldn&apos;t get access to the property/land located at:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>couldnt_get_access_to_the_property</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>couldnt_get_access_to_the_property</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Check During Our Visit</label>
        </rules>
        <rules>
            <name>Check_What_happens_next</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varWasteNextActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>We need to get in touch with the occupier at the neighbouring property for access to:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_we_need_to_get_in_touch_with_the_occupier_at_the_neighbouring_property_for_ac</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_we_need_to_get_in_touch_with_the_occupier_at_the_neighbouring_property_for_ac</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_WHN</targetReference>
            </connector>
            <label>Check What happens next?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Fields_manhole</name>
        <label>Check Required Fields</label>
        <locationX>1634</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Assign_Manhole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Identified_that_the_manhole_cover_s</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varManholeResponsibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belongs to another utility company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_selected_by_another_utility_company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_selected_by_another_utility_company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_msg2</targetReference>
            </connector>
            <label>Check Identified that the manhole cover(s)</label>
        </rules>
        <rules>
            <name>Check_During_the_visit_we</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varManholeVisitActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_Other_is_selected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_Other_is_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_msg</targetReference>
            </connector>
            <label>Check During the visit we</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Fields_waste</name>
        <label>Check Required Fields</label>
        <locationX>2294</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Assign_Waste_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Check_visited_after_receiving_a_report_of</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>During_visit_we_found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>We couldn&apos;t get access to the property/land located at:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_We_couldn_t_get_access_to_the_property_land_located_at_is_selected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_We_couldn_t_get_access_to_the_property_land_located_at_is_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_msg3</targetReference>
            </connector>
            <label>Check visited after receiving a report of</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Template_Selection</name>
        <label>Check Template Selection</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Private_pressure</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Template_water_insp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private pressure - diagnosed, no further work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Template_water_insp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private pressure investigation – further R&amp;M work required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Template_water_RM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private pressure - diagnosed, no further work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Template_water_RM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private pressure investigation – further R&amp;M work required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Pressure</targetReference>
            </connector>
            <label>Private pressure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dev_Services</name>
        <label>Dev Services ?</label>
        <locationX>1997</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>BU_Waste</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DevServices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SABusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_BU_for_mailjet_DevService</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HD_Leaf</name>
        <label>HD ?</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assigning_BU_for_mailjet_water</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>STW (Water)</defaultConnectorLabel>
        <rules>
            <name>Yes_HD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Leaflet_is_intended_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_BU_for_mailjet_HD</targetReference>
            </connector>
            <label>HD</label>
        </rules>
    </decisions>
    <decisions>
        <name>RM_Inspector</name>
        <label>R&amp;M / Inspector</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Template_Selection_RM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>R&amp;M</defaultConnectorLabel>
        <rules>
            <name>Inspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role_Water</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template_Selection_water</targetReference>
            </connector>
            <label>Inspector</label>
        </rules>
    </decisions>
    <decisions>
        <name>RM_Reinstatement_Inspector</name>
        <label>R&amp;M/Reinstatement / Inspector</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Template_Selection_HD_RM_Reinst</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>R&amp;M/Reinstatement</defaultConnectorLabel>
        <rules>
            <name>Inspector_HD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role_HD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template_Selection_HD_Inspector</targetReference>
            </connector>
            <label>Inspector</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Template</name>
        <label>Selected Template ?</label>
        <locationX>2294</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Net_Tech_Waste</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Net Tech</defaultConnectorLabel>
        <rules>
            <name>Manhole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Template_Waste</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manhole</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manhole_waste</targetReference>
            </connector>
            <label>Manhole</label>
        </rules>
        <rules>
            <name>Waste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Template_Waste</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waste</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waste_Details</targetReference>
            </connector>
            <label>Waste</label>
        </rules>
    </decisions>
    <description>created as part of SFS-5348
Created as part of SFI-1821
updated as Part of SFS-6096
updated as Part of SFS-7381
Updated as part of SFS-7922
Updated as part of SFS-7923
Updated as part of SFS-8236
Updated as part of SFS-8264 and SFS-8263
Updated as part of SFS-8043</description>
    <dynamicChoiceSets>
        <description>created as part of 5351</description>
        <name>cs_customerCoContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_CustCoordinatorNumber__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_During_visit_we</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_WasteDuringVisitWeDid__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_During_visit_we_found</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_WasteDuringVisitWeFound__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_manholeInspArea</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_InspectedManholeCovers__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_manholeNxtAction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ManholeWhatHappensNext__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_manholeResponsibility</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_IdentifiedManholeCovers__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_manholeVisitAction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ManholeDuringVisitWeDid__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_supportingInfoHd</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supporting Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_HD__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
        <valueField>FSM_MailjetURL__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_SupportingInformation</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supporting Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Water__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
        <valueField>FSM_MailjetURL__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_supportingWaste</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supporting Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Waste__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
        <valueField>FSM_MailjetURL__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_Template</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_HD__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
        <valueField>Mailjet_Id__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_TemplateDevServ</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_DevServ__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_TemplateHDInspector</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Inspector__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_HD__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_TemplateRM</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Water__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_RMRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_TemplateWaterInspector</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Inspector__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Water__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_TemplateWaterRM</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_RMRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Water__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_TempRMreinst</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_RMReinstatementRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_HD__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_varVisitedAfterRecvReport</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_WasteWeVisitedAfterReportOf__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_varWasteVisitOutcomes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_NetTechDuringVisitWeFound__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_wasteTemp</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Waste__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_HDrole</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Role</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_HD__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
        <sortField>FSM_DisplayText__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>FSM_DisplayText__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_varWasteVisitActions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_NetTechDuringVisitWeDid__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_WasteNextActions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_NetTechWhatHappensNext__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_WasteVisitActions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_NetTechDuringVisitWeDid__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_wasteVisitOutcomes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_NetTechDuringVisitWeDid__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_WaterRole</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Role</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Water__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
        <sortField>FSM_DisplayText__c</sortField>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FSM Subflow Proformas &amp; Customer Comms {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FSM Mobile Subflow  - Leaflet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1221</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Operative_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_CurrentUserName</elementReference>
            </defaultValue>
            <fieldText>Operative Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_msg1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(11, 152, 228);&quot;&gt;This is being sent to the customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(11, 152, 228);&quot;&gt;I have ensured no Jargon or abbreviations have been used in the job summary field.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(11, 152, 228);&quot;&gt;If this is going to multiple customers, I have made sure no personal data is shared in the job summary field. An example of this would be names &amp;amp; addresses.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_you_sure_you_want_to_continue</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you sure you want to continue?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Please confirm you are happy to complete by checking the checkbox&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Are_you_sure_you_want_to_continue}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Details</name>
        <label>Contact Details</label>
        <locationX>1221</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WoContactName</elementReference>
            </defaultValue>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CustomerEmailTo</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WoContactEmail</elementReference>
            </defaultValue>
            <fieldText>To:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_Additional_Email</name>
            <dataType>String</dataType>
            <fieldText>Customer Additional Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_Additional_Email2</name>
            <dataType>String</dataType>
            <fieldText>Customer Additional Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_Additional_Email3</name>
            <dataType>String</dataType>
            <fieldText>Customer Additional Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_Additional_Email4</name>
            <dataType>String</dataType>
            <fieldText>Customer Additional Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_Additional_Email5</name>
            <dataType>String</dataType>
            <fieldText>Customer Additional Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_validateEmailMsg</name>
            <fieldText>&lt;p&gt;ℹ️ &lt;em style=&quot;color: rgb(255, 148, 42); font-family: Ubuntu; font-size: 12pt;&quot;&gt;Please check with the customer you have the correct email address and it is in a valid format.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>2690</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Net_Tech_Waste</targetReference>
        </connector>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(221, 31, 31);&quot;&gt;When selecting &quot;We couldn&apos;t get access to the property/land located at:&quot; in the &quot;During our visit we found&quot; field, the &apos;If “We couldn’t get access to the property/land located at:” is selected&quot; field is mandatory&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_msg</name>
        <label>Error</label>
        <locationX>1634</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Manhole_waste</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 14, 14);&quot;&gt;When selecting &quot;Other&quot; in the &quot;During the visit we&quot; field, the &quot;If ‘Other’ is selected&quot; field is mandatory&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_msg2</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Manhole_waste</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 30, 30);&quot;&gt;When selecting &quot;Belongs to another utility company&quot; in the &quot;We have identified that the manhole cover(s)&quot; field, the &apos;If ‘Belongs to another utility company’ is selected&apos; field is mandatory&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_msg3</name>
        <label>Error</label>
        <locationX>2162</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Waste_Details</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_3_of_ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 25, 25);&quot;&gt;When selecting &quot;We couldn&apos;t get access to the property/land located at:&quot; in the &quot;During visit we found&quot; field, the &quot;If &apos;We couldn’t get access to the property/land located at:&apos; is selected&quot; field is mandatory&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_WHN</name>
        <label>Error</label>
        <locationX>2954</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Net_Tech_Waste</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 30, 30);&quot;&gt;When selecting &quot;We need to get in touch with the occupier at the neighbouring property for access to:&quot; in the &quot;What happens next?&quot; field, the &quot;If &apos;we need to get in touch with the occupier at the neighbouring property for access to:&apos; is selected&quot; field is mandatory&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Pressure</name>
        <label>Flow / Pressure</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Flow_Pressure</targetReference>
        </connector>
        <fields>
            <name>Flow_lps</name>
            <dataType>String</dataType>
            <fieldText>Flow (lps)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Pressure</name>
            <dataType>Number</dataType>
            <fieldText>Pressure (bar)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manhole_waste</name>
        <label>Manhole Details</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Required_Fields_manhole</targetReference>
        </connector>
        <fields>
            <name>varManholeInspectionArea</name>
            <choiceReferences>cs_manholeInspArea</choiceReferences>
            <dataType>String</dataType>
            <fieldText>We inspected the manhole cover(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>varManholeResponsibility</name>
            <choiceReferences>cs_manholeResponsibility</choiceReferences>
            <dataType>String</dataType>
            <fieldText>We have identified that the manhole cover(s)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>If_selected_by_another_utility_company</name>
            <dataType>String</dataType>
            <fieldText>If ‘Belongs to another utility company’ is selected</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>varManholeVisitActions</name>
            <choiceReferences>cs_manholeVisitAction</choiceReferences>
            <dataType>String</dataType>
            <fieldText>During the visit we</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>If_Other_is_selected</name>
            <dataType>String</dataType>
            <fieldText>If ‘Other’ is selected</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>varManholeNextActions</name>
            <choiceReferences>cs_manholeNxtAction</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What happens next?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Addiitonal_Information</name>
            <dataType>String</dataType>
            <fieldText>Additional Information</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Net_Tech_Waste</name>
        <label>Non-Tech Details</label>
        <locationX>2954</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Required_Fields</targetReference>
        </connector>
        <fields>
            <name>varWasteVisitOutcomes</name>
            <choiceReferences>cs_varWasteVisitOutcomes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>During our visit we found</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>couldnt_get_access_to_the_property</name>
            <dataType>String</dataType>
            <fieldText>If “We couldn’t get access to the property/land located at:” is selected</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_notTechMsg1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(195, 29, 29); background-color: rgb(255, 255, 255);&quot;&gt;So we couldn&apos;t carry out any work during the visit&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>varWasteVisitActions</name>
            <choiceReferences>var_WasteVisitActions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>During the visit we</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>varWasteNextActions</name>
            <choiceReferences>var_WasteNextActions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What happens next?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>If_we_need_to_get_in_touch_with_the_occupier_at_the_neighbouring_property_for_ac</name>
            <dataType>String</dataType>
            <fieldText>If “we need to get in touch with the occupier at the neighbouring property for access to:” is selected</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_notTechmsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;As soon as we have, we will arrange to come back. If you can assist, please call us quoting the job reference number.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Role_Selection</name>
        <label>Role Selection</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Role</targetReference>
        </connector>
        <fields>
            <name>Role_HD</name>
            <choiceReferences>var_HDrole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Role_Selection_water</name>
        <label>Role Selection</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Role_Water</targetReference>
        </connector>
        <fields>
            <name>Role_Water</name>
            <choiceReferences>var_WaterRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Template_Selection_DevServ</name>
        <label>Template Selection</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Template_DevServ</targetReference>
        </connector>
        <fields>
            <name>Region</name>
            <choiceReferences>cs_TemplateDevServ</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Job_Summary_DevServ</name>
            <dataType>String</dataType>
            <fieldText>Job Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Character Limit Exceeded (Max Length =255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Job_Summary_DevServ}) &lt; 256</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Language_Devserv</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>English_Welsh</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VYN_DevServ</name>
            <dataType>String</dataType>
            <fieldText>VYN</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Template_Selection_HD_Inspector</name>
        <label>Template Selection</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Template_Inspector</targetReference>
        </connector>
        <fields>
            <name>Template_HD_Inspector</name>
            <choiceReferences>cs_TemplateHDInspector</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call in Card Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Supporting_Information_HD_Inspector</name>
            <choiceReferences>cs_supportingInfoHd</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Supporting Information</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Job_Summary_water_HD_Inspector</name>
            <dataType>String</dataType>
            <fieldText>Job Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Character Limit Exceeded (Max Length =255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Job_Summary_water_HD_Inspector}) &lt; 256</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Customer_Coordinator_Contact_Number_HD_Inspector</name>
            <choiceReferences>cs_customerCoContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Coordinator - Contact Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Operative_Contact_Number_HD_Inspector</name>
            <dataType>String</dataType>
            <fieldText>Operative Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter Valid Operative Contact Number&lt;/p&gt;</errorMessage>
                <formulaExpression>ISNUMBER({!Operative_Contact_Number_HD_Inspector}) &amp;&amp; (LEN({!Operative_Contact_Number_HD_Inspector}) &gt;= 10 &amp;&amp; LEN({!Operative_Contact_Number_HD_Inspector}) &lt;= 11)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Language_HD_Inspector</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>English_Welsh</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VYN_HD_Inspector</name>
            <dataType>String</dataType>
            <fieldText>VYN</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Template_Selection_HD_RM_Reinst</name>
        <label>Template Selection</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Template_RMReinstatement</targetReference>
        </connector>
        <fields>
            <name>Template_HD_RM_Reinst</name>
            <choiceReferences>cs_TempRMreinst</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call in Card Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Supporting_Information_HD_RM_Reinst</name>
            <choiceReferences>cs_supportingInfoHd</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Supporting Information</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Job_Summary_HD_RM_Reinst</name>
            <dataType>String</dataType>
            <fieldText>Job Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Character Limit Exceeded (Max Length =255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Job_Summary_HD_RM_Reinst}) &lt; 256</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Customer_Coordinator_Contact_Number_HD_RM_Reinst</name>
            <choiceReferences>cs_customerCoContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Coordinator - Contact Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Operative_Contact_Number_HD_RM_Reinst</name>
            <dataType>String</dataType>
            <fieldText>Operative Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter Valid Operative Contact Number&lt;/p&gt;</errorMessage>
                <formulaExpression>ISNUMBER({!Operative_Contact_Number_HD_RM_Reinst}) &amp;&amp; (LEN({!Operative_Contact_Number_HD_RM_Reinst}) &gt;= 10 &amp;&amp; LEN({!Operative_Contact_Number_HD_RM_Reinst}) &lt;= 11)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Language_HD_RM_Reinst</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>English_Welsh</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VYN_HD_RM_Reinst</name>
            <dataType>String</dataType>
            <fieldText>VYN</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Template_Selection_RM</name>
        <label>Template Selection</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Template_Water_RM</targetReference>
        </connector>
        <fields>
            <name>Template_water_RM</name>
            <choiceReferences>cs_TemplateWaterRM</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Supporting_Information_water_RM</name>
            <choiceReferences>cs_SupportingInformation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Supporting Information</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Job_Summary_water_RM</name>
            <dataType>String</dataType>
            <fieldText>Job Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Character Limit Exceeded (Max Length =255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Job_Summary_water_RM}) &lt; 256</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Customer_Coordinator_Contact_No_water_RM</name>
            <choiceReferences>cs_customerCoContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Coordinator - Contact Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Operative_Contact_Number_water_RM</name>
            <dataType>String</dataType>
            <fieldText>Operative Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter Valid Operative Contact Number&lt;/p&gt;</errorMessage>
                <formulaExpression>ISNUMBER({!Operative_Contact_Number_water_RM}) &amp;&amp; (LEN({!Operative_Contact_Number_water_RM}) &gt;= 10 &amp;&amp; LEN({!Operative_Contact_Number_water_RM}) &lt;= 11)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Language_water_RM</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>English_Welsh</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VYN_water_RM</name>
            <dataType>String</dataType>
            <fieldText>VYN</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Template_Selection_Waste</name>
        <label>Template Selection</label>
        <locationX>2294</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Template_Waste</targetReference>
        </connector>
        <fields>
            <name>Template_Waste</name>
            <choiceReferences>cs_wasteTemp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Supporting_Information_Waste</name>
            <choiceReferences>cs_supportingWaste</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Supporting Information</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Job_Summary_Waste</name>
            <dataType>String</dataType>
            <fieldText>Job Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Character Limit Exceeded (Max Length =255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Job_Summary_Waste}) &lt; 256</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Language_Waste</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>English_Welsh</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VYN_Waste</name>
            <dataType>String</dataType>
            <fieldText>VYN</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Template_Selection_water</name>
        <label>Template Selection</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Template_water_Inspector</targetReference>
        </connector>
        <fields>
            <name>Template_water_insp</name>
            <choiceReferences>cs_TemplateWaterInspector</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Supporting_Information_water_insp</name>
            <choiceReferences>cs_SupportingInformation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Supporting Information</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Job_Summary_water_insp</name>
            <dataType>String</dataType>
            <fieldText>Job Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Character Limit Exceeded (Max Length =255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Job_Summary_water_insp}) &lt; 256</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Customer_Coordinator_Contact_Number_water_insp</name>
            <choiceReferences>cs_customerCoContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Coordinator - Contact Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Operative_Contact_Number_water_inpsector</name>
            <dataType>String</dataType>
            <fieldText>Operative Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter Valid Operative Contact Number&lt;/p&gt;</errorMessage>
                <formulaExpression>ISNUMBER({!Operative_Contact_Number_water_inpsector}) &amp;&amp; (LEN({!Operative_Contact_Number_water_inpsector}) &gt;= 10 &amp;&amp; LEN({!Operative_Contact_Number_water_inpsector}) &lt;= 11)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Language_water_insp</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>English_Welsh</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VYN_water_insp</name>
            <dataType>String</dataType>
            <fieldText>VYN</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Waste_Details</name>
        <label>Waste Details</label>
        <locationX>2294</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Required_Fields_waste</targetReference>
        </connector>
        <fields>
            <name>varVisitedAfterRecvReport</name>
            <choiceReferences>cs_varVisitedAfterRecvReport</choiceReferences>
            <dataType>String</dataType>
            <fieldText>We have visited after receiving a report of</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>During_visit_we_found</name>
            <choiceReferences>cs_During_visit_we_found</choiceReferences>
            <dataType>String</dataType>
            <fieldText>During visit we found</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_wasteMsg</name>
            <fieldText>&lt;p&gt;So we couldn&apos;t carry out any work during the visit. If you can assist, please call us quoting the reference number on the front of this card.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>If_We_couldn_t_get_access_to_the_property_land_located_at_is_selected</name>
            <dataType>String</dataType>
            <fieldText>If “We couldn’t get access to the property/land located at:” is selected</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>During_visit_we</name>
            <choiceReferences>cs_During_visit_we</choiceReferences>
            <dataType>String</dataType>
            <fieldText>During visit we</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <dataType>String</dataType>
            <fieldText>Additional Information</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Water_vs_HD</name>
        <label>STW / HD</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HD_Leaf</targetReference>
        </connector>
        <fields>
            <name>Leaflet_is_intended_for</name>
            <choiceReferences>STW</choiceReferences>
            <choiceReferences>HD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Leaflet is intended for</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1095</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Blank_values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>SFS-8264 and SFS-8263</description>
        <name>Assign_Blank_values</name>
        <label>Assign Blank values</label>
        <locationX>1221</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Contact_Details</targetReference>
        </connector>
        <flowName>FSM_ProformaLeafletVariableAssignmentSubFlow</flowName>
        <outputAssignments>
            <assignToReference>SASingleRecordVar</assignToReference>
            <name>SASingleRecordVarForUpdate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>isMobile</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SABusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SASingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SAworkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CurrentUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_leafletcmdt</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_LeafletConfiguration__mdt</objectType>
    </variables>
    <variables>
        <name>var_OperatorContactNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_ServiceResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHDrole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_LeafletConfiguration__mdt</objectType>
    </variables>
    <variables>
        <name>WoContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WoContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
