force-app/main/default/flows/FSM_DataCaptureFormShortDurationWorksRiskAssessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_log_creation</name>
        <label>Error log creation</label>
        <locationX>1546</locationX>
        <locationY>2222</locationY>
        <actionName>ErrorLog_Subflow_Create_Record</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FSM_ExternalId</name>
            <value>
                <elementReference>externalId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>Data Capture Form Risk Assessment-Site Specific</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLog_Subflow_Create_Record</nameSegment>
    </actionCalls>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFS-5314</description>
        <name>Assign_DCF_Record_Id</name>
        <label>Assign DCF Record Id</label>
        <locationX>754</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>DCFRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordVarFinal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DCF_Line_Item_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5314</description>
        <name>Assign_DCF_Record_Id_Final</name>
        <label>Assign Final DCF Record Id</label>
        <locationX>666</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>DCFRecordVarFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateExistingDCFRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_DCF_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Screen_1_elements</name>
        <label>Assignment of Screen 1 elements</label>
        <locationX>842</locationX>
        <locationY>2888</locationY>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWParkingRestrictions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_there_any_parking_restrictions_single_or_double_yellow_lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWParkingCauseHazard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_your_parking_cause_hazard_to_other_vehicles_cyclists_or_horse_riders</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_ParkingToAccess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_your_parking_cause_obstruction_to_access</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWParkingCauseObstruction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_your_parking_cause_obstruction_or_a_hazard_to_pedestrians_by_reducing_acces</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_DateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDatetime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Screen_2_elements</name>
        <label>Assignment of Screen 2 elements</label>
        <locationX>842</locationX>
        <locationY>3104</locationY>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWLess15minutesTwoway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Short_Duration_Work_less_than_15minutes_two_way_traffic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWMore15minutesTwoway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Short_Duration_Work_more_than_15_minutes_two_way_traffic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWMore15minutesGiveTake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Short_Duration_Work_more_than_15_minutes_give_take_traffic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWDurationExcess60minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_in_excess_of_60_minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWAdditionalSignPlatesConesRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any_additional_signs_supplementary_plates_or_cones_required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SafeUndertakeTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_it_safe_to_undertake_the_tasks_at_this_location_and_this_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWAccessForVehicularTraffic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_your_task_maintain_access_for_vehicular_traffic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWAccessForCyclistsHorseRiders__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_your_task_maintain_access_for_cyclists_and_horse_riders</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWTasksMaintainAccessPedestrians__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_your_task_maintain_access_for_pedestrians</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWLowRiskToYourselfPublic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_the_task_to_be_undertaken_of_low_risk_to_yourself_and_members_of_the_public</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWWorksInCentreOfTwoway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_works_be_undertaken_in_the_centre_of_a_two_way_road</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWWorksSideRoadNearTJunction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_the_works_at_a_side_road_near_a_T_junction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWWorksNearRoundabout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_works_near_a_roundabout</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_FurtherComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Screen_3_elements</name>
        <label>Assignment of Screen 3 elements</label>
        <locationX>842</locationX>
        <locationY>3320</locationY>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWOperatorsName1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operators_Name1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SDWOperatorsName2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operators_Name2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_JobDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provide_details_of_job_being_undertaken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Photos_Count_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5314</description>
        <name>Copy_1_of_Assign_Final_DCF_Record_Id</name>
        <label>Copy 1 of Assign Final DCF Record Id</label>
        <locationX>1018</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>DCFRecordVarFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCF_Line_Item_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a fix of SFS-3572</description>
        <name>DCFLIInitialcreationassignment</name>
        <label>DCFLIInitialcreationassignment</label>
        <locationX>842</locationX>
        <locationY>2672</locationY>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_DataCaptureFormInfra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordVarFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_SectionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Short Duration Works Risk Assessment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLineItemRecordVar.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myWorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-3048</description>
        <name>External_ID_assignment</name>
        <label>External ID assignment</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>externalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myWorkOrder.FSM_ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_check_for_get_elements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Id_Assignment_for_mobile</name>
        <label>Id Assignment for mobile</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>UserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Report_Template_mdt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ID_assignment_from_desktop</name>
        <label>ID assignment from desktop</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Report_Template_mdt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Photos_Count_Assignment</name>
        <label>Photos Count Assignment</label>
        <locationX>842</locationX>
        <locationY>3428</locationY>
        <assignmentItems>
            <assignToReference>Count1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadPhoto1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadPhotos2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count3</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadPhotos3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count4</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadPhotos4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Photos_Count</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DCFNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>DCFYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>SFS-5314</description>
        <name>Check_Any_DCF_Line_Item_Exists</name>
        <label>Check Any DCF Line Item Exists?</label>
        <locationX>666</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Assign_DCF_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DCFLineItemRecordVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCFLIInitialcreationassignment</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Confirmation_Message_to_Complete_Form_Again</name>
        <label>Check Confirmation Message to Complete Form Again</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status_Of_SA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-5314</description>
        <name>Check_If_Existing_DCF_Record_Present</name>
        <label>Check If Existing DCF Record Present?</label>
        <locationX>842</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Create_DCF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Yes_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateExistingDCFRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DCF_Record_Id_Final</targetReference>
            </connector>
            <label>Yes Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Photos_Count</name>
        <label>Check Photos Count</label>
        <locationX>842</locationX>
        <locationY>3536</locationY>
        <defaultConnector>
            <targetReference>Update_DCF_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Count &gt;=2</defaultConnectorLabel>
        <rules>
            <name>Count_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfUploadedPhotos</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Count &lt;2</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6558</description>
        <name>Check_Status_Of_SA</name>
        <label>Check Status Of SA</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Short_Duration_Works_Risk_Assesment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Completed and cannot Completed</defaultConnectorLabel>
        <rules>
            <name>Completed_and_cannot_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Completed and cannot Completed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as a part of SFS-3048</description>
        <name>Check_user_Type</name>
        <label>Check user Type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ID_assignment_from_desktop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop User</defaultConnectorLabel>
        <rules>
            <name>Mobile_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Id_Assignment_for_mobile</targetReference>
            </connector>
            <label>Mobile user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WorkStep_Status</name>
        <label>Check WorkStep Status</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Check_Status_Of_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWorkStep.FSM_IsCompleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkStep_Complete_Confirmation</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>File_Upload_2_Empty</name>
        <label>File Upload 2 Empty?</label>
        <locationX>1040</locationX>
        <locationY>4484</locationY>
        <defaultConnector>
            <targetReference>File_Upload_3_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadPhotos2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_File_Rename</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>File_Upload_3_Empty</name>
        <label>File Upload 3 Empty?</label>
        <locationX>1040</locationX>
        <locationY>4784</locationY>
        <defaultConnector>
            <targetReference>File_Upload_4_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadPhotos3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_File_Rename</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>File_Upload_4_Empty</name>
        <label>File Upload 4 Empty?</label>
        <locationX>1040</locationX>
        <locationY>5084</locationY>
        <defaultConnectorLabel>Yes Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadPhotos4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_File_Rename</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_fileUpload1_empty</name>
        <label>Is fileUpload1 empty?</label>
        <locationX>1040</locationX>
        <locationY>4184</locationY>
        <defaultConnector>
            <targetReference>File_Upload_2_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadPhoto1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Rename</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_for_get_elements</name>
        <label>Null check for get elements</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Check_WorkStep_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ST_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWorkOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkOrderNotFound</targetReference>
            </connector>
            <label>workorder is null</label>
        </rules>
    </decisions>
    <description>Created as a part of SFS-3048
V3 - Updated section type value as a part of SFS-3033
V8 - Updated as a fix of SFS-3752
V9- Added fault connector for Line Item Creation
V10 - Updated as a fix of SFS-3807 for upload Photos issue
v11 - Prevent two records from being created
v12 - Updated as part of SFS-4229
v19-updated as a part of SFS-4486
v31-Updated as a part of SFS-5314
v45-Updated as a part of SFS-6565
v48- Updated as a part of SFS-6639
Updated as a part of SFS-6196</description>
    <environments>Default</environments>
    <formulas>
        <name>CountOfUploadedPhotos</name>
        <dataType>Number</dataType>
        <expression>{!Count1} + {!Count2} + {!Count3} + {!Count4}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CurrentDateextract</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>CurrentDatetime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>Created as a part of SFS-3048</description>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>FileNameWithoutExtension</name>
        <dataType>String</dataType>
        <expression>LEFT({!uploadedPhotoLoopVar}, FIND(&apos;.&apos;, {!uploadedPhotoLoopVar})-1)</expression>
    </formulas>
    <formulas>
        <description>SFS-6639</description>
        <name>Upload1</name>
        <dataType>String</dataType>
        <expression>&apos;Provide photos of job being undertaken here&apos;&amp;&apos; -&apos;&amp;&apos;1&apos;</expression>
    </formulas>
    <interviewLabel>Data Capture Form Short Duration Works Risk Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Data Capture Form Short Duration Works Risk Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>Created as a part of SFS-3048</description>
        <name>Create_DCF</name>
        <label>Create DCF</label>
        <locationX>1018</locationX>
        <locationY>2006</locationY>
        <assignRecordIdToReference>DCFRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Assign_Final_DCF_Record_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_display</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Short Duration Works Risk Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>myWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordCreates>
    <recordCreates>
        <description>Created as a fix of SFS-3752</description>
        <name>DCF_Line_Item_Creation</name>
        <label>DCF Line Item Creation</label>
        <locationX>1018</locationX>
        <locationY>2222</locationY>
        <assignRecordIdToReference>DCFLineItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_DCF_Line_Item</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSM_DataCaptureFormInfra__c</field>
            <value>
                <elementReference>DCFRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SectionType__c</field>
            <value>
                <stringValue>Short Duration Works Risk Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>myWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DCFLineItemInfra__c</object>
    </recordCreates>
    <recordLookups>
        <description>SFS-5314</description>
        <name>Get_DCF_Line_Item</name>
        <label>Get DCF Line Item</label>
        <locationX>1018</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DCFLIInitialcreationassignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DCFLineItemId</elementReference>
            </value>
        </filters>
        <object>FSM_DCFLineItemInfra__c</object>
        <outputReference>DCFLineItemRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_SDWParkingRestrictions__c</queriedFields>
        <queriedFields>FSM_SDWParkingCauseHazard__c</queriedFields>
        <queriedFields>FSM_SDWParkingCauseObstruction__c</queriedFields>
        <queriedFields>FSM_ParkingToAccess__c</queriedFields>
        <queriedFields>FSM_DateAndTime__c</queriedFields>
        <queriedFields>FSM_SDWLess15minutesTwoway__c</queriedFields>
        <queriedFields>FSM_SDWMore15minutesTwoway__c</queriedFields>
        <queriedFields>FSM_SDWMore15minutesGiveTake__c</queriedFields>
        <queriedFields>FSM_SDWDurationExcess60minutes__c</queriedFields>
        <queriedFields>FSM_SDWAdditionalSignPlatesConesRequired__c</queriedFields>
        <queriedFields>FSM_SafeUndertakeTask__c</queriedFields>
        <queriedFields>FSM_SDWAccessForVehicularTraffic__c</queriedFields>
        <queriedFields>FSM_SDWAccessForCyclistsHorseRiders__c</queriedFields>
        <queriedFields>FSM_SDWTasksMaintainAccessPedestrians__c</queriedFields>
        <queriedFields>FSM_SDWLowRiskToYourselfPublic__c</queriedFields>
        <queriedFields>FSM_SDWWorksInCentreOfTwoway__c</queriedFields>
        <queriedFields>FSM_SDWWorksSideRoadNearTJunction__c</queriedFields>
        <queriedFields>FSM_SDWWorksNearRoundabout__c</queriedFields>
        <queriedFields>FSM_FurtherComments__c</queriedFields>
        <queriedFields>FSM_JobDetails__c</queriedFields>
        <queriedFields>FSM_SDWOperatorsName1__c</queriedFields>
        <queriedFields>FSM_SDWOperatorsName2__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>SFS-5314</description>
        <name>Get_Existing_DCF_Line_Item</name>
        <label>Get Existing DCF Line Item</label>
        <locationX>666</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Any_DCF_Line_Item_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_DataCaptureFormInfra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DCFRecordVarFinal</elementReference>
            </value>
        </filters>
        <object>FSM_DCFLineItemInfra__c</object>
        <outputReference>DCFLineItemRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_SDWParkingRestrictions__c</queriedFields>
        <queriedFields>FSM_SDWParkingCauseHazard__c</queriedFields>
        <queriedFields>FSM_SDWParkingCauseObstruction__c</queriedFields>
        <queriedFields>FSM_ParkingToAccess__c</queriedFields>
        <queriedFields>FSM_DateAndTime__c</queriedFields>
        <queriedFields>FSM_SDWLess15minutesTwoway__c</queriedFields>
        <queriedFields>FSM_SDWMore15minutesTwoway__c</queriedFields>
        <queriedFields>FSM_SDWMore15minutesGiveTake__c</queriedFields>
        <queriedFields>FSM_SDWDurationExcess60minutes__c</queriedFields>
        <queriedFields>FSM_SDWAdditionalSignPlatesConesRequired__c</queriedFields>
        <queriedFields>FSM_SafeUndertakeTask__c</queriedFields>
        <queriedFields>FSM_SDWAccessForVehicularTraffic__c</queriedFields>
        <queriedFields>FSM_SDWAccessForCyclistsHorseRiders__c</queriedFields>
        <queriedFields>FSM_SDWTasksMaintainAccessPedestrians__c</queriedFields>
        <queriedFields>FSM_SDWLowRiskToYourselfPublic__c</queriedFields>
        <queriedFields>FSM_SDWWorksInCentreOfTwoway__c</queriedFields>
        <queriedFields>FSM_SDWWorksSideRoadNearTJunction__c</queriedFields>
        <queriedFields>FSM_SDWWorksNearRoundabout__c</queriedFields>
        <queriedFields>FSM_FurtherComments__c</queriedFields>
        <queriedFields>FSM_JobDetails__c</queriedFields>
        <queriedFields>FSM_SDWOperatorsName1__c</queriedFields>
        <queriedFields>FSM_SDWOperatorsName2__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>SFS-5314</description>
        <name>Get_Existing_Short_Duration_Works_Risk_Assesment</name>
        <label>Get Existing Short Duration Works Risk Assesment</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Existing_DCF_Record_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_FormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Short Duration Works Risk Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>FSM_DataCaptureFormInfra__c</object>
        <outputReference>UpdateExistingDCFRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_ID_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>SFS-4229</description>
        <name>Get_Service_Report_Template_mdt</name>
        <label>Get Service Report Template mdt</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_TemplateName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Short Duration Works Risk Assessment</stringValue>
            </value>
        </filters>
        <object>FSM_ServiceReportTemplates__mdt</object>
        <outputAssignments>
            <assignToReference>ServiceReportTemplateIdVar</assignToReference>
            <field>FSM_TemplateId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Created as a part of SFS-3048</description>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Workorder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>myWorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>WorkPlanId</queriedFields>
        <queriedFields>WorkPlanExecutionOrder</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>FSM_IsCompleted__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Created as a part of SFS-3048</description>
        <name>Get_Workorder</name>
        <label>Get Workorder</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkStep.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>myWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_OrderNumber__c</queriedFields>
        <queriedFields>Address</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>ServiceReportTemplateId</queriedFields>
        <queriedFields>FSM_ExternalId__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>DCF_Infra_Updation</name>
        <label>DCF Infra Updation</label>
        <locationX>1040</locationX>
        <locationY>3860</locationY>
        <connector>
            <targetReference>Update_WorkOrder</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DCFRecordVarFinal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_DateAndTime__c</field>
            <value>
                <elementReference>CurrentDatetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>SFS-5314</description>
        <name>Update_DCF_Line_Item</name>
        <label>Update DCF Line Item</label>
        <locationX>1040</locationX>
        <locationY>3644</locationY>
        <connector>
            <targetReference>WorkStep_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_creation</targetReference>
        </faultConnector>
        <inputReference>DCFLineItemRecordVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrder</name>
        <label>Update WorkOrder</label>
        <locationX>1040</locationX>
        <locationY>3968</locationY>
        <connector>
            <targetReference>Standard_Message_for_Field_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkStep.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <elementReference>ServiceReportTemplateIdVar</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>WorkStep_Update</name>
        <label>WorkStep Update</label>
        <locationX>1040</locationX>
        <locationY>3752</locationY>
        <connector>
            <targetReference>DCF_Infra_Updation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkStep.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_IsCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: inherit; color: rgb(205, 89, 55);&quot;&gt;This service appointment has already been &lt;/span&gt;&lt;strong style=&quot;color: rgb(205, 89, 55); background-color: rgb(255, 255, 255);&quot;&gt;{!SA_Record.Status}&lt;/strong&gt;&lt;span style=&quot;color: rgb(205, 89, 55); font-size: inherit;&quot;&gt;. Further action is not possible.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>644</locationX>
        <locationY>3644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_3</targetReference>
        </connector>
        <fields>
            <name>ErrorMeassage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(238, 7, 7);&quot;&gt;Please make sure you upload minimum of two photos&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_display</name>
        <label>Fault display</label>
        <locationX>1546</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_log_creation</targetReference>
        </connector>
        <fields>
            <name>FaultScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;We have an Exception when try to create DCF Infra record, please connect with Admin to resolve the issue: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Created as a part of SFS-3048</description>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>842</locationX>
        <locationY>2780</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_Screen_1_elements</targetReference>
        </connector>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 11pt;&quot;&gt;&lt;em&gt;A Risk Assessment MUST be carried before works begin. The Risk Assessment MUST take into&amp;nbsp;account the road layout and speed of traffic, the task to be carried out location,duration,and restoration or site to its original state. This may identify additional signing lighting and guarding to ensure the safety of road users and operatives. Ask yourself the following questions for all mobile and short duration activities and use the red book for guidance.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_there_any_parking_restrictions_single_or_double_yellow_lines</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWParkingRestrictions__c</elementReference>
            </defaultValue>
            <fieldText>Are there any parking restrictions - single or double yellow lines ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Will_your_parking_cause_hazard_to_other_vehicles_cyclists_or_horse_riders</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWParkingCauseHazard__c</elementReference>
            </defaultValue>
            <fieldText>Will your parking cause hazard to other vehicles, cyclists or horse riders  ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Will_your_parking_cause_obstruction_or_a_hazard_to_pedestrians_by_reducing_acces</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWParkingCauseObstruction__c</elementReference>
            </defaultValue>
            <fieldText>Will your parking cause obstruction or a hazard to pedestrians by reducing access or visibility?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Will_your_parking_cause_obstruction_to_access</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_ParkingToAccess__c</elementReference>
            </defaultValue>
            <fieldText>Will your parking cause obstruction to access?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Created as a part of SFS-3048
Updated as a part of SFS-4486</description>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>842</locationX>
        <locationY>2996</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_Screen_2_elements</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(34, 43, 53); font-family: serif; font-size: 11pt; background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;Take into account all considerations for what type of works will you be undertaking and what equipment will you need:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Short_Duration_Work_less_than_15minutes_two_way_traffic</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWLess15minutesTwoway__c</elementReference>
            </defaultValue>
            <fieldText>Short Duration Work less than 15minutes two - way traffic</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 43, 53); font-family: Calibri; font-size: 11pt;&quot;&gt;If Yes consult page 87 and table inside rear of ACOP for layout of works&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Short_Duration_Work_more_than_15_minutes_two_way_traffic</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWMore15minutesTwoway__c</elementReference>
            </defaultValue>
            <fieldText>Short Duration Work more than 15 minutes - two way traffic</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 43, 53); font-family: Calibri; font-size: 11pt;&quot;&gt;If Yes consult page 89 and table inside rear of ACOP for layout of works&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Short_Duration_Work_more_than_15_minutes_give_take_traffic</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWMore15minutesGiveTake__c</elementReference>
            </defaultValue>
            <fieldText>Short Duration Work more than 15 minutes - give take traffic</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 43, 53); font-family: Calibri; font-size: 11pt;&quot;&gt;If Yes consult page 89 and table inside rear of ACOP for layout of works&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Duration_in_excess_of_60_minutes</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWDurationExcess60minutes__c</elementReference>
            </defaultValue>
            <fieldText>Duration in excess of 60 minutes</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 43, 53); font-family: Calibri; font-size: 11pt;&quot;&gt;If Yes, seek advice from your line manager in relation to notice requirements to Highways&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Any_additional_signs_supplementary_plates_or_cones_required</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWAdditionalSignPlatesConesRequired__c</elementReference>
            </defaultValue>
            <fieldText>Any additional signs, supplementary plates or  cones required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 43, 53); font-family: Calibri; font-size: 11pt;&quot;&gt;If Yes, action taken to address&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_it_safe_to_undertake_the_tasks_at_this_location_and_this_time</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SafeUndertakeTask__c</elementReference>
            </defaultValue>
            <fieldText>Is it safe to undertake the task at this location and this time?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 43, 53); font-family: serif; font-size: 11pt; background-color: rgb(255, 255, 255);&quot;&gt;If the answer to any of the below questions is no, please take action to address&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Will_your_task_maintain_access_for_vehicular_traffic</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWAccessForVehicularTraffic__c</elementReference>
            </defaultValue>
            <fieldText>Will your tasks maintain access for vehicular traffic?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Will_your_task_maintain_access_for_cyclists_and_horse_riders</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWAccessForCyclistsHorseRiders__c</elementReference>
            </defaultValue>
            <fieldText>Will your tasks maintain access for cyclists and horse riders?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Will_your_task_maintain_access_for_pedestrians</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWTasksMaintainAccessPedestrians__c</elementReference>
            </defaultValue>
            <fieldText>Will your tasks maintain access for pedestrians?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_the_task_to_be_undertaken_of_low_risk_to_yourself_and_members_of_the_public</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWLowRiskToYourselfPublic__c</elementReference>
            </defaultValue>
            <fieldText>Are the tasks to be undertaken of low risk to yourself and members of the public?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Will_works_be_undertaken_in_the_centre_of_a_two_way_road</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWWorksInCentreOfTwoway__c</elementReference>
            </defaultValue>
            <fieldText>Will works be undertaken in the centre of a two way road?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 43, 53); font-family: Calibri; font-size: 11pt;&quot;&gt;If Yes refer to page 39&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_the_works_at_a_side_road_near_a_T_junction</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWWorksSideRoadNearTJunction__c</elementReference>
            </defaultValue>
            <fieldText>Are the works at a side road near a T junction?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 43, 53); font-family: Calibri; font-size: 11pt;&quot;&gt;If Yes refer to page 44&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_works_near_a_roundabout</name>
            <choiceReferences>DCFYes</choiceReferences>
            <choiceReferences>DCFNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWWorksNearRoundabout__c</elementReference>
            </defaultValue>
            <fieldText>Are works near a roundabout?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 43, 53); font-family: Calibri; font-size: 11pt;&quot;&gt;If Yes refer to page 48-49&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Further_comments</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_FurtherComments__c</elementReference>
            </defaultValue>
            <fieldText>Further comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Created as a part of SFS-3048
Updated as a part of SFS-4486</description>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>842</locationX>
        <locationY>3212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_Screen_3_elements</targetReference>
        </connector>
        <fields>
            <name>Note4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(34, 43, 53); font-family: serif; font-size: 11pt;&quot;&gt;&lt;em&gt;Vehicle requirements: Must be conspicuous with rear chevron high vis markings 360 degrees amber&amp;nbsp;beacon keep left/right signage (Page 91)&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Provide_details_of_job_being_undertaken</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_JobDetails__c</elementReference>
            </defaultValue>
            <fieldText>Provide details of job being undertaken:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FileUpload1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provide photos of job being undertaken here:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFRecordVarFinal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadPhoto1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadPhoto1</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadPhoto1</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FileUpload2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provide photos of job being undertaken here:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFRecordVarFinal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadPhotos2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadPhotos2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadPhotos2</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FileUpload3</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provide photos of job being undertaken here:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFRecordVarFinal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadPhotos3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadPhotos3</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadPhotos3</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FileUpload4</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provide photos of job being undertaken here:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFRecordVarFinal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadPhotos4</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadPhotos4</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadPhotos4</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Operators_Name1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWOperatorsName1__c</elementReference>
            </defaultValue>
            <fieldText>Operators Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Operators_Name2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLineItemRecordVar.FSM_SDWOperatorsName2__c</elementReference>
            </defaultValue>
            <fieldText>Operators Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-6565</description>
        <name>Standard_Message_for_Field_User</name>
        <label>Standard Message for Field User</label>
        <locationX>1040</locationX>
        <locationY>4076</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_fileUpload1_empty</targetReference>
        </connector>
        <fields>
            <name>StandardMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please go to Quick Actions menu and generate a Service Report for this form immediately, thank you.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinalScreenDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This is the final screen, clicking &apos;Next&apos; will exit the form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkOrderNotFound</name>
        <label>Work order not found</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WorkOrderNotFoundMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error! Work Order Not found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkStep_Complete_Confirmation</name>
        <label>WorkStep Complete Confirmation</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Confirmation_Message_to_Complete_Form_Again</targetReference>
        </connector>
        <fields>
            <name>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WorkStep is already Completed . Do you still want to fill the form again ??</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_user_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_1_of_File_Rename</name>
        <label>Copy 1 of File Rename</label>
        <locationX>908</locationX>
        <locationY>4592</locationY>
        <connector>
            <targetReference>File_Upload_3_Empty</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Provide photos of job being undertaken here</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>DCFRecordVarFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadPhotos2</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_2_of_File_Rename</name>
        <label>Copy 2 of File Rename</label>
        <locationX>908</locationX>
        <locationY>4892</locationY>
        <connector>
            <targetReference>File_Upload_4_Empty</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Provide photos of job being undertaken here</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>DCFRecordVarFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadPhotos3</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>Copy_3_of_File_Rename</name>
        <label>Copy 3 of File Rename</label>
        <locationX>908</locationX>
        <locationY>5192</locationY>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Provide photos of job being undertaken here</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>DCFRecordVarFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadPhotos4</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>File_Rename</name>
        <label>File Rename</label>
        <locationX>908</locationX>
        <locationY>4292</locationY>
        <connector>
            <targetReference>File_Upload_2_Empty</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Provide photos of job being undertaken here</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>DCFRecordVarFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadPhoto1</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContentVersionRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>ContentVersionsListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>Count1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count4</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>SFS-5314</description>
        <name>DCFLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFLineItemRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5314</description>
        <name>DCFRecordVarFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingDCFLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3048</description>
        <name>externalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as a part of SFS-3048</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myServiceTeritorry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>myWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>myWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>NewFileNameAutoAssigned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>photoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>SFS-5556</description>
        <name>SAStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceReportTemplateIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5314</description>
        <name>UpdateExistingDCFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>uploadedPhotoLoopVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadPhoto1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadPhotos2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadPhotos3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadPhotos4</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Created as a part of SFS-3048</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
