force-app/main/default/flows/FSM_Mobile_Subflow_Field_Worker_Location_to_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ETA_Update</name>
        <label>Assign ETA Update</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>EtaUpdateConsent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CG_ETA_Update_to_Customer</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Added As part of SFI-2961</description>
        <name>Assign_ETA_Update_To_NO</name>
        <label>Assign ETA Update To NO</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>EtaUpdateConsent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dont_Send</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>CS_eta_consent_notSend</name>
        <choiceText>CS_eta_consent_notSend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dont_Send</name>
        <choiceText>Don&apos;t Send</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send</name>
        <choiceText>Send</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Updated a spart of SFS-7829</description>
        <name>Check_Condition_for_Location_Share</name>
        <label>Check Condition for Location Share</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_ETA_Update_To_NO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Share Location</defaultConnectorLabel>
        <rules>
            <name>Share_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En-Route</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeOfWork</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SRSingleRecordVar.FSM_ShowLiveLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ETA_Update_3_Mile_Radius_Update_to_Customer</targetReference>
            </connector>
            <label>Share Location</label>
        </rules>
    </decisions>
    <description>created as part SFS-5157
Updated As part of SFI-2961
Updated As part of SFS-7829</description>
    <environments>Default</environments>
    <interviewLabel>FSM Mobile Subflow - Live Location {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FSM Mobile Subflow - Field Worker Location to Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <description>Added as part of SFS-7829</description>
        <name>Get_Related_WO</name>
        <label>Get Related WO</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Condition_for_Location_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SASingleRecordVar.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>varContactPhoneNumber</assignToReference>
            <field>FSM_ContactPhoneNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TypeOfWork</assignToReference>
            <field>FSM_TypeofWork__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ETA_Update_3_Mile_Radius_Update_to_Customer</name>
        <label>ETA Update &amp; 3 Mile Radius Update to Customer</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_ETA_Update</targetReference>
        </connector>
        <fields>
            <name>dt_userConsent</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(221, 154, 64); font-size: 14px;&quot;&gt;Customer Phone:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(221, 154, 64);&quot;&gt;{!varContactPhoneNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(221, 154, 64);&quot;&gt;Mobile no. displayed: An ETA link can be sent to the customer&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(221, 154, 64);&quot;&gt;Landline no. displayed: Click “Don&apos;t Send” &amp;amp; call customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(221, 154, 64);&quot;&gt;If you have safety concerns or no number displayed, please select Don’t Send and record why in the job closure comments.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CG_ETA_Update_to_Customer</name>
            <choiceReferences>Send</choiceReferences>
            <choiceReferences>Dont_Send</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_WO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EtaUpdateConsent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SASingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SRSingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <description>Created as part of SFS-7829</description>
        <name>TypeOfWork</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
