force-app/main/default/flows/FSM_DCFDSTSelfAudit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_log_creation</name>
        <label>Error log creation</label>
        <locationX>1106</locationX>
        <locationY>3542</locationY>
        <actionName>ErrorLog_Subflow_Create_Record</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>DCF DST Self Audit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLog_Subflow_Create_Record</nameSegment>
    </actionCalls>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ContentDocumentId_Var</name>
        <label>Assign ContentDocumentId Var</label>
        <locationX>512</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>filesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedFileNamesVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_File_Uploaded_Or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>413</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_WorkStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Logger_Screen_Values</name>
        <label>Assign Logger Screen Values</label>
        <locationX>710</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_DSAReceiveLogger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_a_reactive_logger</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_DSALoggerTested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_logger_been_tested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_DateLoggerTested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Logger_was_tested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_DSASmartValveAppWorking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmarT_valve_app_Is_it_workings</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_DSASampleAppWorking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sample_App_Is_it_working</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_DSASampleLabelAvailability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sample_label_availability_Good_stock_level_how_would_they_answer_this_is_there_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_StockOfSampleBottle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_a_stock_of_sample_bottle_and_are_they_in_date_not_able_to_see</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_valid_Date_Logger_is_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Monthly_Calibration_Values</name>
        <label>ASSIGN Monthly Calibration Values</label>
        <locationX>512</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_TurbidityMonitorFulCalibration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Turbidity_Monitor_Full_Calibration_complete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_GennySerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Genny_Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_DSACATCalibrationDateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CAT_calibration_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_CATSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CAT_serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_HachMeterCalibrtion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hach_meter_monthly_calibration_complete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_DateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_GennyCalibrationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Genny_calibration_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logger_Test_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>149</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_WorkStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_New_Screen</name>
        <label>Assignment of New Screen</label>
        <locationX>842</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_BlowOffTool__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_a_blow_of_tool_and_is_it_in_working_condition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_WorkingPressureGauge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_working_pressure_gauge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_TrunkMainKeys__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_trunk_main_key_and_tommy_bar_on_your_van</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_RelevantDocsOnVan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_all_relevant_document_on_your_van_E_g_Do_not_Drinks_Land_entry_prof</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_IncidentTrackerDownloaded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_Incident_tracker_downloade_and_working</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_PollutionMigration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_Pollution_mitigation_on_your_van_Eg_Drain_Guards_Polly_Boom_Sedimat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDCFinfraRecordvar.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkStep_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DcfNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>DcfYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Confirmation_Message_to_Complete_Form_Again</name>
        <label>Check Confirmation Message to Complete Form Again</label>
        <locationX>105</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status_Of_SA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-5314</description>
        <name>Check_if_Existing_DCF_Record_is_Present</name>
        <label>Check if Existing DCF Record is Present?</label>
        <locationX>512</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>CREATE_DCFInfraRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Yes_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingDCFinfraRecordvar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monthly_Calibration</targetReference>
            </connector>
            <label>Yes Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_File_Uploaded_Or_Not</name>
        <label>Check If File Uploaded Or Not</label>
        <locationX>512</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Assign_Logger_Screen_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Uploaded</defaultConnectorLabel>
        <rules>
            <name>File_Not_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_File_Not_Uploaded_Message_Screen</targetReference>
            </connector>
            <label>File Not Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Initiated_from_mobile_or_desktop</name>
        <label>Check if Initiated from mobile or desktop</label>
        <locationX>281</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Id</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_valid_Date_Logger_is_selected</name>
        <label>Check If valid Date Logger is selected</label>
        <locationX>710</locationX>
        <locationY>2894</locationY>
        <defaultConnector>
            <targetReference>New_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Logger</defaultConnectorLabel>
        <rules>
            <name>Invalid_Date_Logger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FSM_Valid_Date_Logger1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_date_selected_for_Date_Logger_Tested</targetReference>
            </connector>
            <label>Invalid Date Logger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_Of_SA</name>
        <label>Check Status Of SA</label>
        <locationX>281</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_DST_Self_Audit_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed_and_cannot_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SASingleRecordVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cannot Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Completed and cannot Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WorkStep_Status</name>
        <label>Check WorkStep Status</label>
        <locationX>281</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Check_Status_Of_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WsIsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkStep_Complete_Confirmation</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-2982
Updated as a part of SFS-3765
v27 Updated as part of SFS-3975
Updated as part of SFS-5316
updated as part of SFS-5314
Updated as part of SFS-6662
Updated as part of SFS-6196</description>
    <dynamicChoiceSets>
        <name>blowOffToolchoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_BlowOffTool__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>hachMeterChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_HachMeterCalibrtion__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LoggerTestedPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_DSALoggerTested__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pollutionMitigationChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_PollutionMigration__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pressureGaugeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_WorkingPressureGauge__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReceiveLoggerPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_DSAReceiveLogger__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>relevantDocumentsChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_RelevantDocsOnVan__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sampleappchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_DSASampleAppWorking__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sampleBottlechoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_StockOfSampleBottle__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sampleLabelAvailabilitychoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_DSASampleLabelAvailability__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Smartvaluechoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_DSASmartValveAppWorking__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tommyBarChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_TrunkMainKeys__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>trackerDownloadedchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_IncidentTrackerDownloaded__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>turbidityMonitorChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_TurbidityMonitorFulCalibration__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate_Time</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Earlier_DateLogger</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-31</expression>
    </formulas>
    <formulas>
        <name>FSM_Valid_Date_Logger1</name>
        <dataType>Boolean</dataType>
        <expression>{!ExistingDCFinfraRecordvar.FSM_DateLoggerTested__c}&gt;{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!ExistingDCFinfraRecordvar.FSM_Name__c}</expression>
    </formulas>
    <formulas>
        <name>Work_Centre</name>
        <dataType>String</dataType>
        <expression>{!ExistingDCFinfraRecordvar.FSM_WorkCentre__c}</expression>
    </formulas>
    <interviewLabel>DCF {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DCF DST Self Audit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CREATE_DCFInfraRecord</name>
        <label>CREATE DCFInfraRecord</label>
        <locationX>600</locationX>
        <locationY>1898</locationY>
        <assignRecordIdToReference>DCFInfraRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>DST_Self_Audit_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>DST Self Audit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WOSingleRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordCreates>
    <recordLookups>
        <description>SFS-5314</description>
        <name>DST_Self_Audit_Record</name>
        <label>DST Self Audit Record</label>
        <locationX>600</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Monthly_Calibration</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DCFInfraRecordId</elementReference>
            </value>
        </filters>
        <object>FSM_DataCaptureFormInfra__c</object>
        <outputReference>ExistingDCFinfraRecordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_TurbidityMonitorFulCalibration__c</queriedFields>
        <queriedFields>FSM_GennySerialNumber__c</queriedFields>
        <queriedFields>FSM_DSACATCalibrationDateAndTime__c</queriedFields>
        <queriedFields>FSM_CATSerialNumber__c</queriedFields>
        <queriedFields>FSM_HachMeterCalibrtion__c</queriedFields>
        <queriedFields>FSM_DateAndTime__c</queriedFields>
        <queriedFields>FSM_GennyCalibrationDate__c</queriedFields>
        <queriedFields>FSM_BlowOffTool__c</queriedFields>
        <queriedFields>FSM_WorkingPressureGauge__c</queriedFields>
        <queriedFields>FSM_TrunkMainKeys__c</queriedFields>
        <queriedFields>FSM_RelevantDocsOnVan__c</queriedFields>
        <queriedFields>FSM_IncidentTrackerDownloaded__c</queriedFields>
        <queriedFields>FSM_PollutionMigration__c</queriedFields>
        <queriedFields>FSM_Comments__c</queriedFields>
        <queriedFields>FSM_DSAReceiveLogger__c</queriedFields>
        <queriedFields>FSM_DSALoggerTested__c</queriedFields>
        <queriedFields>FSM_DateLoggerTested__c</queriedFields>
        <queriedFields>FSM_DSASmartValveAppWorking__c</queriedFields>
        <queriedFields>FSM_DSASampleAppWorking__c</queriedFields>
        <queriedFields>FSM_DSASampleLabelAvailability__c</queriedFields>
        <queriedFields>FSM_StockOfSampleBottle__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>SFS-5314</description>
        <name>Get_Existing_DST_Self_Audit_Record</name>
        <label>Get Existing DST Self Audit Record</label>
        <locationX>512</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Existing_DCF_Record_is_Present</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_FormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DST Self Audit</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOSingleRecordVar.Id</elementReference>
            </value>
        </filters>
        <object>FSM_DataCaptureFormInfra__c</object>
        <outputReference>ExistingDCFinfraRecordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_TurbidityMonitorFulCalibration__c</queriedFields>
        <queriedFields>FSM_GennySerialNumber__c</queriedFields>
        <queriedFields>FSM_DSACATCalibrationDateAndTime__c</queriedFields>
        <queriedFields>FSM_CATSerialNumber__c</queriedFields>
        <queriedFields>FSM_HachMeterCalibrtion__c</queriedFields>
        <queriedFields>FSM_DateAndTime__c</queriedFields>
        <queriedFields>FSM_GennyCalibrationDate__c</queriedFields>
        <queriedFields>FSM_BlowOffTool__c</queriedFields>
        <queriedFields>FSM_WorkingPressureGauge__c</queriedFields>
        <queriedFields>FSM_TrunkMainKeys__c</queriedFields>
        <queriedFields>FSM_RelevantDocsOnVan__c</queriedFields>
        <queriedFields>FSM_IncidentTrackerDownloaded__c</queriedFields>
        <queriedFields>FSM_PollutionMigration__c</queriedFields>
        <queriedFields>FSM_Comments__c</queriedFields>
        <queriedFields>FSM_DSAReceiveLogger__c</queriedFields>
        <queriedFields>FSM_DSALoggerTested__c</queriedFields>
        <queriedFields>FSM_DateLoggerTested__c</queriedFields>
        <queriedFields>FSM_DSASmartValveAppWorking__c</queriedFields>
        <queriedFields>FSM_DSASampleAppWorking__c</queriedFields>
        <queriedFields>FSM_DSASampleLabelAvailability__c</queriedFields>
        <queriedFields>FSM_StockOfSampleBottle__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>281</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ServiceTerritory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOSingleRecordVar.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SASingleRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_ServiceResource</name>
        <label>GET ServiceResource</label>
        <locationX>281</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WorkStep_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserIdFinal</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_ServiceTerritory</name>
        <label>GET ServiceTerritory</label>
        <locationX>281</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ServiceResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOSingleRecordVar.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>ServiceTerritoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkOrder</name>
        <label>GET WorkOrder</label>
        <locationX>281</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WOSingleRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkStep</name>
        <label>GET WorkStep</label>
        <locationX>281</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputAssignments>
            <assignToReference>WsIsComplete</assignToReference>
            <field>FSM_IsCompleted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WOID</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_DCFInfraRecord</name>
        <label>Update DCFInfraRecord</label>
        <locationX>842</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>File_Rename</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputReference>ExistingDCFinfraRecordvar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>WorkStep_Update</name>
        <label>WorkStep Update</label>
        <locationX>842</locationX>
        <locationY>3218</locationY>
        <connector>
            <targetReference>Update_DCFInfraRecord</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_IsCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Display_File_Not_Uploaded_Message_Screen</name>
        <label>Display File Not Uploaded Message Screen</label>
        <locationX>314</locationX>
        <locationY>2786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Logger_Test_Screen</targetReference>
        </connector>
        <fields>
            <name>UploadAtLeastOneFileScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(238, 7, 7);&quot;&gt;You have skipped the file upload... Please make sure you upload at least one file.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: inherit; color: rgb(205, 89, 55);&quot;&gt;This service appointment has already been &lt;/span&gt;&lt;strong style=&quot;color: rgb(205, 89, 55); background-color: rgb(255, 255, 255);&quot;&gt;{!SASingleRecordVar.Status}&lt;/strong&gt;&lt;span style=&quot;color: rgb(205, 89, 55); font-size: inherit;&quot;&gt;. Further action is not possible.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>1106</locationX>
        <locationY>3434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_log_creation</targetReference>
        </connector>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We have an Exception while trying to create DCF Infra record, please connect with Admin to resolve the issue: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_date_selected_for_Date_Logger_Tested</name>
        <label>Invalid date selected for Date Logger Tested</label>
        <locationX>578</locationX>
        <locationY>3002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Logger_Test_Screen</targetReference>
        </connector>
        <fields>
            <name>Invalid_Date_Logger_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Date value of &apos;Date Logger was tested&apos; can not be a future date&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Logger_Test_Screen</name>
        <label>Logger Test Screen</label>
        <locationX>512</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_ContentDocumentId_Var</targetReference>
        </connector>
        <fields>
            <name>Sample_App_Is_it_working</name>
            <choiceReferences>sampleappchoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_DSASampleAppWorking__c</elementReference>
            </defaultValue>
            <fieldText>Sample App – Is it working?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_have_a_stock_of_sample_bottle_and_are_they_in_date_not_able_to_see</name>
            <choiceReferences>sampleBottlechoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_StockOfSampleBottle__c</elementReference>
            </defaultValue>
            <fieldText>Do you have a stock of sample bottle and are they in date? (not able to see)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sample_label_availability_Good_stock_level_how_would_they_answer_this_is_there_a</name>
            <choiceReferences>sampleLabelAvailabilitychoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_DSASampleLabelAvailability__c</elementReference>
            </defaultValue>
            <fieldText>Sample label availability – Good stock level (how would they answer this – is there a minimum level?)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_have_a_reactive_logger</name>
            <choiceReferences>ReceiveLoggerPicklistChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_DSAReceiveLogger__c</elementReference>
            </defaultValue>
            <fieldText>Do you have a reactive logger?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Has_the_logger_been_tested</name>
            <choiceReferences>LoggerTestedPicklistChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_DSALoggerTested__c</elementReference>
            </defaultValue>
            <fieldText>Has the logger been tested?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Logger_was_tested</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_DateLoggerTested__c</elementReference>
            </defaultValue>
            <fieldText>Date Logger was tested?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Date value of &apos;Date Logger was tested&apos; can not be more than one month in the past&amp;nbsp; or a future date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_Logger_was_tested}&gt;{!Earlier_DateLogger} &amp;&amp; 
 {!Date_Logger_was_tested}  &lt;{!CurrentDate_Time}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AttachPhotoOfLoggingGraph</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach photo of logging graph</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingDCFinfraRecordvar.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedFileNamesVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SmarT_valve_app_Is_it_workings</name>
            <choiceReferences>Smartvaluechoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_DSASmartValveAppWorking__c</elementReference>
            </defaultValue>
            <fieldText>Smart valve app -Is it working?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Monthly_Calibration</name>
        <label>Monthly Calibration</label>
        <locationX>512</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_Monthly_Calibration_Values</targetReference>
        </connector>
        <fields>
            <name>Date_and_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_DateAndTime__c</elementReference>
            </defaultValue>
            <fieldText>Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Genny_Serial_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_GennySerialNumber__c</elementReference>
            </defaultValue>
            <fieldText>Genny Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Genny_calibration_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_GennyCalibrationDate__c</elementReference>
            </defaultValue>
            <fieldText>Genny Calibration Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CAT_serial_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_CATSerialNumber__c</elementReference>
            </defaultValue>
            <fieldText>CAT serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CAT_calibration_date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_DSACATCalibrationDateAndTime__c</elementReference>
            </defaultValue>
            <fieldText>CAT calibration date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Turbidity_Monitor_Full_Calibration_complete</name>
            <choiceReferences>turbidityMonitorChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_TurbidityMonitorFulCalibration__c</elementReference>
            </defaultValue>
            <fieldText>Turbidity Monitor Full Calibration complete</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Hach_meter_monthly_calibration_complete</name>
            <choiceReferences>hachMeterChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_HachMeterCalibrtion__c</elementReference>
            </defaultValue>
            <fieldText>Hach meter monthly calibration complete</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Screen</name>
        <label>New Screen</label>
        <locationX>842</locationX>
        <locationY>3002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_New_Screen</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_a_blow_of_tool_and_is_it_in_working_condition</name>
            <choiceReferences>blowOffToolchoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_BlowOffTool__c</elementReference>
            </defaultValue>
            <fieldText>Do you have a blow off tool and is it in working condition?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_have_working_pressure_gauge</name>
            <choiceReferences>pressureGaugeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_WorkingPressureGauge__c</elementReference>
            </defaultValue>
            <fieldText>Do you have a working pressure gauge?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_have_trunk_main_key_and_tommy_bar_on_your_van</name>
            <choiceReferences>tommyBarChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_TrunkMainKeys__c</elementReference>
            </defaultValue>
            <fieldText>Do you have trunk main keys  and tommy bar on your van?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_have_all_relevant_document_on_your_van_E_g_Do_not_Drinks_Land_entry_prof</name>
            <choiceReferences>relevantDocumentsChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_RelevantDocsOnVan__c</elementReference>
            </defaultValue>
            <fieldText>Do you have all relevant documents on your van? E.g. Do not Drinks, Land entry proformas</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_the_Incident_tracker_downloade_and_working</name>
            <choiceReferences>trackerDownloadedchoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_IncidentTrackerDownloaded__c</elementReference>
            </defaultValue>
            <fieldText>Is the Incident tracker downloaded and working?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_have_Pollution_mitigation_on_your_van_Eg_Drain_Guards_Polly_Boom_Sedimat</name>
            <choiceReferences>pollutionMitigationChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_PollutionMigration__c</elementReference>
            </defaultValue>
            <fieldText>Do you have Pollution mitigation on your van? E.g. Drain Guards, Polly Boom, Sedimats</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Further_Comments</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDCFinfraRecordvar.FSM_Comments__c</elementReference>
            </defaultValue>
            <fieldText>Further Comments</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;If any of the questions are answered No please put reasoning in here&amp;nbsp;and call your line manager.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Further_Comments_HelpText</name>
            <fieldText>&lt;p&gt;ℹ️I&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;f any of the questions are answered No please put reasoning in here&amp;nbsp;and call your line manager.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinalScreenDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This is the final screen, clicking &apos;Next&apos; will exit the form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WorkStep_Complete_Confirmation</name>
        <label>WorkStep Complete Confirmation</label>
        <locationX>105</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Confirmation_Message_to_Complete_Form_Again</targetReference>
        </connector>
        <fields>
            <name>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WorkStep is already Completed . Do you still want to fill the form again ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Initiated_from_mobile_or_desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>File_Rename</name>
        <label>File Rename</label>
        <locationX>842</locationX>
        <locationY>3434</locationY>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Attach photo of logging graph</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>ExistingDCFinfraRecordvar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadedFileNamesVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContentDocumentIdVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFInfraRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingDCFinfraRecordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>filesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FutureDateErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please do not select a future date.</stringValue>
        </value>
    </variables>
    <variables>
        <name>FutureDateTimeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please do not select future date time.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SASingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFileNamesVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOSingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>Created as a part of SFS-3975</description>
        <name>WsIsComplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
