force-app/main/default/flows/FSM_ResourceAbsenceAfterDeleteTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Jeopardy_To_False</name>
        <label>Set Jeopardy To False</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_SAs.FSL__InJeopardy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_SAs.FSL__InJeopardyReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_SAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SAs</targetReference>
        </connector>
    </assignments>
    <description>Created as part of SFS-2979</description>
    <environments>Default</environments>
    <interviewLabel>FSM Resource Absence - After Delete Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Resource Absence - After Delete Trigger</label>
    <loops>
        <name>Loop_Through_SAs</name>
        <label>Loop Through SAs</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_SAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Jeopardy_To_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SAs</name>
        <label>Get SAs</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_SAs</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR  4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Start</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.End</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedEndTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Start</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedEndTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.End</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSL__InJeopardy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSL__InJeopardyReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resource unavailable</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SAs</name>
        <label>Update SAs</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>SA_RecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Break</stringValue>
            </value>
        </filters>
        <object>ResourceAbsence</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>440</locationX>
        <locationY>803</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>FSM Resource Absence - After Delete Trigger</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SA_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
