force-app/main/default/flows/FSM_WorkStepBeforeTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFL-811</description>
        <name>Assign_Contact_details</name>
        <label>Assign Contact details</label>
        <locationX>248</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_ContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_ContactPhoneNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_DCF_form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Max_Instance</name>
        <label>Assign max instance</label>
        <locationX>94</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_MaxInstance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Workstep_Template.FSM_MaxInstance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Is_Completed_check_box_is_checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>SFL-811</description>
        <name>Revert_back_the_Work_step_status</name>
        <label>Revert back the Work step status</label>
        <locationX>248</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Work_Step_name_for_contact_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_DCF_form</name>
        <label>Check DCF form</label>
        <locationX>380</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Acoustic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acoustic Logger Feedback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DCF_Infra_Records</targetReference>
            </connector>
            <label>Is Acoustic?</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFL-811</description>
        <name>Check_if_Is_Completed_check_box_is_checked</name>
        <label>Check if Is Completed check box is checked</label>
        <locationX>380</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Check_Work_Step_name_for_contact_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No revert of status needed</defaultConnectorLabel>
        <rules>
            <name>Is_Completed_is_not_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_IsCompleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActionDefinition</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revert_back_the_Work_step_status</targetReference>
            </connector>
            <label>Is Completed is not checked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Added as part of SFL-811, Moved from Work step after trigger to before trigger, (Originally Created as part of sfs-8108 Updated as Part of SFL-588)</description>
        <name>Check_Work_Step_name_for_contact_update</name>
        <label>Check Work Step name for contact update</label>
        <locationX>380</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Check_DCF_form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_contact_details</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infra Follow on work request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sewerage-Further Work Request (SCM)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Wo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_details</targetReference>
            </connector>
            <label>Update contact details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>182</locationX>
        <locationY>1811</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCF_Records_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DCFRecordVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>DCF Records present</label>
        </rules>
    </decisions>
    <decisions>
        <description>If applicable, populate maximum instance from workstep template tp work step.</description>
        <name>Empty_max_instance</name>
        <label>Empty max instance?</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_if_Is_Completed_check_box_is_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_EmptyMaxInstance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_MaxInstance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Workstep_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Instance_NOT_null</name>
        <label>Max Instance != null ?</label>
        <locationX>226</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Check_if_Is_Completed_check_box_is_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Max_Instance_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Workstep_Template.FSM_MaxInstance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Max_Instance</targetReference>
            </connector>
            <label>Max Instance Found</label>
        </rules>
    </decisions>
    <description>SFS-5321.
Updated as part of SFS-6573.(Max Instance Logic)
Updated as part of SFL-811</description>
    <environments>Default</environments>
    <formulas>
        <description>Is this a new record?</description>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>FSM Work Step Before Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Work Step Before Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>SFS-5321</description>
        <name>Get_DCF_Infra_Records</name>
        <label>Get DCF Infra Records</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </filters>
        <object>FSM_InfraDataCaptureForm2__c</object>
        <outputReference>DCFRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Moved this Query to top as part of SFL-811</description>
        <name>Get_Parent_Wo</name>
        <label>Get Parent Wo</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_max_instance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>FSM_ContactName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactPhone</assignToReference>
            <field>FSM_ContactPhoneNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WOId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Workstep Template with the name of the workstep</description>
        <name>Get_Workstep_Template</name>
        <label>Get Workstep Template</label>
        <locationX>226</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Max_Instance_NOT_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_MaxInstance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStepTemplate</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_MaxInstance__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Wo</targetReference>
        </connector>
        <object>WorkStep</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>SFL-811</description>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFL-811</description>
        <name>ContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5321</description>
        <name>DCFRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_InfraDataCaptureForm2__c</objectType>
    </variables>
    <variables>
        <description>SFL-811</description>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
