force-app/main/default/flows/FSM_ServiceAppointmentTMASubFlowUpdateGant_Icon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFS-6663</description>
        <name>Add_To_List</name>
        <label>Add To List</label>
        <locationX>336</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>AllSARecordtoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Service_Appointments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assgn_ID</name>
        <label>Assgn ID</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AllWoId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_Work_Order_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Work_Order_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-8474</description>
        <name>Auto_Schedule_check</name>
        <label>Auto Schedule check</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointments.FSM_RetriggerAutoSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Constraint_Date_Violation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-6663</description>
        <name>Reset_Gannt_icon</name>
        <label>Reset Gannt icon</label>
        <locationX>402</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointments.FSL__GanttIcon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-6663</description>
        <name>Reset_Gantt_Label</name>
        <label>Reset Gantt Label</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointments.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Icon_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-6663</description>
        <name>Set_Icon_Label</name>
        <label>Set Icon &amp; Label</label>
        <locationX>138</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointments.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_SA_Icon_Metadata.FSM_GanttLabel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointments.FSL__GanttIcon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_SA_Icon_Metadata.FSM_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Constraint_Date_Violation</name>
        <label>Check Constraint Date Violation</label>
        <locationX>336</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Label_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointments.FSM_TMAConstraintDatesViolated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Icon_Label</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-8285</description>
        <name>Check_if_SA_present</name>
        <label>Check if SA present</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_all_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Appointments</targetReference>
            </connector>
            <label>SA present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-8285</description>
        <name>Icon_Check</name>
        <label>Icon Check</label>
        <locationX>534</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Add_To_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dates_Violated_Icon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointments.FSL__GanttIcon__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GET_SA_Icon_Metadata.FSM_Link__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Gannt_icon</targetReference>
            </connector>
            <label>Dates Violated Icon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Label_Check</name>
        <label>Label Check</label>
        <locationX>534</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Icon_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Gantt_Label</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointments.FSL__GanttLabel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GET_SA_Icon_Metadata.FSM_GanttLabel__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Gantt_Label</targetReference>
            </connector>
            <label>Check Gantt Label</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6663
Updated as part of SFS-8285</description>
        <name>Wo_is_there</name>
        <label>Wo is there</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>to_SA_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_all_WO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SA_Icon_Metadata</targetReference>
            </connector>
            <label>to SA check</label>
        </rules>
    </decisions>
    <description>SFS-6663
Updated for SFS-8285. (Bulkfied with loop)
Updated as part of SFS-8474</description>
    <environments>Default</environments>
    <interviewLabel>FSM Service Appointment - SubFlow - Update SA on WOLI Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Service Appointment TMA - SubFlow - Update Gant Icon</label>
    <loops>
        <name>Collect_Work_Order_ID</name>
        <label>Collect Work Order ID</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>Collect_all_WO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assgn_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_all_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through all SA</description>
        <name>Service_Appointments</name>
        <label>Service Appointments</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <collectionReference>Collect_all_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Auto_Schedule_check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_gant_for_all_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Collect_all_SA</name>
        <label>Collect all SA</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_SA_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>In</operator>
            <value>
                <elementReference>AllWoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-6663</description>
        <name>Collect_all_WO</name>
        <label>Collect all WO</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Wo_is_there</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_TMAPermit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TMAPermitID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SA_Icon_Metadata</name>
        <label>GET  SA Icon Metadata</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Work_Order_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Constraint Dates Violated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_SAIcons__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>SFS-6663</description>
        <name>Update_gant_for_all_SA</name>
        <label>Update gant for all SA</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <inputReference>AllSARecordtoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Collect_all_WO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>SFS-6663</description>
        <name>AllSARecordtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>AllWoId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-6663</description>
        <name>TMAPermitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
