force-app/main/default/flows/FSM_DCFDistributionInterruptionForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>407</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_WorkStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>143</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_WorkStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_dcf_fields</name>
        <label>Assigning dcf fields</label>
        <locationX>314</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_ActualInterruptionDateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Interruption_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_ActualRestorationDateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Restoration_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_values_to_dcf_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_values</name>
        <label>Assigning values</label>
        <locationX>578</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_NoIntReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_No_Interruption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_InterruptionCustSupply__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_values_to_dcf_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigning_values_to_dcf_record</name>
        <label>assigning values to dcf record</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_WarningIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warning_Issue_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_WarningType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warning_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_InterruptionStartDateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Planned_Interruption_Start_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_PlannedRestDateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Planned_Restoration_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Required_Conditions_of_DCF_Form_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_values_to_dcf_records</name>
        <label>Assigning values to dcf record</label>
        <locationX>512</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_ResponsibilityCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_SecondaryCause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkStep_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DCF_Record_Assignment</name>
        <label>DCF Record Assignment</label>
        <locationX>512</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>DcfRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interruption_to_customer_supply_needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>dcf_value_assigning</name>
        <label>dcf value assigning</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_FailureType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Failure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_InterruptionCause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cause_of_Interruption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_OFTWAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OFTWAT_Category_of_Int</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_EstimatedNoOfPropertiesAffected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_No_of_Properties_Affected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_AreaAffected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Area_Affected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DcfRecord.FSM_InterruptionCustSupply__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCF_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Workstep_Assignments</name>
        <label>Workstep Assignments</label>
        <locationX>275</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>WsIsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkStep.FSM_IsCompleted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkStep.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Instance_Check</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_LineItem</name>
        <choiceText>Add Line Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Line Item</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_LineItem</name>
        <choiceText>Delete Line Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Line Item</stringValue>
        </value>
    </choices>
    <choices>
        <name>FinalPropertyAddressesAttachedRadioNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>FinalPropertyAddressesRadioYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>InterruptionToCustomer</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Interruptiontocustomernotrequired</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoOperationRequired</name>
        <choiceText>No addition/deletion required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoAddition/DeletionRequired</stringValue>
        </value>
    </choices>
    <choices>
        <name>wsNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>wsYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Confirmation_Message_to_Complete_Form_Again</name>
        <label>Check Confirmation Message to Complete Form Again</label>
        <locationX>589</locationX>
        <locationY>1406</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>wsYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_All_data_present</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Initiated_from_mobile_or_desktop</name>
        <label>Check if Initiated from mobile or desktop</label>
        <locationX>275</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Id</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Conditions_of_DCF_Form_Screen</name>
        <label>Check Required Conditions of  DCF Form Screen</label>
        <locationX>182</locationX>
        <locationY>2762</locationY>
        <defaultConnector>
            <targetReference>Supply_interruption_and_validation_Lineitem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_required_Date_Time_are_not_populated</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Warning_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Warning_Issue_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Planned_Interruption_Start_Date_and_Time</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Planned_Restoration_Date_and_Time</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCF_Error_Screen</targetReference>
            </connector>
            <label>If required Date Time are not populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WorkStep_Status</name>
        <label>Check WorkStep Status</label>
        <locationX>765</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>is_All_data_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WsIsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkStep_Complete_Confirmation</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <description>sfs-1322</description>
        <name>Interruption_to_customer_supply_required</name>
        <label>Interruption to customer supply required  ?</label>
        <locationX>512</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Assigning_values_to_dcf_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>customer_supply_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_interruption_to_customer_supply</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCF_Section</targetReference>
            </connector>
            <label>customer supply needed</label>
        </rules>
        <rules>
            <name>Customer_supply_not_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_interruption_to_customer_supply</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_a_reason_for_No_Interruption_to_customer_supply</targetReference>
            </connector>
            <label>Customer supply not required</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_All_data_present</name>
        <label>is All data present</label>
        <locationX>765</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>DataMissed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Yes_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_dcf_record</targetReference>
            </connector>
            <label>Yes present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Instance_Reached</name>
        <label>Max Instance Reached?</label>
        <locationX>275</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>GET_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MaxInstanceReached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>maxInstanceReached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SFS : 1322
Updated as a part of SFS-3033
Updated as a part of SFS-3836(added)
v37 update as part of SFS-3975
Bug-4643_Updated
updated SFS-4975
updated as part of SFS-5289\
Updated for max Instance check for SFS-6573
Updated as part of SFS-7419
Updated as a part of SFS-7916
Updated as part of SFS-7650
Updated as part of SFS-8071</description>
    <dynamicChoiceSets>
        <name>CauseofInterruption</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_InterruptionCause__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GSSPayableReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_GSSPayable__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>sfs-1322</description>
        <name>OFTWATCategoryofInt</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_OFTWAT__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForNoInterruption</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_NoIntReason__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>sfs-1322</description>
        <name>TypeOfFailure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_FailureType__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>sfs-1322</description>
        <name>WarningType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_WarningType__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ActualDurationMinutes</name>
        <dataType>Number</dataType>
        <expression>(ABS({!Actual_Interruption_Date_Time}-{!Actual_Restoration_Date_Time})*24)*60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>ForeCastDurationValueCalculation</name>
        <dataType>Number</dataType>
        <expression>ABS({!Planned_Interruption_Start_Date_and_Time}-{!Planned_Restoration_Date_and_Time})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TodayDateForValidation</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>DCF Distribution Interruption Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DCF Distribution Interruption Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_dcf_record</name>
        <label>Create dcf record</label>
        <locationX>512</locationX>
        <locationY>1898</locationY>
        <assignRecordIdToReference>DCFRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>DCF_Record_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Distribution Interruption</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkStep__c</field>
            <value>
                <elementReference>varWorkStep.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordCreates>
    <recordLookups>
        <name>GET_DCFRecord</name>
        <label>GET_DCFRecord</label>
        <locationX>765</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WorkStep_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </filters>
        <object>FSM_DataCaptureFormInfra__c</object>
        <outputReference>varDCFRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_ServiceResource</name>
        <label>GET_ServiceResource</label>
        <locationX>765</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_DCFRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserIdFinal</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkOrder</name>
        <label>GET_WorkOrder</label>
        <locationX>765</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ServiceResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>NotificationNumber</assignToReference>
            <field>FSM_NotificationNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OperationNumber</assignToReference>
            <field>FSM_OperationNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderNumber</assignToReference>
            <field>FSM_OrderNumber__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkStep</name>
        <label>GET_WorkStep</label>
        <locationX>275</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Workstep_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>varWorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_IsCompleted__c</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>FSM_MaxInstance__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>sfs-1322</description>
        <name>Update_DCFInfraRecord</name>
        <label>Update DCFInfraRecord</label>
        <locationX>512</locationX>
        <locationY>3578</locationY>
        <inputReference>DcfRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>WorkStep_Update</name>
        <label>WorkStep Update</label>
        <locationX>512</locationX>
        <locationY>3470</locationY>
        <connector>
            <targetReference>Update_DCFInfraRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_IsCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>actual_duration</name>
        <label>Actual duration</label>
        <locationX>314</locationX>
        <locationY>2978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assigning_dcf_fields</targetReference>
        </connector>
        <fields>
            <name>ActualDuration</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Actual Duration (HH:MM):&amp;nbsp;&lt;/strong&gt;&lt;strong&gt; {!ActualDurationMinutes}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DataMissed</name>
        <label>DataMissed</label>
        <locationX>1018</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DataMissing</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 37, 59);&quot;&gt;Either RecordTypeId or WorkOrder not found .&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DCF_Error_Screen</name>
        <label>DCF Error Screen</label>
        <locationX>50</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DCF_Form</targetReference>
        </connector>
        <fields>
            <name>WarningTypeWarnedMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter values in  the below fields as Warning Type is marked as &apos;Warned&apos; :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;-Warning Issue Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;-Planned Interruption Start Date and Time&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;-Planned Restoration Date and Time&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DCF_Form</name>
        <label>DCF Form</label>
        <locationX>182</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assigning_values_to_dcf_record</targetReference>
        </connector>
        <fields>
            <name>Warning_type</name>
            <choiceReferences>WarningType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Warning Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select one :&lt;/strong&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Warning_Issue_Date</name>
            <dataType>Date</dataType>
            <fieldText>Warning Issue Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Planned_Interruption_Start_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Planned Interruption Start Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Planned_Restoration_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Planned Restoration Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DCF_Section</name>
        <label>DCF Section</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dcf_value_assigning</targetReference>
        </connector>
        <fields>
            <name>Type_of_Failure</name>
            <choiceReferences>TypeOfFailure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Failure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select one :&lt;/strong&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cause_of_Interruption</name>
            <choiceReferences>CauseofInterruption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cause of Interruption:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select one :&lt;/strong&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OFTWAT_Category_of_Int</name>
            <choiceReferences>OFTWATCategoryofInt</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OFWAT  Category of Int.:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;strong&gt;Select one :&lt;/strong&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Estimated_No_of_Properties_Affected</name>
            <dataType>Number</dataType>
            <fieldText>Estimated No. of Properties Affected:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 6, 6);&quot;&gt;Estimated No. of Properties Affected should be within 18 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Estimated_No_of_Properties_Affected} &lt;= 999999999999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Address_Area_Affected</name>
            <fieldText>Address/ Area Affected</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 8, 8);&quot;&gt;Address/ Area Affected should be within 1000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Address_Area_Affected}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interruption_to_customer_supply_needed</name>
        <label>Interruption to customer supply needed</label>
        <locationX>512</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Interruption_to_customer_supply_required</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_interruption_to_customer_supply</name>
            <choiceReferences>InterruptionToCustomer</choiceReferences>
            <choiceReferences>Interruptiontocustomernotrequired</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interruption to Customer Supply:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_reason_for_No_Interruption_to_customer_supply</name>
        <label>Select a reason for No Interruption to customer supply</label>
        <locationX>578</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assigning_values</targetReference>
        </connector>
        <fields>
            <name>Reason_for_No_Interruption</name>
            <choiceReferences>ReasonForNoInterruption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If No, Reason for No Int.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;strong&gt;Select one :&lt;/strong&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supply_interruption_and_validation_Lineitem</name>
        <label>Supply interruption and validation</label>
        <locationX>314</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>actual_duration</targetReference>
        </connector>
        <fields>
            <name>Actual_Interruption_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Actual  Interruption Date &amp; Time :</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Actual_Restoration_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Actual Restoration Date &amp; Time :</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkStep_Complete_Confirmation</name>
        <label>WorkStep Complete Confirmation</label>
        <locationX>589</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Confirmation_Message_to_Complete_Form_Again</targetReference>
        </connector>
        <fields>
            <name>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</name>
            <choiceReferences>wsYes</choiceReferences>
            <choiceReferences>wsNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WorkStep is already Completed . Do you still want to fill the form again ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>149</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Initiated_from_mobile_or_desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Max_Instance_Check</name>
        <label>Max Instance Check</label>
        <locationX>275</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Max_Instance_Reached</targetReference>
        </connector>
        <flowName>FSM_MaxInstanceCheck</flowName>
        <inputAssignments>
            <name>varWorkStep</name>
            <value>
                <elementReference>varWorkStep</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>maxInstanceReached</assignToReference>
            <name>maxInstanceReached</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssignedResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFLILoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DcfRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxInstanceReached</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NotificationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-4643</description>
        <name>RegexCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>^[0-9]*?$</stringValue>
        </value>
    </variables>
    <variables>
        <name>TemporaryDCFLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>varWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WORecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WsIsCompleted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
