force-app/main/default/flows/FSM_AppointmentDependencyCreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_SA_when_not_Same_Start</name>
        <label>Assign SA when not Same Start</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SA1recordvar.FSM_AppointmentDependencyExists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2recordvar.FSM_AppointmentDependencyExists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_of_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SA_when_Same_Start</name>
        <label>Assign SA when Same Start</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SA1recordvar.FSM_SameStartAppointmentDependencyExists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2recordvar.FSM_SameStartAppointmentDependencyExists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_of_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_for_Same_Start</name>
        <label>Decision for &apos;Same Start&apos;</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_SA_when_not_Same_Start</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No &apos;Same Start&apos;</defaultConnectorLabel>
        <rules>
            <name>Same_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSL__Dependency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Same Start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SA_when_Same_Start</targetReference>
            </connector>
            <label>Same Start</label>
        </rules>
    </decisions>
    <description>Created as a part of SFS-5426</description>
    <environments>Default</environments>
    <interviewLabel>FSM Appointment Dependency (Create/Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Appointment Dependency (Create/Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SA1</name>
        <label>Get SA1</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSL__Service_Appointment_1__r.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA1recordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_SameStartAppointmentDependencyExists__c</queriedFields>
        <queriedFields>FSM_AppointmentDependencyExists__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA2</name>
        <label>Get SA2</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_for_Same_Start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSL__Service_Appointment_2__r.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA2recordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_SameStartAppointmentDependencyExists__c</queriedFields>
        <queriedFields>FSM_AppointmentDependencyExists__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_of_SA</name>
        <label>Update Record of SA</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Record_SA2</targetReference>
        </connector>
        <inputReference>SA1recordvar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_SA2</name>
        <label>Update Record SA2</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <faultConnector>
            <targetReference>CallErrorLogSubflow</targetReference>
        </faultConnector>
        <inputReference>SA2recordvar</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA1</targetReference>
        </connector>
        <object>FSL__Time_Dependency__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CallErrorLogSubflow</name>
        <label>CallErrorLogSubflow</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SA1recordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SA2recordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
