force-app/main/default/flows/FSM_UpdateServiceTerritoryMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFI-2934</description>
        <name>Assign_Level_1</name>
        <label>Assign Level 1</label>
        <locationX>534</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_NoRestriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_AssignToServiceTerritoryMemberCollection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-2934</description>
        <name>Assign_Level_2</name>
        <label>Assign Level 2</label>
        <locationX>798</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_NoRestriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_AssignToServiceTerritoryMemberCollection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-2934</description>
        <name>Assign_Level_3</name>
        <label>Assign Level 3</label>
        <locationX>1062</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_NoRestriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_AssignToServiceTerritoryMemberCollection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-2934</description>
        <name>Assign_Level_4</name>
        <label>Assign Level 4</label>
        <locationX>1326</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_NoRestriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_AssignToServiceTerritoryMemberCollection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-2934</description>
        <name>Assign_No_restriction</name>
        <label>Assign No restriction</label>
        <locationX>1590</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_Level4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_NoRestriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_AssignToServiceTerritoryMemberCollection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Part of SFS-5475</description>
        <name>Assign_None</name>
        <label>Assign None</label>
        <locationX>1194</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity60min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity90min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity120min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity330min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Travel_Restriction_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Part of SFS-5475</description>
        <name>FSM60_Minutes_Assignment</name>
        <label>60 Minutes Assignment</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity60min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity330min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity120min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity90min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Travel_Restriction_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-5475</description>
        <name>FSM90_Minutes_Assignment</name>
        <label>90 Minutes Assignment</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity90min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity330min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity120min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity60min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Travel_Restriction_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-5475 .</description>
        <name>FSM_120MinutesAssignment</name>
        <label>120 Minutes Assignment</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity120min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity330min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity90min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity60min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Travel_Restriction_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-5475 .</description>
        <name>FSM_330MinutesAssignment</name>
        <label>330 Minutes Assignment</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity60min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity90min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity120min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_TraverseServiceTerritoryMember.FSM_CustomerAppointmentCapacity330min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Travel_Restriction_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-1793</description>
        <name>FSM_AssignToServiceTerritoryMemberCollection2</name>
        <label>Assign To Service Territory Member Collection</label>
        <locationX>1062</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>FSM_ServiceTerritoryMemberCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FSM_TraverseServiceTerritoryMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_TraverseServiceTerritoryMember</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>SFI-2934</description>
        <name>Check_for_Travel_Restriction_changes</name>
        <label>Check for Travel Restriction changes</label>
        <locationX>1062</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assign_No_restriction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No restriction</defaultConnectorLabel>
        <rules>
            <name>Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResourceRecord.FSM_TravelRestriction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_1</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
        <rules>
            <name>Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResourceRecord.FSM_TravelRestriction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_2</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
        <rules>
            <name>Level_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResourceRecord.FSM_TravelRestriction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_3</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Level_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResourceRecord.FSM_TravelRestriction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_4</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as a part of SFS-1793
Updated as part of SFI-2934</description>
        <name>FSM_CheckCustomerAppointmentDurationCapacityValue</name>
        <label>Check Customer Appointment Duration Capacity Value</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_None</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duration_is_330</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResourceRecord.FSM_CustomerAppointmentDurationCapacity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>330 Minutes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_330MinutesAssignment</targetReference>
            </connector>
            <label>Duration is 330</label>
        </rules>
        <rules>
            <name>Duration_is_120</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResourceRecord.FSM_CustomerAppointmentDurationCapacity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>120 Minutes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_120MinutesAssignment</targetReference>
            </connector>
            <label>Duration is 120</label>
        </rules>
        <rules>
            <name>Duration_is_90</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResourceRecord.FSM_CustomerAppointmentDurationCapacity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>90 Minutes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM90_Minutes_Assignment</targetReference>
            </connector>
            <label>Duration is 90</label>
        </rules>
        <rules>
            <name>Duration_is_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResourceRecord.FSM_CustomerAppointmentDurationCapacity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60 Minutes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM60_Minutes_Assignment</targetReference>
            </connector>
            <label>Duration is 60</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as a part of SFS-1793</description>
        <name>FSM_CustomerAppointmentDuration</name>
        <label>Customer Appointment Duration</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_for_Travel_Restriction_changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FSM_IfCustomerAppointmentDurationIsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FSM_TraverseServiceTerritoryMember.TerritoryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_CheckCustomerAppointmentDurationCapacityValue</targetReference>
            </connector>
            <label>If Customer Appointment Duration Is Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-2934</description>
        <name>Is_STM_available</name>
        <label>Is STM available</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No STM to update</defaultConnectorLabel>
        <rules>
            <name>Yes_STM_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FSM_GetServiceTerritoryMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_TraverseServiceTerritoryMember</targetReference>
            </connector>
            <label>Yes STM Present</label>
        </rules>
    </decisions>
    <description>Auto-launched flow created as a part of #SFS-305.
Updated as a part of SFS-1793
Updated as a part of SHS-5475
Updated as part of SFS-7170
Updated as part of SFI-2934</description>
    <environments>Default</environments>
    <interviewLabel>Update Service Territory Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Service Territory Member</label>
    <loops>
        <name>FSM_TraverseServiceTerritoryMember</name>
        <label>TraverseServiceTerritoryMember</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>FSM_GetServiceTerritoryMember</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FSM_CustomerAppointmentDuration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FSM_UpdateServiceTerritoryMemberCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the service territory members as per #SFS-305
Updated as part of SFI-2934</description>
        <name>FSM_GetServiceTerritoryMember</name>
        <label>Get Service Territory Member</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_STM_available</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>#SFS-305</description>
        <name>FSM_UpdateServiceTerritoryMemberCollection</name>
        <label>Update Service Territory Member Collection</label>
        <locationX>50</locationX>
        <locationY>1442</locationY>
        <faultConnector>
            <targetReference>Create_Error_log</targetReference>
        </faultConnector>
        <inputReference>FSM_ServiceTerritoryMemberCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FSM_GetServiceTerritoryMember</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>SFI-2934</description>
        <name>Create_Error_log</name>
        <label>Create Error log</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>ErrorType</name>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_ExternalId</name>
            <value>
                <elementReference>ServiceResourceRecord.FSM_ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>FSM_UpdateServiceTerritoryMember</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>This List contains all updated service territory member #SFS-305</description>
        <name>FSM_ServiceTerritoryMemberCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <description>SFI-2934</description>
        <name>ServiceResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
</Flow>
