force-app/main/default/flows/FSM_serviceCrewmemebr_afterTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addcrewServiceResourceTocurentloop</name>
        <label>addcrewServiceResourceTocurentloop</label>
        <locationX>1128</locationX>
        <locationY>3881</locationY>
        <assignmentItems>
            <assignToReference>absencesLoop.ResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getserviceCrewResourceCopy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>absencesLoop.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>absencesLoop.FSM_ExternalId__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>absencesLoop.FSM_ServiceResourceAbsence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>absencesLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addtocollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addshifttocollection</name>
        <label>addshifttocollection</label>
        <locationX>1216</locationX>
        <locationY>2717</locationY>
        <assignmentItems>
            <assignToReference>shiftsharecollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleshiftshare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addtotimesheetshare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addtimesheettocollection</name>
        <label>addtimesheettocollection</label>
        <locationX>1216</locationX>
        <locationY>2933</locationY>
        <assignmentItems>
            <assignToReference>timesheetShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>timesheetshare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopthroughshiftsforshiftandtimesheetshare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addtocollection</name>
        <label>addtocollection</label>
        <locationX>1128</locationX>
        <locationY>3989</locationY>
        <assignmentItems>
            <assignToReference>resourceabsencetobecreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>absencesLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>absencesLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addtoshiftshare</name>
        <label>addtoshiftshare</label>
        <locationX>1216</locationX>
        <locationY>2609</locationY>
        <assignmentItems>
            <assignToReference>singleshiftshare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopthroughshiftsforshiftandtimesheetshare.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleshiftshare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleshiftshare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleshiftshare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CrewMemberUserID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addshifttocollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addtotimesheetshare</name>
        <label>addtotimesheetshare</label>
        <locationX>1216</locationX>
        <locationY>2825</locationY>
        <assignmentItems>
            <assignToReference>timesheetshare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopthroughshiftsforshiftandtimesheetshare.FSM_TimeSheetId__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timesheetshare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timesheetshare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timesheetshare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CrewMemberUserID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addtimesheettocollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection_Prior</name>
        <label>Assign to Collection Prior</label>
        <locationX>402</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>SCAbsenceIdCollectionPrior</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOfPrior.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOfPrior</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Absence_found</name>
        <label>Absence found?</label>
        <locationX>1040</locationX>
        <locationY>3773</locationY>
        <defaultConnector>
            <targetReference>addcrewServiceResourceTocurentloop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>absence_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_child_Absence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>absencesLoop</targetReference>
            </connector>
            <label>absence exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>AbsenceRecordFound</name>
        <label>AbsenceRecordFound</label>
        <locationX>1128</locationX>
        <locationY>3449</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>absenceFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAbsences</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>absencesLoop</targetReference>
            </connector>
            <label>absenceFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>AbsenceRecordFoundPrior</name>
        <label>AbsenceRecordFoundPrior</label>
        <locationX>578</locationX>
        <locationY>1308</locationY>
        <defaultConnector>
            <targetReference>getserviceCrewResourceCopy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>absenceFoundPrior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAbsencesPrior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopOfPrior</targetReference>
            </connector>
            <label>absenceFoundPrior</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_IF_dates_changed</name>
        <label>check IF dates changed</label>
        <locationX>798</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>getserviceCrewResourceCopy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAbsencesPrior</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFL-885</description>
        <name>Check_if_new_or_updated_SCM_record</name>
        <label>Check if new or updated SCM record</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>getserviceCrewResource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_SCM_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_appointment_for_ServResCrew.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_FSM_CrewMemberBasedSASearch_on_create</targetReference>
            </connector>
            <label>New SCM record</label>
        </rules>
        <rules>
            <name>SCM_record_updated</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_appointment_for_ServResCrew.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_FSM_CrewMemberBasedSASearch_on_update</targetReference>
            </connector>
            <label>SCM record updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFL-885, to check if the user is a Scheduler, Business Admin, Contractor Scheduler, Tech Admin, System Admin</description>
        <name>Check_if_user_have_FSM_CrewMemberCREDPermission_permission</name>
        <label>Check if user have FSM_CrewMemberCREDPermission permission</label>
        <locationX>798</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>getserviceCrewResource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t have permission</defaultConnectorLabel>
        <rules>
            <name>Have_permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.FSM_CrewMemberCREDPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_ServResCrew</targetReference>
            </connector>
            <label>Have permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_to_Update</name>
        <label>Records to Update</label>
        <locationX>864</locationX>
        <locationY>4265</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Records_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resourceabsencetobecreated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createResourceAbsence</targetReference>
            </connector>
            <label>Outcome 1 of Records to Update</label>
        </rules>
    </decisions>
    <description>updated as a part of SFL-524
Amend the logic to include - absence start outside the crew window and ends within crew end date, absence start inside the crew window and ends outside crew end date
Updated as part of SFL-885, to automatically assign or remove crew members from service appointments based on crew membership changes.
updated as a part of SFL-1148</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>FSM_serviceCrewmemebr_afterTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM_serviceCrewmemebr_afterTrigger</label>
    <loops>
        <name>absencesLoop</name>
        <label>AbsencesLoop</label>
        <locationX>864</locationX>
        <locationY>3557</locationY>
        <collectionReference>getAbsences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fetch_child_Absence</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Records_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOfPrior</name>
        <label>loopOfPrior</label>
        <locationX>314</locationX>
        <locationY>1416</locationY>
        <collectionReference>GetAbsencesPrior</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Collection_Prior</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_SC_Absences_Prior</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopthroughshiftsforshiftandtimesheetshare</name>
        <label>loopthroughshiftsforshiftandtimesheetshare</label>
        <locationX>1128</locationX>
        <locationY>2501</locationY>
        <collectionReference>get_shifts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addtoshiftshare</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createshiftshare</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createResourceAbsence</name>
        <label>createResourceAbsence</label>
        <locationX>600</locationX>
        <locationY>4373</locationY>
        <faultConnector>
            <targetReference>ErrorLog_Subflow_Create_Record_Flow_3</targetReference>
        </faultConnector>
        <inputReference>resourceabsencetobecreated</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createshiftshare</name>
        <label>createshiftshare</label>
        <locationX>1128</locationX>
        <locationY>3125</locationY>
        <connector>
            <targetReference>createtimesheetshare</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorLog_Subflow_Create_Record_Flow_4</targetReference>
        </faultConnector>
        <inputReference>shiftsharecollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createtimesheetshare</name>
        <label>createtimesheetshare</label>
        <locationX>1128</locationX>
        <locationY>3233</locationY>
        <connector>
            <targetReference>getAbsences</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorLog_Subflow_Create_Record_Flow_4</targetReference>
        </faultConnector>
        <inputReference>timesheetShareCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_SC_Absences_Prior</name>
        <label>Delete SC Absences Prior</label>
        <locationX>314</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>getserviceCrewResourceCopy</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorLogOnDelete</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ServiceResourceAbsence__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SCAbsenceIdCollectionPrior</elementReference>
            </value>
        </filters>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getserviceCrewResource.Id</elementReference>
            </value>
        </filters>
        <object>ResourceAbsence</object>
    </recordDeletes>
    <recordLookups>
        <description>SFL-885</description>
        <name>Fetch_appointment_for_ServResCrew</name>
        <label>Fetch appointment for ServResCrew</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_new_or_updated_SCM_record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_ErrorLog</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_ServResCrew.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En-Route</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onsite</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Return to Site</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_child_Absence</name>
        <label>Fetch child Absence</label>
        <locationX>1040</locationX>
        <locationY>3665</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Absence_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ServiceResourceAbsence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>absencesLoop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getserviceCrewResourceCopy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFL-885</description>
        <name>Fetch_ServResCrew</name>
        <label>Fetch ServResCrew</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_appointment_for_ServResCrew</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_ErrorLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceCrew.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get shfits for sharing</description>
        <name>get_shifts</name>
        <label>get shifts</label>
        <locationX>1128</locationX>
        <locationY>2393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopthroughshiftsforshiftandtimesheetshare</targetReference>
        </connector>
        <filterLogic>1 AND (2 AND 3)</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getserviceCrewResourceCopy.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFL-524 update: The the absence and crew membership are overlapping, but the absence may begin before the crew membership or finish after the crew membership (or both).</description>
        <name>getAbsences</name>
        <label>getAbsences</label>
        <locationX>1128</locationX>
        <locationY>3341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AbsenceRecordFound</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (  (3 AND 4) OR ( 5 AND 7 AND 4) OR (3 AND 8 AND 6 )  OR (5 AND 6) ) AND 9</filterLogic>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSM_ServiceResourceAbsence__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Break</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAbsencesPrior</name>
        <label>GetAbsencesPrior</label>
        <locationX>578</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AbsenceRecordFoundPrior</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (  (3 AND 4) OR ( 5 AND 7 AND 4) OR (3 AND 8 AND 6 )  OR (5 AND 6) ) AND 9</filterLogic>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSM_ServiceResourceAbsence__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Break</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getserviceCrewResource</name>
        <label>getserviceCrewResource</label>
        <locationX>798</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_IF_dates_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceCrew.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getserviceCrewResourceCopy</name>
        <label>Copy 1 of getserviceCrewResource</label>
        <locationX>1128</locationX>
        <locationY>2285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceCrew.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1002</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_user_have_FSM_CrewMemberCREDPermission_permission</targetReference>
        </connector>
        <object>ServiceCrewMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>createAbsenceOnInsert</name>
            <connector>
                <targetReference>getserviceCrewResourceCopy</targetReference>
            </connector>
            <label>createAbsenceOnInsert</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>SFL-885</description>
        <name>Call_FSM_CrewMemberBasedSASearch_on_create</name>
        <label>Call FSM_CrewMemberBasedSASearch on create</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>getserviceCrewResource</targetReference>
        </connector>
        <flowName>FSM_CrewMemberBasedSASearch</flowName>
        <inputAssignments>
            <name>SCM_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServResCrew</name>
            <value>
                <elementReference>Fetch_ServResCrew.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeredFor</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFL-885</description>
        <name>Call_FSM_CrewMemberBasedSASearch_on_update</name>
        <label>Call FSM_CrewMemberBasedSASearch on update</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>getserviceCrewResource</targetReference>
        </connector>
        <flowName>FSM_CrewMemberBasedSASearch</flowName>
        <inputAssignments>
            <name>SCM_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCM_RecordPrior</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServResCrew</name>
            <value>
                <elementReference>Fetch_ServResCrew.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeredFor</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFL-885</description>
        <name>Create_ErrorLog</name>
        <label>Create ErrorLog</label>
        <locationX>1018</locationX>
        <locationY>492</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>ErrorType</name>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_ExternalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Interface</name>
            <value>
                <stringValue>INT-003</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ErrorLog_Subflow_Create_Record_Flow_3</name>
        <label>ErrorLog Subflow Create Record Flow 3</label>
        <locationX>864</locationX>
        <locationY>4481</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_ExceptionalNumber</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ErrorLog_Subflow_Create_Record_Flow_4</name>
        <label>ErrorLog Subflow Create Record Flow 4</label>
        <locationX>1920</locationX>
        <locationY>3233</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>ErrorType</name>
            <value>
                <stringValue>exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>Service crew member after trigger</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ErrorLogOnDelete</name>
        <label>ErrorLogOnDelete</label>
        <locationX>578</locationX>
        <locationY>1824</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getserviceCrewResourceCopy</targetReference>
        </connector>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_ExceptionalNumber</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>RAtoBeDelink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>ResourceAbsecnesNEW</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>resourceabsencetobecreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>SCAbsenceIdCollectionPrior</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shiftsharecollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShiftShare</objectType>
    </variables>
    <variables>
        <name>singleshiftshare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShiftShare</objectType>
    </variables>
    <variables>
        <name>SRabsenceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>SRabsenceCollectionNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>SRAbsenceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRAbsenceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>timesheetshare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetShare</objectType>
    </variables>
    <variables>
        <name>timesheetShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetShare</objectType>
    </variables>
</Flow>
