force-app/main/default/flows/FSM_DCFWasteWaterBioChemicalAcceptance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_log_creation</name>
        <label>Error log creation</label>
        <locationX>1698</locationX>
        <locationY>3794</locationY>
        <actionName>ErrorLog_Subflow_Create_Record</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>DCF Waste Water &amp; Bio Chemical Acceptance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLog_Subflow_Create_Record</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Error_log_creation_for_Reject_delivery</name>
        <label>Error log creation for Reject delivery</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <actionName>ErrorLog_Subflow_Create_Record</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>DCF Waste Water &amp; Bio Chemical Acceptance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLog_Subflow_Create_Record</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ContentDocumentId_Var</name>
        <label>Assign ContentDocumentId Var</label>
        <locationX>1302</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>filesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedFileNamesVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_File_Uploaded_Or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DCF_value_reject_delivery</name>
        <label>Assign DCF value - reject delivery</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_RejectDelivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reject_delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_RejectDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_reject_give_comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WoSingleRecordVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DCFNonInfraRecord_reject_delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DCF_Values_Link_to_Work_Order</name>
        <label>Assign DCF Values - Link to Work Order</label>
        <locationX>1170</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_STWLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STW_location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DriverSignedIn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driver_completed_the_site_induction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CheckDeliveryNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirms_correct_chemical_is_being_delivered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DriverObtainFirstAid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driver_know_how_to_obtain_first_aid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_OperationOfEmergencyShower__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_emergency_showers_and_eyewash</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_LocationContentsEmergencySpillKit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_contents_of_emergency_spill_kits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_LocateWashDownHoses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_operation_of_wash_down_hoses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ConfirmCommDriverAndSupervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_communication_between_driver_STW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ChemicalSupplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chemical_supplier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ChemicalDelivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chemical_delivered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DriverInControlOfDelivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driver_must_stay_with_delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_STWStopDeliveryEmergency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Understand_how_STW_can_stop_delivery_in_an_emergency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CheckCorrectChemicalLoaded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_correct_storage_tank_is_being_used</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CheckTankBundAndLineValues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ensure_all_valves_are_in_correct_positions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_InterceptorTankSufficientCapacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interceptor_tank_checked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_InspectStorageTanksDamage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_tank_for_signs_of_damage_leaks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CarryOutLampTest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Carry_out_a_lamp_test_on_the_panel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_RoomToAccept__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_Enough_room_in_tank_to_accept_the_delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CheckBundEmpty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_the_tank_bund_is_empty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DeliveryWarningSignsDisplayed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_exclusion_area_and_warning_signs_erected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CorrectPPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correct_PPE_has_been_donned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_RemoveLockingDeviceDeliveryPoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_locking_device_from_delivery_points</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DriverConnectedDeliveryPipework__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visual_check_to_ensure_driver_has_correctly_connected_pipework</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ConfirmDriverContactSTW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_with_driver_to_contact_the_STW_prior_to_disconnection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DeliveryValveSTWConnectionPoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Open_delivery_valve_on_STW_side</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DriverGravityTest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driver_must_gravity_test_before_pressurizing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_STWOperatorWithdrawOutsideExclusion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STW_operator_to_withdraw_outside_exclusion_zone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ObserveDeliveryFor5Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observe_delivery_for_5_minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ReturnToDeliveryAreas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_PPE_Worn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_STWStaff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STW_contact_person_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ChemicalDeliveryDriver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_driver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WoSingleRecordVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_TelephoneNumberSTWStaff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Telephone_Number_STW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_TelephoneNumberDeliveryDriver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Telephone_Number_Driver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Strength__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Strength1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DCF_Values_Work_Order_Not_Linked</name>
        <label>Assign DCF Values - Work Order Not Linked</label>
        <locationX>1434</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_STWLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STW_location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DriverSignedIn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driver_completed_the_site_induction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CheckDeliveryNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirms_correct_chemical_is_being_delivered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DriverObtainFirstAid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driver_know_how_to_obtain_first_aid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_OperationOfEmergencyShower__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_emergency_showers_and_eyewash</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_LocationContentsEmergencySpillKit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_contents_of_emergency_spill_kits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_LocateWashDownHoses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_operation_of_wash_down_hoses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ConfirmCommDriverAndSupervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_communication_between_driver_STW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ChemicalSupplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chemical_supplier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ChemicalDelivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chemical_delivered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DriverInControlOfDelivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driver_must_stay_with_delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_STWStopDeliveryEmergency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Understand_how_STW_can_stop_delivery_in_an_emergency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CheckCorrectChemicalLoaded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_correct_storage_tank_is_being_used</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CheckTankBundAndLineValues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ensure_all_valves_are_in_correct_positions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_InterceptorTankSufficientCapacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interceptor_tank_checked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_InspectStorageTanksDamage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_tank_for_signs_of_damage_leaks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CarryOutLampTest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Carry_out_a_lamp_test_on_the_panel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_RoomToAccept__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_Enough_room_in_tank_to_accept_the_delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CheckBundEmpty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_the_tank_bund_is_empty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DeliveryWarningSignsDisplayed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_exclusion_area_and_warning_signs_erected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CorrectPPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correct_PPE_has_been_donned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_RemoveLockingDeviceDeliveryPoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_locking_device_from_delivery_points</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DriverConnectedDeliveryPipework__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visual_check_to_ensure_driver_has_correctly_connected_pipework</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ConfirmDriverContactSTW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_with_driver_to_contact_the_STW_prior_to_disconnection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DeliveryValveSTWConnectionPoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Open_delivery_valve_on_STW_side</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DriverGravityTest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driver_must_gravity_test_before_pressurizing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_STWOperatorWithdrawOutsideExclusion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STW_operator_to_withdraw_outside_exclusion_zone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ObserveDeliveryFor5Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observe_delivery_for_5_minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ReturnToDeliveryAreas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_PPE_Worn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_STWStaff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STW_contact_person_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ChemicalDeliveryDriver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_driver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_TelephoneNumberSTWStaff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Telephone_Number_STW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_TelephoneNumberDeliveryDriver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Telephone_Number_Driver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Strength__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Strength1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_id</name>
        <label>assign id</label>
        <locationX>764</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>desktopUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_variable_names</name>
        <label>assign new variable names</label>
        <locationX>1546</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>oldFileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oldFileNameNoExtension</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Records_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Photo_Upload_Confirmation</name>
        <label>Assign Photo Upload Confirmation</label>
        <locationX>1434</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_PhotographScanDeliveryPaperwork__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_DCF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>676</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>initiated_on_desktop_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>waste water</description>
        <name>assign_variable_name_mobile</name>
        <label>assign variable name mobile</label>
        <locationX>1282</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>oldFileName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>uploadFileNameVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Records_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DCF_Record_Assignment</name>
        <label>DCF Record Assignment</label>
        <locationX>676</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Chemical_Reject_Form</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>recordtypeId</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Check_If_File_Uploaded_Or_Not</name>
        <label>Check If File Uploaded Or Not</label>
        <locationX>1302</locationX>
        <locationY>3362</locationY>
        <defaultConnector>
            <targetReference>Assign_Photo_Upload_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Uploaded</defaultConnectorLabel>
        <rules>
            <name>File_Not_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_File_Not_Uploaded_Message_Screen</targetReference>
            </connector>
            <label>File Not Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_reject_delivery_check_box</name>
        <label>Checking reject delivery  check box</label>
        <locationX>676</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_Reject_delivery_and_text_box_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reject_delivery</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_reject_give_comments</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DCF_value_reject_delivery</targetReference>
            </connector>
            <label>Checking Reject delivery and text box is not empty</label>
        </rules>
        <rules>
            <name>Checking_reject_delivery_and_text_box_in_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reject_delivery</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_reject_give_comments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IfRejectDelivery</targetReference>
            </connector>
            <label>Checking reject delivery and text box in empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>desktop_or_mobile</name>
        <label>desktop or mobile</label>
        <locationX>1414</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>assign_new_variable_names</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>desktopUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_variable_name_mobile</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>initiated_on_desktop_check</name>
        <label>initiated on desktop check</label>
        <locationX>676</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>assign_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>initiated_on_mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_WorkOrder</targetReference>
            </connector>
            <label>mobile</label>
        </rules>
    </decisions>
    <decisions>
        <description>if checked, DCF Non Infra record will be linked to work order as well as service resource. 
If not, it won&apos;t link to work order but it will link to service resource only.</description>
        <name>Link_to_current_work_order_checkbox_checked</name>
        <label>&apos;Link to current work order?&apos; checkbox checked?</label>
        <locationX>1302</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Assign_DCF_Values_Work_Order_Not_Linked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Link_to_current_work_order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DCF_Values_Link_to_Work_Order</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rename_Waste_Water_Photo</name>
        <label>Rename Waste Water Photo</label>
        <locationX>1302</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Assign_ContentDocumentId_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WasteWater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Waste_Water_Rename_Photo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Waste_Water_Photo_Rename</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-3063
Updated as part of SFS-3976
Updated as part of SFS-5802
Updated as a part of SFS-6836
Updated as a part of SFS-6577
Updated as part of SFS-7520</description>
    <dynamicChoiceSets>
        <name>Chemical</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ChemicalDelivered__c</picklistField>
        <picklistObject>FSM_DataCaptureFormNonInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupplierList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ChemicalSupplier__c</picklistField>
        <picklistObject>FSM_DataCaptureFormNonInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ChemicalRejectFormGiveDetailsComment</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!If_reject_give_comments})</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>oldFileNameNoExtension</name>
        <dataType>String</dataType>
        <expression>LEFT({!uploadFileNameVar},  FIND(&quot;.&quot;,{!uploadFileNameVar})-1)</expression>
    </formulas>
    <interviewLabel>DCF Waste Water &amp; Bio Chemical Acceptance {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DCF Waste Water &amp; Bio Chemical Acceptance</label>
    <loops>
        <name>Loop_Waste_Water_Photo_Rename</name>
        <label>Loop</label>
        <locationX>1194</locationX>
        <locationY>2354</locationY>
        <assignNextValueToReference>uploadFileNameVar</assignNextValueToReference>
        <collectionReference>UploadedFileNamesVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Waste_Water_File_Rename_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_ContentDocumentId_Var</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CREATE_DCFRECORD</name>
        <label>CREATE_DCFRECORD</label>
        <locationX>676</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>DCFRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>DCF_Record_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Create_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Waste Water &amp; Bio Chemical Acceptance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ServiceResource__c</field>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>IN progress</stringValue>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormNonInfra__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Records_3</name>
        <label>Get Records 3</label>
        <locationX>1414</locationX>
        <locationY>2870</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldFileName</elementReference>
            </value>
        </filters>
        <object>ContentVersion</object>
        <outputAssignments>
            <assignToReference>contentVersionID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_ServiceResource</name>
        <label>GET_ServiceResource</label>
        <locationX>676</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_DCFRECORD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ResourceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T</stringValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>serviceResourceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkOrder</name>
        <label>GET_WorkOrder</label>
        <locationX>676</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ServiceResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WoSingleRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_DCF</name>
        <label>UPDATE_DCF</label>
        <locationX>1434</locationX>
        <locationY>3578</locationY>
        <faultConnector>
            <targetReference>Fault_Message_Update_Screen</targetReference>
        </faultConnector>
        <inputReference>varDCFRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DCFNonInfraRecord_reject_delivery</name>
        <label>Update DCFNonInfraRecord - reject delivery</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <faultConnector>
            <targetReference>Found_Reject_Delivery_Screen</targetReference>
        </faultConnector>
        <inputReference>varDCFRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_records</name>
        <label>update records</label>
        <locationX>1414</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Loop_Waste_Water_Photo_Rename</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldFileName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>new_file_name</elementReference>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <screens>
        <name>Chemical_Reject_Form</name>
        <label>Chemical Acceptance Form</label>
        <locationX>676</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_reject_delivery_check_box</targetReference>
        </connector>
        <fields>
            <name>Chemical_Acceptance_Form</name>
            <fieldText>&lt;p&gt;If you are unable to accept this chemical delivery at any point in this form, please navigate back to this page to reject &amp;amp; give a reason. You will then be able to terminate the form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reject_delivery</name>
            <dataType>Boolean</dataType>
            <fieldText>Reject delivery</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>If_reject_give_comments</name>
            <fieldText>If reject, give comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_File_Not_Uploaded_Message_Screen</name>
        <label>Display File Not Uploaded Message Screen</label>
        <locationX>1170</locationX>
        <locationY>3470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_6</targetReference>
        </connector>
        <fields>
            <name>UploadAtLeastOneFileScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(238, 7, 7);&quot;&gt;You have skipped the file upload... Please make sure you upload at least one file.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Create_Screen</name>
        <label>Fault Message Create Screen</label>
        <locationX>1962</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_creation</targetReference>
        </connector>
        <fields>
            <name>Fault_Message_Create</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We have an Exception while trying to create DCF Non Infra record, please connect with Admin to resolve the issue: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Update_Screen</name>
        <label>Fault Message Update Screen</label>
        <locationX>1698</locationX>
        <locationY>3686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_log_creation</targetReference>
        </connector>
        <fields>
            <name>Fault_Message_Update</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;We have an Exception while trying to update DCF Non Infra record, please connect with Admin to resolve the issue: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Found_Reject_Delivery_Screen</name>
        <label>Found_Reject_Delivery_Screen</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_log_creation_for_Reject_delivery</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Fault_Message_Create</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We have an Exception while trying to create DCF Non Infra record, please connect with Admin to resolve the issue: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IfRejectDelivery</name>
        <label>IfRejectDelivery</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Chemical_Reject_Form</targetReference>
        </connector>
        <fields>
            <name>IfRejectDeliveryerrormessage</name>
            <fieldText>&lt;p&gt;Please enter the comments for the Reject delivery&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>1302</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <fields>
            <name>Header1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Waste Water Chemical Acceptance and Authorisation to Discharge From Bulk Chemicals (Liquid &amp;amp; Powder)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>STW_location</name>
            <dataType>String</dataType>
            <fieldText>STW location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Link_to_current_work_order</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Link to current work order?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Chemical_supplier</name>
            <choiceReferences>SupplierList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chemical supplier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Chemical_delivered</name>
            <choiceReferences>Chemical</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chemical delivered</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_time</name>
            <dataType>DateTime</dataType>
            <fieldText>Date &amp; time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Qty</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Strength1</name>
            <dataType>String</dataType>
            <fieldText>Strength</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EnsurePPE1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(21, 1, 1); font-family: Calibri; font-size: 12pt;&quot;&gt;Ensure both driver and STW delivery supervisor are both wearing appropriate PPE as detailed in the SOP/LOP for each specific chemical. COSHH data must be immediately available at delivery point.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>1302</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
        <fields>
            <name>Header2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Pre-Delivery Checklist - &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;(Please Tick)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Driver_completed_the_site_induction</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Driver completed the site induction.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirms_correct_chemical_is_being_delivered</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirms correct chemical is being delivered.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Driver_know_how_to_obtain_first_aid</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Driver know how to obtain first aid.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_emergency_showers_and_eyewash</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check emergency showers and eyewash.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_contents_of_emergency_spill_kits</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check contents of emergency spill kits.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_operation_of_wash_down_hoses</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check operation of wash down hoses.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirm_communication_between_driver_STW</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm communication between driver &amp; STW</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>1302</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_4</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Header2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Pre-Delivery Checklist - &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;(Please Tick)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Driver_must_stay_with_delivery</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Driver must stay with delivery.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Understand_how_STW_can_stop_delivery_in_an_emergency</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Understand how STW can stop delivery in an emergency.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_correct_storage_tank_is_being_used</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check correct storage tank is being used.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_there_Enough_room_in_tank_to_accept_the_delivery</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there Enough room in tank to accept the delivery.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ensure_all_valves_are_in_correct_positions</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ensure all valves are in correct positions.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Interceptor_tank_checked</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interceptor tank checked.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_tank_for_signs_of_damage_leaks</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check tank for signs of damage/leaks.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Carry_out_a_lamp_test_on_the_panel</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Carry out a lamp test on the panel.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_the_tank_bund_is_empty</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check the tank bund is empty.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_exclusion_area_and_warning_signs_erected</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check exclusion area and warning signs erected.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Correct_PPE_has_been_donned</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Correct PPE has been donned.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Remove_locking_device_from_delivery_points</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Remove locking device from delivery points.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Visual_check_to_ensure_driver_has_correctly_connected_pipework</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Visual check to ensure driver has correctly connected pipework.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirm_with_driver_to_contact_the_STW_prior_to_disconnection</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm with driver to contact the STW prior to disconnection.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_4</name>
        <label>Screen 4</label>
        <locationX>1302</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_5</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Header2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Delivery Checklist - &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;(Please Tick)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Open_delivery_valve_on_STW_side</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Open delivery valve on STW side.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Driver_must_gravity_test_before_pressurizing</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Driver must gravity test before pressurizing.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>STW_operator_to_withdraw_outside_exclusion_zone</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>STW operator to withdraw outside exclusion zone.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Observe_delivery_for_5_minutes</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Observe delivery for 5 minutes.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PPE_WORN_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;When contacted by delivery driver, return to delivery areas to observe safe disconnection, fitting of blank flange &amp;amp; washdown of delivery area as required. &lt;/span&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;FULL PPE MUST BE WORN WHEN INSIDE THE EXCLUSION ZONE.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Full_PPE_Worn</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Full PPE Worn</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_5</name>
        <label>Screen 5</label>
        <locationX>1302</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Link_to_current_work_order_checkbox_checked</targetReference>
        </connector>
        <fields>
            <name>Header5</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;EMERGENCY CONTACTS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>STW_contact_person_s</name>
            <dataType>String</dataType>
            <fieldText>STW contact person (s)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Name&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Telephone_Number_STW</name>
            <dataType>String</dataType>
            <fieldText>Telephone Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Telephone Number should be 11 digits and contains only numbers&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!FSM_Telephone_Number_STW}, &quot;^[0-9]{11}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Delivery_driver</name>
            <dataType>String</dataType>
            <fieldText>Delivery driver</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Name&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Telephone_Number_Driver</name>
            <dataType>String</dataType>
            <fieldText>Telephone Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Telephone Number should be 11 digits and contains only numbers&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!FSM_Telephone_Number_Driver}, &quot;^[0-9]{11}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_6</name>
        <label>Screen 6</label>
        <locationX>1302</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Waste_Water_Rename_files_screen</targetReference>
        </connector>
        <fields>
            <name>Header6</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Document Storage (Please tick)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TakePhoto_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Take photograph of all delivery paperwork (Delivery Note, Chemical Conformity Paperwork) and email to Area Planning Assistant. Send paper copies to Planning Assistant for filing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AttachPhoto</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo upload of delivery paperwork</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varDCFRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFileNamesVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedFileNamesVar</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Waste_Water_File_Rename_Screen</name>
        <label>New File Rename Screen</label>
        <locationX>1414</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>desktop_or_mobile</targetReference>
        </connector>
        <fields>
            <name>new_file_name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>uploadFileNameVar</elementReference>
            </defaultValue>
            <fieldText>new file name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Waste_Water_Rename_files_screen</name>
        <label>Waste Water Rename files screen</label>
        <locationX>1302</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rename_Waste_Water_Photo</targetReference>
        </connector>
        <fields>
            <name>Waste_Water_Rename_Photo</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Waste Water Rename Photo?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>550</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_User_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentVersionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>desktopUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>filesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>SFS-158</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-158</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRSingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>UploadedFileNamesVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>waste water</description>
        <name>uploadFileNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormNonInfra__c</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WoSingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>created to store record id for waste water</description>
        <name>WOwastewaterRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
