force-app/main/default/flows/FSM_DiggerTrailerChecksCGCheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Add_Photo</name>
        <label>Assign Add Photo</label>
        <locationX>842</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>uploadAddPhoto1Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>uploadAddPhoto1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_Mapping_for_Vac_Ex_Checks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_Photo2</name>
        <label>Assign Add Photo 2</label>
        <locationX>490</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>UploadAddPhoto2Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadPhoto2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fields_value_populating_to_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Record_ID</name>
        <label>Assigning Record ID</label>
        <locationX>622</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>DCFInfraRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingDcfInfraSingleRecordVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_Digger_TrailerChecks_CGCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Mapping_for_Vac_Ex_Checks</name>
        <label>Field Mapping for Vac-Ex Checks</label>
        <locationX>842</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_AreTheRatchetTieDowns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_the_Ratchet_Tie_downs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_OperationalManualPresent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operational_manual_present</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_EngineHydraulicOilAndWaterChecked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Engine_Hydraulic_oil_and_Water_checked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_IsolatorKeyFunctionChecked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Isolator_key_function_checked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_EmergencyStopAirVacEngineOilChecke__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_stop_air_vac_engine_oil_checked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_EmergencyStopRemoteWorking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_stop_remote_working</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_HasTheHydraulicPipesBeenVisuallyIn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_hydraulic_pipes_been_visually_inspected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_AreTheAmberLightsAndTrackingLights__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_the_amber_lights_and_tracking_lights_working</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_HasVisualWhipCheckBeenCarriedOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_a_visual_whip_check_been_carried_out</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_HasTheCompressorAirHoseBeenVisuall__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_compressor_air_hose_been_visually_checked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_HasTheAirExLanceBeenVisuallyInspe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_air_Ex_lance_been_visually_inspected_and_operational</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_HaveTheVacuumSealsAndFiltersBeen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_the_vacuum_seals_and_filters_been_checked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_HasTheHoseHolderToolsBeenChecke__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_hose_holder_tools_been_checked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_CheckThatTheAirVacTipsAndLifts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_that_the_Air_Vac_tips_and_lifts_empty_safely</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_IsThereAnAccidentAndSpillKitPrese__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_an_accident_and_spill_kit_present</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_CorrectPPEForTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correct_PPE_for_task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_DoesTheRemoteFunctionWorkCorrectly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_the_remote_function_work_correctly</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Form_Completed_Early</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>fields_value_populating_to_record</name>
        <label>fields value populating to record</label>
        <locationX>622</locationX>
        <locationY>4052</locationY>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_DateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_UserAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ADDRESS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_CATSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CAT_serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_DSACATCalibrationDateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CAT_calibration_date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_ManualChecks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_the_following_checks_been_completed_Power_Radio_Genny_induction_Genny_direc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_Min6SpareBatteries__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_carrying_minimum_6x_spare_batteries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_TrailerPlantNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trailer_Plant_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_CheckTowingEveWear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_towing_eve_for_wear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_BrakeAwayCableAttached__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_brake_away_cable_attached_and_not_frayed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_NameCompletedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SRrecordvar.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_LightsHazardWorking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_lights_and_hazard_beacon_are_working</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_Mirrors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_mirrors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_Wipers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_wipers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_DoorDoorLock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_door_and_door_lock</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_Seatbelt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_seatbelt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_InstrumentPanel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_instrument_panel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_SlewLockDevice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_slew_lock_device</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_HornWorking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_horn_is_working</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_Buckets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_buckets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_BreakerHosesChisel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_breaker_hoses_and_chisel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_GreaseGunMana__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Grease_gun_mana</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_BatteryCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Battery_Check</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_GennySerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Genny_Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_GennyCalibDateTIme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Genny_calibration_date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_ManualChecks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_the_following_checks_been_completed_Power_Radio_Genny_induction_Genny_direc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_CarryingTrailerDigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Are_you_carrying_a_Trailer_digger</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_AreYouCarryingaVacExChecks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_carrying_a_Vac_Ex_Checks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_HandBrakeCorrectlyPositioned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_hand_brake_is_working_and_correctly_positioned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_JockeyWheelNotDamaged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Check_jockey_wheel_is_in_place_and_not_damaged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_JockeyWheelNotDamaged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Check_jockey_wheel_clamp_bolt_is_in_place_and_working_correctly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_SpareWheelNotDamaged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Check_spare_wheel_is_in_place_and_not_damaged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_TyresAirPressuresWearDamage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Check_tyres_air_pressures_wear_damag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_RearRampsSecuredUpright__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_rear_ramps_are_secured_and_in_upright_position</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_LightsWorkingReflectorsInPlace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_lights_are_working_and_reflectors_in_place</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_TrackLockClampBarsNotDamaged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Track_Lock_Clamp_bars_are_not_bent_or_damaged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_EmergencyTowingVehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_trailer_light_board_in_towing_vehicle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_TrailerBDBCFixed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nothing_on_the_trailer_bar_Digger_Breaker_and_it_s_3_Buckets_Chevrons_fixed_on_t</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_SuspensionSprings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_suspension_springs_been_checked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_DiggerNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Digger_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_PinSecuringBoltsInPlace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_All_pin_securing_bolts_in_place_on_boor_dipper_arms_quick_hitch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_SafetyLockingPinInPlace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_you_checked_the_safety_locking_pin_is_in_place_on_quick_hitch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_HydraulicOilLeaksOnRams__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Check_for_hydraulic_oil_leaks_on_rams_hoses_on_boom_dipper_arms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_RopsFropsNotDamaged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rops_frops_i_e_cab_canopy_structure_are_not_structurally_damaged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_GlassInPlaceAndUndamaged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Glass_in_place_and_undamaged_Cabbed_only</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_AnyLoosePanels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Check_for_any_loose_panels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_VisuallyCheckTracksWarn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Visually_check_tracks_to_ensure_they_are_not_too_loose_or_warn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_EngineOilHydraulicOilCap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Check_engine_oil_and_hydraulic_oil_cap</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingDcfInfraSingleRecordVariable.FSM_WaterLevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Check_water_level</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkStep_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ID_assignment_for_DESKTOP</name>
        <label>ID assignment for DESKTOP</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>User_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ID_assignment_for_MOBILE</name>
        <label>ID assignment for MOBILE</label>
        <locationX>204</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>User_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_crew_names</name>
        <label>Store crew names</label>
        <locationX>292</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>listOfCrewNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CrewName.FSM_ServiceCrewName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfCrewNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Space</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crewnameloop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DcfNA</name>
        <choiceText>NA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </choices>
    <choices>
        <name>DcfNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>DcfYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Space</name>
        <dataType>String</dataType>
        <value>
            <stringValue>  </stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_you_Carrying_a_digger</name>
        <label>Are you Carrying a digger ?</label>
        <locationX>402</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>Trailer_plant_Check_tow_Brake_Away_Check_hand_brake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Digger_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FSM_Are_you_carrying_a_Trailer_digger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DcfNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fields_value_populating_to_record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Add_Photo</name>
        <label>Check Add Photo</label>
        <locationX>622</locationX>
        <locationY>4892</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uploadAddPhoto1Count</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ZeroValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rename_Add_Photo1</targetReference>
            </connector>
            <label>Add Photo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Add_Photo2</name>
        <label>Check Add Photo</label>
        <locationX>622</locationX>
        <locationY>4592</locationY>
        <defaultConnector>
            <targetReference>Check_Add_Photo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Photo2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadAddPhoto2Count</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ZeroValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rename_Add_Photo</targetReference>
            </connector>
            <label>Add Photo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Confirmation_Message_to_Complete_Form_Again</name>
        <label>Check Confirmation Message to Complete Form Again</label>
        <locationX>160</locationX>
        <locationY>1298</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>service_resource_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-5314</description>
        <name>Check_if_Existing_DCF_Record_is_Present</name>
        <label>Check if Existing DCF Record is Present?</label>
        <locationX>622</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Data_capture_form_infra_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Yes_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingDcfInfraSingleRecordVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Record_ID</targetReference>
            </connector>
            <label>Yes Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Form_Completed_Early</name>
        <label>Check if Form Completed Early?</label>
        <locationX>842</locationX>
        <locationY>3710</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Are_you_Carrying_a_digger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FSM_Complete_form_early</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complete_form_early</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fields_value_populating_to_record</targetReference>
            </connector>
            <label>Complete form early?</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-6558</description>
        <name>Check_Status_Of_SA</name>
        <label>Check Status Of SA</label>
        <locationX>336</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Digger_Trailer_Checks_C_G_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed_and_cannot_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Completed and cannot Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Type</name>
        <label>Check User Type</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ID_assignment_for_DESKTOP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop User</defaultConnectorLabel>
        <rules>
            <name>Mobile_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ID_assignment_for_MOBILE</targetReference>
            </connector>
            <label>Mobile User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Step_Status</name>
        <label>Check Work Step Status</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>service_resource_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWorkStep.FSM_IsCompleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkStep_Complete_Confirmation</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_crew</name>
        <label>Is a crew?</label>
        <locationX>336</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Check_Status_Of_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Crew</defaultConnectorLabel>
        <rules>
            <name>YesCrew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SRrecordvar.ServiceCrewId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Crew_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Address_Checked</name>
        <label>Are you carrying a Vac-Ex Checks?</label>
        <locationX>622</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Vac_Ex_Checks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Carrying Vac-Ex Check as Yes</defaultConnectorLabel>
        <rules>
            <name>Checked_Vac_Ex_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_carrying_a_Vac_Ex_Checks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DcfNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_you_Carrying_a_digger</targetReference>
            </connector>
            <label>Checked Vac-Ex Check</label>
        </rules>
    </decisions>
    <description>SfS-3046 Updated
Updated as a part of SFS-4489
Updated as part of Sfs-5314
Updated as part of SFS-6565
Updated as part of SFS-6196
Updated for SFS-7438
Updated as part of SFS-7957</description>
    <environments>Default</environments>
    <formulas>
        <description>SFS-5314</description>
        <name>CurrentDatetime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>CurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!UserRecordVar.Name}</expression>
    </formulas>
    <formulas>
        <name>Earlier_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-2</expression>
    </formulas>
    <formulas>
        <description>SFS-6501</description>
        <name>LoggedInUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}  + &apos; &apos; + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Digger/Trailer Checks/C&amp;G Check {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Digger Trailer Checks C&amp;G Check</label>
    <loops>
        <name>Crewnameloop</name>
        <label>Crewnameloop</label>
        <locationX>204</locationX>
        <locationY>2006</locationY>
        <assignNextValueToReference>CrewName</assignNextValueToReference>
        <collectionReference>CrewMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_crew_names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Status_Of_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Data_capture_form_infra_record</name>
        <label>Data capture form infra record</label>
        <locationX>710</locationX>
        <locationY>2714</locationY>
        <assignRecordIdToReference>InfraId</assignRecordIdToReference>
        <connector>
            <targetReference>Digger_Trailer_Checks_C_G_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_text</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Digger/Trailer Checks/C&amp;G Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>workOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordCreates>
    <recordLookups>
        <name>Custom_metadata</name>
        <label>Custom metadata</label>
        <locationX>336</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_TemplateName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digger/Trailer Checks/C&amp;G Check</stringValue>
            </value>
        </filters>
        <object>FSM_ServiceReportTemplates__mdt</object>
        <outputAssignments>
            <assignToReference>ServiceReportTemplateIdVar</assignToReference>
            <field>FSM_TemplateId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>SFS-5314</description>
        <name>Digger_Trailer_Checks_C_G_Check</name>
        <label>Digger Trailer Checks C&amp;G Check</label>
        <locationX>710</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_Record_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_text</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InfraId</elementReference>
            </value>
        </filters>
        <object>FSM_DataCaptureFormInfra__c</object>
        <outputReference>ExistingDcfInfraSingleRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_AreTheRatchetTieDowns__c</queriedFields>
        <queriedFields>FSM_OperationalManualPresent__c</queriedFields>
        <queriedFields>FSM_EngineHydraulicOilAndWaterChecked__c</queriedFields>
        <queriedFields>FSM_IsolatorKeyFunctionChecked__c</queriedFields>
        <queriedFields>FSM_EmergencyStopAirVacEngineOilChecke__c</queriedFields>
        <queriedFields>FSM_EmergencyStopRemoteWorking__c</queriedFields>
        <queriedFields>FSM_HasTheHydraulicPipesBeenVisuallyIn__c</queriedFields>
        <queriedFields>FSM_HasTheCompressorAirHoseBeenVisuall__c</queriedFields>
        <queriedFields>FSM_HasTheAirExLanceBeenVisuallyInspe__c</queriedFields>
        <queriedFields>FSM_AreTheAmberLightsAndTrackingLights__c</queriedFields>
        <queriedFields>FSM_HasVisualWhipCheckBeenCarriedOut__c</queriedFields>
        <queriedFields>FSM_HaveTheVacuumSealsAndFiltersBeen__c</queriedFields>
        <queriedFields>FSM_HasTheHoseHolderToolsBeenChecke__c</queriedFields>
        <queriedFields>FSM_CheckThatTheAirVacTipsAndLifts__c</queriedFields>
        <queriedFields>FSM_IsThereAnAccidentAndSpillKitPrese__c</queriedFields>
        <queriedFields>FSM_CorrectPPEForTask__c</queriedFields>
        <queriedFields>FSM_Comments__c</queriedFields>
        <queriedFields>FSM_DateAndTime__c</queriedFields>
        <queriedFields>FSM_UserAddress__c</queriedFields>
        <queriedFields>FSM_CATSerialNumber__c</queriedFields>
        <queriedFields>FSM_DSACATCalibrationDateAndTime__c</queriedFields>
        <queriedFields>FSM_ManualChecks__c</queriedFields>
        <queriedFields>FSM_Min6SpareBatteries__c</queriedFields>
        <queriedFields>FSM_TrailerPlantNumber__c</queriedFields>
        <queriedFields>FSM_CheckTowingEveWear__c</queriedFields>
        <queriedFields>FSM_BrakeAwayCableAttached__c</queriedFields>
        <queriedFields>FSM_NameCompletedBy__c</queriedFields>
        <queriedFields>FSM_LightsHazardWorking__c</queriedFields>
        <queriedFields>FSM_Mirrors__c</queriedFields>
        <queriedFields>FSM_Wipers__c</queriedFields>
        <queriedFields>FSM_DoorDoorLock__c</queriedFields>
        <queriedFields>FSM_Seatbelt__c</queriedFields>
        <queriedFields>FSM_InstrumentPanel__c</queriedFields>
        <queriedFields>FSM_SlewLockDevice__c</queriedFields>
        <queriedFields>FSM_HornWorking__c</queriedFields>
        <queriedFields>FSM_Buckets__c</queriedFields>
        <queriedFields>FSM_BreakerHosesChisel__c</queriedFields>
        <queriedFields>FSM_GreaseGunMana__c</queriedFields>
        <queriedFields>FSM_BatteryCheck__c</queriedFields>
        <queriedFields>FSM_GennySerialNumber__c</queriedFields>
        <queriedFields>FSM_GennyCalibrationDate__c</queriedFields>
        <queriedFields>FSM_CarryingTrailerDigger__c</queriedFields>
        <queriedFields>FSM_AreYouCarryingaVacExChecks__c</queriedFields>
        <queriedFields>FSM_HandBrakeCorrectlyPositioned__c</queriedFields>
        <queriedFields>FSM_JockeyWheelNotDamaged__c</queriedFields>
        <queriedFields>FSM_SpareWheelNotDamaged__c</queriedFields>
        <queriedFields>FSM_TyresAirPressuresWearDamage__c</queriedFields>
        <queriedFields>FSM_RearRampsSecuredUpright__c</queriedFields>
        <queriedFields>FSM_LightsWorkingReflectorsInPlace__c</queriedFields>
        <queriedFields>FSM_TrackLockClampBarsNotDamaged__c</queriedFields>
        <queriedFields>FSM_EmergencyTowingVehicle__c</queriedFields>
        <queriedFields>FSM_TrailerBDBCFixed__c</queriedFields>
        <queriedFields>FSM_SuspensionSprings__c</queriedFields>
        <queriedFields>FSM_DiggerNo__c</queriedFields>
        <queriedFields>FSM_PinSecuringBoltsInPlace__c</queriedFields>
        <queriedFields>FSM_SafetyLockingPinInPlace__c</queriedFields>
        <queriedFields>FSM_HydraulicOilLeaksOnRams__c</queriedFields>
        <queriedFields>FSM_RopsFropsNotDamaged__c</queriedFields>
        <queriedFields>FSM_GlassInPlaceAndUndamaged__c</queriedFields>
        <queriedFields>FSM_AnyLoosePanels__c</queriedFields>
        <queriedFields>FSM_VisuallyCheckTracksWarn__c</queriedFields>
        <queriedFields>FSM_EngineOilHydraulicOilCap__c</queriedFields>
        <queriedFields>FSM_WaterLevel__c</queriedFields>
        <queriedFields>FSM_DoesTheRemoteFunctionWorkCorrectly__c</queriedFields>
        <queriedFields>FSM_GennyCalibDateTIme__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Crew_Members</name>
        <label>Fetch Crew Members</label>
        <locationX>204</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crewnameloop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SRrecordvar.ServiceCrewId</elementReference>
            </value>
        </filters>
        <object>ServiceCrewMember</object>
        <outputReference>CrewMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_ServiceCrewName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>SFS-5314</description>
        <name>Get_Existing_Digger_Trailer_Checks_C_G_Check</name>
        <label>Get Existing Digger Trailer Checks C&amp;G Check</label>
        <locationX>622</locationX>
        <locationY>2498</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Existing_DCF_Record_is_Present</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_text</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_FormType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digger/Trailer Checks/C&amp;G Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderRecord.Id</elementReference>
            </value>
        </filters>
        <object>FSM_DataCaptureFormInfra__c</object>
        <outputReference>ExistingDcfInfraSingleRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_AreTheRatchetTieDowns__c</queriedFields>
        <queriedFields>FSM_OperationalManualPresent__c</queriedFields>
        <queriedFields>FSM_EngineHydraulicOilAndWaterChecked__c</queriedFields>
        <queriedFields>FSM_IsolatorKeyFunctionChecked__c</queriedFields>
        <queriedFields>FSM_EmergencyStopAirVacEngineOilChecke__c</queriedFields>
        <queriedFields>FSM_EmergencyStopRemoteWorking__c</queriedFields>
        <queriedFields>FSM_HasTheHydraulicPipesBeenVisuallyIn__c</queriedFields>
        <queriedFields>FSM_HasTheCompressorAirHoseBeenVisuall__c</queriedFields>
        <queriedFields>FSM_HasTheAirExLanceBeenVisuallyInspe__c</queriedFields>
        <queriedFields>FSM_AreTheAmberLightsAndTrackingLights__c</queriedFields>
        <queriedFields>FSM_HasVisualWhipCheckBeenCarriedOut__c</queriedFields>
        <queriedFields>FSM_HaveTheVacuumSealsAndFiltersBeen__c</queriedFields>
        <queriedFields>FSM_HasTheHoseHolderToolsBeenChecke__c</queriedFields>
        <queriedFields>FSM_CheckThatTheAirVacTipsAndLifts__c</queriedFields>
        <queriedFields>FSM_IsThereAnAccidentAndSpillKitPrese__c</queriedFields>
        <queriedFields>FSM_CorrectPPEForTask__c</queriedFields>
        <queriedFields>FSM_Comments__c</queriedFields>
        <queriedFields>FSM_DateAndTime__c</queriedFields>
        <queriedFields>FSM_UserAddress__c</queriedFields>
        <queriedFields>FSM_CATSerialNumber__c</queriedFields>
        <queriedFields>FSM_DSACATCalibrationDateAndTime__c</queriedFields>
        <queriedFields>FSM_ManualChecks__c</queriedFields>
        <queriedFields>FSM_Min6SpareBatteries__c</queriedFields>
        <queriedFields>FSM_TrailerPlantNumber__c</queriedFields>
        <queriedFields>FSM_CheckTowingEveWear__c</queriedFields>
        <queriedFields>FSM_BrakeAwayCableAttached__c</queriedFields>
        <queriedFields>FSM_NameCompletedBy__c</queriedFields>
        <queriedFields>FSM_LightsHazardWorking__c</queriedFields>
        <queriedFields>FSM_Mirrors__c</queriedFields>
        <queriedFields>FSM_Wipers__c</queriedFields>
        <queriedFields>FSM_DoorDoorLock__c</queriedFields>
        <queriedFields>FSM_Seatbelt__c</queriedFields>
        <queriedFields>FSM_InstrumentPanel__c</queriedFields>
        <queriedFields>FSM_SlewLockDevice__c</queriedFields>
        <queriedFields>FSM_HornWorking__c</queriedFields>
        <queriedFields>FSM_Buckets__c</queriedFields>
        <queriedFields>FSM_BreakerHosesChisel__c</queriedFields>
        <queriedFields>FSM_GreaseGunMana__c</queriedFields>
        <queriedFields>FSM_BatteryCheck__c</queriedFields>
        <queriedFields>FSM_GennySerialNumber__c</queriedFields>
        <queriedFields>FSM_GennyCalibrationDate__c</queriedFields>
        <queriedFields>FSM_CarryingTrailerDigger__c</queriedFields>
        <queriedFields>FSM_AreYouCarryingaVacExChecks__c</queriedFields>
        <queriedFields>FSM_HandBrakeCorrectlyPositioned__c</queriedFields>
        <queriedFields>FSM_JockeyWheelNotDamaged__c</queriedFields>
        <queriedFields>FSM_SpareWheelNotDamaged__c</queriedFields>
        <queriedFields>FSM_TyresAirPressuresWearDamage__c</queriedFields>
        <queriedFields>FSM_RearRampsSecuredUpright__c</queriedFields>
        <queriedFields>FSM_LightsWorkingReflectorsInPlace__c</queriedFields>
        <queriedFields>FSM_TrackLockClampBarsNotDamaged__c</queriedFields>
        <queriedFields>FSM_EmergencyTowingVehicle__c</queriedFields>
        <queriedFields>FSM_TrailerBDBCFixed__c</queriedFields>
        <queriedFields>FSM_SuspensionSprings__c</queriedFields>
        <queriedFields>FSM_DiggerNo__c</queriedFields>
        <queriedFields>FSM_PinSecuringBoltsInPlace__c</queriedFields>
        <queriedFields>FSM_SafetyLockingPinInPlace__c</queriedFields>
        <queriedFields>FSM_HydraulicOilLeaksOnRams__c</queriedFields>
        <queriedFields>FSM_RopsFropsNotDamaged__c</queriedFields>
        <queriedFields>FSM_GlassInPlaceAndUndamaged__c</queriedFields>
        <queriedFields>FSM_AnyLoosePanels__c</queriedFields>
        <queriedFields>FSM_VisuallyCheckTracksWarn__c</queriedFields>
        <queriedFields>FSM_EngineOilHydraulicOilCap__c</queriedFields>
        <queriedFields>FSM_WaterLevel__c</queriedFields>
        <queriedFields>FSM_DoesTheRemoteFunctionWorkCorrectly__c</queriedFields>
        <queriedFields>FSM_GennyCalibDateTIme__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>336</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkOrder_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>myWorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkPlanId</queriedFields>
        <queriedFields>WorkPlanExecutionOrder</queriedFields>
        <queriedFields>FSM_IsCompleted__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SA_recordId</name>
        <label>SA recordId</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceTerritory_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_text</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderRecord.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>AssignedResourceOnSA</assignToReference>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workOrderRecord.Id</assignToReference>
            <field>FSSK__FSK_Work_Order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SA_Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>service_resource_record</name>
        <label>service resource record</label>
        <locationX>336</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_a_crew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignedResourceOnSA</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>SRrecordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ServiceCrewId</queriedFields>
        <queriedFields>ResourceType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ServiceTerritory_Record</name>
        <label>ServiceTerritory Record</label>
        <locationX>336</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Username</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_text</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderRecord.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>serviceTerritory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Username</name>
        <label>Username</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Work_Step_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WorkOrder_Record</name>
        <label>WorkOrder Record</label>
        <locationX>336</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_recordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_text</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkStep.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>workOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>FSM_ExternalId__c</queriedFields>
        <queriedFields>ServiceReportTemplateId</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>PostalCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>622</locationX>
        <locationY>4268</locationY>
        <connector>
            <targetReference>Update_workorder</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_text</targetReference>
        </faultConnector>
        <inputReference>ExistingDcfInfraSingleRecordVariable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_workorder</name>
        <label>Update workorder</label>
        <locationX>622</locationX>
        <locationY>4376</locationY>
        <connector>
            <targetReference>Standard_Message_for_Field_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_text</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkStep.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <elementReference>ServiceReportTemplateIdVar</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>WorkStep_Update</name>
        <label>WorkStep Update</label>
        <locationX>622</locationX>
        <locationY>4160</locationY>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_text</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myWorkStep.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_IsCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Display_text</name>
        <label>Display text</label>
        <locationX>1502</locationX>
        <locationY>4484</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We have an Exception when try to create DCF Infra record, please connect with Admin to resolve the issue: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>2498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: inherit; color: rgb(205, 89, 55);&quot;&gt;This service appointment has already been &lt;/span&gt;&lt;span style=&quot;color: rgb(205, 89, 55); background-color: rgb(255, 255, 255);&quot;&gt;{!SA_Status}&lt;/span&gt;&lt;span style=&quot;color: rgb(205, 89, 55); font-size: inherit;&quot;&gt;. Further action is not possible.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FSM_Digger_TrailerChecks_CGCheck</name>
        <label>Digger/Trailer Checks/C&amp;G Check</label>
        <locationX>622</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Address_Checked</targetReference>
        </connector>
        <fields>
            <name>DateTime</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_DateAndTime__c</elementReference>
            </defaultValue>
            <fieldText>Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Date cannot be more than&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: black; font-family: Calibri; font-size: 9pt;&quot;&gt; past by 1 day.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!DateTime}&gt;{!Earlier_Date_Time}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ADDRESS</name>
            <defaultValue>
                <stringValue>{!ExistingDcfInfraSingleRecordVariable.FSM_UserAddress__c}</stringValue>
            </defaultValue>
            <fieldText>ADDRESS</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Name_Completed_By</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!CurrentUserName} </stringValue>
            </defaultValue>
            <fieldText>Name (Completed By)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ListOfCrewMembers</name>
            <fieldText>&lt;p&gt;Name (Completed By): {!listOfCrewNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CAT_serial_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_CATSerialNumber__c</elementReference>
            </defaultValue>
            <fieldText>CAT serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CAT_calibration_date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_DSACATCalibrationDateAndTime__c</elementReference>
            </defaultValue>
            <fieldText>CAT calibration date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Genny_Serial_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_GennySerialNumber__c</elementReference>
            </defaultValue>
            <fieldText>Genny Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Genny_calibration_date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_GennyCalibDateTIme__c</elementReference>
            </defaultValue>
            <fieldText>Genny calibration date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Battery_Check</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_BatteryCheck__c</elementReference>
            </defaultValue>
            <fieldText>Battery Check</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Have_the_following_checks_been_completed_Power_Radio_Genny_induction_Genny_direc</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_ManualChecks__c</elementReference>
            </defaultValue>
            <fieldText>Have the following checks been completed: Power / Radio / Genny - induction / Genny - direct connection</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_you_carrying_minimum_6x_spare_batteries</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_Min6SpareBatteries__c</elementReference>
            </defaultValue>
            <fieldText>Are you carrying minimum 6x spare batteries?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Are_you_carrying_a_Trailer_digger</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_CarryingTrailerDigger__c</elementReference>
            </defaultValue>
            <fieldText>Are you carrying a Trailer/digger?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_you_carrying_a_Vac_Ex_Checks</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_AreYouCarryingaVacExChecks__c</elementReference>
            </defaultValue>
            <fieldText>Are you carrying a Vac-Ex Checks?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Light_mirror_wiper_door</name>
        <label>Light/mirror/wiper/door</label>
        <locationX>490</locationX>
        <locationY>3602</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Add_Photo2</targetReference>
        </connector>
        <fields>
            <name>Check_lights_and_hazard_beacon_are_working</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_LightsHazardWorking__c</elementReference>
            </defaultValue>
            <fieldText>Check lights and hazard beacon are working</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_mirrors</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_Mirrors__c</elementReference>
            </defaultValue>
            <fieldText>Check mirrors</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_wipers</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_Wipers__c</elementReference>
            </defaultValue>
            <fieldText>Check wipers</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_door_and_door_lock</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_DoorDoorLock__c</elementReference>
            </defaultValue>
            <fieldText>Check door and door lock</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_seatbelt</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_Seatbelt__c</elementReference>
            </defaultValue>
            <fieldText>Check seatbelt</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_instrument_panel</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_InstrumentPanel__c</elementReference>
            </defaultValue>
            <fieldText>Check instrument panel</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_slew_lock_device</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_SlewLockDevice__c</elementReference>
            </defaultValue>
            <fieldText>Check slew lock device</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_horn_is_working</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_HornWorking__c</elementReference>
            </defaultValue>
            <fieldText>Check horn is working</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_buckets</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_Buckets__c</elementReference>
            </defaultValue>
            <fieldText>Check buckets</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_breaker_hoses_and_chisel</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_BreakerHosesChisel__c</elementReference>
            </defaultValue>
            <fieldText>Check breaker hoses and chisel</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_Grease_gun_mana</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_GreaseGunMana__c</elementReference>
            </defaultValue>
            <fieldText>Check Grease gun &amp; mana</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_Comments__c</elementReference>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_photos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpeg, .pdf, .png, .jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFInfraRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadPhoto2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadPhoto2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadPhoto2</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayText1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 10.5pt;&quot;&gt;&lt;em&gt;Machine should be greased daily &amp;amp; must be loaded with blade facing forward.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 10.5pt;&quot;&gt;&lt;em&gt; Ensure Track Lock Bars are secured in place and the ditching bucket is within front frame work and the slew lock is in place before moving the machine.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 10.5pt;&quot;&gt;&lt;em&gt; If any of the above FAIL - the digger/trailer is not to be used. Notify your line manager and report to WHC on: 01684 377977.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayText2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 10.5pt;&quot;&gt;&lt;em&gt;Document to be filled in at the start of every shift and signed and returned to the line manager on a weekly basis&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-6565</description>
        <name>Standard_Message_for_Field_User</name>
        <label>Standard Message for Field User</label>
        <locationX>622</locationX>
        <locationY>4484</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Add_Photo2</targetReference>
        </connector>
        <fields>
            <name>StandardMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please go to Quick Actions menu and generate a Service Report for this form immediately, thank you.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinalScreenDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;This is the final screen, clicking &apos;Next&apos; will exit the form.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Trailer_plant_Check_tow_Brake_Away_Check_hand_brake</name>
        <label>Trailer plant/Check tow/Brake Away/Check hand brake</label>
        <locationX>490</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Light_mirror_wiper_door</targetReference>
        </connector>
        <fields>
            <name>Trailer_Plant_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_TrailerPlantNumber__c</elementReference>
            </defaultValue>
            <fieldText>Trailer Plant Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_towing_eve_for_wear</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_CheckTowingEveWear__c</elementReference>
            </defaultValue>
            <fieldText>Check towing eve for wear</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_the_brake_away_cable_attached_and_not_frayed</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_BrakeAwayCableAttached__c</elementReference>
            </defaultValue>
            <fieldText>Is the brake away cable attached and not frayed</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_hand_brake_is_working_and_correctly_positioned</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_HandBrakeCorrectlyPositioned__c</elementReference>
            </defaultValue>
            <fieldText>Check hand brake is working and correctly positioned</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Check_jockey_wheel_is_in_place_and_not_damaged</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_JockeyWheelNotDamaged__c</elementReference>
            </defaultValue>
            <fieldText>Check jockey wheel is in place and not damaged?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Check_jockey_wheel_clamp_bolt_is_in_place_and_working_correctly</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_JockeyWheelNotDamaged__c</elementReference>
            </defaultValue>
            <fieldText>Check jockey wheel clamp bolt is in place and working correctly?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Check_spare_wheel_is_in_place_and_not_damaged</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_SpareWheelNotDamaged__c</elementReference>
            </defaultValue>
            <fieldText>Check spare wheel is in place and not damaged?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Check_tyres_air_pressures_wear_damag</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_TyresAirPressuresWearDamage__c</elementReference>
            </defaultValue>
            <fieldText>Check tyres air pressures, wear &amp; damage (Tyre Pressures 65 psi Check wheel nuts seated correctly &amp; not loose, indicators in place Dust cap in place on drum hub</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_rear_ramps_are_secured_and_in_upright_position</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_RearRampsSecuredUpright__c</elementReference>
            </defaultValue>
            <fieldText>Check rear ramps are secured and in upright position?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_lights_are_working_and_reflectors_in_place</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_LightsWorkingReflectorsInPlace__c</elementReference>
            </defaultValue>
            <fieldText>Check lights are working and reflectors in place?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_Track_Lock_Clamp_bars_are_not_bent_or_damaged</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_TrackLockClampBarsNotDamaged__c</elementReference>
            </defaultValue>
            <fieldText>Check Track Lock Clamp bars are not bent or damaged?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Emergency_trailer_light_board_in_towing_vehicle</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_EmergencyTowingVehicle__c</elementReference>
            </defaultValue>
            <fieldText>Emergency trailer light board in towing vehicle?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Nothing_on_the_trailer_bar_Digger_Breaker_and_it_s_3_Buckets_Chevrons_fixed_on_t</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_TrailerBDBCFixed__c</elementReference>
            </defaultValue>
            <fieldText>Nothing on the trailer bar Digger, Breaker and it&apos;s 3 Buckets Chevrons fixed on to ramp and clean?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Have_suspension_springs_been_checked</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_SuspensionSprings__c</elementReference>
            </defaultValue>
            <fieldText>Have suspension springs been checked?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Digger_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_DiggerNo__c</elementReference>
            </defaultValue>
            <fieldText>Digger  Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_All_pin_securing_bolts_in_place_on_boor_dipper_arms_quick_hitch</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_PinSecuringBoltsInPlace__c</elementReference>
            </defaultValue>
            <fieldText>All pin securing bolts in place on boor, dipper arms &amp; quick hitch?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Have_you_checked_the_safety_locking_pin_is_in_place_on_quick_hitch</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_SafetyLockingPinInPlace__c</elementReference>
            </defaultValue>
            <fieldText>Have you checked the safety locking pin is in place on quick hitch?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Check_for_hydraulic_oil_leaks_on_rams_hoses_on_boom_dipper_arms</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_HydraulicOilLeaksOnRams__c</elementReference>
            </defaultValue>
            <fieldText>Check for hydraulic oil leaks on rams/hoses on boom &amp; dipper arms?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rops_frops_i_e_cab_canopy_structure_are_not_structurally_damaged</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_RopsFropsNotDamaged__c</elementReference>
            </defaultValue>
            <fieldText>Rops &amp; frops (i.e cab/canopy structure) are not structurally damaged?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Glass_in_place_and_undamaged_Cabbed_only</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_GlassInPlaceAndUndamaged__c</elementReference>
            </defaultValue>
            <fieldText>Glass in place and undamaged (Cabbed only)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Check_for_any_loose_panels</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_AnyLoosePanels__c</elementReference>
            </defaultValue>
            <fieldText>Check for any loose panels?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Visually_check_tracks_to_ensure_they_are_not_too_loose_or_warn</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_VisuallyCheckTracksWarn__c</elementReference>
            </defaultValue>
            <fieldText>Visually check tracks to ensure they are not too loose or warn?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Check_engine_oil_and_hydraulic_oil_cap</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_EngineOilHydraulicOilCap__c</elementReference>
            </defaultValue>
            <fieldText>Check engine oil and hydraulic oil cap?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Check_water_level</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_WaterLevel__c</elementReference>
            </defaultValue>
            <fieldText>Check water level?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vac_Ex_Checks</name>
        <label>Carrying a Vac-Ex Checks</label>
        <locationX>842</locationX>
        <locationY>3386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Add_Photo</targetReference>
        </connector>
        <fields>
            <name>Are_the_Ratchet_Tie_downs</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_AreTheRatchetTieDowns__c</elementReference>
            </defaultValue>
            <fieldText>Are the Ratchet Tie downs?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Operational_manual_present</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_OperationalManualPresent__c</elementReference>
            </defaultValue>
            <fieldText>Operational manual present?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Engine_Hydraulic_oil_and_Water_checked</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_EngineHydraulicOilAndWaterChecked__c</elementReference>
            </defaultValue>
            <fieldText>Engine &amp; Hydraulic oil and Water checked?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Isolator_key_function_checked</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_IsolatorKeyFunctionChecked__c</elementReference>
            </defaultValue>
            <fieldText>Isolator key function checked?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Emergency_stop_air_vac_engine_oil_checked</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_EmergencyStopAirVacEngineOilChecke__c</elementReference>
            </defaultValue>
            <fieldText>Emergency stop air-vac engine oil checked?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Emergency_stop_remote_working</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_EmergencyStopRemoteWorking__c</elementReference>
            </defaultValue>
            <fieldText>Emergency stop remote working?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Does_the_remote_function_work_correctly</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_DoesTheRemoteFunctionWorkCorrectly__c</elementReference>
            </defaultValue>
            <fieldText>Does the remote function work correctly?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Has_the_hydraulic_pipes_been_visually_inspected</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_HasTheHydraulicPipesBeenVisuallyIn__c</elementReference>
            </defaultValue>
            <fieldText>Has the hydraulic pipes been visually inspected?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_the_amber_lights_and_tracking_lights_working</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_AreTheAmberLightsAndTrackingLights__c</elementReference>
            </defaultValue>
            <fieldText>Are the amber lights and tracking lights working?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Has_a_visual_whip_check_been_carried_out</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_HasVisualWhipCheckBeenCarriedOut__c</elementReference>
            </defaultValue>
            <fieldText>Has a visual whip check been carried out?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Has_the_compressor_air_hose_been_visually_checked</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_HasTheCompressorAirHoseBeenVisuall__c</elementReference>
            </defaultValue>
            <fieldText>Has the compressor air hose been visually checked?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Has_the_air_Ex_lance_been_visually_inspected_and_operational</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_HasTheAirExLanceBeenVisuallyInspe__c</elementReference>
            </defaultValue>
            <fieldText>Has the air Ex-lance been visually inspected and operational?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Have_the_vacuum_seals_and_filters_been_checked</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_HaveTheVacuumSealsAndFiltersBeen__c</elementReference>
            </defaultValue>
            <fieldText>Have the vacuum seals and filters been checked?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Has_the_hose_holder_tools_been_checked</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_HasTheHoseHolderToolsBeenChecke__c</elementReference>
            </defaultValue>
            <fieldText>Has the hose, holder &amp; tools been checked?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_that_the_Air_Vac_tips_and_lifts_empty_safely</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_CheckThatTheAirVacTipsAndLifts__c</elementReference>
            </defaultValue>
            <fieldText>Check that the Air-Vac tips and lifts empty safely?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_there_an_accident_and_spill_kit_present</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_IsThereAnAccidentAndSpillKitPrese__c</elementReference>
            </defaultValue>
            <fieldText>Is there an accident and spill kit present?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Correct_PPE_for_task</name>
            <choiceReferences>DcfYes</choiceReferences>
            <choiceReferences>DcfNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_CorrectPPEForTask__c</elementReference>
            </defaultValue>
            <fieldText>Correct PPE for task?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Comments</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingDcfInfraSingleRecordVariable.FSM_Comments__c</elementReference>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Add_Photos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpeg, .pdf, .png, .jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFInfraRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>uploadAddPhoto1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>uploadAddPhoto1</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>uploadAddPhoto1</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Complete_form_early</name>
            <dataType>Boolean</dataType>
            <fieldText>Complete form early?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkStep_Complete_Confirmation</name>
        <label>WorkStep Complete Confirmation</label>
        <locationX>160</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Confirmation_Message_to_Complete_Form_Again</targetReference>
        </connector>
        <fields>
            <name>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</name>
            <choiceReferences>Yes1</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WorkStep is already Completed . Do you still want to fill the form again ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Rename_Add_Photo</name>
        <label>Rename Add Photo</label>
        <locationX>490</locationX>
        <locationY>4700</locationY>
        <connector>
            <targetReference>Check_Add_Photo</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Light/mirror/wiper/door</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>DCFInfraRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadPhoto2</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rename_Add_Photo1</name>
        <label>Rename Add Photo</label>
        <locationX>490</locationX>
        <locationY>5000</locationY>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Carrying a Vac-Ex Checks</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkedRecordId</name>
            <value>
                <elementReference>DCFInfraRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>uploadAddPhoto1</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AssignedResourceOnSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CrewID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CrewMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceCrewMember</objectType>
    </variables>
    <variables>
        <name>CrewName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceCrewMember</objectType>
    </variables>
    <variables>
        <name>DCFInfraRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingDcfInfraSingleRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>FetchCrewNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5314</description>
        <name>InfraId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfCrewMemebrs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> </stringValue>
        </value>
    </variables>
    <variables>
        <name>listOfCrewNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>seconduserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceReportTemplateIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>SRrecordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>StoreCrewNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Testrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>uploadAddPhoto1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadAddPhoto1Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UploadAddPhoto2Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UploadPhoto2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserFinalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>workOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>WSIdComplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZeroValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
