force-app/main/default/flows/FSM_DCFValveManagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_DCFLIRecord_to_DCFLICollection</name>
        <label>Add DCFLIRecord to DCFLICollection</label>
        <locationX>754</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLIRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_DCFLIADDDELETE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5315</description>
        <name>Add_DCFLIRecord_to_DCFLICollection2</name>
        <label>Add DCFLIRecord to DCFLICollection2</label>
        <locationX>2162</locationX>
        <locationY>4268</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLIRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Hydrant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LoopVar_To_Temporary_Collection</name>
        <label>Add LoopVar To Temporary Collection</label>
        <locationX>1282</locationX>
        <locationY>3626</locationY>
        <assignmentItems>
            <assignToReference>TemporaryDCFLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLILoopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Loop_Through_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_record_to_Temporary_Collection</name>
        <label>Add record to Temporary Collection</label>
        <locationX>1106</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>TemporaryDCFLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLILoopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_DCFLICollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Temp_Collection_to_DCFLI_Collection</name>
        <label>Add Temp Collection to DCFLI Collection</label>
        <locationX>842</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemporaryDCFLICollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SCREEN_DCFLIADDDELETE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Valve_Sequence_Number_and_No_of_line_items_EForms_of_same_type_To_Loop_Varia</name>
        <label>Add Valve Sequence Number and No of line items EForms of same type To Loop Variable</label>
        <locationX>1282</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopVar.FSM_ValveSeqNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopVar.FSM_NoOfLineItemsEformsOfSameType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LoopVar_To_Temporary_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_loopvar</name>
        <label>Adding Valve seq num to loop var</label>
        <locationX>2426</locationX>
        <locationY>4700</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopVar.FSM_ValveSeqNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2_through_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5315</description>
        <name>Assign_alt_hyd_comments</name>
        <label>Assign alt hyd comments</label>
        <locationX>2448</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_NoAlternativeHydrantComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_alternative_hydrant_comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assignment_of_Yes_for_Original_Hydrant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5315</description>
        <name>Assign_Check_Control_Auth_Proactive</name>
        <label>Assign Check Control Auth (Proactive)</label>
        <locationX>2316</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>DCFRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_for_Alternative_Hydrant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-158</description>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_WorkStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_WorkStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_DCFLIRecord</name>
        <label>Assign Values to DCFLIRecord</label>
        <locationX>754</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_PermanentChange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permanent_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_DataCaptureFormInfra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_NormalPosition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Normal_Position</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_PostOperationPosition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Operation_Position</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_SectionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Valve Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_UID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_ValveCondition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valve_Condition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_ValveIDNetMgmt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valve_ID_Equipment_No</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_WATSITID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WATSIT_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_DateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time_of_Operation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_ValveComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valve_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_DCFLIRecord_to_DCFLICollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5315</description>
        <name>Assignment_of_Yes_for_Original_Hydrant</name>
        <label>Assignment of Yes for Original Hydrant</label>
        <locationX>2162</locationX>
        <locationY>4160</locationY>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_HydrantUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hydrant_UID_DCFLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_FlushStartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flush_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_StartFlowVolume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Flow_Volume_lps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_InitialNTUWithin5Mins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_NTU_within_5_minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_NTUAt15Mins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NTU_at_15_mins</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_NTUAt30Mins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NTU_at_30_mins</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_NTUAt45Mins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NTU_at_45_mins</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_NTUAt60Mins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NTU_at_60_mins</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_FlowReducedTo1IpsAfter30Mins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_flow_reduced_to_1_lps_after_30_minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_FinalFlushVolume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_flush_volume_from_red_flow_monitor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_MaxFlowRateAchieved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maximum_flow_rate_achieved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_FinalNTU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_NTU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_FlushEndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flush_End_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_SectionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Original Hydrant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_DataCaptureFormInfra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_DCFLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_ValveOriginalHydrantUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_original_hydrant_used</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_DCFLIRecord_to_DCFLICollection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5315</description>
        <name>Assignment_Reactive_Flushing_Screen</name>
        <label>Assignment Reactive Flushing Screen</label>
        <locationX>1722</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_DateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValveDMA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DMA1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValveHydrantUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hydrant_UID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValvePreTurbidity1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Turbidity_NTU_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValveStartFlow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Flow_lps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValvePostTurbidity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Turbidity_NTU_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValveActivityCarriedOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_type_of_activity_has_been_carried_out</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LastCompleteScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5315</description>
        <name>Assignment_Valving_screen</name>
        <label>Assignment Valving screen</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValveActivityCarriedOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_type_of_activity_has_been_carried_out</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValveDMA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DMA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValvePreTurbidity1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Turbidity_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValvePreTurbidity2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Turbidity_NTU_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValvePostTurbidity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Turbidity_NTU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_SmartValveUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_Smart_Valve_used</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Smart_Valve_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_DCFLI</name>
        <label>Clear DCFLI</label>
        <locationX>1986</locationX>
        <locationY>4592</locationY>
        <assignmentItems>
            <assignToReference>DCFLIRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Original_Hydrant_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Original_Collection</name>
        <label>Clear Original Collection</label>
        <locationX>842</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Temp_Collection_to_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_temp_Collection</name>
        <label>Clear Temp Collection</label>
        <locationX>754</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>TemporaryDCFLICollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>DECISION_AddAdditionalValve</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5315</description>
        <name>Control_Check_Authorisation_Original_Hydrant_Assignment</name>
        <label>Control Check Authorisation &amp; Original Hydrant Assignment</label>
        <locationX>2162</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_DateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValveDMA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DMA_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValveActivityCarriedOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_type_of_activity_has_been_carried_out</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_for_Original_Hydrant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5315</description>
        <name>Copy_1_of_Add_DCFLIRecord_to_DCFLICollection2</name>
        <label>Copy 1 of Add DCFLIRecord to DCFLICollection2</label>
        <locationX>2448</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>DCFLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCFLIRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Clear_DCFLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Adding_Valve_seq_num_to_loop_var</name>
        <label>Copy 1 of Adding Valve seq num to loop var</label>
        <locationX>2536</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLILoopVar.FSM_ValveSeqNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop2_through_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5315</description>
        <name>Copy_1_of_Assignment_of_Yes_for_Original_Hydrant</name>
        <label>Copy 1 of Assignment of Yes for Original Hydrant</label>
        <locationX>2448</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_SectionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Original Hydrant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_DataCaptureFormInfra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_ValveOriginalHydrantUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_original_hydrant_used</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_DCFLIRecord_to_DCFLICollection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Clear_DCFLI</name>
        <label>Copy 1 of Clear DCFLI</label>
        <locationX>2448</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>DCFLIRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop2_through_DCFLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_DCF_Record</name>
        <label>Copy 1 of Update DCF Record</label>
        <locationX>1458</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>not operated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_FormType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Network Management Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValvesOperated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Were_any_Valves_operated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_DateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LastCompleteScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DCFLIassign</name>
        <label>DCFLI Hydrant Assignment</label>
        <locationX>2316</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_ValveOriginalHydrantReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_Original_Hydrant_couldn_t_be_flushed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFLIRecord.FSM_ValveAlternativeHydrant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_alternative_hydrant_been_used</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Check_Control_Auth_Proactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_DCF_Record</name>
        <label>Update DCF Record</label>
        <locationX>754</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_AuthorisationGrantedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Authorisation_Granted_By</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_FormType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Network Management Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_ValvesOperated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Were_any_Valves_operated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_DateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecord.FSM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Valve_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>moved from the get record assignement in previous version to this assignment variable.</description>
        <name>WorkStep_variable_assignment</name>
        <label>WorkStep variable assignment</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>wsIsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkStep.FSM_IsCompleted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkStep.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Instance_Check</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Row</name>
        <choiceText>Add Valve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Row</stringValue>
        </value>
    </choices>
    <choices>
        <description>SFS-5315</description>
        <name>choiceDCFLIrecHydrantNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>SFS-5315</description>
        <name>choiceDCFLIrecHydrantYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Row</name>
        <choiceText>Delete Valve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Row</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>None as option</description>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Any_Valves_operated</name>
        <label>Any Valves operated?</label>
        <locationX>1106</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Control_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Operated</defaultConnectorLabel>
        <rules>
            <name>Yes_Valves_Operated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Were_any_Valves_operated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_ControlCheckAuthorisation</targetReference>
            </connector>
            <label>Yes Valves Operated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Confirmation_Message_to_Complete_Form_Again</name>
        <label>Check Confirmation Message to Complete Form Again</label>
        <locationX>1194</locationX>
        <locationY>1298</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_DCFRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-158</description>
        <name>Check_if_Initiated_from_mobile_or_desktop</name>
        <label>Check if Initiated from mobile or desktop</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Id</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WorkStep_Status</name>
        <label>Check WorkStep Status</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>CREATE_DCFRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wsIsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkStep_Complete_Confirmation</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_AddAdditionalValve</name>
        <label>DECISION_AddAdditionalValve</label>
        <locationX>754</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <targetReference>Copy_Loop_Through_DCFLI_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Additional_Valve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_add_another_row_or_delete_a_previous_row</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Row</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SCREEN_Valve_Section</targetReference>
            </connector>
            <label>Add Additional Valve</label>
        </rules>
        <rules>
            <name>Delete_Valve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_add_another_row_or_delete_a_previous_row</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delete_Row</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_DCFLICollection</targetReference>
            </connector>
            <label>Delete Valve</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_DELETEDCFLI</name>
        <label>DECISION_DELETEDCFLI</label>
        <locationX>1018</locationX>
        <locationY>3626</locationY>
        <defaultConnector>
            <targetReference>Add_record_to_Temporary_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_DCFLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Valve_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_DCFLICollection</targetReference>
            </connector>
            <label>Delete DCFLI</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-5315</description>
        <name>Decision_for_Activity_Type</name>
        <label>Decision for Activity Type</label>
        <locationX>1370</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Control_Check_Authorisation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected &apos;Pro-active Flushing&apos;</defaultConnectorLabel>
        <rules>
            <name>Selected_Valving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_activity_has_been_carried_out</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valving_screen</targetReference>
            </connector>
            <label>Selected &apos;Valving&apos;</label>
        </rules>
        <rules>
            <name>Selected_Reactive_Flushing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_activity_has_been_carried_out</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive Flushing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reactive_flushing_screen</targetReference>
            </connector>
            <label>Selected &apos;Reactive Flushing&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-5315</description>
        <name>Decision_for_adding_Line_item</name>
        <label>Decision for adding Line item</label>
        <locationX>2162</locationX>
        <locationY>4484</locationY>
        <defaultConnector>
            <targetReference>Loop2_through_DCFLI_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&apos;No&apos; selected</defaultConnectorLabel>
        <rules>
            <name>Yes_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_more_hydrants_customers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceDCFLIrecHydrantYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_DCFLI</targetReference>
            </connector>
            <label>&apos;Yes&apos; selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-5315</description>
        <name>Decision_for_Alternative_Hydrant</name>
        <label>Decision for Alternative Hydrant</label>
        <locationX>2316</locationX>
        <locationY>2762</locationY>
        <defaultConnector>
            <targetReference>No_alternative_hydrant_comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected &apos;No&apos;</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_alternative_hydrant_been_used</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yes_screen_for_Original_Hydrant</targetReference>
            </connector>
            <label>Selected &apos;Yes&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-5315</description>
        <name>Decision_for_Original_Hydrant</name>
        <label>Decision for Original Hydrant</label>
        <locationX>2162</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Control_Check_Authorisation_Proactve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - alternative found from CWDP document for letter warned streets</defaultConnectorLabel>
        <rules>
            <name>Yes_Hydrant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Was_original_hydrant_used</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yes_screen_for_Original_Hydrant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has Maximum Instance Reached?</description>
        <name>Has_Maximum_Instance_Reached</name>
        <label>Has Maximum Instance Reached?</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>GET_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MaxInstanceReached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>maxInstanceReached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-5315</description>
        <name>Smart_Valve_Selection</name>
        <label>Smart Valve Selection</label>
        <locationX>578</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Valves_operated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SmartValve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Was_Smart_Valve_used</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LastCompleteScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-1325
Updated as a part of SFS-3033, removed record type reference from the flow
v48 - updates section type value for DCFLI record
v49 - update as part of SFS-3975
v55 - Updated as part of SFS-4978
v57 - Updated as part of SFS-5155
v58- Updated as part of SFI-1721
Updated as a part of SFS-5315
Updates as part of SFS-6581
Updated as part of SFS-6944
Updated as part of SFS-7186
Updated as part of SFS-7164
Updated as part of SFS-7889
Updated as a part of SFS-7916
Updated as part of SFS-8064
Updated as part of SFS-8071
Updated as SFL-725</description>
    <dynamicChoiceSets>
        <description>SFS-5315</description>
        <name>choiceActivityType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ValveActivityCarriedOut__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>SFS-5315</description>
        <name>choiceFlowReduce1lpsAfter30Mins</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_FlowReducedTo1IpsAfter30Mins__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>SFS-5315</description>
        <name>choiceMaxFlowRate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MaxFlowRateAchieved__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>SFS-5315</description>
        <name>choiceSmartValve</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_SmartValveUsed__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>SFS-5315</description>
        <name>choiceValvesOperated</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ValvesOperated__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_NormalPosition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_NormalPosition__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_PostOperationPosition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_PostOperationPosition__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_ValveCondition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ValveCondition__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_ValveType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ValveType__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DCFLIchoiceAlternativeHydrant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ValveAlternativeHydrant__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DCFLIchoiceOriginalHydrant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ValveOriginalHydrantUsed__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DCFLIchoiceReasonOriginalHydrant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ValveOriginalHydrantReason__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>UserId2</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>DCF Valve Management {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DCF Network Management</label>
    <loops>
        <description>SFS-5315</description>
        <name>Copy_1_of_Loop2_through_DCFLI_Collection</name>
        <label>Copy 1 of Loop2 through DCFLI Collection</label>
        <locationX>2448</locationX>
        <locationY>3410</locationY>
        <assignNextValueToReference>DCFLILoopVar</assignNextValueToReference>
        <collectionReference>DCFLICollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Adding_Valve_seq_num_to_loop_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_DCFLI_Records2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_Loop_Through_DCFLI_Collection</name>
        <label>Loop Through DCFLI Collection</label>
        <locationX>1194</locationX>
        <locationY>3410</locationY>
        <assignNextValueToReference>DCFLILoopVar</assignNextValueToReference>
        <collectionReference>DCFLICollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Valve_Sequence_Number_and_No_of_line_items_EForms_of_same_type_To_Loop_Varia</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_DCFLI_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>SFS-5315</description>
        <name>Loop2_through_DCFLI_Collection</name>
        <label>Loop2 through DCFLI Collection</label>
        <locationX>2338</locationX>
        <locationY>4592</locationY>
        <assignNextValueToReference>DCFLILoopVar</assignNextValueToReference>
        <collectionReference>DCFLICollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_loopvar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_DCFLI_Records2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_DCFLICollection</name>
        <label>Loop Through DCFLICollection</label>
        <locationX>842</locationX>
        <locationY>3410</locationY>
        <assignNextValueToReference>DCFLILoopVar</assignNextValueToReference>
        <collectionReference>DCFLICollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SCREEN_Delete_Valve_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clear_Original_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>SFS-5315</description>
        <name>Copy_1_of_Create_DCFLI_Records2</name>
        <label>Copy 1 of Create DCFLI Records2</label>
        <locationX>2448</locationX>
        <locationY>3710</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LastCompleteScreen</targetReference>
        </connector>
        <inputReference>DCFLICollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_DCFLI_Records</name>
        <label>Create DCFLI Records</label>
        <locationX>1194</locationX>
        <locationY>3818</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LastCompleteScreen</targetReference>
        </connector>
        <inputReference>TemporaryDCFLICollection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>SFS-5315</description>
        <name>Create_DCFLI_Records2</name>
        <label>Create DCFLI Records2</label>
        <locationX>2338</locationX>
        <locationY>4892</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LastCompleteScreen</targetReference>
        </connector>
        <inputReference>DCFLICollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_DCFRecord</name>
        <label>CREATE_DCFRecord</label>
        <locationX>1370</locationX>
        <locationY>1682</locationY>
        <assignRecordIdToReference>DCFRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Activity_Type_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Network Management Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkStep__c</field>
            <value>
                <elementReference>varWorkStep.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordCreates>
    <recordLookups>
        <name>GET_ServiceResource</name>
        <label>GET_ServiceResource</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WorkStep_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserIdFinal</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkOrder</name>
        <label>GET_WorkOrder</label>
        <locationX>1370</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ServiceResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>DMAText</assignToReference>
            <field>FSM_DMADA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NotificationNumber</assignToReference>
            <field>FSM_NotificationNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OperationNumber</assignToReference>
            <field>FSM_OperationNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderNumber</assignToReference>
            <field>FSM_OrderNumber__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkStep</name>
        <label>GET_WorkStep</label>
        <locationX>578</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkStep_variable_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>varWorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_IsCompleted__c</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>FSM_MaxInstance__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_DCF_record_to_completed</name>
        <label>Update DCF record to completed</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>WorkStep_Update</targetReference>
        </connector>
        <inputReference>DCFRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>WorkStep_Update</name>
        <label>WorkStep Update</label>
        <locationX>50</locationX>
        <locationY>2546</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_IsCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <description>SFS-5315</description>
        <name>Activity_Type_screen</name>
        <label>Activity Type screen</label>
        <locationX>1370</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_for_Activity_Type</targetReference>
        </connector>
        <fields>
            <name>What_type_of_activity_has_been_carried_out</name>
            <choiceReferences>choiceActivityType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Valving</stringValue>
            </defaultValue>
            <fieldText>What type of activity has been carried out?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>SFS-5315</description>
        <name>Additional_Hydrant</name>
        <label>Additional Hydrant</label>
        <locationX>2162</locationX>
        <locationY>4376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_for_adding_Line_item</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_add_more_hydrants_customers</name>
            <choiceReferences>choiceDCFLIrecHydrantYes</choiceReferences>
            <choiceReferences>choiceDCFLIrecHydrantNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to add more hydrants / customers?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Control_Auth</name>
        <label>Control Check Authorisation</label>
        <locationX>1458</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_DCF_Record</targetReference>
        </connector>
        <fields>
            <name>smvalvedtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Valve Management&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 34, 8);&quot;&gt;Comments should be within 500 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comments}) &lt;=500</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>SFS-5315</description>
        <name>Control_Check_Authorisation</name>
        <label>Control Check Authorisation</label>
        <locationX>2162</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Original_Hydrant_screen</targetReference>
        </connector>
        <fields>
            <name>ProactiveDtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Pro-active Flushing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Time_1</name>
            <dataType>DateTime</dataType>
            <fieldText>Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DMA_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DMAText</elementReference>
            </defaultValue>
            <fieldText>DMA</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>SFS-5315</description>
        <name>Control_Check_Authorisation_Proactve</name>
        <label>Control Check Authorisation</label>
        <locationX>2316</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DCFLIassign</targetReference>
        </connector>
        <fields>
            <name>AltHydDText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Alternative Hydrant&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_Original_Hydrant_couldn_t_be_flushed</name>
            <choiceReferences>DCFLIchoiceReasonOriginalHydrant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Original Hydrant couldn&apos;t be flushed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Has_alternative_hydrant_been_used</name>
            <choiceReferences>DCFLIchoiceAlternativeHydrant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has alternative hydrant been used?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>SFS-5315</description>
        <name>LastCompleteScreen</name>
        <label>LastCompleteScreen</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_DCF_record_to_completed</targetReference>
        </connector>
        <fields>
            <name>Complete_check</name>
            <dataType>Boolean</dataType>
            <fieldText>Is this Data Capture Form Complete?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Please complete the question.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Complete_check}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>SFS-5315</description>
        <name>No_alternative_hydrant_comments</name>
        <label>No alternative hydrant comments</label>
        <locationX>2448</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_alt_hyd_comments</targetReference>
        </connector>
        <fields>
            <name>No_alternative_hydrant_comment</name>
            <dataType>String</dataType>
            <fieldText>No alternative hydrant comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Limit should be within 255 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!No_alternative_hydrant_comment}) &lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>SFS-5315</description>
        <name>Original_Hydrant_screen</name>
        <label>Original Hydrant screen</label>
        <locationX>2162</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Control_Check_Authorisation_Original_Hydrant_Assignment</targetReference>
        </connector>
        <fields>
            <name>Was_original_hydrant_used</name>
            <choiceReferences>DCFLIchoiceOriginalHydrant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was the original hydrant used?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>SFS-5315</description>
        <name>Reactive_flushing_screen</name>
        <label>Reactive flushing screen</label>
        <locationX>1722</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Reactive_Flushing_Screen</targetReference>
        </connector>
        <fields>
            <name>ReactiveDtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Reactive Flushing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DMA1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DMAText</elementReference>
            </defaultValue>
            <fieldText>DMA</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Hydrant_UID</name>
            <dataType>Number</dataType>
            <fieldText>Hydrant UID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Hydrant UID should be within 10 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Hydrant_UID} &lt;= 9999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Pre_Turbidity_NTU_1</name>
            <dataType>Number</dataType>
            <fieldText>Pre - Turbidity (NTU) 1</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Pre - Turbidity (NTU) 1 should be within 5 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Pre_Turbidity_NTU_1} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Start_Flow_lps</name>
            <dataType>Number</dataType>
            <fieldText>Start Flow (lps)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Start Flow (lps) should be within 5 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Flow_lps} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Post_Turbidity_NTU_1</name>
            <dataType>Number</dataType>
            <fieldText>Post Turbidity (NTU)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;If the turbidity doesnt fall below 2NTU please call Network Control&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Post Turbidity (NTU) should be within 5 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Post_Turbidity_NTU_1} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>dscreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;If the turbidity doesnt fall below 2NTU please call Network Control&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCREEN_ControlCheckAuthorisation</name>
        <label>Control Check Authorisation</label>
        <locationX>754</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_DCF_Record</targetReference>
        </connector>
        <fields>
            <name>svalvedtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Valve Management&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Authorisation_Granted_By</name>
            <dataType>String</dataType>
            <fieldText>Authorisation granted by</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please contact Network Control and state who has given authorisation to interrupt supply.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Time2</name>
            <dataType>DateTime</dataType>
            <fieldText>Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comments_2</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 34, 8);&quot;&gt;Comments should be within 500 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comments_2}) &lt;= 500</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCREEN_DCFLIADDDELETE</name>
        <label>Additional Valve</label>
        <locationX>754</locationX>
        <locationY>3086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_temp_Collection</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_add_another_row_or_delete_a_previous_row</name>
            <choiceReferences>Add_Row</choiceReferences>
            <choiceReferences>Delete_Row</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to add another valve or delete a previous valve:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Prompttocontinue</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;If you do not need to make any amendments, please select &quot;Next&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Delete_Valve_Record</name>
        <label>Delete Valve Record</label>
        <locationX>1018</locationX>
        <locationY>3518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DECISION_DELETEDCFLI</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;If you have made a mistake and need to amend, please delete the valve record and create a new one. Editing the values below will not save.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Delete_Valve_Record</name>
            <dataType>Boolean</dataType>
            <fieldText>Delete Valve Record</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy1_Valve_ID_Equipment_No</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DCFLILoopVar.FSM_ValveIDNetMgmt__c</elementReference>
            </defaultValue>
            <fieldText>Valve ID (Equipment No.)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy1_WATSIT_ID</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DCFLILoopVar.FSM_WATSITID__c</elementReference>
            </defaultValue>
            <fieldText>WATSIT ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy1_UID</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DCFLILoopVar.FSM_UID__c</elementReference>
            </defaultValue>
            <fieldText>UID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Valve_Condition</name>
            <choiceReferences>CS_ValveCondition</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLILoopVar.FSM_ValveCondition__c</elementReference>
            </defaultValue>
            <fieldText>Valve Condition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Date_Time_of_Operation</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>DCFLILoopVar.FSM_DateAndTime__c</elementReference>
            </defaultValue>
            <fieldText>Date &amp; Time of Operation</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Normal_Position</name>
            <choiceReferences>CS_NormalPosition</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLILoopVar.FSM_NormalPosition__c</elementReference>
            </defaultValue>
            <fieldText>Normal Position</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Post_Operation_Position</name>
            <choiceReferences>CS_PostOperationPosition</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLILoopVar.FSM_PostOperationPosition__c</elementReference>
            </defaultValue>
            <fieldText>Post Operation Position</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy1_Permanent_Change</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DCFLILoopVar.FSM_PermanentChange__c</elementReference>
            </defaultValue>
            <fieldText>Permanent Change</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Valve_Comments</name>
            <defaultValue>
                <stringValue>{!DCFLILoopVar.FSM_ValveComments__c}</stringValue>
            </defaultValue>
            <fieldText>Valve Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Valve_Section</name>
        <label>Valve Section</label>
        <locationX>754</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_to_DCFLIRecord</targetReference>
        </connector>
        <fields>
            <name>ValveSelDtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Valve Selection&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Valve_ID_Equipment_No</name>
            <dataType>Number</dataType>
            <fieldText>Valve ID (Equipment No.)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 14, 14); background-color: rgb(255, 255, 255);&quot;&gt;8 Digits min and max&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Valve_ID_Equipment_No} &gt;= 10000000 &amp;&amp;
  {!Valve_ID_Equipment_No} &lt;= 99999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>WATSIT_ID</name>
            <dataType>Number</dataType>
            <fieldText>WATSIT ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;8 character limit&lt;/p&gt;</errorMessage>
                <formulaExpression>{!WATSIT_ID}&lt;=99999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>UID</name>
            <dataType>Number</dataType>
            <fieldText>UID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;10 character limit&lt;/p&gt;</errorMessage>
                <formulaExpression>{!UID}&lt;=9999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Normal_Position</name>
            <choiceReferences>CS_NormalPosition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Normal Position</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Select One&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Valve_Condition</name>
            <choiceReferences>CS_ValveCondition</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Operational</stringValue>
            </defaultValue>
            <fieldText>Valve Condition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Time_of_Operation</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date &amp; Time of Operation</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_Operation_Position</name>
            <choiceReferences>CS_PostOperationPosition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Post Operation Position</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Permanent_Change</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Permanent Change</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Valve_Comments</name>
            <fieldText>Valve Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Text should not be greater than 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Valve_Comments}) &lt; 256</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Valves_operated</name>
        <label>Valves operated</label>
        <locationX>1106</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Any_Valves_operated</targetReference>
        </connector>
        <fields>
            <name>Smartvalvedtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Valve Management&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Were_any_Valves_operated</name>
            <choiceReferences>choiceValvesOperated</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were any Valves operated?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>SFS-5315</description>
        <name>Valving_screen</name>
        <label>Valving screen</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Valving_screen</targetReference>
        </connector>
        <fields>
            <name>valvingdtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Valving&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DMA</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DMAText</elementReference>
            </defaultValue>
            <fieldText>DMA</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Pre_Turbidity_1</name>
            <dataType>Number</dataType>
            <fieldText>Pre-Turbidity (NTU) 1</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Pre-Turbidity (NTU) 1 should be within 5 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Pre_Turbidity_1} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Pre_Turbidity_NTU_2</name>
            <dataType>Number</dataType>
            <fieldText>Pre-Turbidity (NTU) 2</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Pre-Turbidity (NTU) 2 should be within 5 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Pre_Turbidity_NTU_2} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Post_Turbidity_NTU</name>
            <dataType>Number</dataType>
            <fieldText>Post-Turbidity (NTU)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Post-Turbidity (NTU) should be within 5 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Post_Turbidity_NTU} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DtextPostTurb</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;If the turbidity doesnt fall below 2NTU please call Network Control&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Was_Smart_Valve_used</name>
            <choiceReferences>choiceSmartValve</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Yes</stringValue>
            </defaultValue>
            <fieldText>Was Smart Valve used?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WorkStep_Complete_Confirmation</name>
        <label>WorkStep Complete Confirmation</label>
        <locationX>1194</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Confirmation_Message_to_Complete_Form_Again</targetReference>
        </connector>
        <fields>
            <name>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WorkStep is already Completed . Do you still want to fill the form again ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>SFS-5315</description>
        <name>Yes_screen_for_Original_Hydrant</name>
        <label>Yes screen for Original Hydrant</label>
        <locationX>2162</locationX>
        <locationY>4052</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_Yes_for_Original_Hydrant</targetReference>
        </connector>
        <fields>
            <name>OrgHydrantDtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Hydrant Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Hydrant_UID_DCFLI</name>
            <dataType>Number</dataType>
            <fieldText>Hydrant UID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Hydrant UID should be within 10 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Hydrant_UID_DCFLI} &lt;= 9999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Flush_Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Flush Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Flow_Volume_lps</name>
            <dataType>Number</dataType>
            <fieldText>Start Flow Volume (lps)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Start Flow Volume (lps) should be within 5 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Flow_Volume_lps} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Initial_NTU_within_5_minutes</name>
            <dataType>Number</dataType>
            <fieldText>Initial NTU within 5 minutes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Initial NTU within 5 minutes should be within 5 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Initial_NTU_within_5_minutes} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NTU_at_15_mins</name>
            <dataType>Number</dataType>
            <fieldText>NTU at 15 mins</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;NTU at 15 mins should be within 5 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!NTU_at_15_mins} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NTU_at_30_mins</name>
            <dataType>Number</dataType>
            <fieldText>NTU at 30 mins</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;NTU at 30 mins should be within 5 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!NTU_at_30_mins} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NTU_at_45_mins</name>
            <dataType>Number</dataType>
            <fieldText>NTU at 45 mins</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;NTU at 45 mins should be within 5 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!NTU_at_45_mins} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NTU_at_60_mins</name>
            <dataType>Number</dataType>
            <fieldText>NTU at 60 mins</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;NTU at 60 mins should be within 5 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!NTU_at_60_mins} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Was_flow_reduced_to_1_lps_after_30_minutes</name>
            <choiceReferences>choiceFlowReduce1lpsAfter30Mins</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was flow reduced to 1 lps after 30 minutes</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Final_flush_volume_from_red_flow_monitor</name>
            <dataType>Number</dataType>
            <fieldText>Final flush volume (from red flow monitor)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Final flush volume (from red flow monitor) should be within 5 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Final_flush_volume_from_red_flow_monitor} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Maximum_flow_rate_achieved</name>
            <choiceReferences>choiceMaxFlowRate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Maximum flow rate achieved</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Final_NTU</name>
            <dataType>Number</dataType>
            <fieldText>Final NTU</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Final NTU should be within 5 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Final_NTU} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Flush_End_time</name>
            <dataType>DateTime</dataType>
            <fieldText>Flush End time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comments_DCFLI</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Comment should be within 255 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comments_DCFLI}) &lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Initiated_from_mobile_or_desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Max_Instance_Check</name>
        <label>Max Instance Check</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Has_Maximum_Instance_Reached</targetReference>
        </connector>
        <flowName>FSM_MaxInstanceCheck</flowName>
        <inputAssignments>
            <name>varWorkStep</name>
            <value>
                <elementReference>varWorkStep</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>maxInstanceReached</assignToReference>
            <name>maxInstanceReached</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ASRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFLILoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5315</description>
        <name>DMAText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-158</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID2Delete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Maximum DCF instance reached</description>
        <name>maxInstanceReached</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NotificationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-158</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemporaryDCFLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValveIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChildDCFLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>varDCFLIrecord1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFLIRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFLIRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>wsIsComplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
