force-app/main/default/flows/FSM_ServiceCrewAfterTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_updated_crew_name_to_Service_Resource</name>
        <label>Assign updated crew name to Service Resource</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_available_Service_Resource.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_available_Service_Resource</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <customErrorMessages>
            <errorMessage>No Service Resource present for this Crew</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_for_ST</name>
        <label>Check for ST</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ST_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_ServiceTerritory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_public_Group</targetReference>
            </connector>
            <label>ST present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Crew_name_is_changed</name>
        <label>Check if Crew name is changed</label>
        <locationX>380</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_Group_available</name>
        <label>IS Group available</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Group</defaultConnectorLabel>
        <rules>
            <name>Group_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_public_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Crew_Share</targetReference>
            </connector>
            <label>Group available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Crew_Members_available</name>
        <label>Service Crew Members available</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not available</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_available_Service_Resource</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <description>Created as a part of SFS-3900
Updated as part of SFS-7961
Updated as part of SFS-8900</description>
    <environments>Default</environments>
    <formulas>
        <name>GroupName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.FSM_ServiceTerritory__r.Name},40)</expression>
    </formulas>
    <formulas>
        <name>leader</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos;- LEADER&apos;</expression>
    </formulas>
    <interviewLabel>FSM Service Crew After Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Service Crew After Trigger</label>
    <loops>
        <name>Loop_through_available_Service_Resource</name>
        <label>Loop through available Service Resource</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_SR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_updated_crew_name_to_Service_Resource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SR_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Service_Crew_Share</name>
        <label>Service Crew Share</label>
        <locationX>512</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Check_if_Crew_name_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Create_Group</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceCrewShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Group</name>
        <label>Create Group</label>
        <locationX>512</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Copy_1_of_Service_Crew_Share</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </inputAssignments>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Service_Crew_Share</name>
        <label>Service Crew Share</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_if_Crew_name_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_public_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceCrewShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_public_Group</name>
        <label>Get public Group</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_Group_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SR</name>
        <label>Get SR</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Crew_Members_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SR_Name</name>
        <label>Update SR Name</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>updateLeaderCrew</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ServiceResources</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLeaderCrew</name>
        <label>updateLeaderCrew</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLeader</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__GanttLabel__c</field>
            <value>
                <elementReference>leader</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceCrewMember</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_ST</targetReference>
        </connector>
        <object>ServiceCrew</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
