force-app/main/default/flows/FSM_MobileSubflowTMAPermitConditions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Created as part of SFS-1885</description>
        <name>Assign_TMA_Permit_Conditions</name>
        <label>Assign TMA Permit Conditions</label>
        <locationX>666</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>varDisplayTMAPermitConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Activity Condition Code: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTMAPermitConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TMAPermitConditionRecord.FSM_TMAPermitConditionType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTMAPermitConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTMAPermitConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Activity Condition Description: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTMAPermitConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TMAPermitConditionRecord.FSM_TMAPermitCondition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTMAPermitConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTMAPermitConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Activity Condition Text: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTMAPermitConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TMAPermitConditionRecord.FSM_TMAPermitConditionText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTMAPermitConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTMAPermitConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_TMA_Permit_Conditions_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Desktop_user</name>
        <label>Desktop user</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Substitute_string</name>
        <label>Substitute string</label>
        <locationX>578</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>varDisplayTMAPermitConditions</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>SubstituteString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TMA_Permit_Conditions</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>cannot_work_in_line_with_the_requirement</name>
        <label>Cannot work in line with the requirement?</label>
        <locationX>578</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Accept_tma_conditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_cannot_work_in_line_with_the_requirement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Can_you_work_in_line_with_the_requirements_of_the_permit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_Permit_Modification</targetReference>
            </connector>
            <label>No-cannot work in line with the requirement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Permit_Modification</name>
        <label>Check Permit_Modification</label>
        <locationX>402</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Update_Accept_tma_conditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permit_Modification_as_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OK_to_Continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Accept_tma_conditions</targetReference>
            </connector>
            <label>Permit_Modification as Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_origin</name>
        <label>Check the origin</label>
        <locationX>578</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Get_TMA_Permit_Condition_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Update flow</defaultConnectorLabel>
        <rules>
            <name>Quick_action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TMAPermit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA</targetReference>
            </connector>
            <label>Quick action</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Type</name>
        <label>Check User Type</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Desktop_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop user</defaultConnectorLabel>
        <rules>
            <name>Mobile_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_origin</targetReference>
            </connector>
            <label>Mobile User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_on_site</name>
        <label>Not on site/Return to Site</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Display_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>onsite</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServApp.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServApp.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_TMA</targetReference>
            </connector>
            <label>onsite</label>
        </rules>
        <rules>
            <name>No_permit_Linked_to_workorder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TMAPermit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Display_error_message</targetReference>
            </connector>
            <label>No permit Linked to workorder</label>
        </rules>
    </decisions>
    <description>Created as a part of SFS-2233-V2
Updated as a part of SFS-5503
updated as part of sfs-6511
Updated as a part of SFS-8217
updated as part of sfs-8168
Updated as a part of SFS-8359</description>
    <environments>Default</environments>
    <formulas>
        <name>SubstituteString</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varDisplayTMAPermitConditions}, &apos;;&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>FSM Mobile Subflow - TMA Permit Conditions {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FSM Mobile Subflow - TMA Permit Conditions</label>
    <loops>
        <description>Created as part of SFS-1885</description>
        <name>Loop_Through_TMA_Permit_Conditions_Collection</name>
        <label>Loop Through TMA Permit Conditions Collection</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <assignNextValueToReference>TMAPermitConditionRecord</assignNextValueToReference>
        <collectionReference>FSM_TMAPermitConditionsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_TMA_Permit_Conditions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Substitute_string</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_wo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServApp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_TMA</name>
        <label>GET TMA</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TMA_Permit_Condition_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TMAPermit</elementReference>
            </value>
        </filters>
        <object>FSM_TMAPermit__c</object>
        <outputReference>TMA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_TMAActualStart__c</queriedFields>
        <queriedFields>FSM_TMAActualEnd__c</queriedFields>
        <queriedFields>FSM_Excavation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_TMA_Permit_Condition_Records</name>
        <label>Get TMA Permit Condition Records</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_TMA_Permit_Conditions_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_TMAPermit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TMAPermit</elementReference>
            </value>
        </filters>
        <object>FSM_TMAPermitConditions__c</object>
        <outputReference>FSM_TMAPermitConditionsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_TMAPermitConditionText__c</queriedFields>
        <queriedFields>FSM_TMAPermitConditionType__c</queriedFields>
        <queriedFields>FSM_TMAPermitCondition__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_wo</name>
        <label>Get wo</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Not_on_site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServApp.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>TMAPermit</assignToReference>
            <field>FSM_TMAPermit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Added as part of sfs-8168</description>
        <name>Copy_1_of_Update_Accept_tma_conditions</name>
        <label>Copy 1 of Update Accept tma conditions</label>
        <locationX>578</locationX>
        <locationY>2690</locationY>
        <connector>
            <targetReference>FSM_Mobile_Subflow_Set_TMA_Actual_Start_Flow_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServApp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_AcceptTMAConditions__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Added as part of sfs-8168</description>
        <name>Update_Accept_tma_conditions</name>
        <label>Update Accept tma conditions</label>
        <locationX>490</locationX>
        <locationY>2306</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServApp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_AcceptTMAConditions__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Display_error_message</name>
        <label>Copy 1 of Display error message</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DisplayError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(176, 17, 17);&quot;&gt;No TMA Linked to the service appointment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_error_message</name>
        <label>Display error message</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(176, 17, 17);&quot;&gt;To accurately capture TMA start time, please update the service appointment status to &quot;Onsite or Return To Site.&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FSM_Permit_Modification</name>
        <label>Permit Modification</label>
        <locationX>402</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Permit_Modification</targetReference>
        </connector>
        <fields>
            <name>Permit_Modification</name>
            <fieldText>&lt;p&gt;Please contact scheduler/manager for permit modification.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OK_to_Continue</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OK to Continue?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Created as part of SFS-1885</description>
        <name>TMA_Permit_Conditions</name>
        <label>TMA Permit Conditions</label>
        <locationX>578</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Unable_to_work_in_line_with_requirements</targetReference>
        </connector>
        <fields>
            <name>FSM_TMAPermitConditionsCheck</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;Permit Conditions:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varDisplayTMAPermitConditions}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_TMADisplayWarning1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Display Warning&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;If you incur issues during this job, please contact scheduling for an extension, this must be done on day one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_TMADisplayWarning2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Display Warning&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;If the permit shows &quot;no excavation&quot; but you do need to excavate on site, please call scheduling to arrange for a modification.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_Excavation_Required_Flag</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Display Permit Excavation Flag&lt;/strong&gt; &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!TMA.FSM_Excavation__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unable_to_work_in_line_with_requirements</name>
        <label>Unable to work in line with requirements</label>
        <locationX>578</locationX>
        <locationY>1874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>cannot_work_in_line_with_the_requirement</targetReference>
        </connector>
        <fields>
            <name>Can_you_work_in_line_with_the_requirements_of_the_permit</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Can you work in line with the requirements of the permit?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FSM_Mobile_Subflow_Set_TMA_Actual_Start_Flow_2</name>
        <label>FSM Mobile Subflow - Set TMA Actual Start Flow 2</label>
        <locationX>578</locationX>
        <locationY>2798</locationY>
        <flowName>FSM_MobileSubflowSetTMAActualStart</flowName>
        <inputAssignments>
            <name>FSM_TMAActualStart</name>
            <value>
                <elementReference>TMA.FSM_TMAActualStart__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceApp</name>
            <value>
                <elementReference>ServApp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TMA_Id</name>
            <value>
                <elementReference>TMA.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Line Break</description>
        <name>varLineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt; &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varNewLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt; &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>FSM_TMAPermitConditionsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_TMAPermitConditions__c</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>TMA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_TMAPermit__c</objectType>
    </variables>
    <variables>
        <name>TMAPermit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TMAPermitConditionChecked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TMAPermitConditionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_TMAPermitConditions__c</objectType>
    </variables>
    <variables>
        <description>Created as part of SFS-1885 to display the TMA Permit Conditions</description>
        <name>varDisplayTMAPermitConditions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
