force-app/main/default/flows/FSM_MeterFWR_Desktop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Floc</name>
        <label>Assign Floc</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Flocdetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.FSM_FlocDescription__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id</name>
        <label>AssignId</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-3092</description>
        <name>Assign_Meter_Serial_Number</name>
        <label>Assign Meter Serial Number</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_Meter_Form_Screen_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-3092</description>
        <name>Assign_Meter_Serial_Number_No</name>
        <label>Assign Meter Serial Number</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Number_No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_Meter_Form_Screen_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_fields_of_DCF_Infra</name>
        <label>Assign values to fields of DCF Infra</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_FormType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Metering Follow on Work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ThisProperty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>This_Property</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_OwnersName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Property_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Number_Sort_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_PostCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_EngineersRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Engineers_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MTRFWRTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Taskvar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MTRFWRJobType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobTypevar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ToBeAssingedToUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_to_be_assigned_to_myself</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Detailed_Job_Instructions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_DCF_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>SFS-3092</description>
        <name>Check_WO_Floc_Description_Blank_Or_Not</name>
        <label>Check WO Floc Description Blank Or Not</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.FSM_FlocDescription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.FSM_FlocDescription__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Floc</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-3084</description>
        <name>Checking_this_property</name>
        <label>Checking this property</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>FSM_Meter_FWR_Form_Screen_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>This_Property</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_Meter_FWR_Form_Screen_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v5- Updated as a part of SFS-6846 (Adding Help text)
Updated as a part of SFS-7916</description>
    <dynamicChoiceSets>
        <name>ThisProperty</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ThisProperty__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>FSM Meter FWR - Desktop {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FSM Meter FWR - Desktop</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_DCF_record</name>
        <label>Create DCF record</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <faultConnector>
            <targetReference>Error_log_Creation</targetReference>
        </faultConnector>
        <inputReference>varDCFRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FSM_Meter_For_Screen_1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_Creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserIdFinal</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WO_Floc_Description_Blank_Or_Not</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_Creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Metering Create Job / Further Work Request​</description>
        <name>FSM_Meter_For_Screen_1</name>
        <label>FSM Meter For Screen 1</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_this_property</targetReference>
        </connector>
        <fields>
            <name>TaskJobType</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>FSM_DataCaptureFormInfra__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>FSM_MTRFWRTask__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>FSM_MTRFWRJobType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Task (Work type Code group)​ - ℹ️​Select the overall type of work you want to raise. The choice you make here will determine what job you can pick. </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Job Type (Work type code) - ℹ️Please select the type of you need to be carried out. </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Taskvar</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>JobTypevar</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>This_Property</name>
            <choiceReferences>ThisProperty</choiceReferences>
            <dataType>String</dataType>
            <fieldText>This Property?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Request_to_be_assigned_to_myself</name>
            <dataType>Boolean</dataType>
            <fieldText>Request to be assigned to myself​</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FSM_Meter_Form_Screen_3</name>
        <label>FSM Meter Form Screen 3</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_fields_of_DCF_Infra</targetReference>
        </connector>
        <fields>
            <name>Engineers_Required</name>
            <dataType>Number</dataType>
            <fieldText>Engineers Required</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 6, 6);&quot;&gt;Engineers Required should be within 18 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Engineers_Required} &lt;= 999999999999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Summary</name>
            <dataType>String</dataType>
            <fieldText>Summary</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 11pt;&quot;&gt;One liner to summarise what needs doing e.g. Supply Check&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 12, 12);&quot;&gt;Summary should be within 250 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Summary}) &lt;=250</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Detailed_Job_Instructions</name>
            <fieldText>Detailed Job Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 11pt;&quot;&gt;​Details including reason for the job, what needs to be done, any other information that may be relevant such as customer contact details.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 6, 6);&quot;&gt;Detailed Job Instructions should be within 500 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Detailed_Job_Instructions}) &lt;= 500</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-3084</description>
        <name>FSM_Meter_FWR_Form_Screen_2</name>
        <label>FSM Meter FWR Form Screen 2</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Meter_Serial_Number</targetReference>
        </connector>
        <fields>
            <name>FLOC</name>
            <fieldText>&lt;p&gt;{!Flocdetails}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Number</name>
            <dataType>String</dataType>
            <fieldText>Meter Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 8, 8);&quot;&gt;Meter Number should be within 12 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Meter_Number}) &lt;=12</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-3092</description>
        <name>FSM_Meter_FWR_Form_Screen_3</name>
        <label>FSM Meter FWR Form Screen 3</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Meter_Serial_Number_No</targetReference>
        </connector>
        <fields>
            <name>Owner_Name</name>
            <dataType>String</dataType>
            <fieldText>Owner Name​</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 12, 12);&quot;&gt;Owner Name should be within 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Owner_Name}) &lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Property_Number_Sort_Field</name>
            <dataType>Number</dataType>
            <fieldText>Property Number​ / Sort Field​</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 8, 8);&quot;&gt;Property Number/ Sort Field should be within 18 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Property_Number_Sort_Field} &lt;= 18</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Address</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 9, 9);&quot;&gt;Address should be within 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Address}) &lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City​</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 9, 9);&quot;&gt;City should be within 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!City}) &lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Post_Code</name>
            <dataType>String</dataType>
            <fieldText>Post Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 10, 10);&quot;&gt;Post Code should be within 9 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Post_Code}) &lt;= 9</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Meter_Number_No</name>
            <dataType>String</dataType>
            <fieldText>Meter Number​</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 10, 10);&quot;&gt;Meter Number should be within 12 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Meter_Number_No}) &lt;= 12</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_log_Creation</name>
        <label>Error log Creation</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>FSM Meter FWR - Desktop</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flocdetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobTypevar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Taskvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
