force-app/main/default/flows/FSM_MeteringJobFeedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_1</name>
        <label>Assign 1</label>
        <locationX>886</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CustomerPresent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Present</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_CustomerSpoken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Customer_Spoken_to</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_PropertyMetered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Property_Metered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Name_of_customer_spoken_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-158</description>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_WorkStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>204</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_WorkStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_last</name>
        <label>Assignment last</label>
        <locationX>1722</locationX>
        <locationY>3704</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_RoutingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkStep_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Meter_Grid_Reference</name>
        <label>Meter Grid Reference</label>
        <locationX>974</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>MeterGridRefXvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Grid_Reference_XYes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeterGridRefYvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Grid_Reference_YYes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterReading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Reading_If_taken</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_FlowTest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_Test</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterMisread__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Misread</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterExchanged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Exchanged</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_For_Meter_Grid_X_and_Y</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Meter_Grid_ReferenceNo</name>
        <label>Meter Grid Reference</label>
        <locationX>2470</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>MeterGridRefXvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Grid_Reference_XNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeterGridRefYvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Grid_Reference_YNo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_For_Meter_Ref_Grid_X_and_Y</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Water_Efficiency_NO</name>
        <label>Water Efficiency NO</label>
        <locationX>2052</locationX>
        <locationY>3320</locationY>
        <assignmentItems>
            <assignToReference>WaterEfficiencyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Feedback_Feedback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Water_Efficiency_YES</name>
        <label>Water Efficiency YES</label>
        <locationX>1788</locationX>
        <locationY>3320</locationY>
        <assignmentItems>
            <assignToReference>WaterEfficiencyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Feedback_Feedback</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cold_Call</name>
        <choiceText>Cold Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cold Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Rep</name>
        <choiceText>Customer Rep</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Rep</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Show</name>
        <choiceText>No Show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Show</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Confirmation_Message_to_Complete_Form_Again</name>
        <label>Check Confirmation Message to Complete Form Again</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_DCFRECORD</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-158</description>
        <name>Check_if_Initiated_from_mobile_or_desktop</name>
        <label>Check if Initiated from mobile or desktop</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Id</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <description>created as part of SFS-4976</description>
        <name>Check_Name_of_customer_spoken_to</name>
        <label>Check Name of customer spoken to</label>
        <locationX>886</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>DECISION_PropertyMetered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Present</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer_Present</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_name_blank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WorkStep_Status</name>
        <label>Check WorkStep Status</label>
        <locationX>886</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>CREATE_DCFRECORD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WsIdComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkStep_Complete_Confirmation</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_For_Meter_Grid_X_and_Y</name>
        <label>Checking For Meter Grid X and Y</label>
        <locationX>974</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Feedback_Additional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_for_X_and_Y</name>
            <conditionLogic>5 AND (1 OR 2) AND (3 OR 4) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>550000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>170000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>440000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_for_Grid_X_and_Y</targetReference>
            </connector>
            <label>Checking for X_and_Y</label>
        </rules>
        <rules>
            <name>Checking_for_X</name>
            <conditionLogic>5 AND (1 OR 2) AND (3 AND  4 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>550000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>170000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>440000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errors_message_For_X</targetReference>
            </connector>
            <label>Checking for X</label>
        </rules>
        <rules>
            <name>Checking_for_Y</name>
            <conditionLogic>5 AND (1 OR 2) AND (3 AND 4 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>170000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>440000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>550000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_For_Grid_Y</targetReference>
            </connector>
            <label>Checking for Y</label>
        </rules>
        <rules>
            <name>Checking_X_When_Y_Null</name>
            <conditionLogic>4 AND (1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>550000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_For_When_Y_Null</targetReference>
            </connector>
            <label>Checking X When Y Null</label>
        </rules>
        <rules>
            <name>Checking_Y_When_X_Null</name>
            <conditionLogic>4 AND (1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>170000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>440000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XYes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YYes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_For_When_X_Null</targetReference>
            </connector>
            <label>Checking Y When X Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_For_Meter_Ref_Grid_X_and_Y</name>
        <label>Check For Meter Grid X and Y</label>
        <locationX>2470</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Feedback_Additional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_for_grid_X_and_Y</name>
            <conditionLogic>5 AND (1 OR 2) AND (3 OR 4) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>550000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>170000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>440000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_Message_for_Grid_X_and_Y</targetReference>
            </connector>
            <label>Checking for X_and_Y</label>
        </rules>
        <rules>
            <name>Checking_for_grid_X</name>
            <conditionLogic>5 AND (1 OR 2) AND (3 AND  4 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>550000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>170000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>440000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_Message_For_Grid_X</targetReference>
            </connector>
            <label>Checking for X</label>
        </rules>
        <rules>
            <name>Checking_for_grid_Y</name>
            <conditionLogic>5 AND (1 OR 2) AND (3 AND 4 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>170000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>440000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>550000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_Message_For_Grid_Y</targetReference>
            </connector>
            <label>Checking for Y</label>
        </rules>
        <rules>
            <name>Checking_grid_X_When_Y_Null</name>
            <conditionLogic>4 AND (1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>550000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_Message_For_When_Y_Null</targetReference>
            </connector>
            <label>Checking X When Y Null</label>
        </rules>
        <rules>
            <name>Checking_grid_Y_When_X_Null</name>
            <conditionLogic>4 AND (1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>170000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>440000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_XNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Grid_Reference_YNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_Message_For_When_X_Null</targetReference>
            </connector>
            <label>Checking Y When X Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_For_Water_Efficiency_Yes_or_No</name>
        <label>Checking For Water Efficiency Yes or No</label>
        <locationX>1920</locationX>
        <locationY>3212</locationY>
        <defaultConnector>
            <targetReference>Water_Efficiency_NO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If no</defaultConnectorLabel>
        <rules>
            <name>If_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_Efficiency_YES</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_PropertyMetered</name>
        <label>DECISION_PropertyMetered</label>
        <locationX>1722</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Feedback_Metered_PropertyNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PropertyMeteredNo</defaultConnectorLabel>
        <rules>
            <name>PropertyMeteredYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Property_Metered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Metered_Property</targetReference>
            </connector>
            <label>PropertyMeteredYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_WaterEfficiency</name>
        <label>DECISION_WaterEfficiency</label>
        <locationX>1722</locationX>
        <locationY>2996</locationY>
        <defaultConnector>
            <targetReference>Water_Efficiency_Check_YES</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Water Efficiency Check YES</defaultConnectorLabel>
        <rules>
            <name>Water_Efficiency_Check_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Water_Efficiency_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Check_Not_Complete</targetReference>
            </connector>
            <label>Water Efficiency Check NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Instance_Reached</name>
        <label>Max Instance Reached?</label>
        <locationX>336</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>GET_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MaxInstanceReached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>maxLimitReached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SFS-1320
Updated as a part of SFS-3033, removed record type reference from the flow
V14 - updated as fix of SFS-3859
v16 - updated as fix of SFS-3350
v17 -update as part of SFS-3975
Updated as a part of SFS-4087,4088,4089
Updated as a part of SFS-4976
Updated as part of SFS-5632
Updated as part of SFS-6524
Updated as a part of SFS-7916
Updated as part of SFL-1102</description>
    <dynamicChoiceSets>
        <name>CS_CustomerPresent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_CustomerPresent__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_FlowTest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_FlowTest__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_MeterExchanged</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterExchanged__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_MeterMisread</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterMisread__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_NotCompleted</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ReasonCheckNotCompleted__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_PropertyMetered</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_PropertyMetered__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_RoutingCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_RoutingCode__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_WaterEffieciencyCheck</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_EfficiencyCheckCompleted__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Is_name_blank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Name_of_Customer_Spoken_to})</expression>
    </formulas>
    <formulas>
        <name>MeterReadingValue</name>
        <dataType>Boolean</dataType>
        <expression>{!Meter_Reading_If_taken} &gt; 0</expression>
    </formulas>
    <formulas>
        <name>UserId2</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>DCF Meter Job Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DCF Meter Job Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CREATE_DCFRECORD</name>
        <label>CREATE_DCFRECORD</label>
        <locationX>886</locationX>
        <locationY>1574</locationY>
        <assignRecordIdToReference>DCFRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>GET_DCFRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Metering Job Feedback</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkStep__c</field>
            <value>
                <elementReference>varWorkStep.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordCreates>
    <recordLookups>
        <name>GET_DCFRecord</name>
        <label>GET_DCFRecord</label>
        <locationX>886</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCREEN_Feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </filters>
        <object>FSM_DataCaptureFormInfra__c</object>
        <outputReference>varDCFRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_ServiceResource</name>
        <label>GET_ServiceResource</label>
        <locationX>886</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WorkStep_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserIdFinal</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkOrder</name>
        <label>GET_WorkOrder</label>
        <locationX>886</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ServiceResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>NotificationNumber</assignToReference>
            <field>FSM_NotificationNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OperationNumber</assignToReference>
            <field>FSM_OperationNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderNumber</assignToReference>
            <field>FSM_OrderNumber__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkStep</name>
        <label>GET_WorkStep</label>
        <locationX>336</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Max_Instance_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>varWorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_IsCompleted__c</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>FSM_MaxInstance__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_DCF</name>
        <label>UPDATE_DCF</label>
        <locationX>1722</locationX>
        <locationY>3920</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DCFRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_CustomerPresent__c</field>
            <value>
                <elementReference>Customer_Present</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_CustomerSpoken__c</field>
            <value>
                <elementReference>Name_of_Customer_Spoken_to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_EfficiencyCheckCompleted__c</field>
            <value>
                <elementReference>Water_Efficiency_Check</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Feedback__c</field>
            <value>
                <elementReference>Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_FlowTest__c</field>
            <value>
                <elementReference>Flow_Test</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_MeterExchanged__c</field>
            <value>
                <elementReference>Meter_Exchanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_MeterGridX__c</field>
            <value>
                <elementReference>MeterGridRefXvalue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_MeterGridY__c</field>
            <value>
                <elementReference>MeterGridRefYvalue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_MeterMisread__c</field>
            <value>
                <elementReference>Meter_Misread</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_MeterReading__c</field>
            <value>
                <elementReference>Meter_Reading_If_taken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_MeterSerialNumber__c</field>
            <value>
                <elementReference>Meter_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_PropertyMetered__c</field>
            <value>
                <elementReference>Is_Property_Metered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ReasonCheckNotCompleted__c</field>
            <value>
                <elementReference>Reason_Water_Efficiency_Not_Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_RiskAssessment__c</field>
            <value>
                <stringValue>L</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_RoutingCode__c</field>
            <value>
                <elementReference>Routing_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WaterEfficiencyFormCompleted__c</field>
            <value>
                <elementReference>WaterEfficiencyValue</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>WorkStep_Update</name>
        <label>WorkStep Update</label>
        <locationX>1722</locationX>
        <locationY>3812</locationY>
        <connector>
            <targetReference>UPDATE_DCF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_IsCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Error_Message_For_Grid_X</name>
        <label>Error Message For Grid X</label>
        <locationX>2074</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Feedback_Metered_PropertyNo</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Error_Message_for_X</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 62, 28);&quot;&gt;X value must be within 250000 and 550000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 62, 28);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Message_for_Grid_X_and_Y</name>
        <label>Error Message for Grid X_and_Y</label>
        <locationX>1810</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Feedback_Metered_PropertyNo</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Error_Message_for_GridX_and_GridY</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243); color: rgb(182, 80, 73);&quot;&gt;X value should be within 250000 and 550000 and&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243); color: rgb(182, 80, 73);&quot;&gt;Y value should be within 170000 and 440000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 29, 29);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Message_For_Grid_Y</name>
        <label>Error Message For Grid Y</label>
        <locationX>2338</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Feedback_Metered_PropertyNo</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Error_Message_for_Y</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 62, 28);&quot;&gt;Y value must be within 170000 and 440000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(212, 58, 29);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Message_For_When_X_Null</name>
        <label>Error Message For When X Null</label>
        <locationX>2866</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Feedback_Metered_PropertyNo</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Error_Message_for_Y</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 62, 28);&quot;&gt;Y value must be within 170000 and 440000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(212, 58, 29);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Message_For_When_Y_Null</name>
        <label>Error Message For When Y Null</label>
        <locationX>2602</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Feedback_Metered_PropertyNo</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Copy_1_of_Error_Message_for_Y</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 62, 28); background-color: rgb(255, 255, 255);&quot;&gt;X value must be within 250000 and 550000&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_for_Grid_X_and_Y</name>
        <label>Error Message for Grid X_and_Y</label>
        <locationX>314</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Feedback_Metered_Property</targetReference>
        </connector>
        <fields>
            <name>Error_Message_for_GridX_and_GridY</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243); color: rgb(182, 80, 73);&quot;&gt;X value should be within 250000 and 550000 and&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243); color: rgb(182, 80, 73);&quot;&gt;Y value should be within 170000 and 440000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 29, 29);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_For_Grid_Y</name>
        <label>Error Message For Grid Y</label>
        <locationX>842</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Feedback_Metered_Property</targetReference>
        </connector>
        <fields>
            <name>Error_Message_for_Y</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 62, 28);&quot;&gt;Y value must be within 170000 and 440000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(212, 58, 29);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_For_When_X_Null</name>
        <label>Error Message For When X Null</label>
        <locationX>1370</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Feedback_Metered_Property</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Error_Message_for_Y</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 62, 28);&quot;&gt;Y value must be within 170000 and 440000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(212, 58, 29);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_For_When_Y_Null</name>
        <label>Error Message For When Y Null</label>
        <locationX>1106</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Feedback_Metered_Property</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Error_Message_for_Y</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 62, 28); background-color: rgb(255, 255, 255);&quot;&gt;X value must be within 250000 and 550000&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>created as part of SFS-4976</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SCREEN_Feedback</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter values in  the below fields as Customer Present is marked as &apos;Yes&apos; or &apos;Customer Rep&apos;:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;-&lt;/em&gt;&lt;em style=&quot;color: rgb(255, 0, 0); font-family: Calibri; font-size: 12pt;&quot;&gt; Name of customer spoken to &lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Errors_message_For_X</name>
        <label>Error Message For Grid X</label>
        <locationX>578</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Feedback_Metered_Property</targetReference>
        </connector>
        <fields>
            <name>Error_Message_for_X</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 62, 28);&quot;&gt;X value must be within 250000 and 550000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 62, 28);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feedback_Additional</name>
        <label>Feedback - Additional</label>
        <locationX>1722</locationX>
        <locationY>2888</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DECISION_WaterEfficiency</targetReference>
        </connector>
        <fields>
            <name>Water_Efficiency_Check</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Water Efficiency Check</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feedback_Check_Not_Complete</name>
        <label>Feedback - Check Not Complete</label>
        <locationX>1524</locationX>
        <locationY>3104</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Feedback_Feedback</targetReference>
        </connector>
        <fields>
            <name>Reason_Water_Efficiency_Not_Completed</name>
            <choiceReferences>CS_NotCompleted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Water Efficiency Not Completed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feedback_Feedback</name>
        <label>Feedback - Feedback</label>
        <locationX>1722</locationX>
        <locationY>3596</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_last</targetReference>
        </connector>
        <fields>
            <name>Feedback</name>
            <fieldText>Feedback</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 34, 8); background-color: rgb(255, 255, 255);&quot;&gt;Feedback should be within 700 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Feedback}) &lt;= 700</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Routing_Code</name>
            <choiceReferences>CS_RoutingCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Routing Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Select &lt;strong&gt;ONLY if&lt;/strong&gt; Routing Code needs to change&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feedback_Metered_Property</name>
        <label>Feedback - Metered Property</label>
        <locationX>974</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Meter_Grid_Reference</targetReference>
        </connector>
        <fields>
            <name>Meter_Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Meter Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Meter Serial Number should be within 12 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Meter_Serial_Number})&lt;=12</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Meter_Reading_If_taken</name>
            <dataType>Number</dataType>
            <fieldText>Meter Reading (If taken)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Meter Reading has limit of 15 digits.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Meter_Reading_If_taken}&lt;=999999999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Flow_Test</name>
            <choiceReferences>CS_FlowTest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Flow Test</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Misread</name>
            <choiceReferences>CS_MeterMisread</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter Misread</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Exchanged</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter Exchanged</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Grid_Reference_XYes</name>
            <dataType>Number</dataType>
            <fieldText>Meter Grid Reference X</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Meter Grid Reference X should be between 250000 and 550000&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Meter_Grid_Reference_XYes}&gt;=250000 &amp;&amp; {!Meter_Grid_Reference_XYes}&lt;=550000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Meter_Grid_Reference_YYes</name>
            <dataType>Number</dataType>
            <fieldText>Meter Grid Reference Y</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Meter Grid Reference Y should be within 170000 and 440000.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Meter_Grid_Reference_YYes}&gt;=170000 &amp;&amp; {!Meter_Grid_Reference_YYes}&lt;=440000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feedback_Metered_PropertyNo</name>
        <label>Feedback - Metered Property</label>
        <locationX>2470</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Meter_Grid_ReferenceNo</targetReference>
        </connector>
        <fields>
            <name>Meter_Grid_Reference_XNo</name>
            <dataType>Number</dataType>
            <fieldText>Meter Grid Reference X</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Meter Grid Reference X should be within 250000 and 550000&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Meter_Grid_Reference_XNo} &gt;= 250000 &amp;&amp; {!Meter_Grid_Reference_XNo} &lt;= 550000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Meter_Grid_Reference_YNo</name>
            <dataType>Number</dataType>
            <fieldText>Meter Grid Reference Y</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Meter Grid Reference Y should be within 170000 and 440000&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Meter_Grid_Reference_YNo}&gt;=170000 &amp;&amp; {!Meter_Grid_Reference_YNo}&lt;=440000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Feedback</name>
        <label>Feedback</label>
        <locationX>886</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_1</targetReference>
        </connector>
        <fields>
            <name>Customer_Present</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>Cold_Call</choiceReferences>
            <choiceReferences>Customer_Rep</choiceReferences>
            <choiceReferences>No_Show</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Customer Present</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Name_of_Customer_Spoken_to</name>
            <dataType>String</dataType>
            <fieldText>Name of Customer Spoken to</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 2, 2);&quot;&gt;Name of Customer Spoken to&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 34, 8);&quot;&gt; should be within 150 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Name_of_Customer_Spoken_to}) &lt;= 150</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Is_Property_Metered</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Property Metered</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Water_Efficiency_Check_YES</name>
        <label>Water Efficiency Check YES</label>
        <locationX>1920</locationX>
        <locationY>3104</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checking_For_Water_Efficiency_Yes_or_No</targetReference>
        </connector>
        <fields>
            <name>Water_Efficiency_Form_Completed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Water Efficiency Form Completed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkStep_Complete_Confirmation</name>
        <label>WorkStep Complete Confirmation</label>
        <locationX>710</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Confirmation_Message_to_Complete_Form_Again</targetReference>
        </connector>
        <fields>
            <name>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WorkStep is already Completed . Do you still want to fill the form again ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Initiated_from_mobile_or_desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Max_Instance_Check</name>
        <label>Max Instance Check</label>
        <locationX>336</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Max_Instance_Reached</targetReference>
        </connector>
        <flowName>FSM_MaxInstanceCheck</flowName>
        <inputAssignments>
            <name>varWorkStep</name>
            <value>
                <elementReference>varWorkStep</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>maxLimitReached</assignToReference>
            <name>maxInstanceReached</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-158</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxLimitReached</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MeterGridRefXvalue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MeterGridRefYvalue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NotificationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-158</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>varWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>WaterEfficiencyValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WsIdComplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
