force-app/main/default/flows/FSM_DCFWorkingSetPreUseInspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_log_creation</name>
        <label>Error log creation</label>
        <locationX>2426</locationX>
        <locationY>2378</locationY>
        <actionName>ErrorLog_Subflow_Create_Record</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>DCF Working Set Pre Use Inspection</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLog_Subflow_Create_Record</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Found_Error_log_creation</name>
        <label>Error log creation</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <actionName>ErrorLog_Subflow_Create_Record</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>DCF Working Set Pre Use Inspection</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLog_Subflow_Create_Record</nameSegment>
    </actionCalls>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Id_assignment_for_Desktop</name>
        <label>Id assignment for Desktop</label>
        <locationX>705</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_WO_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Id_assignment_for_Mobile</name>
        <label>Id assignment for Mobile</label>
        <locationX>441</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>UserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_WO_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Mobile_or_Desktop</name>
        <label>Check Mobile or Desktop</label>
        <locationX>573</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Id_assignment_for_Desktop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Id_assignment_for_Mobile</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Black_Plate_All_check_box</name>
        <label>Checking Black Plate All check box</label>
        <locationX>1097</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>CylinderChecks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_plate_inspection_checklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisualInspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Black_plate_Display_Error_Messages</targetReference>
            </connector>
            <label>Back plate inspection checklist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Cylinder_All_check_box</name>
        <label>Checking Cylinder All check box</label>
        <locationX>1353</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Mask_checks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cylinder_checklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cylinder_checks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cylinder_Display_Error_Messages</targetReference>
            </connector>
            <label>Cylinder checklist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Mask_All_check_box</name>
        <label>Checking Mask All check box</label>
        <locationX>1601</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Preparation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mask_checklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaskChecks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mask_Display_Error_Messages</targetReference>
            </connector>
            <label>Mask checklist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Preparation_All_check_box</name>
        <label>Checking Preparation All check box</label>
        <locationX>1832</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>System_Tests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Preparation_checklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preparationchecks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preparation_Display_Error_Messages</targetReference>
            </connector>
            <label>Preparation checklist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_reject_box</name>
        <label>Checking reject box</label>
        <locationX>573</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Back_plate_Visual_inspection_for_damage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_Confirm_fault_has_been_found_and_text_box</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FSM_FaultFound_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkRejectGiveDetailsComment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_DCFNonInfraRecord_Which_is_Faultfound</targetReference>
            </connector>
            <label>Checking Confirm fault has been found and text box</label>
        </rules>
        <rules>
            <name>Checking_confirm_and_text_box_in_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FSM_FaultFound_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkRejectGiveDetailsComment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ifrejectdisplaytext</targetReference>
            </connector>
            <label>Checking confirm and text box in empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_System_All_check_box</name>
        <label>Checking System All check box</label>
        <locationX>2030</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>System_checklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SystemChecks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>System_Display_Error_Messages</targetReference>
            </connector>
            <label>System checklist</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-3079 and  modified as part of SFS-5335</description>
    <environments>Default</environments>
    <formulas>
        <name>checkRejectGiveDetailsComment</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!If_reject_give_details})</expression>
    </formulas>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>text box for reject</description>
        <name>Ifrejectgivedetails</name>
        <dataType>Number</dataType>
        <expression>LEN({!If_reject_give_details})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>DCF {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DCF Working Set Pre Use Inspection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CREATE_DCFNonInfraRecord</name>
        <label>CREATE DCFNonInfraRecord</label>
        <locationX>2162</locationX>
        <locationY>2162</locationY>
        <assignRecordIdToReference>DCFNonInfraRecordData</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSM_ConfirmBackPlateVisualInspectionChec__c</field>
            <value>
                <elementReference>VisualInspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ConfirmCylinderChecksChecked__c</field>
            <value>
                <elementReference>Cylinder_checks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ConfirmMasksChecksChecked__c</field>
            <value>
                <elementReference>MaskChecks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ConfirmPreparationChecked__c</field>
            <value>
                <elementReference>Preparationchecks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ConfirmSystemTestsChecked__c</field>
            <value>
                <elementReference>SystemChecks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Working Set Pre Use Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_GeneralComments__c</field>
            <value>
                <elementReference>General_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ServiceResource__c</field>
            <value>
                <elementReference>ServiceResourceRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WOSingleRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeId</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormNonInfra__c</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_DCFNonInfraRecord_Which_is_Faultfound</name>
        <label>CREATE DCFNonInfraRecord (Which is Faultfound)</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>DCFNonInfraRecordData</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Found_Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSM_FaultFound__c</field>
            <value>
                <elementReference>FSM_FaultFound_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Working Set Pre Use Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_RejectDetails__c</field>
            <value>
                <elementReference>If_reject_give_details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ServiceResource__c</field>
            <value>
                <elementReference>ServiceResourceRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WOSingleRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeId</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormNonInfra__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Assigned_Service_Resource</name>
        <label>Get Assigned Service Resource</label>
        <locationX>573</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIdFinal</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResourceRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_WO_Record</name>
        <label>Get Current WO Record</label>
        <locationX>573</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WOSingleRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>getting record type</description>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>573</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Working_Set_Pre_Use_Inspection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working Set Pre Use Inspection</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_WorkingSetPreUseInspection</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordtypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Back_plate_Visual_inspection_for_damage</name>
        <label>Back plate Visual inspection for damage</label>
        <locationX>1097</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_Black_Plate_All_check_box</targetReference>
        </connector>
        <fields>
            <name>VisualInspectionForDamage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Visual Inspection for damage&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Back plate&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Check for cracks in polycarbonate&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Check Webbing for cuts and frays&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Hose Integrity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Cuts and Nicks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Check Whistle&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Clean and unobstructed&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Check contents gauge&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Clean and visible&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Check Demand Valve (LDV)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Is Low Pressure “O Ring” (Red) present?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Check Reducer Valve&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: Calibri; font-size: 12pt; color: black;&quot;&gt;Is High Pressure “O Ring” (Black) present?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VisualInspection</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm all checked?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Black_plate_Display_Error_Messages</name>
        <label>Black plate Display Error Messages</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Back_plate_Visual_inspection_for_damage</targetReference>
        </connector>
        <fields>
            <name>BlackplateErrormessage</name>
            <fieldText>&lt;p&gt;Please tick the checkbox for (Back plate Visual inspection for damage)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Comments</name>
        <label>Comments</label>
        <locationX>2162</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CREATE_DCFNonInfraRecord</targetReference>
        </connector>
        <fields>
            <name>General_Comments</name>
            <fieldText>General Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cylinder_Display_Error_Messages</name>
        <label>Cylinder Display Error Messages</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CylinderChecks</targetReference>
        </connector>
        <fields>
            <name>cylinderdisplaytext</name>
            <fieldText>&lt;p&gt;Please tick the checkbox for (Cylinder Checks)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CylinderChecks</name>
        <label>Cylinder Checks</label>
        <locationX>1353</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_Cylinder_All_check_box</targetReference>
        </connector>
        <fields>
            <name>CylinderChecksDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Cylinder Checks:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Visual inspection for damage&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Is it breathable air (Black &amp;amp; White Quarters)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Check cylinder Test date (5 years)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cylinder_checks</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm all checked?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>2426</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_log_creation</targetReference>
        </connector>
        <fields>
            <name>FaultScreenDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We have an Exception while trying to create DCF Non-Infra record, please connect with Admin to resolve the issue: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Found_Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Found_Error_log_creation</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_FaultScreenDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We have an Exception while trying to create DCF Non-Infra record, please connect with Admin to resolve the issue: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ifrejectdisplaytext</name>
        <label>Ifrejectdisplaytext</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Working_Set_Pre_Use_Inspection</targetReference>
        </connector>
        <fields>
            <name>Ifrejecterrormessage</name>
            <fieldText>&lt;p&gt;Please enter the comments for the fault found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mask_checks</name>
        <label>Mask checks</label>
        <locationX>1601</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_Mask_All_check_box</targetReference>
        </connector>
        <fields>
            <name>MaskChecksDisply</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Mask Checks:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Visual inspection&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: Calibri; font-size: 12pt; color: black;&quot;&gt;Rubber seals&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: Calibri; font-size: 12pt; color: black;&quot;&gt;Demand valve attachment points &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: Calibri; font-size: 12pt; color: black;&quot;&gt;Harness points&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: Calibri; font-size: 12pt; color: black;&quot;&gt;Strap deformation&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: Calibri; font-size: 12pt; color: black;&quot;&gt;Lenses cracks / crazing&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Clean Mask use Wipes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: Calibri; font-size: 12pt; color: black;&quot;&gt;Removing ore-nasal&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MaskChecks</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm all checked?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mask_Display_Error_Messages</name>
        <label>Mask Display Error Messages</label>
        <locationX>1370</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Mask_checks</targetReference>
        </connector>
        <fields>
            <name>Maskdisplaytext</name>
            <fieldText>&lt;p&gt;Please tick the checkbox for (Mask checks)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preparation</name>
        <label>Preparation</label>
        <locationX>1832</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_Preparation_All_check_box</targetReference>
        </connector>
        <fields>
            <name>PreparationDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Preparation:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Connect cylinder to back plate (Reducer Valve)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Attach “Anti Rattle Strap” if non quick release cylinder &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Fasten cylinder strap (secure cylinder to backplate)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Do not over tighten – can crack backplate&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Attach Demand Valve to Mask&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Check Operation of “reset button”&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Check Cylinder is filled&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Cylinder must be at least 80% full&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Preparationchecks</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm all checked?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preparation_Display_Error_Messages</name>
        <label>Preparation Display Error Messages</label>
        <locationX>1634</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Preparation</targetReference>
        </connector>
        <fields>
            <name>Preparationdisplaytext</name>
            <fieldText>&lt;p&gt;Please tick the checkbox for (Preparation)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>System_Display_Error_Messages</name>
        <label>System Display Error Messages</label>
        <locationX>1898</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>System_Tests</targetReference>
        </connector>
        <fields>
            <name>systemdisplaytext</name>
            <fieldText>&lt;p&gt;Please tick the checkbox for (System Tests)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>System_Tests</name>
        <label>System Tests</label>
        <locationX>2030</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_System_All_check_box</targetReference>
        </connector>
        <fields>
            <name>SystemTestsDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;High Pressure Test (Hose Integrity)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Pressurise System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Turn cylinder valve off and observe contents gauge for 1 min&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Allowed to drop 10 bar permissible&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: black; font-family: Calibri; font-size: 12pt;&quot;&gt;Low Pressure Test &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Put kit on and pressurise system&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Don mask &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Observe Contents gauge and turn off Cylinder&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;As hose empties - check whistle sounds (between 50 &amp;amp; 60 bar)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;As mask collapses, turn cylinder back on&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri; color: black;&quot;&gt;Loosen mask, activate “reset button” and remove mask&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SystemChecks</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm all checked?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Working_Set_Pre_Use_Inspection</name>
        <label>Working Set Pre Use Inspection</label>
        <locationX>573</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_reject_box</targetReference>
        </connector>
        <fields>
            <name>Display_text</name>
            <fieldText>&lt;p&gt;If you find a fault or issue with the equipment or are unable to complete the form for any reason, please navigate back to this page to reject &amp;amp; give a reason. You will then terminate the form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_FaultFound_c</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm fault has been found</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>If_reject_give_details</name>
            <fieldText>If reject, give details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>447</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Mobile_or_Desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DCFNonInfraRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormNonInfra__c</objectType>
    </variables>
    <variables>
        <name>DCFNonInfraRecordData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emptyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOSingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
