force-app/main/default/flows/FSM_SetTMAStartTime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Record_ID</name>
        <label>Assign Record ID</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_SA_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_ID</name>
        <label>Assign User ID</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_SA_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Location</name>
        <label>Error Location</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error occurred while updating Service Appointment record.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_current_SA_is_linked_to_a_TMA_Permit</name>
        <label>Check if current SA is linked to a TMA Permit</label>
        <locationX>512</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>TMA_Permit_not_linked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Linked</defaultConnectorLabel>
        <rules>
            <name>Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderSingleRecordVar.FSM_TMAPermit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_TMA_Actual_Start_is_Set_Already</targetReference>
            </connector>
            <label>Linked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_TMA_Actual_Start_is_Set_Already</name>
        <label>Check if TMA Actual Start is Set Already</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Capture_TMA_Start_Date_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>Already_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TMAPermitSingleRecordVar.FSM_TMAActualStart__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TMA_Actual_Start_Already_Set</targetReference>
            </connector>
            <label>Already Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_Or_Desktop</name>
        <label>Mobile Or Desktop?</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Record_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_ID</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <description>Created as part of user story SFS-1888
Updated as a part of SFS-4792</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>FSM Set TMA Start Time {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FSM Set TMA Start Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Current_SA_Record</name>
        <label>Get Current SA Record</label>
        <locationX>512</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SASingleRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSSK__FSK_Work_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_WorkOrder</name>
        <label>Get Related WorkOrder</label>
        <locationX>512</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TMA_Permit_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SASingleRecordVar.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderSingleRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_TMAPermit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_TMA_Permit_Record</name>
        <label>Get TMA Permit Record</label>
        <locationX>512</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_current_SA_is_linked_to_a_TMA_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderSingleRecordVar.FSM_TMAPermit__c</elementReference>
            </value>
        </filters>
        <object>FSM_TMAPermit__c</object>
        <outputReference>TMAPermitSingleRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_TMAActualStart__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updated as a part of SFS-4792</description>
        <name>Store_TMA_Actual_Start_Date_Time_on_TMA</name>
        <label>Store TMA Actual Start Date Time on TMA</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <faultConnector>
            <targetReference>Error_Location</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TMAPermitSingleRecordVar.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_EventType__c</field>
            <value>
                <stringValue>0400</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_TMAActualStart__c</field>
            <value>
                <elementReference>TMA_Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrderRefID__c</field>
            <value>
                <elementReference>WorkOrderSingleRecordVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_TMAPermit__c</object>
    </recordUpdates>
    <screens>
        <name>Capture_TMA_Start_Date_Time</name>
        <label>Capture TMA Start Date Time</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_TMA_Actual_Start_Date_Time_on_TMA</targetReference>
        </connector>
        <fields>
            <name>CaptureTMAStartDateTime</name>
            <fieldText>&lt;p&gt;Capture TMA Start Date Time&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TMA_Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>TMA Start Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Future date time is not allowed&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!TMA_Start_Date_Time}&lt;={!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TMA_Actual_Start_Already_Set</name>
        <label>TMA Actual Start Already Set</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ActualStartAlreadySet</name>
            <fieldText>&lt;p&gt;TMA Actual Start Already set. You cannot set it again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TMA_Permit_not_linked</name>
        <label>TMA Permit not linked</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TMAPermitNotLinked</name>
            <fieldText>&lt;p&gt;TMA Permit not linked to this service appointment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mobile_Or_Desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Update TMA Actual Start on Service Appointment</stringValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SASingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>TMAPermitSingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_TMAPermit__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderSingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
