force-app/main/default/flows/FSM_TechnicalSpecificationAfterTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFI-1910</description>
        <name>Assign_Technical_Specification_To_Each_WO_Record</name>
        <label>Assign Technical Specification To Each WO Record</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_Work_Order.FSM_TechnicalSpecification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Work_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>SFI-1910</description>
        <name>Check_If_New_Technical_Specification_Record</name>
        <label>Check If New Technical Specification Record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_All_Related_Work_Orders_Using_Case</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <description>Created as part of SFI-1910</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>FSM Techni {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Technical Specification After Trigger</label>
    <loops>
        <description>SFI-1910</description>
        <name>Loop_Work_Order</name>
        <label>Loop Work Order</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Fetch_All_Related_Work_Orders_Using_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Technical_Specification_To_Each_WO_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Work_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>SFI-1910</description>
        <name>Fetch_All_Related_Work_Orders_Using_Case</name>
        <label>Fetch All Related Work Orders Using Case</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSM_Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>SFI-1910</description>
        <name>Update_Related_Work_Order</name>
        <label>Update Related Work Order</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputReference>WorkOrderCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_New_Technical_Specification_Record</targetReference>
        </connector>
        <object>FSM_TechnicalSpecification__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WorkOrderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
