force-app/main/default/flows/FSM_AppointmentDependencyAfterDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_SA_records</name>
        <label>Assign SA records</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>SA1recordvar.FSM_SameStartAppointmentDependencyExists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2recordvar.FSM_SameStartAppointmentDependencyExists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA1recordvar.FSM_AppointmentDependencyExists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2recordvar.FSM_AppointmentDependencyExists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA1_records</targetReference>
        </connector>
    </assignments>
    <description>Created as a part SFS-5426</description>
    <environments>Default</environments>
    <interviewLabel>FSM Appointment Dependency - After Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Appointment Dependency - After Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SA1</name>
        <label>Get SA1</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSL__Service_Appointment_1__r.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA1recordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_SameStartAppointmentDependencyExists__c</queriedFields>
        <queriedFields>FSM_AppointmentDependencyExists__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA2</name>
        <label>Get SA2</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SA_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSL__Service_Appointment_2__r.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA2recordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_SameStartAppointmentDependencyExists__c</queriedFields>
        <queriedFields>FSM_AppointmentDependencyExists__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA1_records</name>
        <label>Update SA1 records</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Update_SA2_records</targetReference>
        </connector>
        <inputReference>SA1recordvar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA2_records</name>
        <label>Update SA2 records</label>
        <locationX>176</locationX>
        <locationY>719</locationY>
        <inputReference>SA2recordvar</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA1</targetReference>
        </connector>
        <object>FSL__Time_Dependency__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SA1recordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SA2recordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
