force-app/main/default/flows/FSM_ServiceAppointmentSubFlowUpdateSAonWOLIUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFS-107</description>
        <name>Assign_SA_values</name>
        <label>Assign SA values</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_SA.FSM_RetriggerAutoScheduleBasedonWO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-107</description>
        <name>Collect_SA</name>
        <label>Collect SA</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Location</name>
        <label>Error Location</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error while updating SA records in &apos;FSM Service Appointment - SubFlow - Update SA on WOLI Update&apos;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>SFS-107</description>
        <name>Check_SA_found_or_not</name>
        <label>Check SA found or not</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No SA</defaultConnectorLabel>
        <rules>
            <name>SA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Service_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_SA</targetReference>
            </connector>
            <label>SA Found</label>
        </rules>
    </decisions>
    <description>Created as a part of SFS-2233</description>
    <environments>Default</environments>
    <interviewLabel>FSM Service Appointment - SubFlow - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Service Appointment - SubFlow - Update SA on WOLI Update</label>
    <loops>
        <description>SFS-107</description>
        <name>Loop_Through_SA</name>
        <label>Loop Through SA</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_New_Service_Appointment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SA_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>SFS-107</description>
        <name>Get_New_Service_Appointment</name>
        <label>Get New Service Appointment</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SA_found_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>SFS-107</description>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Error_Location</targetReference>
        </faultConnector>
        <inputReference>ServiceAppointmentCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_New_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
