force-app/main/default/flows/FSM_Service_Territory_Member_After_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>SFS-155</description>
        <name>Check_for_Public_group_condition</name>
        <label>Check for Public group condition</label>
        <locationX>1832</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No Need to add</defaultConnectorLabel>
        <rules>
            <name>Do_need_to_add_to_public_group</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveEndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ST_Share_Present</targetReference>
            </connector>
            <label>Do need to add to public group</label>
        </rules>
        <rules>
            <name>End_date_in_Past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveEndDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResource.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Get_relevant_Public_group</targetReference>
            </connector>
            <label>End date in Past</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-155</description>
        <name>Check_for_Service_Territory_record_Share</name>
        <label>Check for Service Territory record Share</label>
        <locationX>512</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No Need to Share</defaultConnectorLabel>
        <rules>
            <name>Share_Record</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5) AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveEndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveStartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EffectiveStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveEndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EffectiveEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ST_Share_Present</targetReference>
            </connector>
            <label>Share Record</label>
        </rules>
        <rules>
            <name>Check_if_Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Crew</targetReference>
            </connector>
            <label>Check if Crew?</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-155</description>
        <name>Check_if_Group_available</name>
        <label>Check if Group available</label>
        <locationX>4406</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Group found</defaultConnectorLabel>
        <rules>
            <name>Group_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_relevant_Public_group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Group_membership</targetReference>
            </connector>
            <label>Group Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-8641</description>
        <name>Check_resource_type</name>
        <label>Check resource type</label>
        <locationX>4604</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_relevant_Public_group</targetReference>
            </connector>
            <label>Technician</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-155</description>
        <name>Copy_1_of_Check_for_Public_group_condition</name>
        <label>Check for Public group condition</label>
        <locationX>3779</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No Need to add</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Do_need_to_add_to_public_group</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveEndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_relevant_Public_group</targetReference>
            </connector>
            <label>Do need to add to public group</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-155</description>
        <name>Copy_1_of_Check_if_Group_available</name>
        <label>Check if Group available</label>
        <locationX>3548</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Group found</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Group_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_relevant_Public_group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Group_membership</targetReference>
            </connector>
            <label>Group Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_group_Available</name>
        <label>Is group Available</label>
        <locationX>1964</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No group</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Group_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Get_relevant_Public_group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Group_membership</targetReference>
            </connector>
            <label>Group Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_IS_group_member_available</name>
        <label>IS group member available</label>
        <locationX>1766</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>No Group Member</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Group_member_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Group_membership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Delete_group_member</targetReference>
            </connector>
            <label>Group member present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-155</description>
        <name>Copy_1_of_IS_ST_Share_present</name>
        <label>IS ST Share present</label>
        <locationX>1238</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>ST Share Present</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_ST_Share_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_ST_Share_Present</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ST_Share_Create</targetReference>
            </connector>
            <label>ST Share Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_IS_group_member_available</name>
        <label>IS group member available</label>
        <locationX>3350</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Create_Group_membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Group Member</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Group_member_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Group_membership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Group member present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-155</description>
        <name>Copy_2_of_IS_ST_Share_present</name>
        <label>IS ST Share present</label>
        <locationX>2822</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Delete_St_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ST Share Present</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_ST_Share_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_ST_Share_Present</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>ST Share Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_group_Available</name>
        <label>Is group Available</label>
        <locationX>5396</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No group</defaultConnectorLabel>
        <rules>
            <name>Group_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_relevant_Public_group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_membership</targetReference>
            </connector>
            <label>Group Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_group_member_available</name>
        <label>IS group member available</label>
        <locationX>5198</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>No Group Member</defaultConnectorLabel>
        <rules>
            <name>Group_member_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_membership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_group_member</targetReference>
            </connector>
            <label>Group member present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-155</description>
        <name>IS_ST_Share_present</name>
        <label>IS ST Share present</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>ST Share Present</defaultConnectorLabel>
        <rules>
            <name>ST_Share_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ST_Share_Present</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ST_Share_Create</targetReference>
            </connector>
            <label>ST Share Not Present</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-155
Updated as a part of SFS-3900
Updated as part of SFI-2768
Updated as part of SFS-8641</description>
    <environments>Default</environments>
    <formulas>
        <description>SFS-155
Updated as part of SFI-2768</description>
        <name>GroupName</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT(&apos;FSM_FW_&apos;+{!$Record.ServiceTerritory.Name}, 40))</expression>
    </formulas>
    <formulas>
        <description>SFS-155</description>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>FSM Service Territory Member- After Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Service Territory Member- After Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>SFS-155</description>
        <name>Copy_1_of_Create_Group</name>
        <label>Create Group</label>
        <locationX>3746</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Copy_4_of_Create_Group_membership</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </inputAssignments>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>SFS-155</description>
        <name>Copy_1_of_Create_Group_membership</name>
        <label>Create Group membership</label>
        <locationX>4538</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Create_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>SFS-155</description>
        <name>Copy_1_of_ST_Share_Create</name>
        <label>ST Share Create</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceTerritoryShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>SFS-155</description>
        <name>Copy_2_of_Create_Group_membership</name>
        <label>Create Group membership</label>
        <locationX>3482</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Copy_1_of_Get_relevant_Public_group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>SFS-155</description>
        <name>Copy_3_of_Create_Group_membership</name>
        <label>Create Group membership</label>
        <locationX>3746</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Copy_1_of_Create_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>SFS-155</description>
        <name>Copy_4_of_Create_Group_membership</name>
        <label>Create Group membership</label>
        <locationX>3746</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Copy_3_of_Create_Group_membership</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Copy_1_of_Create_Group</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>SFS-155</description>
        <name>Copy_5_of_Create_Group_membership</name>
        <label>Create Group membership</label>
        <locationX>4538</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Group_membership</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Copy_1_of_Get_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Create_Group</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>SFS-155</description>
        <name>Create_Group</name>
        <label>Create Group</label>
        <locationX>4538</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Copy_5_of_Create_Group_membership</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </inputAssignments>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>SFS-155</description>
        <name>Create_Group_membership</name>
        <label>Create Group membership</label>
        <locationX>4274</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_relevant_Public_group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>SFS-155</description>
        <name>ST_Share_Create</name>
        <label>ST Share Create</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceTerritoryShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>SFS-155</description>
        <name>Copy_1_of_Delete_group_member</name>
        <label>Delete group member</label>
        <locationX>1634</locationX>
        <locationY>816</locationY>
        <inputReference>Copy_1_of_Get_Group_membership</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>SFS-155</description>
        <name>Delete_group_member</name>
        <label>Delete group member</label>
        <locationX>5066</locationX>
        <locationY>708</locationY>
        <inputReference>Get_Group_membership</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>SFS-155</description>
        <name>Delete_St_Share</name>
        <label>Delete St Share</label>
        <locationX>2954</locationX>
        <locationY>492</locationY>
        <inputReference>Copy_2_of_ST_Share_Present</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>SFS-155</description>
        <name>Copy_1_of_Get_Group</name>
        <label>Get Group</label>
        <locationX>4538</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_FW_All</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Copy_1_of_Get_Group_membership</name>
        <label>Get Group membership</label>
        <locationX>1766</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_IS_group_member_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_3_of_Get_relevant_Public_group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Copy_1_of_Get_relevant_Public_group</name>
        <label>Get relevant Public group</label>
        <locationX>3548</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_if_Group_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Copy_1_of_ST_Share_Present</name>
        <label>ST Share Present</label>
        <locationX>1238</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_IS_ST_Share_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Copy_2_of_Get_Group_membership</name>
        <label>Get Group membership</label>
        <locationX>3350</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_IS_group_member_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_relevant_Public_group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Copy_2_of_Get_relevant_Public_group</name>
        <label>Get relevant Public group</label>
        <locationX>5396</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_group_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Copy_2_of_ST_Share_Present</name>
        <label>ST Share Present</label>
        <locationX>2822</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_IS_ST_Share_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Copy_3_of_Get_relevant_Public_group</name>
        <label>Get relevant Public group</label>
        <locationX>1964</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Is_group_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>3746</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_FW_All</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Get_Group_membership</name>
        <label>Get Group membership</label>
        <locationX>5198</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_group_member_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_2_of_Get_relevant_Public_group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Get_relevant_Public_group</name>
        <label>Get relevant Public group</label>
        <locationX>4406</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>ST_Share_Present</name>
        <label>ST Share Present</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_ST_Share_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updated as a part of SFS-3900</description>
        <name>Update_Service_Crew</name>
        <label>Update Service Crew</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>FSM_ServiceTerritory__c</field>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ServiceResource.ServiceCrew</inputReference>
    </recordUpdates>
    <start>
        <locationX>2828</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Service_Territory_record_Share</targetReference>
        </connector>
        <object>ServiceTerritoryMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Create_Service_territory_Share_In_Future</name>
            <connector>
                <targetReference>Check_for_Public_group_condition</targetReference>
            </connector>
            <label>Create Service territory Share In Future</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>EffectiveStartDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Delete_ST_Share_1</name>
            <connector>
                <targetReference>Copy_2_of_ST_Share_Present</targetReference>
            </connector>
            <label>Delete ST Share</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>EffectiveEndDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Run_After_Update</name>
            <connector>
                <targetReference>Copy_1_of_Check_for_Public_group_condition</targetReference>
            </connector>
            <label>Run After Update</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Create_group_membership_in_Future</name>
            <connector>
                <targetReference>Check_resource_type</targetReference>
            </connector>
            <label>Create group membership in Future</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>EffectiveStartDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Delete_Group_member_1</name>
            <connector>
                <targetReference>Copy_2_of_Get_relevant_Public_group</targetReference>
            </connector>
            <label>Delete Group member</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>EffectiveEndDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
