force-app/main/default/flows/FSM_Service_Appointment_Gantt_icon_scheduled_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Within_Business_hours</name>
        <label>Within Business hours</label>
        <locationX>930</locationX>
        <locationY>1224</locationY>
        <actionName>FSM_checkbusinessHours</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckWorkPriority</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>businesshours</name>
            <value>
                <elementReference>Get_Business_Hours.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duedate</name>
            <value>
                <elementReference>Loop_SA_records.DueDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSM_checkbusinessHours</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_2_Man_Job</name>
        <label>Assignment 2 Man Job</label>
        <locationX>1326</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>Loop_SA_records.FSL__GanttIcon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_2_Man_Job.FSM_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Amber_Star</name>
        <label>Assignment Amber Star</label>
        <locationX>534</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>Loop_SA_records.FSL__GanttIcon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Amber_Star.FSM_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Amber_Triangle</name>
        <label>Assignment Amber Triangle</label>
        <locationX>270</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>Loop_SA_records.FSL__GanttIcon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Amber_Triangle.FSM_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Red_Star</name>
        <label>Assignment Red Star</label>
        <locationX>1062</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>Loop_SA_records.FSL__GanttIcon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Red_Star.FSM_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_RedTriangle</name>
        <label>Assignment RedTriangle</label>
        <locationX>798</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>Loop_SA_records.FSL__GanttIcon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Red_Triangle.FSM_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_collection</name>
        <label>Update collection</label>
        <locationX>930</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>SAcollectionToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SA_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SA_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckWorkPriority</name>
        <label>Check Work Priority</label>
        <locationX>930</locationX>
        <locationY>1332</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amber_Triangle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Within_Business_hours.isvaliddate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SA_records.FSSK__FSK_Work_Order__r.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Amber_Triangle</targetReference>
            </connector>
            <label>Amber Triangle</label>
        </rules>
        <rules>
            <name>Amber_Star</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Within_Business_hours.isvaliddate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SA_records.FSSK__FSK_Work_Order__r.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Amber_Star</targetReference>
            </connector>
            <label>Amber Star</label>
        </rules>
        <rules>
            <name>Red_Triangle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SA_records.DueDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SA_records.FSSK__FSK_Work_Order__r.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_RedTriangle</targetReference>
            </connector>
            <label>Red Triangle</label>
        </rules>
        <rules>
            <name>Red_Star</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SA_records.DueDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SA_records.FSSK__FSK_Work_Order__r.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Red_Star</targetReference>
            </connector>
            <label>Red Star</label>
        </rules>
        <rules>
            <name>X2_Man_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SA_records.FSM_SameStartAppointmentDependencyExists__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2_Man_Job</targetReference>
            </connector>
            <label>2 Man Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_collection_Null_check</name>
        <label>SA collection Null check</label>
        <locationX>182</locationX>
        <locationY>1824</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAcollectionToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_not_null</name>
        <label>SA not null</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_Records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Hours</targetReference>
            </connector>
            <label>SA Records found</label>
        </rules>
    </decisions>
    <description>updated as part of SFL-336</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDateMinusTodayCount</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!Loop_SA_records.DueDate} )- TODAY()</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FSM Service Appointment Gantt icon scheduled update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Service Appointment Gantt icon scheduled update</label>
    <loops>
        <name>Loop_SA_records</name>
        <label>Loop SA records</label>
        <locationX>182</locationX>
        <locationY>1116</locationY>
        <collectionReference>Get_Matching_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Within_Business_hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SA_collection_Null_check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_2_Man_Job</name>
        <label>Get 2 Man Job</label>
        <locationX>182</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SA_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FSM_2ManJob</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_SAIcons__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Amber_Star</name>
        <label>Get Amber Star</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Amber_Triangle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FSM_AmberStar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_SAIcons__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Amber_Triangle</name>
        <label>Get Amber Triangle</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_2_Man_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FSM_AmberTriangle</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_SAIcons__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Hours</name>
        <label>Get Business Hours</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Red_Star</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_SA</name>
        <label>Get Matching SA</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_not_null</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>DueDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_BusinessUnit__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Waste Infra</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_BusinessUnit__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Metering</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Red_Star</name>
        <label>Get Red Star</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Red_Triangle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FSM_RedStar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_SAIcons__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Red_Triangle</name>
        <label>Get Red Triangle</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Amber_Star</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FSM_RedTriangle</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_SAIcons__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>50</locationX>
        <locationY>1932</locationY>
        <inputReference>SAcollectionToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Matching_SA</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-20</startDate>
            <startTime>22:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DayCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SAcollectionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
