force-app/main/default/flows/FSM_Mobile_Subflow_Customer_Comms_Metering.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Confirmation</name>
        <label>Assign Confirmation</label>
        <locationX>710</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_OperativeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operative_Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Contact_Details</name>
        <label>Assign Contact Details</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustomerEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Template_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Job_Feedback</name>
        <label>Assign Job Feedback</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ReasonForVisit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_JobFeedbackMtrReading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Reading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Maintenance</name>
        <label>Assign Meter Maintenance</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ReasonForMaintenance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMeterMaintenanceReasons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustMeterLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMeterLocations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>created as part of SFS-5346</description>
        <name>Assign_Old_New_Meter_Details</name>
        <label>Assign Old &amp; New Meter Details</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustOldMtrSerialNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Old_Meter_Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustOldMtrReading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Old_Meter_Reading</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustNewMtrSerialNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Meter_Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_CustNewMtrReading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Meter_Reading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task</name>
        <label>Assign Task</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_Selection</name>
        <label>Assign Template Selection</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_ListOfTemplates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_SuppInfoURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supporting_Information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_JobSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-1821</description>
        <name>Assigning_BU_for_Mailjet_Metering</name>
        <label>Assigning BU for Mailjet Metering</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SASingleRecordVar.FSM_BusinessAreaMailjet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Metering</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>English_Welsh</name>
        <choiceText>English &amp; Welsh</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English &amp; Welsh</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Required_Field</name>
        <label>Check Required Field</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_Meter_Maintenance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Required</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varMeterLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Check Required Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Field_jobFeedback</name>
        <label>Check Required Field</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_Job_Feedback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meter_Reading_req</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_for_Visit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Reading</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Reading</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_msg</targetReference>
            </connector>
            <label>Meter Reading</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Template</name>
        <label>Check Template</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Leaflet Only</defaultConnectorLabel>
        <rules>
            <name>Meter_Exchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Exchange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_New_Meter_Details</targetReference>
            </connector>
            <label>Meter Exchange</label>
        </rules>
        <rules>
            <name>Meter_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meter_Maintenance_maintaince</targetReference>
            </connector>
            <label>Meter Maintenance</label>
        </rules>
        <rules>
            <name>Job_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Feedback_screen</targetReference>
            </connector>
            <label>Job Feedback</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-5346
Updated as part of SFI-1821
Updated as part of SFS-6096
Updated as part of SFS-7830
Updated as part of SFS-8264 and SFS-8263
Updated as part of SFS-8043</description>
    <dynamicChoiceSets>
        <name>cs_reasonForVisit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ReasonForVisit__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_SupportingInfoMetering</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supporting Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Metering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
        <valueField>FSM_MailjetURL__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_SupportingInformation</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supporting Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Metering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
        <valueField>FSM_MailjetURL__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_Template</name>
        <dataType>String</dataType>
        <displayField>FSM_DisplayText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_ConfigurationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_Metering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_CustomerCommsType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leaflets</stringValue>
            </value>
        </filters>
        <object>FSM_LeafletConfiguration__mdt</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_varMeterLocations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_CustMeterLocation__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cs_varMeterMaintenanceReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ReasonForMaintenance__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FSM Mobile Subflow - {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FSM Mobile Subflow - Customer Comms Metering</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>710</locationX>
        <locationY>1556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Operative_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_CurrentUserName</elementReference>
            </defaultValue>
            <fieldText>Operative Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_textMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(11, 152, 228);&quot;&gt;This is being sent to the customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(11, 152, 228);&quot;&gt;I have ensured no Jargon or abbreviations have been used in the job summary field.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(11, 152, 228);&quot;&gt;If this is going to multiple customers, I have made sure no personal data is shared in the job summary field. An example of this would be names &amp;amp; addresses.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_you_sure_you_want_to_continue</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you sure you want to continue?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please confirm you are happy to complete by checking the checkbox&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Are_you_sure_you_want_to_continue}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Details</name>
        <label>Contact Details</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>To</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WoContactEmail</elementReference>
            </defaultValue>
            <fieldText>To</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;ℹ️ &lt;/span&gt;&lt;em style=&quot;color: var(--custom-palette-color, inherit);&quot;&gt;Please check with the customer you have the correct email address and it is in a valid format.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Meter_Maintenance_maintaince</targetReference>
        </connector>
        <fields>
            <name>errMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px; font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;;&quot;&gt;You must provide a &apos;Location&apos; when &apos;Meter Location&apos; is selected as &apos;Other&apos;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_msg</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Job_Feedback_screen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_errMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 31, 31); background-color: rgb(255, 255, 255); font-size: 16px; font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;;&quot;&gt;You must provide a &apos;Meter Reading&apos; when the &apos;Reason for Visit&apos; is &apos;Meter Reading&apos;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_Feedback_screen</name>
        <label>Job Feedback</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Required_Field_jobFeedback</targetReference>
        </connector>
        <fields>
            <name>Reason_for_Visit</name>
            <choiceReferences>cs_reasonForVisit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Visit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Reading</name>
            <dataType>Number</dataType>
            <fieldText>Meter Reading</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Meter_Maintenance_maintaince</name>
        <label>Meter Maintenance</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Required_Field</targetReference>
        </connector>
        <fields>
            <name>varMeterMaintenanceReasons</name>
            <choiceReferences>cs_varMeterMaintenanceReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Maintenance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>varMeterLocations</name>
            <choiceReferences>cs_varMeterLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Location</name>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Old_New_Meter_Details</name>
        <label>Old &amp; New Meter Details</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Old_New_Meter_Details</targetReference>
        </connector>
        <fields>
            <name>dt_oldMeter</name>
            <fieldText>&lt;p&gt;This is the meter you have removed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Old_Meter_Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Old Meter Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Old_Meter_Reading</name>
            <dataType>String</dataType>
            <fieldText>Old Meter Reading</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_newMeter</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;This is the meter you have fitted&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Meter_Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>New Meter Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Meter_Reading</name>
            <dataType>String</dataType>
            <fieldText>New Meter Reading</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Template_Selection</name>
        <label>Template Selection</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Template_Selection</targetReference>
        </connector>
        <fields>
            <name>Template</name>
            <choiceReferences>cs_Template</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Supporting_Information</name>
            <choiceReferences>cs_SupportingInfoMetering</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Supporting Information</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Job_Summary</name>
            <dataType>String</dataType>
            <fieldText>Job Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Character Limit Exceeded (Max Length =255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Job_Summary}) &lt; 256</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Language</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>English_Welsh</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Blank_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>SFS-8264 and SFS-8263</description>
        <name>Assign_Blank_Values</name>
        <label>Assign Blank Values</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assigning_BU_for_Mailjet_Metering</targetReference>
        </connector>
        <flowName>FSM_ProformaLeafletVariableAssignmentSubFlow</flowName>
        <outputAssignments>
            <assignToReference>SASingleRecordVar</assignToReference>
            <name>SASingleRecordVarForUpdate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>SASingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_CurrentUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WoContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
