force-app/main/default/flows/FSM_TMAPermitBeforeTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_TMA_Actual_Start_NULL</name>
        <label>Set TMA Actual Start = NULL</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_TMAActualStart__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>TMA_Actual_Stop_CMDT_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TMA_Actual_Stop_NULL</name>
        <label>Set TMA Actual Stop = NULL</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_TMAActualEnd__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_ExcavationOccured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_TMASiteClear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_If_TMA_Created_Updated</name>
        <label>Check If TMA New / Updated</label>
        <locationX>858</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_TMA_Approval_Status_Actual_Start_Actual_Stop</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-8937</description>
        <name>Check_TMA_Approval_Status_Actual_Start_Actual_Stop</name>
        <label>Check TMA Approval Status/ Actual Start/Actual Stop</label>
        <locationX>611</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Status_Updated</name>
            <conditionLogic>(1 AND 2 ) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSM_TMAApprovalStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_TMAApprovalStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_TMAActualStart__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_TMAActualEnd__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET</targetReference>
            </connector>
            <label>Approval Status Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>380</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TMA_Actual_Start_CMDT_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>What&apos;s the value in the CMDT table for Actual Start. If TRUE, then the TMA Actual Start remains as is (no update required); if FALSE, then TMA Actual Start value is cleared.</description>
        <name>TMA_Actual_Start_CMDT_Value</name>
        <label>TMA Actual Start CMDT Value</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>TMA_Actual_Stop_CMDT_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TRUE</defaultConnectorLabel>
        <rules>
            <name>FALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TMAActualStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TMAActualStart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TMA_Actual_Start_NULL</targetReference>
            </connector>
            <label>FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>TMA_Actual_Stop_CMDT_Value</name>
        <label>TMA Actual Stop CMDT Value</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>TRUE</defaultConnectorLabel>
        <rules>
            <name>FALSE1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TMAActualStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TMA_Actual_Stop_NULL</targetReference>
            </connector>
            <label>FALSE</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-8937</description>
    <environments>Default</environments>
    <formulas>
        <description>Created as part of SFS-8937</description>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>FSM TMA Permit - BeforeTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM TMA Permit - BeforeTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET</name>
        <label>GET TMA Permit (CMDT)</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_TMAApprovalStatusCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSM_TMAApprovalStatus__c</elementReference>
            </value>
        </filters>
        <object>Fsm_TMA__mdt</object>
        <outputAssignments>
            <assignToReference>TMAActualStart</assignToReference>
            <field>FSM_TMAActualStart__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TMAActualStop</assignToReference>
            <field>FSM_TMAActualStop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TMAApprovalStatusCodeVar</assignToReference>
            <field>FSM_TMAApprovalStatusCode__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_TMA_Created_Updated</targetReference>
        </connector>
        <object>FSM_TMAPermit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TMAActualStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TMAActualStop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TMAApprovalStatusCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
