force-app/main/default/flows/FSM_CaptureNonProductiveTimeMobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Created for SFS-3049</description>
        <name>Assign_Cumulative_Productive_Time</name>
        <label>Assign Cumulative Productive Time</label>
        <locationX>2514</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CumulativeProductiveTimeEndVar</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Cumulative_Non_Productive_Time_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-3049</description>
        <name>Assign_Cumulative_Productive_Time_Both</name>
        <label>Assign Cumulative Productive Time</label>
        <locationX>1810</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CumulativeProductiveTimeBothVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LatestProductiveTimeFormulaBoth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Latest_Non_Productive_Time_and_Productive_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created For SFS-3049</description>
        <name>Assign_Latest_Productive_Time_To_Cumulative_Productive_Time</name>
        <label>Assign Latest Productive Time To Cumulative Productive Time</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CumulativeProductiveTimeStartVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LatestProductiveTimeFormulaSTART</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Latest_Non_Productive_Productive_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as part of SFS-1430</description>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>2057</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_SA_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as part of SFS-1430</description>
        <name>Assign_User_ID</name>
        <label>Assign User ID</label>
        <locationX>1793</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_SA_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as part of SFS-1430</description>
        <name>Populate_Cumulative_Time_with_Latest_Cumulative_Non_Productive_Time</name>
        <label>Populate Cumulative Time with Latest + Cumulative Non Productive Time</label>
        <locationX>2976</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>CumulativeNonProductiveTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CumulativeNonProductiveTimeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Latest_Non_Productive_Productive_Time_End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as part of SFS-1430</description>
        <name>Populate_Cumulative_Time_with_Latest_Non_Productive_Time</name>
        <label>Populate Cumulative Time with Latest Non Productive Time</label>
        <locationX>2712</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>CumulativeNonProductiveTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LatestNonProductiveTimeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Latest_Non_Productive_Productive_Time_End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For SFS-3049</description>
        <name>Set_Cumulative_Productive_Time</name>
        <label>Set Cumulative Productive Time</label>
        <locationX>1546</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CumulativeProductiveTimeBothVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CumulativeProductiveTimeFormulaBoth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Latest_Non_Productive_Time_and_Productive_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created for SFS-3049</description>
        <name>Set_Non_Productive_Start_Time_To_Productive_Time_End</name>
        <label>Set Non Productive Start Time To Productive Time End</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ProductiveEndTimeStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Non_Productive_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Cumulative_Productive_Time_Already_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created for SFS-3049</description>
        <name>Set_Productive_End_Time_Removed_Productive_Start_Time</name>
        <label>Set Productive End Time &amp; Removed Productive Start Time</label>
        <locationX>1678</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ProductiveEndTimeBoth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Enter_Non_Productive_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Existing_Cumulative_Productive_TIme</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created for SFS-3049</description>
        <name>Set_Productive_Start_Time_End_Time</name>
        <label>Set Productive Start Time &amp; End Time</label>
        <locationX>2646</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ProductiveStartTimeEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Non_Productive_End_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductiveEndTimeEnd</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Cumulative_Productive_Time_Checking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created for SFS-3049</description>
        <name>Updating_Cumulative_Productive_Time</name>
        <label>Updating Cumulative Productive Time</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CumulativeProductiveTimeStartVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CumulativeProductiveTimeFormulaStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Latest_Non_Productive_Productive_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created For SFS-3049</description>
        <name>Updating_Cumulative_Productive_Time_1</name>
        <label>Updating Cumulative Productive Time</label>
        <locationX>2778</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CumulativeProductiveTimeEndVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CumulativeProductiveTimeFromulaEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cumulative_Non_Productive_Time_NULL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>SFS-3049</description>
        <name>Check_for_Existing_Cumulative_Productive_TIme</name>
        <label>Check for Existing Cumulative Productive TIme</label>
        <locationX>1678</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Assign_Cumulative_Productive_Time_Both</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_CumulativeProductiveTimeInMins__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cumulative_Productive_Time</targetReference>
            </connector>
            <label>Yes Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created for SFS-3049</description>
        <name>Check_If_Cumulative_Productive_Time_Already_Present</name>
        <label>Check If Cumulative Productive Time Already Present</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Updating_Cumulative_Productive_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Present</defaultConnectorLabel>
        <rules>
            <name>Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_CumulativeProductiveTimeInMins__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Latest_Productive_Time_To_Cumulative_Productive_Time</targetReference>
            </connector>
            <label>Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created for SFS-3049</description>
        <name>Check_If_Productive_Time_Start_Exist</name>
        <label>Check If Productive Time Start Exist</label>
        <locationX>644</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Set_Latest_Non_Productive_Productive_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist</name>
            <conditionLogic>(1 OR 3 )AND 2</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_ProductiveStartTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SASingleRecordVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Non_Productive_Start_Time_To_Productive_Time_End</targetReference>
            </connector>
            <label>Yes Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created for SFS-3049</description>
        <name>Check_If_SA_in_Onsite_and_productive_start_already_exist</name>
        <label>Check If SA in Onsite and productive start already exist</label>
        <locationX>1876</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Set_Latest_Non_Productive_Time_and_Productive_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Satisfied</defaultConnectorLabel>
        <rules>
            <name>Yes_Satisfied</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_ProductiveStartTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SASingleRecordVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Productive_End_Time_Removed_Productive_Start_Time</targetReference>
            </connector>
            <label>Yes Satisfied</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created for SFS-3049</description>
        <name>Check_If_SA_in_Onsite_and_Productive_Start_Time_Exist</name>
        <label>Check If SA in Onsite and Productive Start Time Exist</label>
        <locationX>2844</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Cumulative_Non_Productive_Time_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Satisfied</defaultConnectorLabel>
        <rules>
            <name>Satisfied</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_ProductiveStartTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SASingleRecordVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Productive_Start_Time_End_Time</targetReference>
            </connector>
            <label>Satisfied</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-1430
Updated as a part of SFS-3049</description>
        <name>Copy_1_of_Future_Date_Time_Entered</name>
        <label>Future Date Time Entered?</label>
        <locationX>1579</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_If_SA_in_Onsite_and_productive_start_already_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Enter_Non_Productive_Start_Time</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Back_To_Previous_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-1430</description>
        <name>Cumulative_Non_Productive_Time_NULL</name>
        <label>Cumulative Non Productive Time NULL ?</label>
        <locationX>2844</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Populate_Cumulative_Time_with_Latest_Cumulative_Non_Productive_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT NULL</defaultConnectorLabel>
        <rules>
            <name>NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_CumulativeNonProductiveTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Cumulative_Time_with_Latest_Non_Productive_Time</targetReference>
            </connector>
            <label>NULL</label>
        </rules>
    </decisions>
    <decisions>
        <description>For SFS-3049</description>
        <name>Cumulative_Productive_Time_Checking</name>
        <label>Cumulative Productive Time Checking</label>
        <locationX>2646</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Updating_Cumulative_Productive_Time_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Present</defaultConnectorLabel>
        <rules>
            <name>Cumulative_Productive_Time_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_CumulativeProductiveTimeInMins__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cumulative_Productive_Time</targetReference>
            </connector>
            <label>Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-1430</description>
        <name>Future_Date_Time_Entered</name>
        <label>Future Date Time Entered?</label>
        <locationX>347</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_If_Productive_Time_Start_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_Non_Productive_Start_Time</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Back_To_Previous_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-1430</description>
        <name>FutureDateTimeEntered</name>
        <label>Future Date Time Entered?</label>
        <locationX>2547</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_If_SA_in_Onsite_and_Productive_Start_Time_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_Non_Productive_End_Time</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BackToPreviousScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-1430</description>
        <name>Mobile_Or_Desktop</name>
        <label>Mobile Or Desktop?</label>
        <locationX>1925</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_ID</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFS-1430</description>
        <name>Non_productive_start_is_not_captured_already_OR_both_non_productive_start_and_en</name>
        <label>Non productive start is not captured already OR both non productive start and end time have been captured already?</label>
        <locationX>1925</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_productive_start_not_captured_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_NonProductiveStartTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Non_Productive_Start_Category_Reason</targetReference>
            </connector>
            <label>Non productive start not captured already?</label>
        </rules>
        <rules>
            <name>Both_non_productive_start_and_end_captured_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_NonProductiveStartTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_NonProductiveEndTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Capture_Non_Productive_Start_Category_Reason</targetReference>
            </connector>
            <label>Both non productive start and end captured already?</label>
        </rules>
        <rules>
            <name>Non_productive_start_captured_already_but_end_NOT_captured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_NonProductiveStartTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SASingleRecordVar.FSM_NonProductiveEndTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Non_Productive_End</targetReference>
            </connector>
            <label>Non productive start captured already but end NOT captured?</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-1430
Updated as part of SFS-3049
Updated as part of SFS-7498 ( Return to Site added)</description>
    <dynamicChoiceSets>
        <description>Created as part of SFS-1430</description>
        <name>NonProductiveCategoryChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_NonProductiveCategory__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Created as part of SFs-1430</description>
        <name>NonProductiveReasonChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_NonProductiveReason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Created as part of SFS-1430</description>
        <name>CumulativeNonProductiveTimeFormula</name>
        <dataType>Number</dataType>
        <expression>{!LatestNonProductiveTimeFormula} + {!SASingleRecordVar.FSM_CumulativeNonProductiveTime__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>For SFS-3049</description>
        <name>CumulativeProductiveTimeFormulaBoth</name>
        <dataType>Number</dataType>
        <expression>{!LatestProductiveTimeFormulaBoth}+{!SASingleRecordVar.FSM_CumulativeProductiveTimeInMins__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Created for SFS-3049</description>
        <name>CumulativeProductiveTimeFormulaStart</name>
        <dataType>Number</dataType>
        <expression>{!LatestProductiveTimeFormulaSTART}+{!SASingleRecordVar.FSM_CumulativeProductiveTimeInMins__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>SFS-3049</description>
        <name>CumulativeProductiveTimeFromulaEnd</name>
        <dataType>Number</dataType>
        <expression>0+{!SASingleRecordVar.FSM_CumulativeProductiveTimeInMins__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Created as part of SFS-1430</description>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Created as part of SFS-1430</description>
        <name>LatestNonProductiveTimeFormula</name>
        <dataType>Number</dataType>
        <expression>({!Enter_Non_Productive_End_Time} - {!SASingleRecordVar.FSM_NonProductiveStartTime__c})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>SFS-3049</description>
        <name>LatestProductiveTimeFormulaBoth</name>
        <dataType>Number</dataType>
        <expression>({!ProductiveEndTimeBoth}-{!SASingleRecordVar.FSM_ProductiveStartTime__c})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Created for SFS-3049</description>
        <name>LatestProductiveTimeFormulaSTART</name>
        <dataType>Number</dataType>
        <expression>({!ProductiveEndTimeStart}-{!SASingleRecordVar.FSM_ProductiveStartTime__c})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FSM Capture Non Productive Time-Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FSM Capture Non Productive Time-Mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <description>Created as part of SFS-1430</description>
        <name>Get_Current_SA_Record</name>
        <label>Get Current SA Record</label>
        <locationX>1925</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Non_productive_start_is_not_captured_already_OR_both_non_productive_start_and_en</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SASingleRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_NonProductiveStartTime__c</queriedFields>
        <queriedFields>FSM_NonProductiveEndTime__c</queriedFields>
        <queriedFields>FSM_NonProductiveCategory__c</queriedFields>
        <queriedFields>FSM_NonProductiveReason__c</queriedFields>
        <queriedFields>FSM_LatestNonProductiveTime__c</queriedFields>
        <queriedFields>FSM_CumulativeNonProductiveTime__c</queriedFields>
        <queriedFields>FSM_ProductiveStartTime__c</queriedFields>
        <queriedFields>FSM_ProductiveEndTime__c</queriedFields>
        <queriedFields>FSM_CumulativeProductiveTimeInMins__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Created as part of SFS-1430
Updated as a part of SFS-3049</description>
        <name>Set_Latest_Non_Productive_Productive_Time</name>
        <label>Set Latest Non Productive &amp; Productive Time</label>
        <locationX>644</locationX>
        <locationY>1466</locationY>
        <faultConnector>
            <targetReference>ErrorHandlingScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SASingleRecordVar.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_CumulativeProductiveTimeInMins__c</field>
            <value>
                <elementReference>CumulativeProductiveTimeStartVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_LatestNonProductiveTime__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_NonProductiveCategory__c</field>
            <value>
                <elementReference>Enter_Non_Productive_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_NonProductiveEndTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_NonProductiveReason__c</field>
            <value>
                <elementReference>Enter_Non_Productive_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_NonProductiveStartTime__c</field>
            <value>
                <elementReference>Enter_Non_Productive_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ProductiveEndTime__c</field>
            <value>
                <elementReference>ProductiveEndTimeStart</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Created as part of SFS-1430
Updated as a part of SFS-3049</description>
        <name>Set_Latest_Non_Productive_Productive_Time_End</name>
        <label>Set Latest Non Productive &amp; Productive Time</label>
        <locationX>2844</locationX>
        <locationY>1766</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_ErrorHandlingScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SASingleRecordVar.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_CumulativeNonProductiveTime__c</field>
            <value>
                <elementReference>CumulativeNonProductiveTimeVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_CumulativeProductiveTimeInMins__c</field>
            <value>
                <elementReference>CumulativeProductiveTimeEndVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_LatestNonProductiveTime__c</field>
            <value>
                <elementReference>LatestNonProductiveTimeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_NonProductiveEndTime__c</field>
            <value>
                <elementReference>Enter_Non_Productive_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ProductiveEndTime__c</field>
            <value>
                <elementReference>ProductiveEndTimeEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ProductiveStartTime__c</field>
            <value>
                <elementReference>ProductiveStartTimeEnd</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Created as part of SFS-1430
Updated as a part of SFS-3049</description>
        <name>Set_Latest_Non_Productive_Time_and_Productive_Time</name>
        <label>Set Latest Non Productive Time and Productive Time</label>
        <locationX>1876</locationX>
        <locationY>1466</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SASingleRecordVar.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_CumulativeProductiveTimeInMins__c</field>
            <value>
                <elementReference>CumulativeProductiveTimeBothVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_LatestNonProductiveTime__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_NonProductiveCategory__c</field>
            <value>
                <elementReference>Copy_1_of_Enter_Non_Productive_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_NonProductiveEndTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_NonProductiveReason__c</field>
            <value>
                <elementReference>Copy_1_of_Enter_Non_Productive_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_NonProductiveStartTime__c</field>
            <value>
                <elementReference>Copy_1_of_Enter_Non_Productive_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ProductiveEndTime__c</field>
            <value>
                <elementReference>ProductiveEndTimeBoth</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <description>Created as part of SFS-1430</description>
        <name>Back_To_Previous_Screen</name>
        <label>Back To Previous Screen</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoNotSelectFutureDateTime</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please do not select future date time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Created as part of SFS-1430</description>
        <name>BackToPreviousScreen</name>
        <label>Back To Previous Screen</label>
        <locationX>2250</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DoNotSelectFutureDateTime</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please do not select future date time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Created as part of SFS-1430</description>
        <name>Capture_Non_Productive_End</name>
        <label>Capture Non Productive End</label>
        <locationX>2547</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FutureDateTimeEntered</targetReference>
        </connector>
        <fields>
            <name>Enter_Non_Productive_End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Enter Non Productive End Time:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Created as part of SFS-1430</description>
        <name>Capture_Non_Productive_Start_Category_Reason</name>
        <label>Capture Non Productive Start Category Reason</label>
        <locationX>347</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Future_Date_Time_Entered</targetReference>
        </connector>
        <fields>
            <name>Enter_Non_Productive_Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Enter Non Productive Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Enter_Non_Productive_Category</name>
            <choiceReferences>NonProductiveCategoryChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enter Non Productive Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Enter_Non_Productive_Reason</name>
            <choiceReferences>NonProductiveReasonChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enter Non Productive Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Created as part of SFS-1430</description>
        <name>Copy_1_of_Back_To_Previous_Screen</name>
        <label>Back To Previous Screen</label>
        <locationX>1282</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_DoNotSelectFutureDateTime</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please do not select future date time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Created as part of SFS-1430
Updated as a part of SFS-3049</description>
        <name>Copy_1_of_Capture_Non_Productive_Start_Category_Reason</name>
        <label>Capture Non Productive Start Category Reason</label>
        <locationX>1579</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Future_Date_Time_Entered</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_Non_Productive_Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Enter Non Productive Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Enter_Non_Productive_Category</name>
            <choiceReferences>NonProductiveCategoryChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enter Non Productive Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Enter_Non_Productive_Reason</name>
            <choiceReferences>NonProductiveReasonChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enter Non Productive Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Created as part of SFS-1430</description>
        <name>Copy_1_of_ErrorHandlingScreen</name>
        <label>ErrorHandlingScreen</label>
        <locationX>3240</locationX>
        <locationY>1874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DisplayErrorMessage</name>
            <fieldText>&lt;p&gt;Error encountered while updating service appointment. Please contact your salesforce administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Created as part of SFS-1430</description>
        <name>ErrorHandlingScreen</name>
        <label>ErrorHandlingScreen</label>
        <locationX>1018</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;p&gt;Error encountered while updating service appointment. Please contact your salesforce administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1799</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mobile_Or_Desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Created as part of SFS-1430</description>
        <name>CumulativeNonProductiveTimeVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>SFS-3049</description>
        <name>CumulativeProductiveTimeBothVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>SFS-3049</description>
        <name>CumulativeProductiveTimeEndVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Created For SFS-3049</description>
        <name>CumulativeProductiveTimeStartVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Created as part of SFS-1430</description>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as part of SFS-1430</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newVar1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>SFS-3049</description>
        <name>ProductiveEndTimeBoth</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-3049</description>
        <name>ProductiveEndTimeEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created for SFS-3049</description>
        <name>ProductiveEndTimeStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>For SFS-3049</description>
        <name>ProductiveStartTimeEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as part of SFS-1430</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created as part of SFS-1430</description>
        <name>SASingleRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Created as part of SFS-1430</description>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
