force-app/main/default/flows/FSM_DataCaptureFormInfraGapSite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>SFS-3041</description>
        <name>Error_log_Creation</name>
        <label>Error log Creation</label>
        <locationX>1106</locationX>
        <locationY>5450</locationY>
        <actionName>ErrorLog_Subflow_Create_Record</actionName>
        <actionType>flow</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_fileUpload1_empty</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>Data Capture Form Infra-Gap Site</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLog_Subflow_Create_Record</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFS-3041</description>
        <name>Assign_Desktop_UserId</name>
        <label>Assign Desktop UserId</label>
        <locationX>1271</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserIdFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-3041</description>
        <name>Assign_Mobile_User_Id</name>
        <label>Assign Mobile User Id</label>
        <locationX>1007</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-4229</description>
        <name>Assign_Service_Report_Template_ID_In_WorkOrder</name>
        <label>Assign Service Report Template ID In WorkOrder</label>
        <locationX>710</locationX>
        <locationY>5234</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecordvar.ServiceReportTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceReportTemplateIdVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-3041</description>
        <name>Assignment_of_Meter_Details_Screen</name>
        <label>Assignment of Meter Details Screen</label>
        <locationX>710</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_MeterSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_MeterManufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Manufacturer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_GSNumberDials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_dials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_MeterSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_MeterLocPick__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_MeterReadingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Read_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_MeterPhotos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_photos_attached</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_CustShownLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_shown_location_of_meter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_MeterReading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_read</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_MeterLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_location1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_RSN1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSN2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Waste_Water_Connection_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-3041</description>
        <name>Assignment_of_NHH_Gap_Site_Screen</name>
        <label>Assignment of NHH Gap Site Screen</label>
        <locationX>1139</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_Appointed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_CustomerCalled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_called_before_arrival</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_CustomerPresent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_present</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_CustomerSpoken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name_of_customer_spoken_to</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Water_Connection_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-3041</description>
        <name>Assignment_of_Site_Are_Details_Screen</name>
        <label>Assignment of Site Are Details Screen</label>
        <locationX>578</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_DeductionReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deduction_reason_Building_Area</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_DeductionReason2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deduction_reason_hard_standing_area</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_BuildingSizeM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Building_size_m2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_HardStandingM2Designated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hard_Standing_m2_designated_areas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_HardStandingM2Shared__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hard_Standing_m2_shared_areas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_GrassPermeableAreasM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grass_Permeable_areas_m2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_TotalSiteAreaEquatesToM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_site_area_equates_to_m2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_DeductibleBuildingAreaM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deductible_building_area_m2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_TotalDeductibleAreaM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_deductible_area_m2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_TotalChargeableSiteAreaM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_chargeable_site_area_m2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_DeductibleHardStandingAreaM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deductible_hard_standing_area_m2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-3041</description>
        <name>Assignment_of_surface_water_drainage_screen</name>
        <label>Assignment of surface water drainage screen</label>
        <locationX>710</locationX>
        <locationY>3770</locationY>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_PropertyConnectedSWDS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_property_connected_for_surface_water_drainage_services</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_ReasonWaterDrainageServices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_surface_water_drainage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Property_connected_for_surface_water_drainage_systems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-3041</description>
        <name>Assignment_of_waste_water_connect_details_screen</name>
        <label>Assignment of waste water connect details screen</label>
        <locationX>710</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_IsPropertyConnectedForWD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_property_connected_for_waste_devices</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_ReasonWasteWaterConnection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Surface_Water_Drainage_Connection_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-3041</description>
        <name>Assignment_of_Water_Connection_Details_Screen</name>
        <label>Assignment of Water Connection Details Screen</label>
        <locationX>1139</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_Isthepropertyconnectedforwater__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_property_connected_for_water</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_SupplyIs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supply_is</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_Supplyflowtested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supply_flow_tested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_GridsReferenceX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grid_Reference_X</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_GridsReferenceY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grid_Reference_Y</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_MeterLocated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>meter_located</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_Stoptaplocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_Stop_tap_location</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Supply_Chosen_as_Metered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-3041</description>
        <name>End_Screen_Assignment</name>
        <label>End Screen Assignment</label>
        <locationX>710</locationX>
        <locationY>4910</locationY>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_CustomersIssuesResolved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_the_customer_s_issues_have_now_been_resolved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_AddAnyAdditionalComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_any_additional_comments1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_OutstandingCustIssues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_Outstanding_customer_issues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCFRecordVar.FSM_ArePhotosAttached__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_photos_attached</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Work_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Photos_Count_Assignment</name>
        <label>Photos Count Assignment</label>
        <locationX>710</locationX>
        <locationY>4802</locationY>
        <assignmentItems>
            <assignToReference>Count1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadPhoto1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadPhoto2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count3</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadPhoto3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count4</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadPhoto4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Screen_Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>SFS-3041</description>
        <name>Metered</name>
        <choiceText>Metered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Metered</stringValue>
        </value>
    </choices>
    <choices>
        <description>SFS-3041</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>SFS-3041</description>
        <name>Unmetered</name>
        <choiceText>Unmetered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unmetered</stringValue>
        </value>
    </choices>
    <choices>
        <description>SFS-3041</description>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>SFS-3041</description>
        <name>Action_launch_from_desktop_or_mobile</name>
        <label>Action launch from desktop or mobile?</label>
        <locationX>1139</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Desktop_UserId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desktop</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mobile_User_Id</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <description>Updated as part of SFS-7910</description>
        <name>All_the_customer_s_issue_have_been_resolved</name>
        <label>All the customer&apos;s issue have been resolved?</label>
        <locationX>710</locationX>
        <locationY>4394</locationY>
        <defaultConnector>
            <targetReference>Meter_Photos_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_the_customer_s_issue_have_been_not_resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_the_customer_s_issues_have_now_been_resolved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outstanding_customer_issues1</targetReference>
            </connector>
            <label>All the customer&apos;s issue have been not resolved?</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-3041</description>
        <name>Check_customer_spoken_to</name>
        <label>Check customer spoken to</label>
        <locationX>1139</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Assignment_of_NHH_Gap_Site_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Entered</defaultConnectorLabel>
        <rules>
            <name>Not_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_present</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>name_of_customer_spoken_to_screen</targetReference>
            </connector>
            <label>Not Entered</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-3041</description>
        <name>Check_if_Radio_or_Remote_meter_read_method_chosen</name>
        <label>Check if Radio or Remote meter read method chosen</label>
        <locationX>710</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Assignment_of_Meter_Details_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Data Entered Correctly</defaultConnectorLabel>
        <rules>
            <name>Radio_Remote_Meter_Read_Method</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Read_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Radio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Read_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_For_Blank_RSN</targetReference>
            </connector>
            <label>Radio/Remote Meter Read Method</label>
        </rules>
    </decisions>
    <decisions>
        <description>For SFS-3965</description>
        <name>Check_if_user_want_to_re_complete_the_work_step</name>
        <label>Check if user want to re-complete the work step?</label>
        <locationX>985</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Create_DCF_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_re_complete_this_work_step_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Added as a fix of SFS-3965</description>
        <name>Check_WorkStep_Status</name>
        <label>Check WorkStep Status</label>
        <locationX>1139</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Create_DCF_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Than Completed</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WorkStepRecordVar.FSM_IsCompleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Warning_Screen</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <description>created as part of SFS-4482</description>
        <name>Checking_For_Grid_Reference_X_and_Y_Checking_For_Grid_Reference_X_and_Y</name>
        <label>Checking For Grid Reference X and Y (Checking_For_Grid_Reference_X_and_Y)</label>
        <locationX>1139</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>meter_locate_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>supply_is_unmetered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Supply_is</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unmetered</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supply_is_unmetered1</targetReference>
            </connector>
            <label>Supply is unmetered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_for_Meter_Reading</name>
        <label>Checking for Meter Reading</label>
        <locationX>380</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>Check_if_Radio_or_Remote_meter_read_method_chosen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meter Reading greater than  or equal to zero</defaultConnectorLabel>
        <rules>
            <name>Meter_Located_Customer_Shown_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>meter_located</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer_shown_location_of_meter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_Message_for_Meter_Reading</targetReference>
            </connector>
            <label>Meter Located &amp; Customer Shown Populated</label>
        </rules>
        <rules>
            <name>Meter_Reading_less_than_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeterReadingcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_for_Meter_Reading</targetReference>
            </connector>
            <label>Meter Reading less than zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_fileUpload1_empty</name>
        <label>Is fileUpload1 empty?</label>
        <locationX>710</locationX>
        <locationY>5450</locationY>
        <defaultConnector>
            <targetReference>Is_fileUpload2_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadPhoto1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Rename</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_fileUpload2_empty</name>
        <label>Is fileUpload2 empty?</label>
        <locationX>710</locationX>
        <locationY>5750</locationY>
        <defaultConnector>
            <targetReference>Is_fileUpload3_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadPhoto2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Rename2</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_fileUpload3_empty</name>
        <label>Is fileUpload3 empty?</label>
        <locationX>710</locationX>
        <locationY>6050</locationY>
        <defaultConnector>
            <targetReference>Is_fileUpload4_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadPhoto3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Rename3</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_fileUpload4_empty</name>
        <label>Is fileUpload4 empty?</label>
        <locationX>710</locationX>
        <locationY>6350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadPhoto4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Rename4</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-3041</description>
        <name>Is_Property_connected_for_surface_water_drainage_systems</name>
        <label>Is Property connected for surface water drainage systems?</label>
        <locationX>710</locationX>
        <locationY>3878</locationY>
        <defaultConnector>
            <targetReference>End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Connected</defaultConnectorLabel>
        <rules>
            <name>Yes_Connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DCFRecordVar.FSM_PropertyConnectedSWDS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Area_Details_Screen</targetReference>
            </connector>
            <label>Yes Connected</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-3041</description>
        <name>Is_Supply_Chosen_as_Metered</name>
        <label>Is Supply Chosen as Metered And meter located?</label>
        <locationX>1139</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Waste_Water_Connection_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Metered_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Supply_is</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Metered</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>meter_located</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meter_Details_Screen</targetReference>
            </connector>
            <label>Metered Chosen</label>
        </rules>
    </decisions>
    <description>Created For SFS-3041
Updated as a fix of SFS-3946
Updated for a fix of SFS-3965
Updated as a part of SFS-4229
Updated as a part of SFS-4482
Updated as a Part of SFS-5684
Updated as a part of SFS-6639
Updated as a part of SFS-7438
Updated as a part of SFS-7910
Updated as part of SFL-755
Updated as part of SFL-755</description>
    <dynamicChoiceSets>
        <description>created as part of SFS-4482</description>
        <name>Meter_LocatedVal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterLocated__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Meter_locatedVar</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterLocated__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>created as part of SFS-4482</description>
        <name>Meter_Location_PicklistVal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterLocPick__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>SFS-3041</description>
        <name>MeterLocationPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterLocPick__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>SFS-3041</description>
        <name>MeterManufacturerPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterManufacturer__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>SFS-3041</description>
        <name>MeterReadMethodPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterReadingMethod__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>SFS-3041</description>
        <name>MeterSizePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterSize__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>MeterReadingcheck</name>
        <dataType>Boolean</dataType>
        <expression>{!Meter_read} &gt;= 0</expression>
    </formulas>
    <interviewLabel>Data Capture Form Infra-Gap Site {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Data Capture Form Infra-Gap Site</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>SFS-3041</description>
        <name>Create_DCF_Record</name>
        <label>Create DCF Record</label>
        <locationX>1139</locationX>
        <locationY>1466</locationY>
        <assignRecordIdToReference>DCFRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_DCF_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Gap Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WorkOrderRecordvar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordCreates>
    <recordLookups>
        <description>SFS-4229</description>
        <name>Custom_metadata</name>
        <label>Custom metadata</label>
        <locationX>1139</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkStep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_TemplateName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gap Site</stringValue>
            </value>
        </filters>
        <object>FSM_ServiceReportTemplates__mdt</object>
        <outputAssignments>
            <assignToReference>ServiceReportTemplateIdVar</assignToReference>
            <field>FSM_TemplateId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>SFS-3041</description>
        <name>Get_DCF_Record</name>
        <label>Get DCF Record</label>
        <locationX>1139</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NHH_Gap_Site</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_Creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DCFRecordId</elementReference>
            </value>
        </filters>
        <object>FSM_DataCaptureFormInfra__c</object>
        <outputReference>DCFRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>SFS-3041</description>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>1139</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WorkStep_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_Creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordvar.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SARecordVar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>SFS-3041</description>
        <name>Get_WorkOrder</name>
        <label>Get WorkOrder</label>
        <locationX>1139</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_Creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecordVar.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecordvar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>SFS-3041</description>
        <name>Get_WorkStep</name>
        <label>Get WorkStep</label>
        <locationX>1139</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkOrder</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_Creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>WorkStepRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>WorkPlanId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>FSM_IsCompleted__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>SFS-3041</description>
        <name>Update_DCF_Gap_Site</name>
        <label>Update DCF Gap Site</label>
        <locationX>710</locationX>
        <locationY>5126</locationY>
        <connector>
            <targetReference>Assign_Service_Report_Template_ID_In_WorkOrder</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_Creation</targetReference>
        </faultConnector>
        <inputReference>DCFRecordVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>SFS-4229</description>
        <name>Update_WorkOrder</name>
        <label>Update WorkOrder</label>
        <locationX>710</locationX>
        <locationY>5342</locationY>
        <connector>
            <targetReference>Is_fileUpload1_empty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_log_Creation</targetReference>
        </faultConnector>
        <inputReference>WorkOrderRecordvar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>For SFS-3965</description>
        <name>Updated_Work_Step</name>
        <label>Updated Work Step</label>
        <locationX>710</locationX>
        <locationY>5018</locationY>
        <connector>
            <targetReference>Update_DCF_Gap_Site</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_log_Creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecordVar.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_IsCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Error_Message_for_Meter_Reading</name>
        <label>Copy 1 of Error Message for Meter Reading</label>
        <locationX>50</locationX>
        <locationY>3038</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Meter_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageOfCustomerShownLocation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter values in  the below fields as Meter Located is marked as &apos;Yes&apos; :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(208, 40, 40); font-family: Calibri; font-size: 12pt;&quot;&gt;-&lt;/em&gt;&lt;span style=&quot;color: rgb(208, 40, 40); font-family: Calibri; font-size: 12pt;&quot;&gt; Customer shown location of meter&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>For SFS-3965</description>
        <name>Display_Warning_Screen</name>
        <label>Display Warning Screen</label>
        <locationX>985</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_user_want_to_re_complete_the_work_step</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_re_complete_this_work_step_again</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to re-complete this work step again?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-3041</description>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>710</locationX>
        <locationY>4286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>All_the_customer_s_issue_have_been_resolved</targetReference>
        </connector>
        <fields>
            <name>Are_photos_attached</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are photos attached?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>All_the_customer_s_issues_have_now_been_resolved</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All the customers issues have now been resolved?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_any_additional_comments1</name>
            <fieldText>Add any additional comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 34, 8);&quot;&gt;Add any additional comments should be within 700 characters. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Add_any_additional_comments1})&lt;=700</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_for_Meter_Reading</name>
        <label>Error Message for Meter Reading</label>
        <locationX>314</locationX>
        <locationY>3038</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Meter_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageOfMeterReading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 11, 11);&quot;&gt;Meter Reading should be a positive value.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-3041</description>
        <name>Error_Screen_For_Blank_RSN</name>
        <label>Error Screen For Blank RSN</label>
        <locationX>578</locationX>
        <locationY>3146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_Meter_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>RSN2</name>
            <dataType>String</dataType>
            <fieldText>RSN</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-3041</description>
        <name>Meter_Details_Screen</name>
        <label>Meter Details Screen</label>
        <locationX>380</locationX>
        <locationY>2822</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_for_Meter_Reading</targetReference>
        </connector>
        <fields>
            <name>Meter_Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Meter Serial Number:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_read</name>
            <dataType>Number</dataType>
            <fieldText>Meter read</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MeterRead_DisplayTxt</name>
            <fieldText>&lt;p&gt; &lt;em style=&quot;color: rgb(244, 139, 39); font-family: Calibri; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Black digits only&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Manufacturer</name>
            <choiceReferences>MeterManufacturerPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter Manufacturer:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Number_dials</name>
            <dataType>Number</dataType>
            <fieldText>Number dials</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NumberDials_DisplayTxt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Calibri; color: rgb(244, 139, 39);&quot;&gt;Black digits only&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_size</name>
            <choiceReferences>MeterSizePicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter size:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_location</name>
            <choiceReferences>MeterLocationPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter location:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_location1</name>
            <dataType>String</dataType>
            <fieldText>Meter location:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Read_Method</name>
            <choiceReferences>MeterReadMethodPicklistChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter Read Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_photos_attached</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter photos attached?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_shown_location_of_meter</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer shown location of meter?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>meter_locate_screen</name>
        <label>Meter location screen</label>
        <locationX>1271</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_of_Water_Connection_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>meter_located</name>
            <choiceReferences>Meter_locatedVar</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter located</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-3041</description>
        <name>Meter_Photos_Screen</name>
        <label>Meter Photos Screen</label>
        <locationX>710</locationX>
        <locationY>4694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Photos_Count_Assignment</targetReference>
        </connector>
        <fields>
            <name>Photo_of_meter_or_stop_tap</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of meter or stop tap</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.JPEG, .PDF, .PNG, .JPG</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadPhoto1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadPhoto1</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadPhoto1</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Photo_of_meter_or_stop_tap_location</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of meter or stop tap location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.JPEG, .PDF, .PNG, .JPG</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadPhoto2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadPhoto2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadPhoto2</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Photo_of_building</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of building</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.JPEG, .PDF, .PNG, .JPG</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadPhoto3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadPhoto3</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadPhoto3</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Photo_of_plans_if_available</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of plans if available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.JPEG, .PDF, .PNG, .JPG</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadPhoto4</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadPhoto4</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadPhoto4</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-3041</description>
        <name>name_of_customer_spoken_to_screen</name>
        <label>name of customer spoken to screen</label>
        <locationX>1007</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_NHH_Gap_Site_Screen</targetReference>
        </connector>
        <fields>
            <name>name_of_customer_spoken_to</name>
            <dataType>String</dataType>
            <fieldText>Name of customer spoken to?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>For SFS-3041</description>
        <name>NHH_Gap_Site</name>
        <label>NHH Gap Site</label>
        <locationX>1139</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_customer_spoken_to</targetReference>
        </connector>
        <fields>
            <name>Appointed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Appointed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_called_before_arrival</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer called before arrival?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_present</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer present?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outstanding_customer_issues1</name>
        <label>Outstanding customer issues</label>
        <locationX>578</locationX>
        <locationY>4502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Meter_Photos_Screen</targetReference>
        </connector>
        <fields>
            <name>Copy_Outstanding_customer_issues</name>
            <dataType>String</dataType>
            <fieldText>Outstanding customer issues</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-3041</description>
        <name>Site_Area_Details_Screen</name>
        <label>Site Area Details Screen</label>
        <locationX>578</locationX>
        <locationY>3986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_Site_Are_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>Building_size_m2</name>
            <dataType>Number</dataType>
            <fieldText>Building size m2:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Hard_Standing_m2_designated_areas</name>
            <dataType>Number</dataType>
            <fieldText>Hard standing m2 (designated areas):</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Hard_Standing_m2_shared_areas</name>
            <dataType>Number</dataType>
            <fieldText>Hard standing m2 (shared areas):</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Grass_Permeable_areas_m2</name>
            <dataType>Number</dataType>
            <fieldText>Grass &amp; permeable areas m2:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_site_area_equates_to_m2</name>
            <dataType>Number</dataType>
            <fieldText>Total site area equates to m2:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Deductible_building_area_m2</name>
            <dataType>Number</dataType>
            <fieldText>Deductible building area m2</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Deduction_reason_Building_Area</name>
            <dataType>String</dataType>
            <fieldText>Deduction reason:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Deductible_hard_standing_area_m2</name>
            <dataType>Number</dataType>
            <fieldText>Deductible hard standing area m2:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Deduction_reason_hard_standing_area</name>
            <dataType>String</dataType>
            <fieldText>Deduction reason:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_deductible_area_m2</name>
            <dataType>Number</dataType>
            <fieldText>Total deductible area m2:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_chargeable_site_area_m2</name>
            <dataType>Number</dataType>
            <fieldText>Total chargeable site area m2:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supply_is_unmetered1</name>
        <label>Supply is unmetered</label>
        <locationX>1007</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_of_Water_Connection_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>Copy_Stop_tap_location</name>
            <dataType>String</dataType>
            <fieldText>Stop tap location:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-3041</description>
        <name>Surface_Water_Drainage_Connection_Details_Screen</name>
        <label>Surface Water Drainage Connection Details Screen</label>
        <locationX>710</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_surface_water_drainage_screen</targetReference>
        </connector>
        <fields>
            <name>Is_property_connected_for_surface_water_drainage_services</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is property connected for surface water drainage services?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_surface_water_drainage</name>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-3041</description>
        <name>Waste_Water_Connection_Details</name>
        <label>Waste Water Connection Details</label>
        <locationX>710</locationX>
        <locationY>3446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_of_waste_water_connect_details_screen</targetReference>
        </connector>
        <fields>
            <name>Is_property_connected_for_waste_devices</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is property connected for waste devices?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason</name>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-3041</description>
        <name>Water_Connection_Details</name>
        <label>Water Connection Details</label>
        <locationX>1139</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_For_Grid_Reference_X_and_Y_Checking_For_Grid_Reference_X_and_Y</targetReference>
        </connector>
        <fields>
            <name>Is_the_property_connected_for_water</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the property connected for water?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Supply_is</name>
            <choiceReferences>Metered</choiceReferences>
            <choiceReferences>Unmetered</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Supply is:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Supply_flow_tested</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Supply flow tested?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Grid_Reference_X</name>
            <dataType>Number</dataType>
            <fieldText>Grid Reference X</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;X value should be within &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;200000 &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;and &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;550000&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Grid_Reference_X} &gt; 200000 &amp;&amp; {!Grid_Reference_X} &lt; 550000)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Grid_Reference_Y</name>
            <dataType>Number</dataType>
            <fieldText>Grid Reference Y</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 15, 15);&quot;&gt;Y value should be within 170000 and 440000&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 41, 28);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Grid_Reference_Y} &gt;= 170000 &amp;&amp; {!Grid_Reference_Y} &lt; 440000)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action_launch_from_desktop_or_mobile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>File_Rename</name>
        <label>File Rename</label>
        <locationX>578</locationX>
        <locationY>5558</locationY>
        <connector>
            <targetReference>Is_fileUpload2_empty</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of meter or stop tap</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadPhoto1</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>File_Rename2</name>
        <label>File Rename</label>
        <locationX>578</locationX>
        <locationY>5858</locationY>
        <connector>
            <targetReference>Is_fileUpload3_empty</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of meter or stop tap location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadPhoto2</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>File_Rename3</name>
        <label>File Rename</label>
        <locationX>578</locationX>
        <locationY>6158</locationY>
        <connector>
            <targetReference>Is_fileUpload4_empty</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of building</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadPhoto3</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>File_Rename4</name>
        <label>File Rename</label>
        <locationX>578</locationX>
        <locationY>6458</locationY>
        <flowName>FSM_FileNameAutoRename</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of plans if available</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>UploadPhoto4</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Count1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count4</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>SFS-3041</description>
        <name>CurrentUserIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-3041</description>
        <name>DCFRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-3041</description>
        <name>DCFRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>regexpattern</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>^$</stringValue>
        </value>
    </variables>
    <variables>
        <description>SFS-3041</description>
        <name>SARecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>SFS-4229</description>
        <name>ServiceReportTemplateIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadPhoto1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadPhoto2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadPhoto3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadPhoto4</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-3041</description>
        <name>WorkOrderRecordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>SFS-3041</description>
        <name>WorkStepRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
