force-app/main/default/flows/FSM_ServiceAppointment_Subflow_Jeaopardy_Reason_Late_To_Enroute_Waste_Infra.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_SeNd_reminder</name>
        <label>Copy 1 of SeNd reminder</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_CN.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SRID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Get_SA.AppointmentNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You are due to arrive at your job in 30 minutes, change status to En-Route and travel to site. Please alert the scheduler if your arrival time will change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_SA.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SeNd_reminder</name>
        <label>SeNd reminder</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_CN.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SRID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Get_SA.AppointmentNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You are due to arrive at your job in 30 minutes, change status to En-Route and travel to site. Please alert the scheduler if your arrival time will change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_SA.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assgnmnetsrid</name>
        <label>assgnmnetsrid</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SRID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_Crew_Members.CrewMemberUserID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Crew_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-8642</description>
        <name>Assign_CrewID</name>
        <label>Assign CrewID</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ServiceCrew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SR.ServiceCrew.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Crew_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-8642</description>
        <name>assignSRID</name>
        <label>assignSRID</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SRID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SR.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SeNd_reminder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_In_Jeopardy</name>
        <label>Already In Jeopardy?</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>In Jeopardy</defaultConnectorLabel>
        <rules>
            <name>Not_In_Jeopardy</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA.FSL__InJeopardy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SA.FSL__InJeopardyReason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Late to Enroute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SA.FSL__InJeopardy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Jeopardy_Reason</targetReference>
            </connector>
            <label>Not In Jeopardy and same reason</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-8642</description>
        <name>Check_Assigned_Service_Resource_Type</name>
        <label>Check Assigned Service Resource Type</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>assignSRID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Crew</defaultConnectorLabel>
        <rules>
            <name>Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SR.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CrewID</targetReference>
            </connector>
            <label>Crew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SA_Status_and_Business_Unit</name>
        <label>Check SA Status and Business Unit</label>
        <locationX>809</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SA.FSSK__FSK_Work_Order__r.FSM_BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waste Infra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_In_Jeopardy</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
    </decisions>
    <description>SFS-6638
Updated as part of SFS-8642</description>
    <environments>Default</environments>
    <interviewLabel>FSM ServiceAppointment - Subflow - Jeaopardy Reason Late To Enroute Metering {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM ServiceAppointment - Subflow - Jeaopardy Reason Late To Enroute Waste Infra</label>
    <loops>
        <description>SFS-8642</description>
        <name>Collect_Crew_Members</name>
        <label>Collect Crew Members</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Crew_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assgnmnetsrid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_SeNd_reminder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CN</name>
        <label>Get CN</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assigned_Service_Resource_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_Service_Resource_Custom_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-8642</description>
        <name>Get_Crew_Members</name>
        <label>Get Crew Members</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Crew_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCrew</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceCrewMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>809</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SAId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-8642</description>
        <name>Get_SR</name>
        <label>Get SR</label>
        <locationX>809</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SA_Status_and_Business_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SA.FSSK__FSK_Assigned_Service_Resource__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_Jeopardy_Reason</name>
        <label>Update SA Jeopardy Reason</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_CN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_log_creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SAId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__InJeopardyReason__c</field>
            <value>
                <stringValue>Late to Enroute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InJeopardy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_log_creation</name>
        <label>Error log creation</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>FSM ServiceAppointment - Subflow - Jeaopardy Reason Late To Enroute Metering</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceCrew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
