force-app/main/default/flows/FSM_ShiftCreatedAndUpdatedAftertrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>sfi-1557</description>
        <name>assign_records_to_delete_1</name>
        <label>assign  records to delete</label>
        <locationX>2470</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>DeleteTSIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Time_sheets_entry_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Time_sheets_entry_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sfi-6192</description>
        <name>Assign_to_shift_share_collection</name>
        <label>Assign to shift share collection</label>
        <locationX>1106</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>ShiftShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleShiftRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sfi-1557</description>
        <name>Assigning_Time_sheet_id_to_shift_records</name>
        <label>Assigning Time sheet id to shift records</label>
        <locationX>2074</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>Update_related_shift.FSM_TimeSheetId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTimeSheetentryrecordsToKeep.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShiftUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_related_shift</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_related_shift</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sfi-6192</description>
        <name>Copy_1_of_Assign_to_shift_share_collection</name>
        <label>Copy 1 of Assign to shift share collection</label>
        <locationX>138</locationX>
        <locationY>2304</locationY>
        <assignmentItems>
            <assignToReference>ShiftShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleShiftRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sfi-6192</description>
        <name>Copy_1_of_Single_Shift_share_record</name>
        <label>Copy 1 of Single Shift share  record</label>
        <locationX>138</locationX>
        <locationY>2196</locationY>
        <assignmentItems>
            <assignToReference>SingleShiftRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleShiftRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleShiftRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleShiftRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_shift_share_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sfi-6192</description>
        <name>Single_Shift_share_record</name>
        <label>Single Shift share  record</label>
        <locationX>1106</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>SingleShiftRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleShiftRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleShiftRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleShiftRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_shift_share_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Created as part of SFS-155</description>
        <name>Check_for_BU_and_Sharing_update</name>
        <label>Check for BU and Sharing update</label>
        <locationX>956</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Update_Bu_or_Sharing</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResourceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnewrecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResourceId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ServiceResourceId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_StartDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.FSM_StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_EndDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.FSM_EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_previous_Sharing</targetReference>
            </connector>
            <label>Update Bu or Sharing</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Resource_Exits</name>
        <label>If Resource Exits</label>
        <locationX>182</locationX>
        <locationY>1764</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Service_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllResourceUserIds</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-6192</description>
        <name>if_Resource_type_is_Crew</name>
        <label>if Resource type is Crew</label>
        <locationX>858</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Single_Shift_share_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a crew</defaultConnectorLabel>
        <rules>
            <name>Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_crew_records</targetReference>
            </connector>
            <label>Crew</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-155</description>
        <name>Is_previous_sharing_available</name>
        <label>Is previous sharing available</label>
        <locationX>278</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Sharing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No previous Share</defaultConnectorLabel>
        <rules>
            <name>Prev_Sharie_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_previous_Sharing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Previous_Share</targetReference>
            </connector>
            <label>Prev Sharie present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-155</description>
        <name>IS_Sharing_available</name>
        <label>IS Sharing available</label>
        <locationX>278</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>if_Resource_type_is_Crew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Sharing</defaultConnectorLabel>
        <rules>
            <name>Sharing_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sharing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Sharing available</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-6192</description>
        <name>Service_crew_member_there</name>
        <label>Service crew member there ?</label>
        <locationX>380</locationX>
        <locationY>1440</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_crew_member_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllCrewMemberResourceIds</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-6192</description>
        <name>Service_crew_there</name>
        <label>Service crew there ?</label>
        <locationX>611</locationX>
        <locationY>1224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_crew_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_crew_member_records</targetReference>
            </connector>
            <label>there</label>
        </rules>
    </decisions>
    <decisions>
        <description>sfi-1557</description>
        <name>shift_list_is_null</name>
        <label>shift list is null ?</label>
        <locationX>2382</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_related_shift_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_shift</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>sfi-1557</description>
        <name>Time_sheet_list_is_null</name>
        <label>Time sheet list is null ?</label>
        <locationX>2712</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTimeSheetentryrecordsToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Time_sheets_entry_records</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <description>Created As part of SFS-155
Updated as a part of SFI-1557
updated as a part of SFI-6192
Updated As part of SFI-2314, Moved the Timesheet creation to Shift Trigger Apex
SFL-1219</description>
    <environments>Default</environments>
    <formulas>
        <description>sfs-259</description>
        <name>Isnewrecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>FSM Shift Created and Updated After trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Shift After trigger</label>
    <loops>
        <description>sfi-6192</description>
        <name>Iterate_through_Users</name>
        <label>Iterate through Users</label>
        <locationX>50</locationX>
        <locationY>2088</locationY>
        <collectionReference>Get_All_The_Active_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Single_Shift_share_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>sfi-1557</description>
        <name>Loop_over_Time_sheets_entry_records</name>
        <label>Loop over Time sheets entry records</label>
        <locationX>2382</locationX>
        <locationY>600</locationY>
        <collectionReference>getTimeSheetentryrecordsToDelete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_records_to_delete_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_related_shift_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>sfi-1557</description>
        <name>Update_related_shift</name>
        <label>Update related shift</label>
        <locationX>1986</locationX>
        <locationY>1116</locationY>
        <collectionReference>get_related_shift_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Time_sheet_id_to_shift_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateShift</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>SFS-155</description>
        <name>Create_Share</name>
        <label>Create Share</label>
        <locationX>858</locationX>
        <locationY>2832</locationY>
        <faultConnector>
            <targetReference>shift_share_error_log</targetReference>
        </faultConnector>
        <inputReference>ShiftShareCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>SFS-155</description>
        <name>Delete_Previous_Share</name>
        <label>Delete Previous Share</label>
        <locationX>146</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Get_Sharing</targetReference>
        </connector>
        <inputReference>Get_previous_Sharing</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteTimesheet</name>
        <label>DeleteTimesheet</label>
        <locationX>1986</locationX>
        <locationY>1524</locationY>
        <faultConnector>
            <targetReference>Time_sheet_entry_duplicate_record_deletion</targetReference>
        </faultConnector>
        <inputReference>getTimeSheetentryrecordsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Service_Resource</name>
        <label>Get All Service Resource</label>
        <locationX>182</locationX>
        <locationY>1656</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Resource_Exits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AllCrewMemberResourceIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>It Will all the active user matching with respective service resources</description>
        <name>Get_All_The_Active_Users</name>
        <label>Get All The Active Users</label>
        <locationX>50</locationX>
        <locationY>1980</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AllResourceUserIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>sfi-6192</description>
        <name>get_crew_member_records</name>
        <label>get crew member records</label>
        <locationX>380</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_crew_member_there</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_crew_records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.StartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.EndTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceCrewMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Get_previous_Sharing</name>
        <label>Get previous Sharing</label>
        <locationX>278</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_previous_sharing_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ShiftShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>sfi-1557</description>
        <name>get_related_shift_records</name>
        <label>get related shift records</label>
        <locationX>2382</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>shift_list_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_TimeSheetId__c</field>
            <operator>In</operator>
            <value>
                <elementReference>DeleteTSIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>sfi-6192</description>
        <name>Get_Service_crew_records</name>
        <label>Get Service crew records</label>
        <locationX>611</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_crew_there</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.ServiceCrewId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceCrew</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-155</description>
        <name>Get_Sharing</name>
        <label>Get Sharing</label>
        <locationX>278</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_Sharing_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ShiftShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>sfi-1557</description>
        <name>getTimeSheetentryrecordsToDelete</name>
        <label>getTimeSheetentryrecordsToDelete</label>
        <locationX>2712</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Time_sheet_list_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>getTimeSheetentryrecordsToKeep.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheet</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>sfi-1557</description>
        <name>getTimeSheetentryrecordsToKeep</name>
        <label>getTimeSheetentryrecordsToKeep</label>
        <locationX>2712</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTimeSheetentryrecordsToDelete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StartTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheet</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateShift</name>
        <label>UpdateShift</label>
        <locationX>1986</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>DeleteTimesheet</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Time_sheet_entry_duplicate_record_deletion</targetReference>
        </faultConnector>
        <inputReference>ShiftUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>1708</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_BU_and_Sharing_update</targetReference>
        </connector>
        <object>Shift</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Delete_Duplicate_TimeSheets</name>
            <connector>
                <targetReference>getTimeSheetentryrecordsToKeep</targetReference>
            </connector>
            <label>Delete Duplicate TimeSheets</label>
            <maxBatchSize>200</maxBatchSize>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>sfi-6192</description>
        <name>shift_share_error_log</name>
        <label>shift share error log</label>
        <locationX>1370</locationX>
        <locationY>2940</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>FSM Shift After trigger</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>sfi-1557</description>
        <name>Time_sheet_entry_duplicate_record_deletion</name>
        <label>Time sheet entry duplicate record deletion</label>
        <locationX>2250</locationX>
        <locationY>1632</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>FSM_ShiftAfterTrigger</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_Type</name>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <transforms>
        <name>AllCrewMemberResourceIds</name>
        <label>AllCrewMemberResourceIds</label>
        <locationX>182</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Get_All_Service_Resource</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_crew_member_records[$EachItem].ServiceResourceId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>AllResourceUserIds</name>
        <label>AllResourceUserIds</label>
        <locationX>50</locationX>
        <locationY>1872</locationY>
        <connector>
            <targetReference>Get_All_The_Active_Users</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_All_Service_Resource[$EachItem].RelatedRecordId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>DeleteTSIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>sfi-6192</description>
        <name>ShiftShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShiftShare</objectType>
    </variables>
    <variables>
        <name>ShiftUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shift</objectType>
    </variables>
    <variables>
        <description>sfi-6192</description>
        <name>SingleShiftRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShiftShare</objectType>
    </variables>
</Flow>
