force-app/main/default/flows/FSM_Group_SubFlow_Create_FW_PublicGroups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ErrorLocation</name>
        <label>ErrorLocation</label>
        <locationX>572</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error while creating Field Worker Public Group in &apos;FSM Service Territory After Trigger&apos; flow.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>SFS-231</description>
        <name>Is_FW_ST_group_available</name>
        <label>Is FW ST group available</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Public_Group_FW_ST</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Group Missing create one</defaultConnectorLabel>
        <rules>
            <name>FW_ST_group_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldWorkerGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>FW ST group present</label>
        </rules>
    </decisions>
    <description>Created as a part of SFS-2233
Updated as part of SFS-5527 and SFS-5528</description>
    <environments>Default</environments>
    <formulas>
        <description>Updated SFS-5527 and SFS-5528, added Trim to remove start or end space</description>
        <name>FieldWorkerGroupName</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT(&apos;FSM_FW_&apos;+{!ServiceTerritoryName},40))</expression>
    </formulas>
    <interviewLabel>FSM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Group - SubFlow - Create FW PublicGroups</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>SFS-231</description>
        <name>Create_Public_Group_FW_ST</name>
        <label>Create Public Group FW ST</label>
        <locationX>308</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>FieldWorkerGroupId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>ErrorLocation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FieldWorkerGroupName</elementReference>
            </value>
        </inputAssignments>
        <object>Group</object>
    </recordCreates>
    <recordLookups>
        <description>SFS-231</description>
        <name>Get_Field_Worker_Public_Group</name>
        <label>Get Field Worker Public Group</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_FW_ST_group_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FieldWorkerGroupName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>FieldWorkerGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Field_Worker_Public_Group</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FieldWorkerGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
