force-app/main/default/flows/FSM_ServiceTerritoryAfterTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFS-231</description>
        <name>Assign_Group_membership</name>
        <label>Assign Group membership</label>
        <locationX>50</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>GroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scheduler_Bu_group_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scheduler_ST_related_public_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_group_member_For_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-231</description>
        <name>Collect_group_member_For_Creation</name>
        <label>Collect group member For Creation</label>
        <locationX>50</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>GroupMemberCreationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_group_membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-231</description>
        <name>Copy_1_of_Assign_Group_membership</name>
        <label>Assign Group membership</label>
        <locationX>204</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>GroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Field_Worker_Bu_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FieldWorkerGroupID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Collect_group_member_For_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-231</description>
        <name>Copy_1_of_Collect_group_member_For_Creation</name>
        <label>Collect group member For Creation</label>
        <locationX>204</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>GroupMemberCreationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Scheduler_ST_related_public_Group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>SFS-231</description>
        <name>Check_if_Custom_metadata_available_or_not</name>
        <label>Check if Custom metadata available or not</label>
        <locationX>633</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No Custom metadata</defaultConnectorLabel>
        <rules>
            <name>Metadata_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BU_Based_Custom_Metadata_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Field_Worker_Bu_Group</targetReference>
            </connector>
            <label>Metadata available</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-231</description>
        <name>Is_Field_Worker_Bu_group_present</name>
        <label>Is Field Worker Bu group present</label>
        <locationX>336</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Get_Scheduler_ST_related_public_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Group not present</defaultConnectorLabel>
        <rules>
            <name>FW_Bu_group_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Field_Worker_Bu_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Group_membership</targetReference>
            </connector>
            <label>FW Bu group present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-231</description>
        <name>Is_Scheduler_Public_group_present</name>
        <label>Is Scheduler Public group present</label>
        <locationX>336</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Create_new_group_membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Scheduler group</defaultConnectorLabel>
        <rules>
            <name>Scheduler_group_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Scheduler_ST_related_public_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scheduler_Bu_group_ID</targetReference>
            </connector>
            <label>Scheduler group present</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-231</description>
        <name>Scheduler_Bu_group_present_or_not</name>
        <label>Scheduler Bu group present or not</label>
        <locationX>182</locationX>
        <locationY>1440</locationY>
        <defaultConnector>
            <targetReference>Create_new_group_membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Scheduler_Bu_group_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Scheduler_Bu_group_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group_membership</targetReference>
            </connector>
            <label>Scheduler Bu group present</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-231
Updated as a part of SFS-2233
Updated as part of SFS-5527 and SFS-5528</description>
    <environments>Default</environments>
    <formulas>
        <description>SFS-231</description>
        <name>FieldWorkerGroupName</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT(&apos;FSM_FW_&apos;+{!$Record.Name},40))</expression>
    </formulas>
    <formulas>
        <description>SFS-231</description>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>SFS-231</description>
        <name>SchedulerGroupName</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!$Record.Name},40))</expression>
    </formulas>
    <interviewLabel>FSM Service Territory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Service Territory After Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>SFS-231</description>
        <name>Create_new_group_membership</name>
        <label>Create new group membership</label>
        <locationX>336</locationX>
        <locationY>1932</locationY>
        <faultConnector>
            <targetReference>Error_Log_Creation</targetReference>
        </faultConnector>
        <inputReference>GroupMemberCreationCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>SFS-231</description>
        <name>Get_BU_Based_Custom_Metadata_record</name>
        <label>Get BU Based Custom Metadata record</label>
        <locationX>633</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Custom_metadata_available_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_BusinessUnit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSM_BusinessUnit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_BusinessUnitToPublicGroupMap__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-231</description>
        <name>Get_Field_Worker_Bu_Group</name>
        <label>Get Field Worker Bu Group</label>
        <locationX>336</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Field_Worker_Bu_group_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BU_Based_Custom_Metadata_record.FSM_FieldWorkerPublicGroupAPI__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-231</description>
        <name>Get_Scheduler_Bu_group_ID</name>
        <label>Get Scheduler Bu group ID</label>
        <locationX>182</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduler_Bu_group_present_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BU_Based_Custom_Metadata_record.FSM_SchedulerPublicGroupAPI__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFS-231</description>
        <name>Get_Scheduler_ST_related_public_Group</name>
        <label>Get Scheduler ST related public Group</label>
        <locationX>336</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Scheduler_Public_group_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchedulerGroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>83</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_BusinessUnit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Check_On_public_group_Share</name>
            <connector>
                <targetReference>Create_FW_Public_Groups</targetReference>
            </connector>
            <label>Check On public group Share</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>FSM_PublicGroupUpdateDateTimeTriger__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Created as a part of SFS-2233</description>
        <name>Create_FW_Public_Groups</name>
        <label>Create FW Public Groups</label>
        <locationX>633</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Get_BU_Based_Custom_Metadata_record</targetReference>
        </connector>
        <flowName>FSM_Group_SubFlow_Create_FW_PublicGroups</flowName>
        <inputAssignments>
            <name>ServiceTerritoryName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FieldWorkerGroupID</assignToReference>
            <name>FieldWorkerGroupId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>SFS-5527 and SFS-5528</description>
        <name>Error_Log_Creation</name>
        <label>Error Log Creation</label>
        <locationX>666</locationX>
        <locationY>2040</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_ExternalId</name>
            <value>
                <elementReference>$Record.FSM_ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>FSM Service Territory After Trigger</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>SFS-231</description>
        <name>FieldWorkerGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-231</description>
        <name>GroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <description>SFS-231</description>
        <name>GroupMemberCreationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
</Flow>
