force-app/main/default/flows/FSM_InactivatingServiceResourceRelatedUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>SFI-467</description>
        <name>Any_Service_Resource_Leaving</name>
        <label>Any Service Resource Leaving</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Not Leaving</defaultConnectorLabel>
        <rules>
            <name>Leaving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSM_LeavingDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PreviousDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Related_User_Record</targetReference>
            </connector>
            <label>Leaving</label>
        </rules>
    </decisions>
    <description>SFI-467</description>
    <environments>Default</environments>
    <formulas>
        <description>SFI-467</description>
        <name>PreviousDay</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>Inactivating Service Resource Related User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inactivating Service Resource Related User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>SFI-467</description>
        <name>Fetch_Related_User_Record</name>
        <label>Fetch Related User Record</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Related_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>SFI-467</description>
        <name>Update_Related_User_Record</name>
        <label>Update Related User Record</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Related_User_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Any_Service_Resource_Leaving</targetReference>
        </connector>
        <object>ServiceResource</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-05</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
