force-app/main/default/flows/FSM_ServiceAppointmentSubflowNotificationsForDelayInWorkCompletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Notification_to_Fieldworker</name>
        <label>Generate Notification to Fieldworker</label>
        <locationX>314</locationX>
        <locationY>1250</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>resourceuserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>JeopardyNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_SA.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFS-2979</description>
        <name>Assigned_Service_Resource_s_user_id</name>
        <label>Assigned Service Resource’s user id</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>resourceuserIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>memberUserIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Notification_to_Fieldworker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-2979</description>
        <name>Copy_1_of_Assigned_Service_Resource_s_user_id</name>
        <label>Copy 1 of Assigned Service Resource’s user id</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>resourceuserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SA.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Notification_to_Fieldworker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SRUserIdFromAssignedResourceList</name>
        <label>SR UserId From Assigned Resource List</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>memberUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>looping_on_members_crew.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_on_members_crew</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_resource_on_sa_a_crew</name>
        <label>if  resource on sa a crew</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>a_crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SA.FSSK__FSK_Assigned_Service_Resource__r.ServiceCrewId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_crew_mem</targetReference>
            </connector>
            <label>a crew</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-2979</description>
        <name>Is_All_Details_Available</name>
        <label>Is All Details Available?</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Not Available</defaultConnectorLabel>
        <rules>
            <name>Service_Resource_On_SA_not_a_crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Custom_Notification_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assigned_Service_Resource_s_user_id</targetReference>
            </connector>
            <label>Service Resource On SA not a crew</label>
        </rules>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Custom_Notification_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>memberUserIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Service_Resource_s_user_id</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-2979
updated as part of SFS-8479.</description>
    <environments>Default</environments>
    <interviewLabel>FSM ServiceAppointment - Subflow - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM ServiceAppointment - Subflow - Notifications For Delay In Work Completion</label>
    <loops>
        <name>looping_on_members_crew</name>
        <label>looping on members crew</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_crew_mem</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>SRUserIdFromAssignedResourceList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_crew_mem</name>
        <label>Get crew mem</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_on_members_crew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SA.FSSK__FSK_Assigned_Service_Resource__r.ServiceCrewId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceCrewMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>314</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_All_Details_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_TimePastPlannedTimeForSAJeopardy</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_resource_on_sa_a_crew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SAId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>JeopardyNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_SA.AppointmentNumber}</text>
    </textTemplates>
    <variables>
        <name>flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>memberUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-2979</description>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-2979</description>
        <name>resourceuserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdFromAssignedResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
