force-app/main/default/flows/FSM_EarliestSchedulableDateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Next_Working_Date_Action</name>
        <label>Calculate Next Working Date Action</label>
        <locationX>270</locationX>
        <locationY>984</locationY>
        <actionName>Fsm_WorkdayDateUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_SA_Earliest_start_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentDateTime</name>
            <value>
                <elementReference>EarliestSchedulableDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>daysToAdd</name>
            <value>
                <elementReference>DayToAdd</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fsm_WorkdayDateUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Apex class to check if today is a working day</description>
        <name>Check_If_Today_Is_Working_Day</name>
        <label>Check If Today Is Working Day</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <actionName>Fsm_BusinessHoursUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_isToday_Working_Day</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Fsm_BusinessHoursUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Added_to_the_List_to_Update</name>
        <label>Added to the List to Update</label>
        <locationX>270</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>SAListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_through_all_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_through_all_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Earliest_Schedulable_Date_of_SA</name>
        <label>Assign Earliest Schedulable Date of SA</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>EarliestSchedulableDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_through_all_SA.FSM_EarliestSchedulableDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Next_Working_Date_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SA_Earliest_start_date</name>
        <label>Update SA Earliest start date</label>
        <locationX>270</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Looping_through_all_SA.FSM_EarliestSchedulableDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Next_Working_Date_Action.nextWorkingDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Added_to_the_List_to_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Earliest_Schedule_Date_is_Null</name>
        <label>Check if Earliest Schedule Date is Null</label>
        <locationX>270</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Calculate_Next_Working_Date_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_through_all_SA.FSM_EarliestSchedulableDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Earliest_Schedulable_Date_of_SA</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_isToday_Working_Day</name>
        <label>Check isToday Working Day</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Not a Working Day</defaultConnectorLabel>
        <rules>
            <name>Working_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_Today_Is_Working_Day.isWithinBusinessHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_SA</targetReference>
            </connector>
            <label>Working Day</label>
        </rules>
    </decisions>
    <description>This job runs on weekdays and increments the earliest schedulable date on the Service Appointment by 1 day, based on the TMA type.
Created as Part of SFS-6665
Updated as part of SFS-8194 - Cancelled SA&apos;s excluded
Updated as part of SFS-8357 - changed the time trigger from 2am to 11:50pm</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>FSM Earliest Schedulable Date Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Earliest Schedulable Date Update</label>
    <loops>
        <name>Looping_through_all_SA</name>
        <label>Looping through all SA</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_All_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Earliest_Schedule_Date_is_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>SFS-5159
SFS-8194 - Cancelled SA&apos;s excluded</description>
        <name>Get_All_SA</name>
        <label>Get All SA</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_through_all_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_EarliestSchedulableDateCriteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSM_EarliestSchedulableDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>SFS-5159</description>
        <name>Update_All_SA</name>
        <label>Update All SA</label>
        <locationX>50</locationX>
        <locationY>1392</locationY>
        <faultConnector>
            <targetReference>Error_Log_Creation</targetReference>
        </faultConnector>
        <inputReference>SAListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Today_Is_Working_Day</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-30</startDate>
            <startTime>23:50:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>SFS-6665</description>
        <name>Error_Log_Creation</name>
        <label>Error Log Creation</label>
        <locationX>314</locationX>
        <locationY>1500</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>FSM Earliest Schedulable Date Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_Type</name>
            <value>
                <stringValue>Field Service</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>DayToAdd</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EarliestSchedulableDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>nextWorkingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5159</description>
        <name>SAListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
