force-app/main/default/flows/FSM_MeteringDesktop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_DCFRecord</name>
        <label>ASSIGN_DCFRecord</label>
        <locationX>1529</locationX>
        <locationY>5144</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_FormType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meter Details Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ConstructYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Construct_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DateMeterInstalled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Meter_Installed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_FinalReadMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Meter_Read_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_FinalReading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Meter_Reading</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_HouseName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>House_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_HouseNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>House_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_InitialMeterReading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_Meter_Reading</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_IsThisASharedSupply__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_a_shared_supply</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterLocPick__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterReadingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Reading_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_NumberOfDials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_dials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_PostCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_RemovedSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Removed_Meter_Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_UpdateType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterManufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MeterManufacturerVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ModelNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MeterModelNoVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MeterCategoryVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MeterSerialNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_MeterLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Location2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_GridsReferenceX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grid_Reference_X</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_GridsReferenceY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grid_Reference_Y</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DCFInfraId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_ReasonNoMeterInst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_no_meter_installed_provide_reasons_as_to_why_not</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WorkStep_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-158</description>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>1615</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUserIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_RecordTypeID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_MandatoryRSN</name>
        <label>ASSIGN_MandatoryRSN</label>
        <locationX>1425</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DateOutreaderInstalled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Outreader_Installed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_RSN1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSN_Outreader_ID1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Meter_Location_and_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_NonMandatoryRSN</name>
        <label>ASSIGN_NonMandatoryRSN</label>
        <locationX>1953</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_DateOutreaderInstalled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateOutreaderInstalled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDCFRecord.FSM_RSN1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSN_Outreader_ID2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Meter_Location_and_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_photos</name>
        <label>Assignment of photos</label>
        <locationX>1568</locationX>
        <locationY>3992</locationY>
        <assignmentItems>
            <assignToReference>MeterLocationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MeterLocation_image.fileNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurroundingAreaCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SurroundingAreaImage.fileNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Photo_Uploaded_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Completed_DCFs</name>
        <label>Count Completed DCFs</label>
        <locationX>485</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>completedDCFCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CompletedDCFList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Limit_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5313</description>
        <name>Meter_Photo_Assign</name>
        <label>Meter Photo Assign</label>
        <locationX>1152</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>existingMeterPhotoUploaded</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>photoOfExistingMeter.fileNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Photo_Uploaded_Or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-5313</description>
        <name>New_Meter_photo_assignm</name>
        <label>New Meter photo assignm</label>
        <locationX>1463</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>newMeterPhotoCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>photoofnewMeter.fileNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Photo_Uploaded_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WorkStep_fields_assignment</name>
        <label>WorkStep fields assignment</label>
        <locationX>1615</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>IsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkStep.FSM_IsCompleted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkstepName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkStep.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkStep.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkStep.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Meter_Detail</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Row</name>
        <choiceText>Add Valve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Row</stringValue>
        </value>
    </choices>
    <choices>
        <name>dcfNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>dcfYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Row</name>
        <choiceText>Delete Valve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Row</stringValue>
        </value>
    </choices>
    <choices>
        <description>SFS-5313</description>
        <name>No_Rename1</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>SFS-5313</description>
        <name>No_Rename2</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>valveidoptions</name>
        <choiceText>{!varValveID}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>SFS-5313</description>
        <name>Yes_Rename1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <description>SFS-5313</description>
        <name>Yes_Rename2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Confirmation_Message_to_Complete_Form_Again</name>
        <label>Check Confirmation Message to Complete Form Again</label>
        <locationX>1353</locationX>
        <locationY>1538</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ItsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>dcfYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_of_DCF_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_date_Screen_1</name>
        <label>Check date Screen 1</label>
        <locationX>1557</locationX>
        <locationY>3326</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_for_not_today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Today</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_Outreader_Installed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_MandatoryRSN</targetReference>
            </connector>
            <label>Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_date_Screen_2</name>
        <label>Check date Screen 2</label>
        <locationX>2085</locationX>
        <locationY>3326</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_for_not_today_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Today Date</defaultConnectorLabel>
        <rules>
            <name>TodayDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateOutreaderInstalled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_NonMandatoryRSN</targetReference>
            </connector>
            <label>TodayDate</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-5313</description>
        <name>Check_If_Photo_Uploaded_Or_Not</name>
        <label>Check If Photo Uploaded Or Not</label>
        <locationX>1152</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>File_Rename_Existing_Meter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Photo uploaded</defaultConnectorLabel>
        <rules>
            <name>Photo_not_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingMeterPhotoUploaded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UploadAtLeastOnePhotoScreen</targetReference>
            </connector>
            <label>Photo not uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Read_Method_is_Radio</name>
        <label>Check if Read Method is Radio</label>
        <locationX>1821</locationX>
        <locationY>3110</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_RSN_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Method_is_Radio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Reading_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Radio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSN_Updates</targetReference>
            </connector>
            <label>Method is Radio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Photo_Uploaded_or_not</name>
        <label>Check Photo Uploaded or not</label>
        <locationX>1568</locationX>
        <locationY>4100</locationY>
        <defaultConnector>
            <targetReference>File_Rename_Meter_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Uploaded</defaultConnectorLabel>
        <rules>
            <name>File_Not_Uploaded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MeterLocationCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurroundingAreaCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_for_Photo_not_uploaded</targetReference>
            </connector>
            <label>File Not Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_Type</name>
        <label>Check Update Type</label>
        <locationX>1529</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Meter_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Selected</defaultConnectorLabel>
        <rules>
            <name>Selected_No_Meter_Installed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Meter Installed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_for_No_Meter_Installed</targetReference>
            </connector>
            <label>Selected &apos;No Meter Installed&apos;?</label>
        </rules>
        <rules>
            <name>Selected_Meter_Exchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Exchange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_Meter_Details</targetReference>
            </connector>
            <label>Selected &apos;Meter Exchange&apos;?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WorkStep_Status</name>
        <label>Check WorkStep Status</label>
        <locationX>1529</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Creation_of_DCF_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not completed</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkStep_Complete_Confirmation</targetReference>
            </connector>
            <label>Completed?</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-4438</description>
        <name>Is_Meter_Detail</name>
        <label>Is Meter Detail?</label>
        <locationX>1615</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Meter_Detail_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkstepName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Details Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Completed_DCF</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Limit_Reached</name>
        <label>Max Limit Reached?</label>
        <locationX>485</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>GET_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MaxLimitReached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>completedDCFCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>completedDCFCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varWorkStep.FSM_MaxInstance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meter_Date_today</name>
        <label>Meter Date today</label>
        <locationX>1821</locationX>
        <locationY>3884</locationY>
        <defaultConnector>
            <targetReference>ErrorScreenMeterDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meter Date Not Today</defaultConnectorLabel>
        <rules>
            <name>MeterDateToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_Meter_Installed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_photos</targetReference>
            </connector>
            <label>Meter Date Today?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_checking</name>
        <label>Null checking</label>
        <locationX>921</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Check_WorkStep_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WO not null</defaultConnectorLabel>
        <rules>
            <name>Work_Order_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WORecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_not_found</targetReference>
            </connector>
            <label>Work Order is null?</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-5313</description>
        <name>Photo_Uploaded_Check</name>
        <label>Photo Uploaded Check</label>
        <locationX>1463</locationX>
        <locationY>2894</locationY>
        <defaultConnector>
            <targetReference>File_Rename_New_Meter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Uploaded</defaultConnectorLabel>
        <rules>
            <name>Not_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newMeterPhotoCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UploadAtLeastOnePhotoScreen2</targetReference>
            </connector>
            <label>Not Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_New_Meter_Installation</name>
        <label>Selected &apos;New Meter Installation&apos;</label>
        <locationX>1766</locationX>
        <locationY>4424</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_DCFRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Meter_Installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Meter Installation (Water)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meter_Install_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-2813
Updated as a part of BUG-4438
Updated as a part of SFS-4087,4088,4089,4490
Updated as part of SFS-4978
Updated as a part of SFS-4980
Updated as a part of SFS-5313
Updated as a part of SFS-6639
Updated as part of SFS-6573 for Max Instance Logic update
Updated as part of SFS-6196
updated as part of SFS-7884
Updated as a part of SFI-2967(SIT bug)
Updated as a part of SFS-7949
Updated as a part of SFS-7916
Updated as a part of SFL-342
Updated as part of SFL-811
updated as part of SFL-755
updated as part of SFL-1111</description>
    <dynamicChoiceSets>
        <description>SFS-5313</description>
        <name>Choice_Reason_Meter_Installed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ReasonNoMeterInst__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_NormalPosition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_NormalPosition__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_PostOperationPosition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_PostOperationPosition__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_ValveCondition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ValveCondition__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_ValveType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ValveType__c</picklistField>
        <picklistObject>FSM_DCFLineItemInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FinalReadMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_FinalReadMethod__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FSM_MeterCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_Category__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FSM_MeterManufacturer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterManufacturer__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FSM_MeterModelNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ModelNo__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MD_UpdateType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_UpdateType__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MeterLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterLocPick__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MeterReadingMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterReadingMethod__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MeterSize</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_MeterSize__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SharedSupply</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_IsThisASharedSupply__c</picklistField>
        <picklistObject>FSM_DataCaptureFormInfra__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Created as part of SFS-4087</description>
        <name>CheckingforMeterSerialNo</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>UserId2</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>FSM Metering- Desktop {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FSM Metering- Desktop</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creation_of_DCF_record</name>
        <label>Creation of DCF record</label>
        <locationX>1529</locationX>
        <locationY>1922</locationY>
        <assignRecordIdToReference>DCFInfraId</assignRecordIdToReference>
        <connector>
            <targetReference>Transaction_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>FSM_FormType__c</field>
            <value>
                <stringValue>Meter Details Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkOrder__c</field>
            <value>
                <elementReference>WORecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_WorkStep__c</field>
            <value>
                <elementReference>varWorkStep.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_DataCaptureFormInfra__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Completed_DCF</name>
        <label>Get Completed DCF</label>
        <locationX>485</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Completed_DCFs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_WorkStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkStep.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>FSM_DataCaptureFormInfra__c</object>
        <outputReference>CompletedDCFList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_RecordTypeID</name>
        <label>GET_RecordTypeID</label>
        <locationX>1615</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_WorkStep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_DataCaptureFormInfra__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_MeterDetailsForm</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_ServiceResource</name>
        <label>GET_ServiceResource</label>
        <locationX>921</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_checking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserIdFinal</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkOrder</name>
        <label>GET_WorkOrder</label>
        <locationX>921</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ServiceResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WORecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_ExternalId__c</queriedFields>
        <queriedFields>FSM_NotificationNumber__c</queriedFields>
        <queriedFields>FSM_OperationNumber__c</queriedFields>
        <queriedFields>FSM_OrderNumber__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_WorkStep</name>
        <label>GET_WorkStep</label>
        <locationX>1615</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkStep_fields_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>varWorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>FSM_IsCompleted__c</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>FSM_MaxInstance__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_DCF_record</name>
        <label>Update DCF record</label>
        <locationX>1529</locationX>
        <locationY>5360</locationY>
        <inputReference>varDCFRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updated as part of SFL-811</description>
        <name>Update_WorkStep_Status</name>
        <label>Update WorkStep Status</label>
        <locationX>1529</locationX>
        <locationY>5252</locationY>
        <connector>
            <targetReference>Update_DCF_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM_IsCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_RSN_Updates</name>
        <label>RSN Updates</label>
        <locationX>2085</locationX>
        <locationY>3218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_date_Screen_2</targetReference>
        </connector>
        <fields>
            <name>RSN_Outreader_ID2</name>
            <dataType>String</dataType>
            <fieldText>RSN/Outreader ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;RSN should be within 10 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!RSN_Outreader_ID2}) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DateOutreaderInstalled</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date Outreader Installed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MAxInstanceError</name>
            <fieldText>&lt;p&gt;You have reached the maximum number of completed forms.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_for_not_today</name>
        <label>Error Screen for not today</label>
        <locationX>1689</locationX>
        <locationY>3434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RSN_Updates</targetReference>
        </connector>
        <fields>
            <name>ErScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please give today&apos;s date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_for_not_today_date</name>
        <label>Error Screen for not today date</label>
        <locationX>2217</locationX>
        <locationY>3434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_RSN_Updates</targetReference>
        </connector>
        <fields>
            <name>ErScreenfornottoday</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please give today&apos;s date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreenMeterDate</name>
        <label>ErrorScreenMeterDate</label>
        <locationX>2074</locationX>
        <locationY>3992</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Meter_Location_and_Dates</targetReference>
        </connector>
        <fields>
            <name>ErScreenforMeterDate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please give today&apos;s date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>SFS-4438</description>
        <name>Meter_Detail_error_message</name>
        <label>Meter_Detail_error_message</label>
        <locationX>2745</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Meter_detail_error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 19, 19);&quot;&gt;Cannot proceed further as work step is not Meter Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Meter_Install_Address</name>
        <label>Meter Install Address</label>
        <locationX>1634</locationX>
        <locationY>4532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ASSIGN_DCFRecord</targetReference>
        </connector>
        <fields>
            <name>House_Number</name>
            <dataType>Number</dataType>
            <fieldText>House Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;House Number should be within 5 digits.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!House_Number} &lt;= 99999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>House_Name</name>
            <dataType>String</dataType>
            <fieldText>House Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;House Name should be within 80 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!House_Name}) &lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Street should be within 80 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Street}) &lt;= 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;City should be within 80 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!City})&lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Post_Code</name>
            <dataType>String</dataType>
            <fieldText>Post Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Post Code should be within 9 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Post_Code})&lt;=9</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Is_this_a_shared_supply</name>
            <choiceReferences>SharedSupply</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this a shared supply?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinalDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;This is the final screen, clicking Next will exit the form.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Meter_Location_and_Dates</name>
        <label>Meter Location and Dates</label>
        <locationX>1821</locationX>
        <locationY>3776</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Meter_Date_today</targetReference>
        </connector>
        <fields>
            <name>Meter_Location</name>
            <choiceReferences>MeterLocation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select One&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Grid_Reference_X</name>
            <dataType>Number</dataType>
            <fieldText>Grid_Reference_X</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Grid Reference X should be between 240000 and 550000&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Grid_Reference_X} &gt;= 240000 &amp;&amp; {!Grid_Reference_X} &lt;= 550000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Grid_Reference_Y</name>
            <dataType>Number</dataType>
            <fieldText>Grid_Reference_Y</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Grid Reference Y should be between 170000 and 440000&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Grid_Reference_Y} &gt;= 170000 &amp;&amp; {!Grid_Reference_Y} &lt;= 440000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Date_Meter_Installed</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date Meter Installed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Display_Text_For_Meter_Location</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px; font-family: Calibri;&quot;&gt;This should be the actual location of the meter not address&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Location2</name>
            <dataType>String</dataType>
            <fieldText>Meter Location</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;This should be the actual location of the meter not address&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Meter location should be within 200 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Meter_Location2}) &lt;= 200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>MeterLocation_image</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Meter Location Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFInfraId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFileNamesVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>contentDocIdsMeterLocation</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SurroundingAreaImage</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Surrounding Area Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFInfraId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>contentDocIdsSurroundingImage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadFileNamesVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinalDisplayScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;This is the final screen , clicking Next will exit the form.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Meter_Details</name>
        <label>New Meter Details</label>
        <locationX>1463</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Meter_photo_assignm</targetReference>
        </connector>
        <fields>
            <name>photoofnewMeter</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of new Meter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFInfraId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>contentDocIdsNewMeter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>uploadedNewMeterVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DtextForNewMeterPhoto</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(11, 11, 11);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please take photo of top of meter to clearly capture serial number and meter reading.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MeterManufacturer</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>FSM_DataCaptureFormInfra__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>FSM_MeterManufacturer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>FSM_ModelNo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Meter Manufacturer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Meter Model No.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Meter Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>FSM_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MeterManufacturerVar</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MeterModelNoVar</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MeterCategoryVar</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MeterSerialNo</name>
            <dataType>String</dataType>
            <fieldText>Meter Serial No.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Number_of_dials</name>
            <dataType>Number</dataType>
            <fieldText>Number of dials</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Only two digits are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Number_of_dials}&lt;100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Meter_Size</name>
            <choiceReferences>MeterSize</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter Size</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Select One&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Construct_Year</name>
            <dataType>Number</dataType>
            <fieldText>Construct Year</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Maximum 4 digits are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Construct_Year}&lt;=9999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Initial_Meter_Reading</name>
            <dataType>Number</dataType>
            <fieldText>Initial Meter Reading</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Initial Meter Reading should be within 18 digits.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Initial_Meter_Reading} &lt;= 999999999999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Meter_Reading_Method</name>
            <choiceReferences>MeterReadingMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter Reading Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Select One&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Old_Meter_Details</name>
        <label>Old Meter Details</label>
        <locationX>1152</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Meter_Photo_Assign</targetReference>
        </connector>
        <fields>
            <name>photoOfExistingMeter</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of existing Meter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DCFInfraId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedPhotoOfExistingMetervar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>contentDocIdsOldMeter</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DtextExistingMeter</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(11, 11, 11);&quot;&gt;Please take photo of top of meter to clearly capture serial number and meter reading.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Removed_Meter_Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Removed Meter Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Removed Meter Serial Number should be within 80 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Removed_Meter_Serial_Number}) &lt;= 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Final_Meter_Reading</name>
            <dataType>Number</dataType>
            <fieldText>Final Meter Reading</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Final Meter Reading should be within 18 digits.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Final_Meter_Reading} &lt;= 999999999999999999</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Final_Meter_Read_Method</name>
            <choiceReferences>FinalReadMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Final Meter Read Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Added as part of SFL-342</description>
        <name>Reason_for_No_Meter_Installed</name>
        <label>Reason for No Meter Installed</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ASSIGN_DCFRecord</targetReference>
        </connector>
        <fields>
            <name>If_no_meter_installed_provide_reasons_as_to_why_not</name>
            <choiceReferences>Choice_Reason_Meter_Installed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If no meter installed, provide reasons as to why not</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RSN_Updates</name>
        <label>RSN Updates</label>
        <locationX>1557</locationX>
        <locationY>3218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_date_Screen_1</targetReference>
        </connector>
        <fields>
            <name>RSN_Outreader_ID1</name>
            <dataType>String</dataType>
            <fieldText>RSN/Outreader ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;RSN should be within 10 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN( {!RSN_Outreader_ID1} ) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Date_Outreader_Installed</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date Outreader Installed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_for_Photo_not_uploaded</name>
        <label>Screen for Photo not uploaded</label>
        <locationX>1370</locationX>
        <locationY>4208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Meter_Location_and_Dates</targetReference>
        </connector>
        <fields>
            <name>PhotoUpload</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please Upload Photo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transaction_Type</name>
        <label>Transaction Type</label>
        <locationX>1529</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Update_Type</targetReference>
        </connector>
        <fields>
            <name>Update_Type</name>
            <choiceReferences>MD_UpdateType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SFS-5313</description>
        <name>UploadAtLeastOnePhotoScreen</name>
        <label>UploadAtLeastOnePhotoScreen</label>
        <locationX>842</locationX>
        <locationY>2570</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Old_Meter_Details</targetReference>
        </connector>
        <fields>
            <name>Emessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;One or more mandatory files are missing. Please check and add them all before continuing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>SFS-5313</description>
        <name>UploadAtLeastOnePhotoScreen2</name>
        <label>UploadAtLeastOnePhotoScreen2</label>
        <locationX>1106</locationX>
        <locationY>3002</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Meter_Details</targetReference>
        </connector>
        <fields>
            <name>Errmessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;One or more mandatory files are missing. Please check and add them all before continuing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WO_not_found</name>
        <label>WO not found</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ERMessageforWO</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Error! Work Order Not found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WorkStep_Complete_Confirmation</name>
        <label>WorkStep Complete Confirmation</label>
        <locationX>1353</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Confirmation_Message_to_Complete_Form_Again</targetReference>
        </connector>
        <fields>
            <name>WorkStep_is_already_Completed_Do_you_still_want_to_fill_the_form_again</name>
            <choiceReferences>dcfYes</choiceReferences>
            <choiceReferences>dcfNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WorkStep is already Completed . Do you still want to fill the form again ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1489</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>SFS-6639</description>
        <name>File_Rename_Existing_Meter</name>
        <label>File Rename Existing Meter</label>
        <locationX>1463</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>New_Meter_Details</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRenameDesktop</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of existing Meter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>photoOfExistingMeter.fileNames</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>File_Rename_Meter_Location</name>
        <label>File Rename Meter Location</label>
        <locationX>1766</locationX>
        <locationY>4208</locationY>
        <connector>
            <targetReference>File_Rename_Surrounding_Area</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRenameDesktop</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Meter Location Image</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>MeterLocation_image.fileNames</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>File_Rename_New_Meter</name>
        <label>File Rename New Meter</label>
        <locationX>1821</locationX>
        <locationY>3002</locationY>
        <connector>
            <targetReference>Check_if_Read_Method_is_Radio</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRenameDesktop</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Photo of new Meter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>photoofnewMeter.fileNames</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>SFS-6639</description>
        <name>File_Rename_Surrounding_Area</name>
        <label>File Rename Surrounding Area</label>
        <locationX>1766</locationX>
        <locationY>4316</locationY>
        <connector>
            <targetReference>Selected_New_Meter_Installation</targetReference>
        </connector>
        <flowName>FSM_FileNameAutoRenameDesktop</flowName>
        <inputAssignments>
            <name>fileUploadLabel</name>
            <value>
                <stringValue>Surrounding Area Image</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UploadedFileNames</name>
            <value>
                <elementReference>SurroundingAreaImage.fileNames</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ASRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>completedDCFCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CompletedDCFList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <description>SFS-6639</description>
        <name>contentDocIdsMeterLocation</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocIdsNewMeter</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-6639</description>
        <name>contentDocIdsOldMeter</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-6639</description>
        <name>contentDocIdsSurroundingImage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5313</description>
        <name>contentVersionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5313</description>
        <name>contentVersionID2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentUserIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dcfexistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFInfraId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFInfraSurrounding</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dcfNewMeterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DCFRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeleteDCFLI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5313</description>
        <name>desktopUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SFS-5313</description>
        <name>existingMeterPhotoUploaded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>SFS-158</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCompleted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeterCategoryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeterLocationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MeterManufacturerVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeterModelNoVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5313</description>
        <name>newMeterPhotoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NotificationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5313</description>
        <name>oldPhotoName1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5313</description>
        <name>oldPhotoName2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-158</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RecordTypeID2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurroundingAreaCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UploadedFileNamesVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5313</description>
        <name>uploadedNewMeterVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFS-5313</description>
        <name>UploadedPhotoOfExistingMetervar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadFileNameExVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadFileNamesVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValveIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DCFLineItemInfra__c</objectType>
    </variables>
    <variables>
        <name>varDCFLIrecord1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFLIRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_DataCaptureFormInfra__c</objectType>
    </variables>
    <variables>
        <name>varLatitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varLongitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varValveID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkstepName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
