force-app/main/default/flows/FSM_ServiceTerritoryMemberBeforeTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>For SFS-3821</description>
        <name>Assign_Country_from_SR</name>
        <label>Assign Country from SR</label>
        <locationX>556</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Service_Resource.FSM_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_SR_Postal_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For SFS-3821</description>
        <name>Assign_Postal_Code_from_SR</name>
        <label>Assign Postal Code from SR</label>
        <locationX>556</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Service_Resource.FSM_PostCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_travel_restriction_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-139</description>
        <name>Assign_Travel_restriction</name>
        <label>Assign Travel restriction</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_NoRestriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_CheckCustomerAppointmentDurationCapacityValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-139</description>
        <name>Copy_1_of_Assign_Travel_restriction</name>
        <label>Assign Travel restriction</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_NoRestriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_CheckCustomerAppointmentDurationCapacityValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-139</description>
        <name>Copy_2_of_Assign_Travel_restriction</name>
        <label>Assign Travel restriction</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_NoRestriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_CheckCustomerAppointmentDurationCapacityValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-139</description>
        <name>Copy_3_of_Assign_Travel_restriction</name>
        <label>Assign Travel restriction</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_NoRestriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_CheckCustomerAppointmentDurationCapacityValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-139</description>
        <name>Copy_4_of_Assign_Travel_restriction</name>
        <label>Copy 4 of Assign Travel restriction</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Level4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_NoRestriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FSM_CheckCustomerAppointmentDurationCapacityValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-35</description>
        <name>Depot_based</name>
        <label>Depot based</label>
        <locationX>842</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_Depot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Operating_Hours_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-5475</description>
        <name>FSM_120MinutesAssignment</name>
        <label>120 Minutes Assignment</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity120min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity330min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity90min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity60min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Home_Depot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-5475 .</description>
        <name>FSM_33MinutesAssignment</name>
        <label>330 Minutes Assignment</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity330min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity120min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity90min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity60min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Home_Depot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Part of SFS-5475</description>
        <name>FSM_60_Minutes_Assignment</name>
        <label>60 Minutes Assignment</label>
        <locationX>1106</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity60min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity330min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity120min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity90min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Home_Depot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Part of SFS-5475</description>
        <name>FSM_90_Minutes_Assignment</name>
        <label>90 Minutes Assignment</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity90min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity330min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity120min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity60min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Home_Depot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-35</description>
        <name>Home_based</name>
        <label>Home based</label>
        <locationX>578</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_Depot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Operating_Hours_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Created as a part of SFS-8293</description>
        <name>Minutes_Assignment_480</name>
        <label>480 Minutes Assignment</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity120min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity330min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity90min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity60min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity480min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Home_Depot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFS-484</description>
        <name>Standard_Operating_Hours_Blank_Assignment</name>
        <label>Standard Operating Hours (Blank) Assignment</label>
        <locationX>710</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>$Record.OperatingHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Operating_Hours_Blank_Record.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Part of SFS-5475</description>
        <name>Uncheck_All_Checkboxes</name>
        <label>Uncheck All Checkboxes</label>
        <locationX>1370</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity330min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity120min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity90min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSM_CustomerAppointmentCapacity60min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Home_Depot</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Completed as part of SFS-1241</description>
        <name>Address_is_Blank</name>
        <label>Address is Blank</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_for_travel_restriction_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TerritoryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TerritoryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_SR_has_Country_value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-139</description>
        <name>Check_for_travel_restriction_value</name>
        <label>Check for travel restriction value</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Assign_Travel_restriction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No restriction</defaultConnectorLabel>
        <rules>
            <name>Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.FSM_TravelRestriction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Travel_restriction</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
        <rules>
            <name>Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.FSM_TravelRestriction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Travel_restriction</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
        <rules>
            <name>Level_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.FSM_TravelRestriction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Travel_restriction</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Level_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.FSM_TravelRestriction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Travel_restriction</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
    </decisions>
    <decisions>
        <description>For SFS-3821</description>
        <name>Check_if_SR_has_Country_value</name>
        <label>Check if SR has Country value?</label>
        <locationX>688</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Has_SR_Postal_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Yes_present_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Service_Resource.FSM_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Country_from_SR</targetReference>
            </connector>
            <label>Yes present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as part of SFL-484</description>
        <name>Check_Operating_Hours_Value</name>
        <label>Check Operating Hours Value</label>
        <locationX>842</locationX>
        <locationY>2087</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingHours.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Standard_Operating_Hours_Blank_Record</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created as a part of SFS-1793</description>
        <name>FSM_CheckCustomerAppointmentDurationCapacityValue</name>
        <label>Check Customer Appointment Duration Capacity Value</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Home_Depot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duration_is_480</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Service_Resource.FSM_CustomerAppointmentDurationCapacity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>480 Minutes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TerritoryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minutes_Assignment_480</targetReference>
            </connector>
            <label>Duration is 480</label>
        </rules>
        <rules>
            <name>FSM_DurationIs330</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Service_Resource.FSM_CustomerAppointmentDurationCapacity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>330 Minutes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TerritoryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_33MinutesAssignment</targetReference>
            </connector>
            <label>Duration is 330</label>
        </rules>
        <rules>
            <name>FSM_DurationIs120</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Service_Resource.FSM_CustomerAppointmentDurationCapacity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>120 Minutes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TerritoryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_120MinutesAssignment</targetReference>
            </connector>
            <label>Duration is 120</label>
        </rules>
        <rules>
            <name>Duration_is_90</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TerritoryType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Service_Resource.FSM_CustomerAppointmentDurationCapacity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>90 Minutes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_90_Minutes_Assignment</targetReference>
            </connector>
            <label>Duration is 90</label>
        </rules>
        <rules>
            <name>Duration_is_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Service_Resource.FSM_CustomerAppointmentDurationCapacity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60 Minutes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TerritoryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSM_60_Minutes_Assignment</targetReference>
            </connector>
            <label>Duration is 60</label>
        </rules>
        <rules>
            <name>No_Duration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TerritoryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Service_Resource.FSM_CustomerAppointmentDurationCapacity__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Uncheck_All_Checkboxes</targetReference>
            </connector>
            <label>No Duration</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFS-3821</description>
        <name>Has_SR_Postal_Code</name>
        <label>Has SR Postal Code?</label>
        <locationX>688</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Check_for_travel_restriction_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Yes_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Service_Resource.FSM_PostCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Postal_Code_from_SR</targetReference>
            </connector>
            <label>Yes present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check what the inital value is for the home/depot pick list
SFS-35</description>
        <name>Home_Depot</name>
        <label>Home/Depot</label>
        <locationX>842</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Check_Operating_Hours_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.FSM_BaseLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_based</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Depot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.FSM_BaseLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Depot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Depot_based</targetReference>
            </connector>
            <label>Depot</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-139, This will run only in before Insert
Updated as part of SFS-35
Updated as part of SFS-1248
Updated as a part of SFS-1793
Updated as part of SFI-701 to populate address for STM primary
Updated as a fix of SFS-3821
Updated as of SFS-8242
Updated as part of SFS-8468
Updated as part of SFL-484</description>
    <environments>Default</environments>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>FSM Service Territory Member- AfterTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Service Territory Member- BeforeTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Completed as part of SFS-1241</description>
        <name>Get_Related_Service_Resource</name>
        <label>Get Related Service Resource</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Operating_Hours_Blank_Record</name>
        <label>Get Standard Operating Hours (Blank) Record</label>
        <locationX>710</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Operating_Hours_Blank_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.FSM_StandardOperatingHoursBlankName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OperatingHours</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Service_Resource</targetReference>
        </connector>
        <object>ServiceTerritoryMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
