force-app/main/default/flows/FSM_MandatoryAlternativeFormsCheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Completed_Forms_Group</name>
        <label>Add to Completed Forms Group</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CompletedFormsGroup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varWorkStep.FSM_AlternativeFormsGroup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_WorkSteps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Open_Forms_Group</name>
        <label>Add to Open Forms Group</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OpenFormsGroup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varWorkStep.FSM_AlternativeFormsGroup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_WorkSteps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Has_Open_Forms</name>
        <label>Has Open Forms</label>
        <locationX>440</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>varOpenFormsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is this work step completed?</description>
        <name>Completed</name>
        <label>Completed?</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Add_to_Open_Forms_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesThisFormIsCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkStep.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Completed_Forms_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This check is only for mandatory forms that have an alternative forms group</description>
        <name>Has_Alternative_Form</name>
        <label>Has Alternative Form?</label>
        <locationX>594</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>All_WorkSteps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAlternativeFormCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkStep.FSM_AlternativeFormsGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWorkStep.FSM_Mandatory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_an_Entry_in_Completed_Group</name>
        <label>Is this Group present in Completed Group?</label>
        <locationX>352</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Has_Open_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No alternative&apos;s completed</defaultConnectorLabel>
        <rules>
            <name>This_Group_Has_an_Entry_in_Completed_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompletedFormsGroup</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varOpenGroup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_of_Open_Forms</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When a job is updated to completed, it is required to complete it&apos;s mandatory forms or an alternative.</description>
    <environments>Default</environments>
    <interviewLabel>FSM Mandatory Alternative Forms Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Mandatory Alternative Forms Check</label>
    <loops>
        <description>Loop through all work steps</description>
        <name>All_WorkSteps</name>
        <label>All WorkSteps</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNextValueToReference>varWorkStep</assignNextValueToReference>
        <collectionReference>AllWorkSteps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Alternative_Form</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Group_of_Open_Forms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Group_of_Open_Forms</name>
        <label>Group of Open Forms</label>
        <locationX>176</locationX>
        <locationY>818</locationY>
        <assignNextValueToReference>varOpenGroup</assignNextValueToReference>
        <collectionReference>OpenFormsGroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_an_Entry_in_Completed_Group</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>1142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageText</name>
            <fieldText>&lt;p&gt;Please complete the mandatory form (or alternative)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_WorkSteps</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>All Work Steps Under a WO</description>
        <name>AllWorkSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>CompletedFormsGroup</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenFormsGroup</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If true, this means a mandatory form (or alternative) is yet to be completed under this work order</description>
        <name>varOpenFormsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOpenGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Work Step</description>
        <name>varWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
