force-app/main/default/flows/FSM_TimeSheetAfterTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFI-3007</description>
        <name>Assign_Time_Sheet_Share_Crew</name>
        <label>Assign Time Sheet Share Crew</label>
        <locationX>138</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetShareSingleRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetShareSingleRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetShareSingleRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetShareSingleRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Crew_members.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TimeSheetShareSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Crew_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFI-3007</description>
        <name>Assign_Time_Sheet_Share_Tech</name>
        <label>Assign Time Sheet Share Tech</label>
        <locationX>378</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetShareSingleRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetShareSingleRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetShareSingleRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetShareSingleRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TimeSheetShareSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>share_time_sheet_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFL-887</description>
        <name>Copy_1_of_To_be_Create_TimeSheetShareRecord_then_collect_it_to_TimeSheetShareLis</name>
        <label>Copy 1 of To be Create TimeSheetShareRecord then collect it to TimeSheetShareList</label>
        <locationX>565</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TImeSheetShareRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TImeSheetShareRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TImeSheetShareRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TImeSheetShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Business_Public_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetShareList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TImeSheetShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Business_Public_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFL-887</description>
        <name>To_be_Create_TimeSheetShareRecord_then_collect_it_to_TimeSheetShareList</name>
        <label>To be Create TimeSheetShareRecord then collect it to TimeSheetShareList</label>
        <locationX>829</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TImeSheetShareRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TImeSheetShareRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TImeSheetShareRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TImeSheetShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Business_Public_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetShareList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TImeSheetShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Business_Public_Group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>SFL-887</description>
        <name>Is_Business_Admin_Group</name>
        <label>Is Business Admin Group</label>
        <locationX>697</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>To_be_Create_TimeSheetShareRecord_then_collect_it_to_TimeSheetShareList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Business_Public_Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FSM_BusinessAdminGroup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_To_be_Create_TimeSheetShareRecord_then_collect_it_to_TimeSheetShareLis</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Crew_Member_Created</name>
        <label>Is Crew Member Created</label>
        <locationX>270</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Loop_Crew_members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is Crew Member</defaultConnectorLabel>
        <rules>
            <name>Crew_Member_Is_Not_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Crew_members.ServiceResource.RelatedRecordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResource.RelatedRecord.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Time_Sheet_Share_Crew</targetReference>
            </connector>
            <label>Yes Crew Member Is Not Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Updated as SFL-887</description>
        <name>IS_Public_group_available</name>
        <label>IS Public group available</label>
        <locationX>741</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>New_or_Resource_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Public_Group_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_public_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Business_Public_Group</targetReference>
            </connector>
            <label>Public Group available</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-3007</description>
        <name>Is_Resource_Type_Crew</name>
        <label>Is Resource Type Crew</label>
        <locationX>312</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Is_Tech_same</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Technician</defaultConnectorLabel>
        <rules>
            <name>Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Crew_members</targetReference>
            </connector>
            <label>Crew</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-3007</description>
        <name>Is_Service_crew_present</name>
        <label>Is Service crew present</label>
        <locationX>114</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>share_time_sheet_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Crew members</defaultConnectorLabel>
        <rules>
            <name>Yes_Crew_Members_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Crew_members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Crew_members</targetReference>
            </connector>
            <label>Yes Crew Members present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tech_same</name>
        <label>Is Tech same</label>
        <locationX>510</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>Same User</defaultConnectorLabel>
        <rules>
            <name>Different_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.RelatedRecordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Time_Sheet_Share_Tech</targetReference>
            </connector>
            <label>Different User</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFI-1557
Updated As part of SFI-3007</description>
        <name>New_or_Resource_Updated</name>
        <label>New or Resource Updated</label>
        <locationX>741</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>it_newly_created</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResourceId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ServiceResourceId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResource.RelatedRecordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Resource_Type_Crew</targetReference>
            </connector>
            <label>it newly created</label>
        </rules>
    </decisions>
    <description>Created for SFI-1557
Updated As part of SFI-3007
Updated As part of SFS-8998
Updated as Part of SFL-887
Updated as part of SFL-861
updated as a part of SFL-1048
Updated as a Part of SFL-1219</description>
    <environments>Default</environments>
    <formulas>
        <description>SFI-1557</description>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>timesheetendtime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Record.EndDate}) &amp; &quot; 23:59:59&quot;)</expression>
    </formulas>
    <formulas>
        <name>timeSheetstarttime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Record.StartDate}) &amp; &quot; 00:00:00&quot;)</expression>
    </formulas>
    <interviewLabel>TimeSheet After Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TimeSheet After Trigger</label>
    <loops>
        <description>SFL-887</description>
        <name>Loop_Business_Public_Group</name>
        <label>Loop Business Public Group</label>
        <locationX>477</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Business_public_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Business_Admin_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TimeSheet_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>SFI-3007</description>
        <name>Loop_Crew_members</name>
        <label>Loop Crew members</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <collectionReference>Get_Service_Crew_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Crew_Member_Created</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>share_time_sheet_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>SFI-1557
Updated as part of SFI-3007</description>
        <name>share_time_sheet_records</name>
        <label>share time sheet records</label>
        <locationX>312</locationX>
        <locationY>2663</locationY>
        <faultConnector>
            <targetReference>record_share_error_log</targetReference>
        </faultConnector>
        <inputReference>TimeSheetShareCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Updated as SFL-887</description>
        <name>TimeSheet_Share</name>
        <label>TimeSheet Share</label>
        <locationX>477</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>New_or_Resource_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_log</targetReference>
        </faultConnector>
        <inputReference>TimeSheetShareList</inputReference>
    </recordCreates>
    <recordLookups>
        <description>SFL-887</description>
        <name>FWBUGroupName</name>
        <label>FWBUGroupName</label>
        <locationX>741</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_public_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_BusinessUnit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.FSM_BusinessUnit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSM_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_BusinessUnitToPublicGroupMap__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_public_Group</name>
        <label>Get Business public Group</label>
        <locationX>741</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_Public_group_available</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_BusinessAdminGroup</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FWBUGroupName.FSM_FieldWorkerPublicGroupAPI__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SFI-3007</description>
        <name>Get_Service_Crew_members</name>
        <label>Get Service Crew members</label>
        <locationX>114</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Service_crew_present</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.ServiceCrewId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>timeSheetstarttime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>timesheetendtime</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>timeSheetstarttime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>timesheetendtime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceCrewMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>615</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FWBUGroupName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TimeSheet</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_log</name>
        <label>Error log</label>
        <locationX>741</locationX>
        <locationY>1247</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_ExternalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>TimeSheet After Trigger</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_Type</name>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>record_share_error_log</name>
        <label>record share error log</label>
        <locationX>906</locationX>
        <locationY>2771</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>ErrorType</name>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_ExternalId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>TimeSheet After Trigger</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_Type</name>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>RecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <description>SFI-83007</description>
        <name>TimeSheetShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetShare</objectType>
    </variables>
    <variables>
        <description>SFL-887</description>
        <name>TimeSheetShareList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetShare</objectType>
    </variables>
    <variables>
        <description>SFL-887</description>
        <name>TImeSheetShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetShare</objectType>
    </variables>
    <variables>
        <description>SFI-3007</description>
        <name>TimeSheetShareSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetShare</objectType>
    </variables>
</Flow>
