force-app/main/default/flows/FSM_AssignedResourceBeforeTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>SFS-4870</description>
        <name>Assign_RelatedRecordId</name>
        <label>Assign RelatedRecordId</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSM_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>SFS-4870</description>
        <name>Record_Created_Updated</name>
        <label>Record Created / Updated?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created_or_ServiceResource_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsNewAssignedResource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ServiceResourceId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ServiceResourceId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RelatedRecordId</targetReference>
            </connector>
            <label>Created or ServiceResource Changed</label>
        </rules>
    </decisions>
    <description>Created as part of SFS-4870</description>
    <environments>Default</environments>
    <formulas>
        <description>SFS-4870</description>
        <name>IsNewAssignedResource</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Assigned Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSM Assigned Resource Before Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Created_Updated</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
