force-app/main/default/flows/FSM_ProductConsumedPlatformEvents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ProductItemIdCollection</name>
        <label>ProductItemIdCollection</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ProductItemRecordIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_over_product_consumed.ProductItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_over_product_consumed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_record_assign</name>
        <label>Single record assign</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>PESingleRecord.FSM_RecipientName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Product_consumed_all_2.FSM_RecipientName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PESingleRecord.FSM_ExternalID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecordInput.FSM_ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PESingleRecord.FSM_LocationExternalID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_on_Product_Item.Location.FSM_ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PESingleRecord.FSM_LocationName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_on_Product_Item.Location.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PESingleRecord.FSM_OperationNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecordInput.FSM_OperationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PESingleRecord.FSM_OrderNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecordInput.FSM_OrderNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PESingleRecord.FSM_ProductExternalID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_on_Product_Item.Product2.FSM_ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PESingleRecord.FSM_ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_on_Product_Item.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PESingleRecord.FSM_QuantityConsumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Product_consumed_all_2.QuantityConsumed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntegrationLogSingleRecord.FSM_ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecordInput.FSM_ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntegrationLogSingleRecord.FSM_RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Product_consumed_all_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntegrationLogSingleRecord.FSM_RequestPayload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponsePayload</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntegrationLogSingleRecord.FSM_ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.FSM_ProductConsumedInterfaceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PESingleRecord.FSM_SAPUserID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_SAP_id.FSM_ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SingleRecordToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SingleRecordToCollection</name>
        <label>SingleRecordToCollection</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>PERecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PESingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntegrationLogCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IntegrationLogSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_on_Product_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_If_record_returned</name>
        <label>Copy 1 of If record returned</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_item_record_all</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Product_consumed_all_2</targetReference>
            </connector>
            <label>Copy 1 of Yes return</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_product_item_is_related_to_product_consumed</name>
        <label>If product item is related to product consumed</label>
        <locationX>710</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Looping_on_Product_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Product_consumed_all_2.ProductItemId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Looping_on_Product_Item.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_record_assign</targetReference>
            </connector>
            <label>related</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_record_returned</name>
        <label>If record returned</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_consumed_all</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_SAP_id</targetReference>
            </connector>
            <label>Yes return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_return</name>
        <label>Record return ?</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interface_toggle_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_consumed_all</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SFI-1499 , SFI-1528 updated
updated for sfi-1724</description>
    <environments>Default</environments>
    <interviewLabel>Product Consumed Platform Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Consumed Platform Events</label>
    <loops>
        <name>Loop_over_Product_consumed_all_2</name>
        <label>Loop over Product consumed all 2</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <collectionReference>Product_consumed_all</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Looping_on_Product_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Product_Consumed_PE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_on_Product_Item</name>
        <label>Looping on Product Item</label>
        <locationX>490</locationX>
        <locationY>1298</locationY>
        <collectionReference>Product_item_record_all</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_product_item_is_related_to_product_consumed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_Product_consumed_all_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_over_product_consumed</name>
        <label>Looping over product consumed</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <collectionReference>Product_consumed_all</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProductItemIdCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Product_item_record_all</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Interface_toggle_Record</name>
        <label>Interface toggle Record</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSM_InterfaceAPIName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSM_SendProductConsumedUpdates__e</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSM_InterfaceToggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Product_consumed_all</name>
        <label>Product consumed all</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_record_returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecordInput.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductConsumed</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Product_item_record_all</name>
        <label>Product item record all</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_If_record_returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductItemRecordIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>sfi-1724</description>
        <name>User_SAP_id</name>
        <label>User SAP id</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_over_product_consumed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecordInput.LastModifiedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSM_ExternalId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Interface_toggle_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Product_Consumed_PE</name>
        <label>Product Consumed  PE</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <flowName>FSM_ProductConsumedSubflowCreatePlatformEventRecord</flowName>
        <inputAssignments>
            <name>IntegrationlogCollection</name>
            <value>
                <elementReference>IntegrationLogCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendProductConsumedPECollection</name>
            <value>
                <elementReference>PERecordCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderRecord</name>
            <value>
                <elementReference>WORecordInput</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ResponsePayload</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{&quot;FSM_ExternalID__c&quot;:{!WORecordInput.FSM_ExternalId__c},
&quot;FSM_OrderNumber__c&quot;:{!WORecordInput.FSM_OrderNumber__c},
&quot;FSM_OperationNumber__c&quot;:{!WORecordInput.FSM_OperationNumber__c},
&quot;FSM_ProductName__c&quot;: {!Looping_on_Product_Item.Product2.Name},
&quot;FSM_ProductExternalID__c&quot;:{!Looping_on_Product_Item.Product2.FSM_ExternalId__c},
&quot;FSM_QuantityConsumed__c&quot;:{!Loop_over_Product_consumed_all_2.QuantityConsumed},
&quot;FSM_LocationExternalID__c&quot;:{!Looping_on_Product_Item.Location.FSM_ExternalId__c},
&quot;FSM_RecipientName__c&quot; : {!Loop_over_Product_consumed_all_2.FSM_RecipientName__c},
&quot;FSM_LocationName__c&quot; : {!Looping_on_Product_Item.Location.Name},
&quot;FSM_SAPUserID__c&quot; : {!User_SAP_id.FSM_ExternalId__c},
&quot;CreatedDate&quot;:{!$Flow.CurrentDateTime},
&quot;CreatedBy&quot;:{!$User.FirstName}{!$User.LastName}
}</text>
    </textTemplates>
    <variables>
        <name>IntegrationLogCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_IntegrationLog__c</objectType>
    </variables>
    <variables>
        <name>IntegrationLogSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_IntegrationLog__c</objectType>
    </variables>
    <variables>
        <name>PERecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_SendProductConsumedUpdates__e</objectType>
    </variables>
    <variables>
        <name>PESingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSM_SendProductConsumedUpdates__e</objectType>
    </variables>
    <variables>
        <name>ProductItemRecordIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WORecordInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
