force-app/main/default/flows/WorkOrder_Subflow_Create_Platform_Event_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FSM_CallIntegrationLog</name>
        <label>Call Integration Log</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>FSM_Utility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>SAPExternalId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>FSM_WorkOrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestPayLoad</name>
            <value>
                <elementReference>FSM_RequestPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceName</name>
            <value>
                <stringValue>Work Order Updates</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FSM_Utility</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Updated as part of SFI-36
Updated As part of SFI-694
Updated As part of SFI-1927
Updated As part of SFI-2779</description>
    <environments>Default</environments>
    <interviewLabel>WorkOrder Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrder Subflow Create Platform Event Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Platform_Event_Record_creation</name>
        <label>Platform Event Record creation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>FSM_CallIntegrationLog</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FSM_CallErrorLogSubFlow</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSM_AppointmentBookinginfoUrl__c</field>
            <value>
                <elementReference>ApptAssistantInfoUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ExternalId__c</field>
            <value>
                <elementReference>SAPExternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_OperationNumber__c</field>
            <value>
                <elementReference>OperationNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_OrderNumber__c</field>
            <value>
                <elementReference>WorkOrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_RejectReason__c</field>
            <value>
                <elementReference>RejectReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SALocationStatus__c</field>
            <value>
                <elementReference>LocationStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SAPUserID__c</field>
            <value>
                <elementReference>SAPUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ScheduledEnd__c</field>
            <value>
                <elementReference>ScheduledEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ScheduledStart__c</field>
            <value>
                <elementReference>ScheduledSatrt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_ServiceResourceExternalid__c</field>
            <value>
                <elementReference>ServiceResourceExternalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM_SuspendReason__c</field>
            <value>
                <elementReference>SuspendReason</elementReference>
            </value>
        </inputAssignments>
        <object>FSM_SendWorkOrderUpdates__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Platform_Event_Record_creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FSM_CallErrorLogSubFlow</name>
        <label>Call ErrorLog SubFlow</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <flowName>ErrorLog_Subflow_Create_Record</flowName>
        <inputAssignments>
            <name>FSM_ExceptionalNumber</name>
            <value>
                <elementReference>FSM_WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_ExternalId</name>
            <value>
                <elementReference>SAPExternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_FlowName</name>
            <value>
                <stringValue>Work Order Updates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSM_Type</name>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>FSM_RequestPayload</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
&quot;FSM_OrderNumber__c&quot;: {!WorkOrderNumber},
&quot;FSM_ExternalId__c&quot; : {!SAPExternalId},
&quot;FSM_Status__c&quot; : {!Status},
&quot;FSM_RejectReason__c&quot; : {!RejectReason},
&quot;FSM_SuspendReason__c&quot; : {!SuspendReason},
&quot;FSM_OperationNumber__c&quot; : {!OperationNumber},
&quot;FSM_SAPUserID__c&quot; : {!SAPUserID},
&quot;FSM_ScheduledStart__c&quot; : {!ScheduledSatrt},
&quot;FSM_ScheduledEnd__c&quot; : {!ScheduledEnd},
&quot;FSM_AppointmentBookinginfoUrl__c&quot; : {!ApptAssistantInfoUrl},
&quot;FSM_SALocationStatus__c&quot; : {!LocationStatus},
&quot;FSM_ServiceResourceExternalid__c&quot; : {!ServiceResourceExternalID},
&quot;CreatedDate&quot; : {!$Flow.CurrentDateTime},
&quot;CreatedBy&quot; : {!$User.Id}
}</text>
    </textTemplates>
    <variables>
        <name>ApptAssistantInfoUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FSM_WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFI-694</description>
        <name>OperationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RejectReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAPExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SFI-694</description>
        <name>SAPUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScheduledEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScheduledSatrt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceExternalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuspendReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
